.main_picture id="main_picture_#{main_picture.id}"
  = image_tag main_picture.image.url
  br
  = link_to picture_url(main_picture),
      method: :delete,
      remote: true
    .glyphicon.glyphicon-remove-sign title='#{t ".delete_picture"}'
  '
  = link_to edit_picture_url(main_picture),
      remote: true
    = image_tag 'pencil.jpg',
        title: t(".edit_picture"),
        class: 'edit_icon'
  = hidden_field_tag "shop[main_picture_id]", main_picture.id