.field
  = f.label :bank_name
  '
  = f.text_field :bank_name
.field
  = f.label :account_holder
  '
  = f.text_field :account_holder
.field
  = f.label :iban
  '
  = f.text_field :iban
.field
  = f.label :swft_bic
  '
  = f.text_field :swft_bic