- content_for :title, t('.head_title')
.restricted_width
  = render "left_menu"
  .usual_body.messages.form
    = render "head"
    '
    .message_new_wrapper
      = form_for @message do |f|
        .message_new_input_wrapper
          = label_tag :recipient, t('.receiver')
          = text_field_tag :recipient, @recipient
        .message_new_input_wrapper
          = f.label :subject, t('.subject')
          = f.text_field :subject
        = f.text_area :body, class: "messages_new_input_body"
        .message_new_button_wrapper
          .message_new_button.file_button = t '.attach_a_file'
          .file_button_text.display_none = t '.the_file_is_checked'
          = f.file_field :file
          '
          = f.submit t('.save_as_a_draft'),
              name: :save_as_a_draft,
              class: "message_new_button save_as_a_draft",
              data: { disable_with: t('.save_as_a_draft') }
          '
          = f.submit t('.send_a_mail'),
                name: :send,
                class: "message_new_button send_button",
                data: { disable_with: t('.send_a_mail') }
