.horizontal_upper_menu
  - {t('.inbox')   => inbox_messages_url,
     t('.sent')    => sent_messages_url,
     t('.drafts')  => drafts_messages_url,
     t('.bin')     => bin_messages_url,
     t('.archive') => archive_messages_url,
     t('.new')     => new_message_url}.collect do |title, path|
    = link_to path, class: "menu_button" + (current_page?(path) ? " menu_button_active" : "") + (title == t('.new') ? " menu_button_new" : "")
   	  .title
        - if title == t('.inbox')
          | #{title} (#{Message.received(current_user).not_read.count})
        - elsif title == t('.drafts')
          | #{title} (#{Message.drafts(current_user).count})
        - else
          = title
    '
