- { inbox_messages_path   => 'head_title_inbox',
    sent_messages_path    => 'head_title_sent',
    drafts_messages_path  => 'head_title_drafts',
    bin_messages_path     => 'head_title_bin',
    archive_messages_path => 'head_title_archive'}.each do |path, title|
  - if current_page?(path)
    - content_for :title
      = t('.' + title)
      = t '._messages'
= render "left_menu"
.usual_body.messages
  = render "messages/head"
  = form_tag check_boxes_action_messages_path, method: 'post'
    .check_boxes_button_wrapper
      - if current_page?(inbox_messages_url) || current_page?(sent_messages_url)
        = submit_tag t('.to_archive'),
            name: :to_archive,
            class: "check_boxes_button",
            data: { disable_with: t('.to_archive') }
        '
      = submit_tag t('.delete'),
          name: :delete,
          class: "check_boxes_button",
          data: { disable_with: t('.delete') }
      '
      - if current_page?(bin_messages_url)
        = link_to t(".empty_trash"), :empty_trash_messages,
          class: "check_boxes_button empty_trash"
        '
      - else
        .check_boxes_button.select_all = t ".select_all"
    - if @messages.present?
      .message_line_wrapper
        = render @messages
    - if current_page?(archive_messages_url) && @messages.present?
      .messages_filter_wrapper
        .messages_filter_head = t '.filter_by'
        '
        - {t('.date')    => 'date',
           t('.sender')  => 'sender',
           t('.subject') => 'subject'}.collect do |title, filter_by|
          .messages_filter class="#{params[:filter_by] == filter_by ? 'messages_filter_checked' : ''}"
            = link_to title, params.merge(filter_by: filter_by)
          '
    .pagination_buttons
      = link_to_previous_page @messages,
          t('.previous'),
          params: params,
          class: "pagination_previous"
      = link_to_next_page @messages,
          t('.next'),
          params: params,
          class: "pagination_next"
