.message_line style="#{message.read_at.nil? && current_user != message.sender ? 'font-weight:bold;font-style:italic' : ''}"
  .message_line_header
    .message_line_date
      - if !current_page?(drafts_messages_url) && !current_page?(bin_messages_url)
        = l message.sent_at.to_date
      - else
        = l message.updated_at.to_date   
    .message_line_name
      - if current_user == message.recipient
        = t '.from', user: message.sender.nickname
      - elsif current_user == message.sender && !current_page?(drafts_messages_url)
        = t '.to', user: (message.recipient.nickname if message.recipient.present?)
      - elsif current_page?(drafts_messages_url)
        = t '.to', user: (message.recipient.nickname if message.recipient.present?)
    .message_line_subject
      = t '.subject_title', subject: message.subject
    .message_line_icons
      = check_box_tag "message_ids[]", message.id
      '
      - if !current_page?(bin_messages_url)
        = link_to (image_tag 'messages_trash.png', 
            title: t('.delete_message')),
            to_trash_message_path(message)
        '
      - if current_page?(drafts_messages_url)
        = link_to (image_tag 'messages_edit.png',
            style: "margin-top:4px"),
            edit_message_path(message)
        '
      - else
        = link_to (image_tag 'messages_reply.png',
            title: t('.reply')),
            reply_message_path(message)
  .message_line_body
    = simple_format message.body
