.shipping_readiness_form
  .title = t '.readiness_for_shipping'
  = f.fields_for :shipping_readiness do |ff|
    = ff.radio_button :readiness, 'immediately', class: 'immegiately'
    '
    = ff.label :readiness, t('.immediately'), value: "immediately"
    br
    = ff.radio_button :readiness, 'in_some_days', class: 'in_some_days'
    '
    = ff.label :readiness, t('.in_some_days_'), value: "in_some_days"
    '
    = ff.text_field :from, class: "from"
    '
    = ff.label :readiness, t('.to'), value: 'in_some_days'
    '
    = ff.text_field :to, class: "to"
    '
    = ff.label :readiness, t('.after_receiving'), value: 'in_some_days'