table
  tr
    td = f.label :client_id, 'Client ID'
    td = f.text_field :client_id
  tr
    td = f.label :client_secret, "Secret"
    td = f.text_field :client_secret
  tr
    td
    td
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = link_to t('.determine_client_id_and_secret'),
            'https://www.paypal.com/signin?returnUri=https%3A%2F%2Fdeveloper.paypal.com%2F',
            target: "_blank"
  tr
    td
    td 
      span.bold = raw t '.the_guide_can_be_found_'
      '
      span.bold.show_pdf_guide = link_to t('.here'),
        asset_path("paypal_guide.pdf"),
        target: '_blank'
      .bold = raw t '.the_video_guide_can_be_found_here'
.paypal_video_guide
  = video_tag "paypal_credentials_tutorial.de.mp4",
      size: "480x320",
      controls: true