- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin.correspondence.usual_body
  h4 = t '.title:'
  br
  br
  table.system_emails
    tr
      th = t '.number'
      th = t '.subject'
    tr
      td 1
      td = link_to t('devise.mailer.confirmation_instructions.subject'),
            :registration_admin_correspondence_index,
            target: "_blank"
    tr
      td 2
      td = link_to t('user_mailer.new_shop.subject'),
            :new_shop_admin_correspondence_index,
            target: "_blank"
    tr
      td 3
      td = link_to t('user_mailer.to_old_email_about_email_changing.subject'),
            :to_old_email_about_email_changing_admin_correspondence_index,
            target: "_blank"
    tr
      td 4
      td = link_to t('custom_devise_mailer.confirmation_instructions.your_email_was_changed'),
            :confirmation_email_admin_correspondence_index,
            target: "_blank"
    tr
      td 5
      td = link_to t('user_mailer.password_changed.your_new_password'),
            :password_changed_admin_correspondence_index,
            target: '_blank'
    tr
      td 6
      td = link_to raw(t('user_mailer.purchase_notification.your_order_from_',
            shop: @shop_name)),
            :purchase_notification_unconfirmed_to_buyer_admin_correspondence_index,
            target: '_blank'
    tr
      td 7
      td = link_to raw(t('user_mailer.purchase_notification.order_from_',
            shop: @shop_name)),
            :purchase_notification_unconfirmed_to_seller_admin_correspondence_index,
            target: '_blank'
    tr
      td 8
      td = link_to raw(t('user_mailer.purchase_notification.your_shopping_with_',
            shop: @shop_name)),
            :purchase_notification_confirmed_to_buyer_admin_correspondence_index,
            target: '_blank'
    tr
      td 9
      td = link_to raw(t('user_mailer.purchase_notification.shopping_with_',
            shop: @shop_name)),
            :purchase_notification_confirmed_to_seller_admin_correspondence_index,
            target: '_blank'
    tr
      td 10
      td = link_to raw(t('user_mailer.articles_order_dispatched.subject',
            shop: @shop_name)),
            :articles_order_dispatched_admin_correspondence_index,
            target: '_blank'
    tr
      td 11
      td = link_to raw(t('user_mailer.article_is_already_sold.subject',
            shop: @shop_name)),
            :article_is_already_sold_admin_correspondence_index,
            target: '_blank'
    tr
      td 12
      td = link_to raw(t('user_mailer.new_order_message.subject',
            user: @buyer_name)),
            :new_order_message_from_buyer_admin_correspondence_index,
            target: '_blank'
    tr
      td 13
      td = link_to raw(t('user_mailer.new_order_message.subject',
            user: @shop_name)),
            :new_order_message_from_seller_admin_correspondence_index,
            target: '_blank'
    tr
      td 14
      td = link_to t('user_mailer.buyer_cancellation.subject'),
            :buyer_cancellation_admin_correspondence_index,
            target: '_blank'
    tr
      td 15
      td = link_to t('user_mailer.seller_cancellation.subject'),
            :seller_cancellation_admin_correspondence_index,
            target: '_blank'
    tr
      td 16
      td = link_to raw(t('user_mailer.new_message_notification.subject',
            user: @buyer_name)),
            :new_message_admin_correspondence_index,
            target: '_blank'
    tr
      td 17
      td = link_to raw(t('user_mailer.share_article.subject',
            user: @buyer_name)),
            :share_article_admin_correspondence_index,
            target: '_blank'
  table.system_emails
    tr
      th = t '.number'
      th = t '.subject'
    tr
      td 1
      td = link_to 'Gutschein – Bestätigung PayPal / paydirekt',
            new_voucher_admin_correspondence_index_url
    tr
      td 2
      td = link_to 'Gutschein – Bestätigung Überweisung',
            new_voucher_admin_correspondence_index_url
    tr
      td 3
      td = link_to 'Gutschein – Zusendung der PDF',
            new_voucher_admin_correspondence_index_url
    - (4..17).to_a.each do |index|
      tr
        td = index
        td 
