- content_for :title, t('.head_title')
h2 = t '.resend_confirmation_instructions'
= form_for(resource,
    as: resource_name,
    url: confirmation_path(resource_name),
    html: { method: :post,
            id: 'confirmation_resend' }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    br
    = f.email_field :email, autofocus: true
  .green_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = f.submit t('.resend_confirmation_instructions'),
        data: { disable_with: t('.resend_confirmation_instructions') }
  br
  br
= render 'devise/shared/links'
