.share
  .cancel.glyphicon.glyphicon-remove-sign
  h2 = t '.title'
  br
  = form_tag '/share/', remote: true
    = hidden_field_tag :article_id, @article.id
    = t '.from', user: current_user.email_from
    br
    br
    .field
      = label_tag :email, t('.email')
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.share_to_email_info' }"
      br
      = text_field_tag :email
    .field
      = label_tag :text, t('.text')
      br
      = text_area_tag :text
    br
    .g-recaptcha data-sitekey="6LdyVB8TAAAAALpt9nL0K-199XxkWPFaw-lN6Ehs"
    br
    .green_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.send'),
          data: { disable_with: t(".the_email_is_sending") }
    '    
    .green_button.cancel
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      a = t('.cancel')