if (!$('.share').length) {
  $('body').append("<%= j render partial: 'share/form' %>")
  $('.share .cancel').click(function(){
    $(this).closest('.share').hide().remove()
  });
  $('[data-toggle="popover"]').popover()
  $.getScript('https://www.google.com/recaptcha/api.js')
  $('.share').draggable()
}