.horizontal_upper_menu
  - {t('.about_me') => shop_profile_about_me_admin_member_url(id: @user.membership_number),
     t('.settings') => shop_profile_settings_admin_member_url(id: @user.membership_number),
     t('.terms_and_imprint') => shop_profile_terms_and_imprint_admin_member_url(id: @user.membership_number),
     t('.revocation') => shop_profile_revocation_admin_member_url(id: @user.membership_number)}.collect do |title, path|
    = link_to path, class: "menu_button"
      .line_above style="#{current_page?(path) ?
          'background-color:#90887B;' :
          ''}"
      .title = title
br
br
