.bold = t '.member_no', number: @user.membership_number
br
.horizontal_upper_menu
  - {t('.purchases_and_sales') => purchases_and_sales_admin_member_url(id: @user.membership_number),
     t('.my_profile') => user_profile_admin_member_url(id: @user.membership_number),
     t('.shop_profile') => shop_profile_about_me_admin_member_url(id: @user.membership_number),
     t('.user_settings') => user_settings_admin_member_url(id: @user.membership_number)}.collect do |title, path|
    = link_to path, class: "menu_button"
      .line_above style="#{current_page?(path) ||
        (current_page?(shop_profile_settings_admin_member_url) &&
            title == t('.shop_profile')) ||
        (current_page?(shop_profile_terms_and_imprint_admin_member_url) &&
            title == t('.shop_profile')) ||
        (current_page?(shop_profile_revocation_admin_member_url) &&
            title == t('.shop_profile')) ? 'background-color:#90887B;;' : ''}"
      .title = title
br
br
br