- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_members.usual_body
  .search_field
    = form_tag '/members/', method: 'get'
      = label_tag :search_member, t(".find_user")
      = hidden_field_tag :status, params[:status]
      = text_field_tag :search_member,
                        params[:search_member],
                        placeholder: t(".search_placeholder")
  br
  .filters
    .title = t '.filters'
    = link_to t(".all"),
        admin_members_url(status: "all",
                          search_member: params[:search_member])
    '
    = link_to t(".seller"),
        admin_members_url(status: "seller",
                          search_member: params[:search_member])
    '
    = link_to t(".buyer"),
        admin_members_url(status: "buyer",
                          search_member: params[:search_member])
  br
  table
    thead.border_bottom
      tr
        td = t '.member_no'
        td = t '.membername'
        td = t '.status'
        td = t '.first_name'
        td = t '.last_name'
        td = t '.street'
        td = t '.house_no'
        td = t '.zip'
        td = t '.place'
        td = t '.land'
    tbody
      - @users.each do |user|
        tr
          td = link_to user.membership_number,
                purchases_and_sales_admin_member_url(id: user.membership_number)
          td = user.nickname
          td
            - if user.has_shop?
              = t '.seller'
            - else
              = t '.buyer'
          - if user.address.present?
            td = user.address.first_name
            td = user.address.last_name
            td = user.address.street
            td = user.address.house_number
            td = user.address.postal_code
            td = user.address.place
            td = user.address.country_name