- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_member.usual_body
  = render "admin/members/head"
  = form_tag purchases_and_sales_admin_member_path(@user.membership_number),
      method: :get do |f|
    = select_tag :show_type,
      options_for_select(['all', 'buyer', 'seller'].collect{ |n| [t(".show_" + n), n]}, params[:show_type]),
        {prompt: t('.select_action'),
         onchange: "this.form.submit()" }
  br
  - if @transactions.present?
    table.purchases_and_sales
      thead
        tr
          td = t '.action'
          td = t '.trading_partner'
          td = t '.article_title'
          td = t '.article_no'
          td = t '.price'
          td = t '.fees'
      - @transactions.each do |transaction|
        tr
          td
            - if @user.sales.include?(transaction)
              = t '.seller'
            - else
              = t '.buyer'
          td
            - if @user.sales.include?(transaction)
              = transaction.order.purchase.user.full_name
            - else
              = transaction.order.seller.full_name
          td = transaction.article.title
          td = transaction.article.sku
          td = transaction.article.price.format(symbol_position: :after)
          td = transaction.article.vat
  - else
    div = t '.there_are_no_transactions'