- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_member.usual_body
  = render "admin/members/head"
  .shop_edit
    = render "admin/members/edit_shop_headings"
    = render "shops/revocation_template"