- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_member.usual_body
  = render "admin/members/head"
  #settings_page
    - if @user.errors.any?
      #error_explanation
        h2 = t '.errors_message', count: @user.errors.count
        ul
          - @user.errors.full_messages.each do |msg|
            li = msg
    div style="display:table"
      .table-cell-top#user_settings_first_column
        #user_settings_show_email_and_password
          .green_button.replaceable_button.right
            .circles
              .circle1
              .circle2
              .circle3
              .circle4
            = submit_tag t('.edit')
          h2.clear = t '.user'
          div = t '.nickname_of_user', user: @user.nickname
          div = t '.email', email: @user.email
          div = t '.shop_name', shop: @user.shop.name if @user.has_shop?
        .display_none
          = form_for(@user,
              url: update_user_data_admin_member_path,
              html: { method: :post,
                      id: 'user_settings_edit_email_and_password' }) do |f|
            #user_settings_edit_email_and_password_div
              .green_button.right
                .circles
                  .circle1
                  .circle2
                  .circle3
                  .circle4
                = f.submit t('.save'),
                    data: { disable_with: t('.save') }
              h2.clear = t '.change_email'
              .field
                = f.label :email
                br
                = f.email_field :email
                .font_gray_12 = t '.under_email_text'
              h2.clear = t '.change_nickname'
              .field
                = f.label :nickname
                br
                = f.text_field :nickname
        div style="padding-right: 20px;"
          h2 = t '.notifications'
          = form_for @user,
            url: update_user_data_admin_member_path,
            html: { method: :post,
                    remote: true,
                    id: "user_settings_notifications"} do |f|
            = f.check_box :message_received_notification
            '
            = f.label :message_received_notification
            br
            br
            = f.check_box :rated_notification
            '
            = f.label :rated_notification
            br
            br
            = f.check_box :my_favorites_notification
            '
            = f.label :my_favorites_notification
            br
            br
            = f.check_box :monthly_letters_notification
            '
            = f.label :monthly_letters_notification
      .table-cell-top style="width:70%"
        - if @user.address.filled?
          #user_settings_show_address
            .green_button.replaceable_button.right
              .circles
                .circle1
                .circle2
                .circle3
                .circle4
              = submit_tag t('.edit')
            h2.clear = t '.address'
            = @user.address.occupation
            br
            = @user.full_name
            br
            = @user.address.street
            '
            = @user.address.house_number
            br
            = @user.address.postal_code
            '
            = @user.address.place
            br
            = @user.address.country_name
            br
            br
            = @user.address.area_code
            ' 
            = @user.address.mobile
            br
            = @user.address.phone
            br
            br
            - if @user.address.birth_date.present?
              = t '.birth_date_short'
              '
              = l @user.address.birth_date.to_date
        .display_none
          = form_for(@user,
            url: update_user_data_admin_member_path,
            html: { method: :post,
                    id: "user_settings_edit_address" }) do |f|
            #user_settings_form_address.inblock_top
              .green_button.right
                .circles
                  .circle1
                  .circle2
                  .circle3
                  .circle4
                = f.submit t('.save'),
                    data: { disable_with: t('.save') }
              h2.clear = t '.address'
              div style="max-width:400px"
                = f.fields_for :address, @address do |ff|
                  - if @user.has_shop?
                    = render partial: 'addresses/nested_form_occupation_title',
                        locals: {f: ff}
                  = render partial: 'addresses/nested_form_main_fields',
                      locals: {f: ff}
                  - if @user.has_shop?
                    = render partial: 'addresses/nested_form_show_to_public',
                        locals: {f: ff}
                  = render partial: 'addresses/nested_form_phone',
                      locals: {f: ff}
                  - if @user.has_shop?
                    = render partial: 'addresses/nested_form_show_phone_to_public',
                        locals: {f: ff}
                  = ff.label :birth_date, class: 'bold'
                  br
                  = ff.text_field :birth_date, class: 'datepicker'
        - if @user.deleted?
          #user_settings_cancellation
            h2 = t '.restore_account'
            br
            .green_button
              .circles
                .circle1
                .circle2
                .circle3
                .circle4
              = link_to t('.restore_account'),
                  restore_deleted_account_admin_member_url(id: @user.membership_number),
                  data: { confirm: t('are_you_sure?') }
            br
            br
            .bold = t '.membership_number',
                      number: @user.membership_number