- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_member.user_settings.usual_body
  = render "admin/members/head"
  - if Shop.all.present?
    = form_tag 'update_monthly_charge_for_all_users',
        method: :get
      = label_tag :monthly_charge, t(".monthly_charge")
      br
      = text_field_tag :monthly_charge,
          Shop.get_overall_monthly_charge
      br
      = submit_tag t(".change_monthy_charge_for_all_users"),
          data: { disable_with: t('.change_monthy_charge_for_the_user') }
  br
  br
  - if @user.shop.present?
    = form_for @user.shop,
        url: update_monthly_charge_for_the_user_admin_member_path,
        method: :get do |f|
      = f.check_box :use_personal_monthly_charge
      = f.label :use_personal_monthly_charge
      br
      = f.label :monthly_charge, t('.personal_monthly_charge')
      br
      = f.text_field :monthly_charge
      br
      = f.submit t('.change_monthy_charge_for_the_user'),
          data: { disable_with: t('.change_monthy_charge_for_the_user') }