- content_for :title, t('.head_title')
= render "left_menu"
.usual_body#settings_page.account_settings
  div
    .table-cell-top#user_settings_first_column
      = devise_error_messages!
      #user_settings_show_email_and_password
        h2 = t '.user'
        div
          = t '.email: '
          = @user.email
        - if @user.encrypted_password.present?
          div
            = t '.password:'
            |  ••••••••
        .user_settings_button.replaceable_button
          = submit_tag t('.edit')
      .display_none
        = form_for(resource,
          as: resource_name,
          url: registration_path(resource_name), 
          html: { method: :put, id: 'user_settings_edit_email_and_password' }) do |f|
          #user_settings_edit_email_and_password_div
            h2 = t '.change_email'
            .field
              div = f.label :email
              div = f.email_field :email
              .font_gray_12 = t '.under_email_text'
            - if @user.encrypted_password.present?
              h2 = t '.change_password'
              .field
                div = f.label :current_password, t('.old_password')
                div = f.password_field :current_password
              .field
                div = f.label :password, t('.new_password')
                div = f.password_field :password
              .field
                div = f.label :password_confirmation, t('.new_password_confirmation')
                div = f.password_field :password_confirmation
            .user_settings_button_highlight
              = f.submit t('.save'),
                  data: { disable_with: t('.save') }
      #user_settings_show_address
        h2 = t '.address'
        = render partial: 'addresses/addresses_block_address',
            locals: {address: @user.address}
        - if @user.address.mobile.present? || @user.address.phone.present?
          .user_settings_show_address_phone
            - if @user.address.mobile.present?
              div
                = @user.address.area_code
                | &nbsp;
                = @user.address.mobile
            - if @user.address.phone.present?
              div
                = @user.address.area_code
                | &nbsp;
                = @user.address.phone
        - if @user.address.birth_date.present?
          .user_settings_show_address_birth
            = t '.birth_date_short'
            = @user.address.birth_date.strftime('%Y-%m-%d')
        .user_settings_button.replaceable_button.show_complete_cancel_check_box
          = submit_tag t '.edit'
      .display_none
        = form_for(resource,
            as: resource_name,
            url: registration_path(resource_name),
            html: { method: :put,
                  id: "user_settings_edit_address" }) do |f|
          #user_settings_form_address.inblock_top
            h2 = t '.address' 
            div
              = f.fields_for :address, @address do |ff|
                = render partial: 'addresses/nested_form_main_fields',
                    locals: {f: ff}
                = render partial: 'addresses/nested_form_phone',
                    locals: {f: ff}
                .field
                  div = ff.label :birth_date
                  div = ff.text_field :birth_date, class: 'datepicker'
            .user_settings_button_highlight
              = f.submit t('.save'),
                  data: { disable_with: t('.save') }
      #user_settings_cancellation
        h2 = t '.cancellation'
        div = t '.membership_number', number: @user.membership_number
        - if @user.has_shop?
          .user_settings_button_disabled#delete_account_gray_button
            = link_to t('.delete_my_account'),
                registration_path(resource_name),
                method: :delete, remote: true
        - else
          .complete_cancel_check_box
            = check_box_tag :complete_cancel_membership
            = label_tag :complete_cancel_membership,
              t('.i_want_to_delete_my_account_irrevocably')
          .user_settings_button_disabled.cancel_membership
            = submit_tag t('.delete_my_account')
          .user_settings_button_highlight.cancel_membership
            = link_to t('.delete_my_account'),
                registration_path(resource_name),
                method: :delete,
                data: { confirm: t('.account_cancellation_confirm_question') }

    .table-cell-top#user_settings_second_column
      div style="padding-right: 20px;"
        h2 = t '.notifications'
        = form_for(resource,
          as: resource_name,
          url: registration_path(resource_name), 
          html: { method: :put,
                  remote: true,
                  id: "user_settings_notifications" }) do |f|
          = f.check_box :message_received_notification
          '
          = f.label :message_received_notification
          br
          br
          = f.check_box :rated_notification
          '
          = f.label :rated_notification
          br
          br
          = f.check_box :my_favorites_notification
          '
          = f.label :my_favorites_notification
          br
          br
          = f.check_box :monthly_letters_notification
          '
          = f.label :monthly_letters_notification
      
