.articles_order_part
  .order_number
    = t '.order_no:'
    = articles_order.id
  = link_to articles_order.article.title,
      article_url(articles_order.ordered_article),
        class: 'black_link bold'
  .info
    .image
      - if request.present?
        = link_to (image_tag articles_order.article.main_picture_url),
              article_url(articles_order.ordered_article)
      - else
        - if articles_order.article.main_picture.nil?
          = link_to (image_tag attachments.inline['placeholder.gif'].url),
              article_url(articles_order.ordered_article)
        - else
          = link_to (image_tag attachments.inline[articles_order.article.main_picture.image.file.filename].url),
              article_url(articles_order.ordered_article)
    .body
      .title = t '.description'
      .description.black = articles_order.article.description.html_safe
      .prices
        .black
          = t '.article:'
          = articles_order.article.price.format(symbol_position: :after)
        .black
          = t '.shipping:'
          = articles_order.shipping_method.price.format(symbol_position: :after)
        .black
          = t '.total_price:'
          = (articles_order.article.price + articles_order.shipping_method.price).format(symbol_position: :after)
          = t '.incl_vat_if_available'
        .black
          = t '.delivery_time:'
          = articles_order.shipping_method.duration
      - if articles_order.confirmed?
        = render partial: 'application/payment_information',
                  locals: {articles_order: articles_order}