p.black = t '.hello', user: @user.nickname
p.black = raw t '.description',
              shop_link: link_to(@shop.name,
                                 root_url(subdomain: @shop.subdomain),
                                 class: 'blue_link')
= render partial: 'user_mailer/articles_order_description',
  locals: {articles_order: @articles_order}