p.black = t '.hello', user: @user.nickname
p.black = raw t '.first_description',
      shop_link: link_to(@shop.name,
                         root_url(subdomain: @shop.subdomain),
                         class: 'blue_link')
p.black = raw t '.second_description',
      shop_link: link_to(@shop.name,
                         root_url(subdomain: @shop.subdomain),
                         class: 'blue_link')
p.black = raw t '.third_description',
      open_orders_link: link_to(t('.open_orders'),
                         open_purchases_url,
                         class: 'blue_link')
.articles_order_part
  .order_number
    = t '.order_no:'
    = @articles_order.id
  = link_to @articles_order.article.title,
      article_url(@articles_order.ordered_article),
        class: 'black_link bold'
  .info
    .image
      - if request.present?
        = link_to (image_tag @article.main_picture_url),
              article_url(@articles_order.ordered_article)
      - else
        - if @article.main_picture.nil?
          = link_to (image_tag attachments.inline['placeholder.gif'].url),
              article_url(@articles_order.ordered_article)
        - else
          = link_to (image_tag attachments.inline[@article.main_picture.image.file.filename].url),
              article_url(@articles_order.ordered_article)
    .body
      .title = t '.description'
      .description.black = @articles_order.article.description.html_safe
