p = t '.hello', recipient: @recipient.nickname
p = raw t('.new_message_from_user',
      sender: '<span class="blue_link">' + @sender.nickname + '</span>',
      text: '<i>' + @message.body + '</i>')
p 
  = t '.here_you_can'
  = link_to t('.link_to'), inbox_messages_url