p #{t '.hello'} #{@user.full_name}
p
  = t '.congratulations'
  '
  = link_to @user.shop.name, root_url(subdomain: @user.shop.subdomain)
  '
  = t '.on_jakira_de'
p = t '.welcome'
p = t '.if_any_questions'