p = t '.hello', recipient: @recipient.nickname
p
  - if @sender == @articles_order.seller
    = raw t('.new_message_from_seller',
      link_to_sender: link_to(@shop.name,
        root_url(subdomain: @shop.subdomain),
        class: 'blue_link'),
      order: link_to(t('.order', number: @articles_order.id),
        article_url(@articles_order.ordered_article),
        class: 'blue_link'),
      text: '<i>' + @order_message.text + '</i>')
  - else
    = raw t('.new_message_from_buyer',
      buyer: '<span class="blue_link">' + @sender.nickname + '</span>',
      order: link_to(t('.order', number: @articles_order.id),
        article_url(@articles_order.ordered_article),
        class: 'blue_link'),
      text: '<i>' + @order_message.text + '</i>')
p 
  = t '.here_you_can'
  = link_to t('.link_to'), order_message_url(@order_message)