#purchase_notification
  .pre_description
    - if @articles_order.confirmed?
      = raw t('.pre_description_if_confirmed_first_part',
          link_to_seller: link_to(@seller.nickname,
            root_url(subdomain: @shop.subdomain),
            class: 'blue_link'))
      br
      br
      = raw t('.pre_description_if_confirmed_second_part',
          buyer: '<span class="blue_link">' + @buyer.nickname + '</span>' )
    - else
      = t '.greetings', user: @seller.nickname
  .first_description = raw t(( '.first_description' + (@articles_order.confirmed? ? '_if_confirmed' : '')), shop_link: link_to(@shop.name,
                                          root_url(subdomain: @shop.subdomain),
                                          class: 'blue_link'))
  .article
    .second_description
      = link_to t('.to_jakira_de'), root_url, class: "green_button_in_mail"
      .black.bold = raw t(('.second_description' + (@articles_order.confirmed? ? '_if_confirmed' : '')), open_orders_link: link_to(t('.open_orders'),
                                         open_orders_url,
                                         class: 'blue_link'))
    hr
    = render partial: 'user_mailer/articles_order_description',
        locals: {articles_order: @articles_order}
  hr
  .bottom_info
    = link_to t('.details_of_the_order'), open_orders_url
    hr