#purchase_notification
  - if !@articles_order.confirmed?
    .first_description = raw t('.first_description', shop_link: link_to(@shop.name,
                              root_url(subdomain: @shop.subdomain),
                              class: 'blue_link'))
  .article
    = link_to t('.to_jakira_de'), root_url, class: "green_button_in_mail"
    .second_description
      .black = t '.dear', buyer: @buyer.full_name
      .black = raw t(('.thanks' + (@articles_order.confirmed? ? '_if_confirmed' : '')),
            shop_link: link_to(@shop.name,
                               root_url(subdomain: @shop.subdomain),
                               class: 'blue_link'))
      - if @articles_order.confirmed?
        .first_description
          = raw t('.first_description_if_confirmed',
            shop_link: link_to(@shop.name,
              root_url(subdomain: @shop.subdomain),
              class: 'blue_link'))
      - else
        br
      .black = t('.purchased_item' + (@articles_order.confirmed? ? '_if_confirmed' : ''))
    hr
    = render partial: 'user_mailer/articles_order_description',
        locals: {articles_order: @articles_order}
  hr
  .bottom_info
    = link_to t('.for_details_about_your_purchase'), open_purchases_url
    br
    br
    .bold.black
      - if @articles_order.confirmed?
        = t '.cancellation_of_this_seller'
      - else
        = t '.cancellation_and_return_policy_of', seller: @seller.nickname
    hr
    .bold.black = t '.cancellation_and_withdrawal'
    .revocation
      .bold = t '.physical:'
      br
      = @shop.revocation_physical_products
      br
      br
      .bold = t '.service:'
      br
      = @shop.revocation_services
      br
      br
      .bold = t '.digital:'
      br
      = @shop.revocation_digital_content
      br
    - if @shop.withdrawal_form.present?
      div = link_to t('.calling_withdrawal_form'),
            download_withdrawal_form_shop_url(@shop)
    br
    - if @shop.imprint.present?
      hr
      .bold.black = t '.imprint_of', seller: @seller.full_name
      .black.imprint = @shop.imprint.html_safe
    hr