.time = l Date.current
.share_article
  h3 = t '.title', user: @sender.full_name
  br
  br
  = @text
  br
  br
  .content
    - if request.present?
      = link_to (image_tag @article.main_picture_url),
            article_url(@article)
    - else
      - if @article.main_picture.nil?
        = link_to (image_tag attachments.inline['placeholder.gif'].url),
            article_url(@article)
      - else
        = link_to (image_tag attachments.inline[@article.main_picture.image.file.filename].url),
            article_url(@article)
    .text
      h3 = link_to @article.title, article_url(@article)
      = @article.description