#upper-path
  = image_tag 'arrow_to_left.png'
  = link_to 'Jakira', root_url
  span  &bull; 
  span = t '.pinboards'
h1 = t '.pinboards'
.left_menu
  - { favorite_products: favorites_url,
      favorite_shops:    favorite_shops_url }.each do |title, path|
    = link_to path,
      class: ('selected' if current_page?(path))
      = t '.' + title.to_s
      span.count = t '.count', count: favorites_left_menu_count(title)
      - if current_page?(path)
        = image_tag 'arrow_to_bottom.png',
          class: 'arrow_to_bottom'
      - else
        = image_tag 'arrow_to_right.png',
          class: 'arrow_to_right'