- content_for :title, t('.head_title')
.favorites
  = render file: 'favorites/_title_and_left_menu'
  .main_block
    - if @articles.present?
      - @articles.each do |article|
        = render partial: 'articles/new_article_block',
            locals: { article: article }
    - else
      .no_favorites = t '.no_favorites'