  h4.inblock style="margin:0px 5px;"
    = t '.short_description'
    '
    .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.short_description'}"
  div
    .green_button.replaceable_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.edit')
    .clear
      = label_tag :about_me, t('.about_me'), style: "margin-left:10px"
      br
      = text_area_tag :about_me, @shop.about_me, disabled: "disabled"   
  .display_none
    = form_for @shop do |f|
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            name: :about_me,
            data: { disable_with: t('.save') }
      .clear
        = f.label :about_me, style: "margin-left:10px"
        br
        = f.text_area :about_me
  hr
  div
    .green_button.replaceable_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.edit')
    .clear
      = label_tag :about_me, t('.about_my_shop'), style: "margin-left:10px"
      br
      = text_area_tag :about_me, @shop.about_my_shop, disabled: "disabled"
  .display_none
    = form_for @shop do |f|
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            name: :about_me,
            data: { disable_with: t('.save') }
      .clear
        = f.label :about_my_shop, style: "margin-left:10px"
        br
        = f.text_area :about_my_shop
  hr
  div
    .green_button.replaceable_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.edit')
    .clear
      h4.inblock style="margin:0px 5px 0px 0px"
        = t '.pictures'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.pictures'}"
    br
    .about_me_shops_image
      h5 = t '.profile_picture'
      = image_tag @shop.main_picture_small_url
      br
    .about_me_shops_pictures
      h5 = t '.shop_images'
      - @shop.pictures.each do |picture|
        = image_tag picture.image.small.url if picture.image?
        '
  .display_none
    = form_for @shop do |f|
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            name: :update_shop_images,
            data: { disable_with: t('.save') }
      h4.clear style="margin:0px"
        = t '.pictures'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.pictures'}"
      br
      .about_me_shops_image.main_picture_block
        h5 = t '.profile_picture'
        = f.hidden_field :main_picture_id, value: nil
        - if @shop.main_picture.present?
          = render partial: 'main_pictures/picture_edit',
              locals: { main_picture: @shop.main_picture }
        #add_main_picture_button
          .glyphicon.glyphicon-plus
        = image_tag 'loading.gif', class: 'loading'
      .about_me_shops_pictures.inblock_top#pictures_place
        h5 = t '.shop_images'
        = image_tag 'loading.gif', class: 'loading'
        #add_picture.inblock_top
          #add_picture_button
            .glyphicon.glyphicon-plus
          #add_picture_text = t '.another_image'
  .display_none
    = render partial: "pictures/form"
    #hidden_pictures = render partial: 'pictures/picture_edit',
                        collection: @shop.pictures,
                        as: :picture
    = render 'main_pictures/form'