.horizontal_upper_menu
  - {t('.about_me') => about_me_shops_url,
     t('.settings') => settings_shops_url,
     t('.terms_and_imprint') => terms_and_imprint_shops_url,
     t('.revocation') => revocation_shops_url}.collect do |title, path|
    = link_to path, class: "menu_button"
      .line_above style="#{current_page?(path) ?
                          'background-color:#8ca48d;' :
                          ''}"
      .title = title
br
br
