#shop-form
  .title = t '.open_your_own_shop'
  .mandatory_fields = t '.mandatory_fields'
  = form_for @shop do |f|
    .green_stripe_title = t '.my_shop'
    .white_form_block
      - if @shop.present? && @shop.errors.any?
        - @shop.errors.messages.delete_if {|k, v| v == [nil] || k.to_s.include?('address.')}
        #error_explanation
          h2 = t '.errors_title'
          ul
            - @shop.errors.full_messages.each do |msg|
              li = msg
        br
      .inblock_top
        = f.label :professional, t('.professional_seller') + '*'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.professional_info_box'}"
        '
        = f.check_box :professional
        br
        br
        .i_am_selling = t '.i_am_selling_'
        .inblock_top
          = f.radio_button :articles_type, "physical", checked: true
          '
          = f.label :articles_type_physical
          br
          = f.radio_button :articles_type, "digital"
          '
          = f.label :articles_type_digital
          br
          = f.radio_button :articles_type, "service"
          '
          = f.label :articles_type_service
          br
      .inblock_top
        .company_type
          = f.label :company_type
          br
          = f.select :company_type,
              ["Einzelunternehmen", "Stille Gesellschaft", "KG", "GbR", "OHG", "GmbH", "GmbH & Co. KG", "UG", "AG", "Sonstiges"],
              {include_blank: true}
      br
      br
      .shop_name
        = f.label :name, t('.how_is_your_store_should_be_called') + '*'
        br
        = f.text_field :name, placeholder: t('.shop_name'), maxlength: "30"
        .font_gray_12
          = t '.your_shop_name_may_contain_up_to_30_characters'
      .subdomain
        br
        = f.label :subdomain, t('.your_web_address')
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.subdomain_info_box'}"
        br
        = f.text_field :subdomain, readonly: "readonly"
        '
        | .jakira.de
        .under_input = t '.subdomain_under_input'
    .green_stripe_title = t '.shop_owner'
    .white_form_block.address
      .inner_place
        = f.fields_for :address do |ff|
          = render partial: 'addresses/nested_form', locals: {f: ff}
    .green_stripe_title
      = t '.direct_debit'
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.direct_debit_info_box'}"
    #direct_debit_form
      .bold = t(".my_bank_account") + '*'
      #personal_bank_data
        = f.fields_for :personal_bank_data do |ff|
          = render partial: 'bank_transfer_data/nested_form', locals: {f: ff}
      br
      br
      #payment_authorization_check
        = f.check_box :payment_authorization,
                        class: "inblock_top"
      .description
        = t '.under_user_bank_data_1'
        br
        br
        = t '.under_user_bank_data_2'
    .green_stripe_title
      = t '.upload_profile_image_for_your_store'
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.main_image_info_box'}" title="#{t '.profile_picture'}"
    .white_form_block.main_picture_block
      - if @shop.main_picture.present?
        = render partial: 'main_pictures/picture_edit',
            locals: { main_picture: @shop.main_picture }
      .btn.btn-default#add_main_picture_button = t '.choose_a_file'
      br
      = image_tag 'loading.gif', class: 'loading'
    .green_stripe_title
      = t '.upload_more_shop_photos'
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.other_pictures_info_box'}"
    .white_form_block#pictures_place
      = image_tag 'loading.gif', class: 'loading'
      #add_picture.inblock_top
        #add_picture_button
          .glyphicon.glyphicon-plus
        #add_picture_text = t '.another_image'
    .green_stripe_title
      = t '.standard_payment_methods'
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.standard_payment_methods_info_box'}"
    .white_form_block
      .font_gray_12
        div = t '.standard_payment_methods_form_description'
        div
          = f.check_box :set_payment_types
          '
          = f.label :set_payment_types, t('.set_now')
      #payment_types
        br
        = t '.accepted_payment_methods'
        br
        = render partial: 'payment_types/form', locals: {f: f}
    .green_stripe_title
      = t '.shipping_and_delivery_options'
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.shipping_and_delivery_options_info_box'}"
    .white_form_block.font_gray_12
      div = t '.shipping_and_delivery_options_form_description'
      div
        = f.check_box :set_shipping
        '
        = f.label :set_shipping, t('.set_now')
      .shipping_information
        = render partial: 'shipping_methods/form',
            locals: {f: f}
        hr
        = render partial: 'shipping_readinesses/form',
            locals: {f: f}
    .green_stripe_title
      = t '.imprint'
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.imprint_first_info_box'}"      
    .white_form_block.imprint
      .doc_label
        = f.label :imprint
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.imprint_info_box'}"
      = f.text_area :imprint
      .below_terms_and_imprint
        = t '.platform_of_the_european_commission_for_online_dispute_resolution'
        '
        = auto_link("www.ec.europa.eu/consumers/odr", html: { target: '_blank' })
      br
      .font_gray_12
        = t '.imprint_link_description'
        '
        = auto_link("http://www.e-recht24.de/impressum-generator.html", html: { target: '_blank' })
      .below_terms_and_imprint
        = t '.under_imprint'
        '
        = link_to 'IPCL-Rieck', "http://www.ipcl-rieck.de/", target: '_blank'
    .green_stripe_title = t '.terms_and_revocation'
    .white_form_block
      .font_gray_12
        div = t '.terms_and_revocation_description'
        div
          = f.check_box :terms_and_revocation_are_chosen
          '
          = f.label :terms_and_revocation_are_chosen, t('.set_now')
      #terms_and_revocation
        div
          .doc_label
            = f.label :terms
            '
            .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.terms_info_box'}"
          = f.text_area :terms
          .below_terms_and_imprint
            = t '.platform_of_the_european_commission_for_online_dispute_resolution'
            '
            = auto_link("www.ec.europa.eu/consumers/odr", html: { target: '_blank' })
          br
          .font_gray_12
            = t '.terms_link_description:'
            = auto_link("http://www.deutsche-anwaltshotline.de/recht-auf-ihrer-website/agb-generator", html: { target: '_blank' })
          .below_terms_and_imprint
            = t '.under_terms'
            '
            = link_to 'IPCL-Rieck', "http://www.ipcl-rieck.de/", target: '_blank'
        br
        div
          .doc_label
            = f.label :revocation
            '
            .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.revocation_info_box'}"
          div
            = f.label     :revocation_physical_products
            br
            = f.text_area :revocation_physical_products
            br
            = f.label     :revocation_services
            br
            = f.text_area :revocation_services
            br
            = f.label     :revocation_digital_content
            br
            = f.text_area :revocation_digital_content
            br
          .font_gray_12
            = t('.revocation_link_description')
            '
            = auto_link("http://www.widerrufsbelehrung.de/generator.php", html: { target: '_blank' })
          br
          = f.label :withdrawal_form, class: 'bold'
          '
          .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box_withdrawal_form'}"
          br
          br
          .withdrawal_form_file_place
            #add_file_button style="#{'display:none;' if (params[:shop][:withdrawal_form_id].present? if params[:shop].present?) || (@shop.withdrawal_form.present? if params[:action] == 'edit')}"
              .glyphicon.glyphicon-plus
            = image_tag 'loading.gif', class: 'loading'
            = render partial: 'withdrawal_forms/withdrawal_form_edit',
                      locals: {withdrawal_form: (WithdrawalForm.find_by(id: (params[:shop][:withdrawal_form_id] if params[:shop]))) || (@shop.withdrawal_form if params[:action] == 'edit')}
          br
    .green_stripe_title = t '.selection_of_the_shop_packet'
    .white_form_block.packages
      = render partial: 'shops/packages', locals: {f: f}
    .green_stripe_title = t '.terms_and_statements'
    .white_form_block
      div
        = f.check_box :online
        '
        = f.label :online, t('.make_online_now')
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.make_online_now_info_box'}"
      div
        = f.check_box :subscription
        '
        = f.label :subscription, t('.shop_subscription_label')
      div
        = f.check_box :accept_terms
        '
        = f.label :accept_terms, t('.i_accept_the')
        '
        .show_AGB_green_button = t '.terms'
        | *
      br
      .big_green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
          .circle5
        = f.submit t('.open_your_own_shop'),
            name: :create_shop,
            data: { disable_with: t('.the_shop_is_saving') },
            class: "btn btn-default"
  .display_none
    = render "pictures/form"
    #hidden_pictures = render partial: 'pictures/picture_edit',
                        collection: @shop.pictures,
                        as: :picture
    = render file: "withdrawal_forms/_form"
    = render 'main_pictures/form'
#show_AGB_x = '[X]'
#show_AGB = render template: 'pages/terms'