h5 = t '.i_choose_the_following_package'
br
table
  thead
    tr
      td
      - Shop.packages.keys.each do |package|
        td
          = f.label package + '_package',
              t('.package.name.' + package),
              class: 'bold'
          .price = t('.package.price.' + package)
  tr
    td = t '.package.point.your_selection'
    - Shop.packages.keys.each do |package|
      td = f.check_box :package,
            {id: 'shop_' + package + '_package'},
            package, nil
  tr.small_font
    td = t '.package.point.article_adjustable'
    td 50
    td 100
    td 300
  tr
    td = t '.package.point.fixed_monthly_fee_for_planning_security'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.statistics_included'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.integrated_voucher_system'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.contact_publicly_available_if_desired'
    td
      .glyphicon.glyphicon-remove
    - 2.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.own_subdomain'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.up_to_10_images_per_article'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.setting_items_in_up_to_3_categories'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.unlimited_carry_items_changes'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.unlimited_exchange_products'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr
    td = t '.package.point.invoicing_possible'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr.small_font
    td = t '.package.point.simple_cost_structure'
    td = t '.only_sales_commission'
    - 2.times do 
      td = t '.monthly_fee_plus_sales_commission'
  tr
    td = t '.package.point.monthly_terminable'
    - 3.times do
      td
        .glyphicon.glyphicon-ok
  tr.small_font
    td = t '.package.point.sales_commission'
    td 10,5%
    - 2.times do
      td 5%