  h4.inblock style="margin:0px 5px;"
    = t '.revocation'
    '
    .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content=""
  div
    .green_button.replaceable_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.edit')
    .clear
      = label_tag :revocation_physical_products,
      		".." + t('.for_physical_products'),
      		style: "margin-left:10px"
      br
      = text_area_tag :revocation_physical_products,
      		@shop.revocation_physical_products,
      		disabled: "disabled"
  .display_none
    = form_for @shop do |f|
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            name: :revocation,
            data: { disable_with: t('.save') }
      .clear
        = f.label :revocation_physical_products,
        		".." + t('.for_physical_products'),
        		style: "margin-left:10px"
        br
        = f.text_area :revocation_physical_products
  hr
  div
    .green_button.replaceable_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.edit')
    .clear
      = label_tag :revocation_digital_content,
      		".." + t('.for_digital_products'),
      		style: "margin-left:10px"
      br
      = text_area_tag :revocation_digital_content,
      		@shop.revocation_digital_content,
      		disabled: "disabled"
  .display_none
    = form_for @shop do |f|
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            name: :revocation,
            data: { disable_with: t('.save') }
      .clear
        = f.label :revocation_digital_content,
        		".." + t('.for_digital_products'),
        		style: "margin-left:10px"
        br
        = f.text_area :revocation_digital_content
  hr
  div
    .green_button.replaceable_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.edit')
    .clear
      = label_tag :revocation_services,
      		".." + t('.for_services'),
      		style: "margin-left:10px"
      br
      = text_area_tag :revocation_services,
      		@shop.revocation_services,
      		disabled: "disabled"
  .display_none
    = form_for @shop do |f|
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            name: :revocation,
            data: { disable_with: t('.save') }
      .clear
        = f.label :revocation_services,
        		".." + t('.for_services'),
        		style: "margin-left:10px"
        br
        = f.text_area :revocation_services
  hr
  div
    .green_button.replaceable_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = submit_tag t('.edit')
    .clear
      h4
        = t '.withdrawal_form'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box_withdrawal_form'}"
      - if @shop.withdrawal_form.present?
        .withdrawal_form = link_to (image_tag @shop.withdrawal_form.file_url(:preview)),
             preview_withdrawal_form_url(@shop.withdrawal_form),
             target: "_blank"
      - else
        #nonclickable_button 
          .glyphicon.glyphicon-plus
  .display_none
    = form_for @shop do |f|
      = hidden_field_tag "shop[withdrawal_form_id]", nil
      .green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            name: :revocation,
            data: { disable_with: t('.save') }
      .clear
        h4
          = t '.withdrawal_form'
          '
          .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box_withdrawal_form'}"
      .withdrawal_form_file_place
        #add_file_button style="#{'display:none;' if @shop.withdrawal_form.present?}"
          .glyphicon.glyphicon-plus
        = image_tag 'loading.gif', class: 'loading'
        = render partial: 'withdrawal_forms/withdrawal_form_edit',
                  locals: {withdrawal_form: @shop.withdrawal_form}
  .display_none = render file: "withdrawal_forms/_form"
    