- if @shop.present?
  - if @shop.errors.any?
    - @shop.errors.messages.delete_if {|k, v| v == [nil] }
    #error_explanation
      h2 = t '.errors_message', count: @shop.errors.count
      ul
        - @shop.errors.full_messages.each do |msg|
          li = msg
h4.inblock style="margin:0px" = t '.my_default_options'
'
.glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content=""
div
  .green_button.replaceable_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.edit')
  .clear.bold style="font-size:13px;"
    = t '.payment_methods'
  br
  div style="margin-left:40px;"
    - if @shop.payment_types.empty?
      = t '.please_chose_payment_types'
    - else
      - if @shop.payment_types.map(&:name).include?("wire")
        = t '.wire'
        br
        div style="margin-left:40px;"
          .inblock
            = t '.bank'
            br
            = t '.account_holder'
            br
            = t '.iban'
            br
            = t '.swft_bic'
            br
          .inblock style="margin-left:15px;"
            = @shop.bank_transfer_data.bank_name
            br
            = @shop.bank_transfer_data.account_holder
            br
            = @shop.bank_transfer_data.iban
            br
            = @shop.bank_transfer_data.swft_bic
            br
        br
      - if @shop.payment_types.map(&:name).include?("paypal")
        = t '.paypal'
        br
        div style="margin-left:40px;"
          .inblock_top
            = t '.client_id'
            br
            = t '.secret'
            br
          .inblock_top style="margin-left:15px;font-size:12px;"
            = @shop.paypal_data.client_id[0, 10] + '...'
            br
            = @shop.paypal_data.client_secret[0, 10] + '...'
            br
        br
      - if @shop.payment_types.map(&:name).include?("last_name")
        = t '.last_name'
        br
      - if @shop.payment_types.map(&:name).include?("cash")
        = t '.cash'
      br
.display_none
  = form_for @shop, html: {id: "settings_shops_payment_types"} do |f|
    .green_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.save'),
          name: :settings,
          data: { disable_with: t('.save') }
    .clear.bold style="font-size:13px;"
      = t '.payment_methods'
    = render partial: 'payment_types/form', locals: {f: f}
hr
div
  .green_button.replaceable_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.edit')
  .clear.bold_13px = t '.shipping_and_delivery'
  - if @shop.shipping_methods.count == 0
    = t '.please_chose_shipping_methods'
    br
  - else
    br
    table#settings_shops_shipping_methods_table
      thead
        tr
          th = t '.shipping_method'
          th = t '.shipping_costs'
          th = t '.delivery_times'
      - @shop.shipping_methods.where(checked: true).each do |shipping_method|
        tr
          td - #{t shipping_method.name}
          td style="text-align:right;"
            - if shipping_method.name != "pickup" && shipping_method.name != "free_within_germany"
              | #{t shipping_method.price} Euro
          td
            | -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            - if shipping_method.name == "pickup"
              = t '.by_appointment'
            - else
              = t '.duration',
                  from: shipping_method.duration_from,
                  to: shipping_method.duration_to
  br
  .no_shipping_to_the_countries
    .title = t ('.no_shipping_to_the_following_countries')
    = @shop.no_shipping_to_the_following_countries
  br
  div
    .bold_13px = t '.readiness_for_shipping'
    - if @shop.shipping_readiness.readiness.nil?
      = t '.please_point_readiness_for_shipping'
    - else
      - if @shop.shipping_readiness.immediately?
        = t '.immediately'
      - else
        = t '.in_some_days',
            from: @shop.shipping_readiness.from,
            to: @shop.shipping_readiness.to
.shipping_information
  = form_for @shop do |f|
    .green_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.save'),
          name: :settings,
          data: { disable_with: t('.save') }
    .clear
    = render partial: 'shipping_methods/form',
        locals: {f: f}
    br
    .no_shipping_to_the_countries
      .title = t ('.no_shipping_to_the_following_countries')
      = f.country_select :no_shipping_to_the_countries,
          {},
          {multiple: true}
    br
    br
    = render partial: 'shipping_readinesses/form',
        locals: {f: f}
hr
div
  .green_button.replaceable_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.edit')
  .clear.bold style="font-size:13px;" = t '.manage_store'
  br
  div style="margin-left:40px"
    div
      = t '.automatic_order_confirmation'
      '
      .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.order_confirmation_info_button' }"
    br
    div style="margin-left:20px"
      .radio_button
        = label_tag "order_confirmation_automatically"
          = radio_button_tag :order_confirmation,
            "automatically",
            @shop.order_confirmation == "automatically",
            disabled: true
          '
          = t('.automatic_confirmation')
      .radio_button
        = label_tag "order_confirmation_manually"
          = radio_button_tag :order_confirmation,
            "manually",
            @shop.order_confirmation == "manually",
            disabled: true
          '
          = t('.manually_confirmation')
      .radio_button
        = label_tag "order_confirmation_with_exception"
          = radio_button_tag :order_confirmation,
            "with_exception",
            @shop.order_confirmation == "with_exception",
            disabled: true
          '
          = t('.auto_except_for_customizable')
    br
    div = t '.shop'
    br
    div style="margin-left:20px"
      .radio_button
        = radio_button_tag :online,
            true,
            @shop.online,
            disabled: true
        '
        = label_tag "online_true",
            t('.make_online_now')
      .radio_button
        = radio_button_tag :online,
            false,
            @shop.online == false,
            disabled: true
        '
        = label_tag "online_false",
            t('.make_offline_now')
      br
  .clear style='margin-left:40px;'
    = t '.shop_address'
    div style='margin-left:20px;'
      = @shop.address.occupation
      br
      = @shop.address.full_name
      br
      = @shop.address.street
      '
      = @shop.address.house_number
      br
      = @shop.address.postal_code
      '
      = @shop.address.place
      br
      = @shop.address.country_name
      br
      = @shop.address.area_code
      '
      = @shop.address.phone
      br
      = @shop.address.mobile
  br
  hr
  .gray_button style="margin-left:40px;"
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.discontinue_as_seller')
.display_none
  = form_for @shop,
      html: {id: "settings_shops_manage_store"} do |f|
    .green_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.save'),
          name: :settings,
          data: { disable_with: t('.save') }
    .clear.bold style="font-size:13px;" = t '.manage_store'
    br
    div style="margin-left:40px"
      div
        = t '.automatic_order_confirmation'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.order_confirmation_info_button'}"
      br
      div style="margin-left:20px"
        .radio_button
          = f.radio_button :order_confirmation,
              "automatically"
          '
          = f.label "order_confirmation_automatically",
              t('.automatic_confirmation')
        .radio_button
          = f.radio_button :order_confirmation,
              "manually"
          '
          = f.label "order_confirmation_manually",
              t('.manually_confirmation')
        .radio_button
          = f.radio_button :order_confirmation,
              "with_exception"
          '
          = f.label "order_confirmation_with_exception",
              t('.auto_except_for_customizable')
      br
      div = t '.shop'
      br
      div style="margin-left:20px"
        .radio_button
          = f.radio_button :online, true
          '
          = f.label "online_true", t('.make_online_now')
        .radio_button
          = f.radio_button :online, false
          '
          = f.label "online_false", t('.make_offline_now')
        br
    .clear style='margin-left:40px;'
      = t '.shop_address'
      br
      br
      div style='margin-left:20px;max-width:400px'
        = f.fields_for :address, @address do |ff|
          = render partial: 'addresses/nested_form',
            locals: {f: ff}
    br
  hr
  .bold style="font-size:13px;" = t '.cancel'
  br
  div style="margin-left:40px;"
    = check_box_tag "remove_shop_irrevocably"
    '
    = label_tag "remove_shop_irrevocably", t('.remove_shop_irrevocably')
  br
  .gray_button.cancel_shop style="margin-left:40px;float:none"
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.cancel_my_shop')
  .green_button.cancel_shop style="margin-left:40px;float:none"
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = link_to t('.cancel_my_shop'),
        @shop,
        method: :delete,
        data: { confirm: t('.are_you_sure?') }
hr
h4
  = t '.direct_debit_and_package_selection'
  '
  .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box_direct_debit'}"
div
  .green_button.replaceable_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.edit')
  .clear.bold style="font-size:13px;"
    = t '.my_package_selection'
    '
    = t '.package.name.' + @shop.package
    '
    = t '.package.price.' + @shop.package
  br
  .clear.bold style="font-size:13px;" = t '.my_bank_account'
  br
  div style="margin-left:40px;"
    .inblock
      = t '.bank_name'
      br
      = t '.account_holder'
      br
      = t '.iban'
      br
      = t '.swft_bic'
      br
    .inblock style="margin-left:15px;"
      = @shop.personal_bank_data.bank_name
      br
      = @shop.personal_bank_data.account_holder
      br
      = @shop.personal_bank_data.iban
      br
      = @shop.personal_bank_data.swft_bic
      br
.display_none
  = form_for @shop,
      html: {id: "settings_shops_personal_bank_data"} do |f|
    .green_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.save'),
          name: :settings,
          data: { disable_with: t('.save') }
    .clear
    br
    br
    .green_stripe_title = t '.selection_of_the_shop_packet'
    br
    .packages
      = render partial: 'shops/packages', locals: {f: f}
    br
    br
    .bold style="font-size:13px;" = t ".my_bank_account"
    br
    #personal_bank_data style="width:300px;"
      = f.fields_for :personal_bank_data do |ff|
        = render partial: 'bank_transfer_data/nested_form', locals: {f: ff}
    br
    br
    #payment_authorization_check style="display:table-cell"
      = f.check_box :payment_authorization
    '
    .payment_authorization_description style="display:table-cell"
      = t '.under_user_bank_data_1'
      = t '.under_user_bank_data_2'