h4.inblock style="margin:0px 5px;" = t '.imprint_and_terms'
div
  .green_button.replaceable_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.edit')
  .clear
    = label_tag :imprint,
        t('.my_imprint'),
        style: "margin-left:10px"
    br
    = text_area_tag :imprint,
        @shop.imprint,
        disabled: "disabled"
.display_none
  = form_for @shop do |f|
    .green_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.save'),
          name: :terms_and_imprint,
          data: { disable_with: t('.save') }
    .clear
      = f.label :imprint,
          t('.my_imprint'),
          style: "margin-left:10px"
      br
      = f.text_area :imprint
.below_terms_and_imprint
  = t '.platform_of_the_european_commission_for_online_dispute_resolution'
  '
  = auto_link("www.ec.europa.eu/consumers/odr", html: { target: '_blank' })
  br
  = t '.under_imprint'
  '
  = link_to 'IPCL-Rieck', "http://www.ipcl-rieck.de/", target: '_blank'
hr
div
  .green_button.replaceable_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.edit')
  .clear
    = label_tag :terms,
        t('.my_terms'),
        style: "margin-left:10px"
    br
    = text_area_tag :terms,
        @shop.terms,
        disabled: "disabled"
.display_none
  = form_for @shop do |f|
    .green_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.save'),
          name: :terms_and_imprint,
          data: { disable_with: t('.save') }
    .clear
      = f.label :terms,
          t('.my_terms'),
          style: "margin-left:10px"
      br
      = f.text_area :terms
.below_terms_and_imprint
  = t '.platform_of_the_european_commission_for_online_dispute_resolution'
  '
  = auto_link("www.ec.europa.eu/consumers/odr", html: { target: '_blank' })
  br
  = t '.under_terms'
  '
  = link_to 'IPCL-Rieck', "http://www.ipcl-rieck.de/", target: '_blank'