<h1>Shopbild ändern</h1>

<h2>Altes Bild</h2>
<%= image_tag @shop.image_url %>

<h2>Neues Bild</h2>
<%= form_for(@shop, html: {multipart: true}) do |f| %>
    <% if @shop.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this article from being saved:</h2>
          <ul>
            <% @shop.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.submit, data: { disable_with: 'submit' } %>
    </div>
<% end %>

<%= link_to t('back'), @shop %>
