<h1>Listing shops</h1>

<table>
  <thead>
    <tr>
      <th>Shop name</th>
      <th>Company type</th>
      <th>Corporate form</th>
      <th>Tax number</th>
      <th>Field of action</th>
      <th>User</th>
      <th>Default article</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.company_type %></td>
        <td><%= shop.corporate_form %></td>
        <td><%= shop.tax_number %></td>
        <td><%= shop.field_of_action %></td>
        <td><%= shop.user.full_name %></td>
        <td><%= shop.default_article %></td>
        <td><%= link_to 'Show', shop %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
