.left_shop_info_panel
  = image_tag @shop.main_picture_url,
    class: 'main_picture'
  .shop_name
    = link_to (t '.shop_by', user: @user.nickname) + ' ' + @shop.name, root_url(subdomain: @shop.subdomain)
  .info_box
    .about_shop
      = t '.about_shop', shop: @shop.name
    .rating_field
      = link_to ratings_shop_url(@shop)
        .stars
          - (1..5).each do |i|
            - if i <= @user.average_rating.to_i
              = image_tag 'star_white_full.png'
            - elsif @user.float_rating.present? && @user.float_rating > 0 && @user.average_rating.floor + 1 == i
              span style='width:#{2 + (0.18 * @user.float_rating)}px'
                = image_tag 'star_white_full.png'
              = image_tag 'star_white.png'
            - else
              = image_tag 'star_white.png'
                
        .rating_count = @user.rating_count
    
    .statistics_mobile_toggle
      .statistics_mobile_header
        span = t '.shop_details'
      .statistics_mobile_content
        table.statistics
          tr
            td = t '.shop_fans'
            td = @shop.favorite_shops.count
          tr
            td = t '.online_articles'
            td = @shop.articles.normal.online.count
          tr
            td = t '.sold_articles'
            td = @shop.articles.normal.sold.count
          tr.date_large
            td = t '.date_of_creation'
            td = l @shop.created_at.to_date
          tr.date_small
            td colspan='2'
              = t '.date_of_creation'
              '
              = l @shop.created_at.to_date
            
        .shop_meta_links
          .terms = t '.terms'
          .imprint = t '.imprint'
          .revocation = t '.revocation'
          
      - if @address.show_to_public? && user_signed_in?
        .address
          .address_header
            span = t '.address'
          .address_content
            = @address.street
            '
            = @address.house_number
            br
            = @address.postal_code
            '
            = @address.place
            br
            = @address.country_name
            - if @address.show_phone_to_public
              - if @address.phone?
                br
                = @address.area_code
                '
                = @address.phone
              - if @address.mobile?
                br
                = @address.area_code
                '
                = @address.mobile
        
  - if current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id).nil?
    .shop_favorites_add = link_to t(".add_shop_to_favorites"), {controller: :favorite_shops, action: :create, shop_id: @shop.id}, method: :post
  - else
    .shop_favorites_remove = link_to t('.remove_from_favorite_shops'),
      favorite_shop_url(current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id)),
      method: :delete
  - if !current_page?(ratings_shop_path(@shop)) && user_signed_in?
    .send_message
      = link_to t('.to_contact'), new_message_url( recipient: @shop.name, article_title: (@article.present? ? @article.title : ''))
  - elsif current_page?(ratings_shop_path(@shop))
  
    .rating_details
      - [5,4,3,2,1].each do |rating|
        .rating_field
          = link_to ratings_shop_url(@shop, rating: rating, displays: params[:displays])
            .stars
              - (1..5).each do |i|
                - if i <= rating
                  = image_tag 'star_blue_full.png'
                - else
                  = image_tag 'star_blue.png'
              '
            .rating_count = @user.rating_count(rating)
            
    .displays
      = form_tag ratings_shop_url(@shop), method: :get do |f|
        = hidden_field_tag :rating, params[:rating]
        = label_tag :displays, t('.displays:')
        = select_tag :displays,
            options_for_select(['all', 'buyer', 'seller'].collect{ |n| [t('.' + n), n]}, params[:displays]),
            {onchange: "this.form.submit()" }
      .clear
  
