- content_for :title, t('.head_title')
.open_shop_wrapper
  .title = t '.open_shop'
  .description = t '.description'
  - if @user.errors.any?
    - @user.errors.full_messages.each do |msg|
      .red = msg
    - if @user.errors.include?(:art_association).present?
      - @user.errors.add(:art_association_id, :blank)
  .form_wrapper
    = form_for @user,
        url: become_a_member_art_associations_url do |f|
      .field_wrapper
        = f.text_field :art_association_membership_number,
            placeholder: t('.your_membership_number')
      .select_wrapper
        = f.select :art_association_id,
            ArtAssociation.all.collect { |a| [a.address.company_name, a.id]},
            include_blank: t('.select_association')
        .select_button
          .triangle_to_bottom
      = f.fields_for :address do |ff|
        .field_wrapper
          = ff.text_field :first_name,
              placeholder: t('.first_name')
        .field_wrapper
          = ff.text_field :last_name,
              placeholder: t('.last_name')
      br
      = f.submit t('.continue'),
          class: 'big orange_button',
          data: { disable_with: t('.continue') }