- content_for :title, t('.head_title')
.shop_ratings
  .upper_page_links
    ' > #{t '.shops'} >
    = link_to @shop.user.full_name,
        root_url(subdomain: @shop.subdomain)
    '  >
    = link_to t('.reviews'), ratings_shop_url(@shop, subdomain: @shop.subdomain)
  .table-cell-top
    = render file: 'shops/left_shop_info_panel'
  .ratings.table-cell-top
    - if @reviews.present?
      table
        thead
          tr
            td.rating_and_comment
            td.seller_or_buyer
            td.reviewed_by = t '.reviewed_by'
            td.article_title = t '.articles'
            td.date = t '.reviewed_at'
        tbody
          - @reviews.each do |review|
            - if review.from == "buyer"
              tr.first_row
                td
                  .rating_field
                    .stars
                      - (1..5).each do |i|
                        - if i <= review.score
                          .gold_star &#9733;
                        - else
                          .gray_star &#9733;
                      '
                td.black
                  | (#{t '.buyer'})
                td.black = review.articles_order.buyer.nickname
                td.darkgray = review.articles_order.article.title
                td = l review.updated_at.to_date
              tr.last_row
                td.black = t ".comment:"
                td.gray colspan="4" = review.text
            - else
              tr.first_row
                td
                  .rating_field
                    .stars
                      - (1..5).each do |i|
                        - if i <= review.score
                          .gold_star &#9733;
                        - else
                          .gray_star &#9733;
                      '
                td.link_to_seller
                  = link_to root_url(subdomain: review.articles_order.seller.shop.subdomain)
                    | (#{t '.seller'})
                td.black = review.articles_order.seller.nickname
                td.darkgray = review.articles_order.article.title
                td = l review.updated_at.to_date
              tr.last_row
                td.black = t ".comment:"
                td.gray colspan="4" = review.text
    - else
      div = t '.no_comments'