- content_for :title, @shop.name
.shop_show
  #upper-path
    = image_tag 'arrow_to_left.png'
    = link_to 'Jakira', 
      root_url,
      class: 'without-underline-if-mobile'
    span &nbsp;&bull;&nbsp;
    ' #{t '.shops'}
    span &nbsp;&bull;&nbsp;
    = link_to @shop.user.full_name, 
      root_url(subdomain: @shop.subdomain),
      class: 'without-underline-if-mobile'
      
  h1.shop_title #{@shop.user.address.full_name}
  
  .table-cell-top
    = render file: 'shops/left_shop_info_panel'
  .central_content
    .shop_data
      .shop_info
        .images
          - @shop.pictures.each do |picture|
            - if picture.image?
              .shop_picture
                = image_tag picture.image.middle.url, class: "img-responsive"
        .info_text_block.info_text_block_shop
          .info_text_header
            h2 = t '.about_my_shop'
          .info_text_content
            = @shop.about_my_shop
        .info_text_block.info_text_block_about
          .info_text_header
            h2 = t '.about_me'
          .info_text_content
            = @shop.about_me
          
        .info_text_block
          .terms_content
            h4 = t '.terms_'
            = @shop.terms
            br
            = t '.platform_of_the_european_commission_for_online_dispute_resolution'
            '
            = auto_link("www.ec.europa.eu/consumers/odr", html: { target: '_blank' })
          .imprint_content
            h4 = t '.imprint_'
            = @shop.imprint
            br
            = t '.platform_of_the_european_commission_for_online_dispute_resolution'
            '
            = auto_link("www.ec.europa.eu/consumers/odr", html: { target: '_blank' })
          .revocation_content
            h4 = t '.revocation_'
            h5 = t '.physical'
            = @shop.revocation_physical_products
            h5 = t '.service'
            = @shop.revocation_services
            h5 = t '.digital'
            = @shop.revocation_digital_content
    - if current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id).nil?
      .shop_favorites_add = link_to t(".add_shop_to_favorites"), {controller: :favorite_shops, action: :create, shop_id: @shop.id}, method: :post
    - else
      .shop_favorites_remove = link_to t('.remove_from_favorite_shops'),
        favorite_shop_url(current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id)),
        method: :delete
    - if !current_page?(ratings_shop_path(@shop)) && user_signed_in?
      .send_message
        = link_to t('.to_contact'), new_message_url( recipient: @shop.name, article_title: (@article.present? ? @article.title : ''))
    - if @articles.present?
      h3 #{t '.products_by'} #{@shop.user.address.full_name}
      .shop_articles
        - @articles.each do |article|
          = render partial: 'articles/categories_article_block',
              locals: {article: article}
