- content_for :title, t('.head_title')
= render "left_menu"
.user_invoices.usual_body
  .invoices
  	.bold.inblock = t '.invoices_overview'
  	br
  	br
  	br
    - if @invoices.present?
      .search_field
        = form_tag request.env['PATH_INFO'], method: 'get'
          = text_field_tag :search_invoice,
              params[:search_invoice],
              placeholder: t(".invoice_no_")
          .glyphicon.glyphicon-search
      table
        thead
          tr
            td = t '.invoice_no'
            td = t '.date_of_invoice'
            td = t '.status'
            td = t '.sum_of_invoice'
            td = t '.download'
        - @invoices.each do |invoice|
          - case invoice.status
            - when "open"
              - color = 'orange'
            - when "paid"
              - color = 'green'
            - when "canceled"
              - color = 'red'
          tr
            td = link_to invoice.number, invoice_url(invoice)
            td = l invoice.created_at.to_date
            td style="color:#{color}"
              = t(".invoice_status." + invoice.status)
            td = invoice.price.format(symbol_position: :after)
            td = link_to image_tag('pdf_icon.gif'),
                  pdf_version_invoice_path(invoice, format: "pdf"),
                  class: "pdf_link"
    - else
      p = t '.there_are_no_invoices'