.invoice_pdf
  br
  br
  .jakira_address Jakira Gmbh, Lüneburger Weg 3, 21244 Buchholz
  br
  div
    .inblock_top
  	  = t '.mr'
  	  '
  	  = @invoice.user.full_name
  	  br
  	  = @invoice.user.address.street
  	  '
  	  = @invoice.user.address.house_number
  	  br
  	  = @invoice.user.address.postal_code
  	  '
  	  = @invoice.user.address.place
  	  br
  	  = @invoice.user.address.country_name
    .inblock_top.right
  	  | Jakira GmbH
  	  br
  	  | Lüneburger Weg 3
  	  br
  	  | 21244 Buchholz
  	  br
  	  br
  	  = t '.date_of_invoice:'
  	  = @invoice.created_at.strftime('%d.%m.%Y')
  br
  br
  br
  br
  br
  br
  .title = t '.invoice'
  br
  br
  div
  	.inblock_top
  	  = t '.hello'
      '
      = t '.mr'
      '
  	  = @invoice.user.full_name
  	  | ,
  	  br
      = t '.from'
  	  '
  	  = @invoice.created_at.beginning_of_quarter.strftime('%d.%m.%Y')
  	  '
      = t '.to'
  	  '
  	  = @invoice.created_at.next_quarter.beginning_of_quarter.strftime('%d.%m.%Y')
  	  '
      = t '.incurred:'
  	.invoice_receiver_and_number
  	  table
  	  	tr
  	  	  td = t '.user:'
  	  	  td = @invoice.user.nickname
  	  	tr
  	  	  td = t '.invoice_no:'
  	  	  td = @invoice.number
  br
  br
  br
  br
  - if @invoice.articles_orders.present?
    table.invoice_articles
  	  thead
  	    tr
  	      td = t '.key' 
  	      td = t '.article_no'
  	      td = t '.article'
  	      td = t '.sold_at:'
  	      td = t '.power:' 
  	      td = t '.price'
  	  - @invoice.articles_orders.each_with_index do |articles_order, index|
  	    tr
  	  	  td = index + 1
  	  	  td = articles_order.article.sku
  	  	  td = articles_order.article.title
  	  	  td = l articles_order.confirmed_at.to_date
  	  	  td
            ' 10%
            = t '.commission'
  	  	  td = (articles_order.article.price * 0.1).format(symbol_position: :after)
    - sum_of_sales = @invoice.articles_orders.map(&:article).map(&:price).sum * 0.1
    br
    table.sum_of_invoice
  	  tr
  	    td = t '.total:'
  	    td= sum_of_sales.format(symbol_position: :after)
  	  tr
  	    td = t '.included_19%_vat'
  	    td = (sum_of_sales * 0.19).format(symbol_position: :after)
  	  tr
  	    td = t '.total_net:'
  	    td = (0.81 * sum_of_sales).format(symbol_position: :after)
  br
  br
  br
  br
  div
    = t '.bottom_info_first_part'
  	br
  	= t '.account_holder:'
    |  Reinhold Schonert
  	br
    = t '.iban:'
  	|  DExxxxxxxxxxxxxxxxx500
  	br
    = t '.swft_bic:'
  	|  COBFDEHD034
  	br
  	= t '.institute:'
    |  Sparkasse Ostbek
  br
  br
  br
  .font_10px
    | Jakira GmbH, Lüneburger Weg 3, 21244 Buchholz, Handelsregister: 35236Buchholz, Geschäftsführer: Yasser Chehade, USt-ID: DE260874681, FinanzamtBuchholz, Steuer-Nr.: 207/5716/0858
    br
    br
    | Kundendienst per E-Mail: www.hood.de/support.htm
    br
    | Bank: Sparkasse Düren, IBAN: DE67395501100000339762, SWIFT(BIC): SDUEDE33XXX
