- content_for :title, t('.head_title')
= render "left_menu"
.user_invoice.usual_body
  = t '.invoice_number', number: @invoice.number
  br
  br
  - if @invoice.articles_orders.present?
    table
      thead
        tr
          td = t '.article_no'
          td = t '.articles'
          td = t '.period'
          td = t '.date_of_sale'
          td = t '.total'
      tfoot
        tr
          td
          td
          td
          td = t '.vat'
          td = (@invoice.articles_orders.map(&:article).map(&:price).sum * 0.05 * 0.19).format(symbol_position: :after)
        tr
          td
          td
          td
          td = t '.total'
          td = (@invoice.articles_orders.map(&:article).map(&:price).sum * 0.05).format(symbol_position: :after)
      - @invoice.articles_orders.each do |articles_order|
        tr
          td = articles_order.article.sku
          td = articles_order.article.title
          td = articles_order.quarter_of_sale
          td = l articles_order.confirmed_at.to_date
          td = (articles_order.article.price * 0.05).format(symbol_position: :after)
  - else
    = t '.the_has_no_sales'