- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_art_associations_edit
  .title = t '.title'
  .form_wrapper
    = form_for @art_association,
        url: admin_art_association_url(@art_association.membership_number_with_formatting) do |f|
      = render partial: "admin/art_associations/form",
          locals: {f: f}