- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_art_associations_index
  .top_meniu
    .from_wrapper
      = form_tag '/admin/art_associations/',
          method: 'get'
        = label_tag :search_art_association, t(".find_user")
        = text_field_tag :search_art_association,
            params[:search_art_association],
            placeholder: t(".search"),
            onchange: "$(this).closest('form').submit()"
        .select_wrapper 
          = select_tag :filter,
              options_for_select(['all',
                                  'customer_number',
                                  'date_of_registration',
                                  'place'].collect{ |f| [t("." + f), f] },
                                  params[:filter]),
              prompt: t('.filter_by'),
              onchange: "$(this).closest('form').submit()"
          .select_button
            .triangle_to_bottom

  = link_to new_admin_art_association_url,
        :class => 'orange_button'
      .glyphicon.glyphicon-plus
      = t('.add_association')
  table.admin_art_associations
    thead
      tr
        td = t '.customer_no'
        td = t '.association'
        td = t '.first_name'
        td = t '.last_name'
        td = t '.street'
        td = t '.houser_number'
        td = t '.zip_code'
        td = t '.place'
        td = t '.country'
        td = t '.contact'
        td
    tbody
      - @art_associations.each do |art_association|
        tr
          td data-title = t('.customer_no') = link_to art_association.membership_number_with_formatting,
                edit_admin_art_association_url(art_association.membership_number_with_formatting)
          td data-title = t('.association') = art_association.address.company_name
          td data-title = t('.first_name') = art_association.address.first_name
          td data-title = t('.last_name') = art_association.address.last_name
          td data-title = t('.street') = art_association.address.street
          td data-title = t('.houser_number') = art_association.address.house_number
          td data-title = t('.zip_code') = art_association.address.postal_code
          td data-title = t('.place') = art_association.address.place
          td data-title = t('.country') = art_association.address.country_name
          td data-title = t('.contact') 
            span.phone_for_small_table
              = t '.phone_', number: art_association.address.phone
            span.phone_symbol
              = '&phone;'.html_safe
              span.popover_phone
                = t '.phone_', number: art_association.address.phone
                / '
                / '
                / | message icon
                / probably this message icon is for sending message directly using the site, if so, it will be very much work to redo the check_role method to make everything works fine.
                / = link_to 'new message', new_message_path(recipient: art_association.email)
          td.cell_with_arrow
            .arrow_right
            .arrow_down
        tr.hidden_row
          td.td_for_hide
          td.additional_information colspan='9'
            = t '.registered_on_', date: l(art_association.created_at.to_date)
            br
            = t '.members_', count: art_association.members.count
            br
            = t '.email_', email: art_association.email
            br
          td.td_for_hide 