.article-list-element
  .article-list-image
    - if article.sold?
      .sold-mark
    = link_to image_tag(article.middle_main_picture), article_url(article)
  .article-list-title
    = link_to article.title, article_url(article)
    .article-list-created-by
      = t '.made_by'
      z = article.artist
    - if (current_page?(:sold_articles) || current_page?(:online_articles) || current_page?(:offline_articles)) && (article.user_id == current_or_guest_user.id)
      = form_for article, url: change_article_path(article), method: :post do |f|
        .inblock_top
          = f.label :status, class: "article_status_style", style: "margin-top:0px;"
          br
        '
        .inblock_top
          = f.collection_select :status,
              {offline: t('.offline'),
               online: t('.online'),
               sold: t('.sold')},
              :first, :last,
              {include_blank: false,
               selected: article.status},
              {onchange: "this.form.submit()",
               class: "select-in-basket"}
    - else
      .article-list-visit-shop
        = link_to t('.shop_from_seller', seller: article.shop.name),
            root_url(subdomain: article.shop.subdomain), style: "color:#863939"
  .article-list-seller
    .article-list-price
      - if (article.user_id == current_or_guest_user.id) && (current_page?(:deleted_articles) || current_page?(:sold_articles) || current_page?(:online_articles) || current_page?(:offline_articles))
        - if current_page?(:deleted_articles)
          .inblock
            = form_for article,
                url: change_article_path(article),
                method: :post do |f|
              = f.hidden_field :deleted, value: false
              = image_submit_tag 'Restore-from-bin.png',
                  title: t('.restore_article'),
                  style: "height:22px;",
                  data: { disable_with: '' }
          .inblock
            = link_to (image_tag 'delete.png',
                style: "display:inline-block;height:22px;float:right;",
                title: t('.delete_article')),
                article,
                method: :delete,
                data: { confirm: t('.delete_article_permanently?') }
          .article-preis
            = t '.price:'
            = article.price.format(symbol_position: :after)
        - else
          = form_for article, url: change_article_path(article), method: :post do |f|
            = f.hidden_field :deleted, value: true
            = image_submit_tag 'delete.png',
                title: t('.delete_article'),
                style: "display:inline-block;height:22px;float:left;",
                data: { disable_with: '' }
          - if current_page?(:online_articles) || current_page?(:offline_articles)
            = link_to (image_tag 'pencil.jpg',
                style: "width:16px;margin-top:3px;margin-left:6px;",
                title: t('.edit')),
                edit_article_url(article)
          span.article-preis style="top:-16px"
            = t '.price:'
            = article.price.format(symbol_position: :after)
      - else
        span.article-warenkorb style="margin-right:8px;"
          - if current_or_guest_user.shopping_baskets.find_by(article_id: article.id).nil?
            - if !article.sold?
              = link_to current_or_guest_user.favorites.map(&:article_id).include?(article.id) ? (image_tag 'favInWarenkorb.png',
                  title: t('.remove_from_favorites_to_basket')) : (image_tag 'To-basket.png',
                  title: t('.to_basket')),
                  shopping_baskets_url(shopping_basket: {article_id: article.id}),
                  method: :post
          - else
            = link_to (image_tag 'Remove-from-basket.png',
                title: t('.remove_from_basket')),
                shopping_basket_url(current_or_guest_user.shopping_baskets.find_by(article_id: article.id)),
                method: :delete
        span.article-likes
          - if current_or_guest_user.favorites.find_by(article_id: article.id).nil?
            = link_to current_or_guest_user.shopping_baskets.map(&:article_id).include?(article.id) ? (image_tag 'warenkorbInFav.png',
                title: t(".remove_from_basket_to_favorites")) : (image_tag 'To-Foavorite.png',
                title: t(".to_favorites")),
                favorites_url(favorite: {article_id: article.id}),
                method: :post
          - else
            = link_to (image_tag 'Remove-from-favorites.png',
                title: t(".remove_from_favorites")),
                favorite_url(current_or_guest_user.favorites.find_by(article_id: article.id)),
                method: :delete
        span.article-preis
          = t '.price:'
          = article.price.format(symbol_position: :after)