- { online_articles_path  => 'head_title_online',
    offline_articles_path => 'head_title_offline',
    sold_articles_path    => 'head_title_sold',
    deleted_articles_path => 'head_title_deleted'}.each do |path, title|
  - if current_page?(path)
    - content_for :title, t('.' + title)
= render "left_menu"
.usual_body.articles
  = render "articles/head"
  - if @articles.empty?
    br
    p = t '.no_articles_with_criteria'
  - else
    div = render "articles_view_type"
    - if current_user.vertical?
      = render @articles
    - else
      - @articles.each do |article|
        .article-horizontal-list-element style="margin-right:auto;display:block;"
          .article-horizontal-list-image
            - if article.sold?
              .sold-mark
            = link_to article_url(article)
              = image_tag article.middle_main_picture,
                class: "horizontal_article_image_style"
          div style="height:145px;"
            #horizontal_article_description style='overflow: visible;'
              = link_to article.title,
                  article_url(article),
                  id: "shopping-cart-article-title"
              br
              br
              table.statistics
                tr
                  td = t '.views_count'
                  td = article.views_count
                tr
                  td = t '.in_favorites'
                  td = article.added_to_favorites_count
                tr
                  td = t '.in_cart'
                  td = article.added_to_cart_count
              br
              .gray = t '.created_at', date: l(article.created_at.to_date)
            .right style="text-align:right"
              .right
                - if !current_page?(deleted_articles_path)
                  = form_for article,
                      url: change_article_url(article),
                      method: :post do |b|
                    = b.label :status,
                        class: "article_status_style"
                    br
                    = b.collection_select :status,
                        { offline: t('.offline'),
                          online: t('.online'),
                          sold: t('.sold') },
                          :first, :last,
                        { include_blank: false,
                          selected: article.status },
                        { onchange: "this.form.submit()",
                          class: "select-in-basket" }
              br
              .right
                - if article.sku.present?
                  = t '.sku:'
                  br
                  = article.sku
          .article_horizontal_bottom
            .inblock.left style="position:relative;top:1px;margin-left:15px;"
              - if current_page?(deleted_articles_path)
                .inblock
                  = form_for article,
                      url: change_article_path(article),
                      method: :post do |f|
                    = f.hidden_field :deleted, value: false
                    = image_submit_tag 'Restore-from-bin.png',
                        title: t('.restore_article'),
                        style: "height:22px;",
                        data: { disable_with: t('.restore_article') }
                .inblock_top
                  = link_to (image_tag 'delete.png',
                      title: t('.delete_article'),
                      style: "height:22px;"),
                      article_url(article),
                      method: :delete,
                      data: { confirm: t('.delete_article_permanently?') }
              - else
                .inblock_top
                  = form_for article,
                      url: change_article_path(article),
                      method: :post do |f|
                    = f.hidden_field :deleted, value: true
                    = image_submit_tag 'delete.png',
                        title: t('.delete_article'),
                        style: "height:22px;",
                        data: { disable_with: '' }
              - if current_page?(:online_articles) || current_page?(:offline_articles)
                = link_to (image_tag 'pencil.jpg',
                    style: "margin: 3px 8px;width: 16px;",
                    title: t('.edit')),
                    edit_article_url(article)
            .inblock_top style="margin-right:5px;position:relative;top:3px;"
              = t '.price', value: article.price.format(symbol_position: :after)
    .clear
    = paginate @articles