.categories_article_block
  = link_to article_url(article), class: "link_to_image"
    - if article.sold?
      .sold-mark
    = image_tag article.middle_main_picture,
        class: 'main_picture'
  br
  .title = link_to article.title, article_url(article)
  = link_to t('.shop_') + article.shop.name,
      root_url(subdomain: article.shop.subdomain),
      class: 'link_to_shop'
  .bottom
    .buttons
      - if current_or_guest_user.favorites.find_by(article_id: article.id).nil?
        = link_to (image_tag 'to_favorites.png',
            title: t(".to_favorites")),
            favorites_url(favorite: {article_id: article.id}),
            method: :post
      - else
        = link_to (image_tag 'remove_from_cart.png',
            title: t(".remove_from_favorites")),
            favorite_url(current_or_guest_user.favorites.find_by(article_id: article.id)),
            method: :delete
      - if current_or_guest_user.shopping_baskets.find_by(article_id: article.id).nil?
        - if !article.sold?
          = link_to (image_tag 'cart_icon.png',
              title: t('.to_basket')),
              shopping_baskets_url(shopping_basket: {article_id: article.id}),
              method: :post
      - else
        = link_to (image_tag 'remove_from_cart.png',
            title: t('.remove_from_basket')),
            shopping_basket_url(current_or_guest_user.shopping_baskets.find_by(article_id: article.id)),
            method: :delete
    .price = currency article.price