- content_for :title, t('.head_title')
= render "left_menu"
.usual_body
  #article-form
    - if !@article.template? && @article.new_record?
      .choose_template
        = form_tag '/articles/new', method: :get
          = label_tag :template, t('.choose_template')
          '
          = select_tag :template,
              options_from_collection_for_select(@templates,
                :id, :template_name, params[:template]),
              include_blank: true
    #title
      - if @article.template?
        = t '.template'
      - elsif @article.persisted?
        = t '.edit_article'
      - else
        = t '.create_new_article'
    .mandatory_fields = t '.mandatory_fields'
    .green_stripe_title = t '.information_about_this_article'
    = form_for @article do |f|
      .white_form_block
        div
          - if @article.present?
            - if @article.errors.any?
              - @article.errors.messages.delete_if {|k, v| v == [nil] }
              #error_explanation
                h2 = t '.errors_title'
                ul 
                  - @article.errors.full_messages.each do |msg|
                    li = msg
        .fields_block
          .field
            = f.label :title
            ' *
            .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.article_title'}"
            br
            = f.text_field :title
            = f.hidden_field :state, value: "finished"
          .field
            = f.label :price
            | *
            br
            = f.text_field :price
            .euro_label Euro
          .field
            = f.label :sku
            '
            .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.sku'}"
            br
            = f.text_field :sku
        .fields_block
          .field
            = f.label :artist
            ' *
            .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.artist'}"
            br
            = f.text_field :artist, placeholder: current_user.full_name
          .field
            = f.label :status
            '
            .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.article_status'}"
            br
            = f.collection_select :status,
                {offline: t('.offline'),
                 online: t('.online')},
                 :first, :last,
                {include_blank: false}
          .field
            = f.label :made_in
            br
            = f.country_select :made_in,
                { priority_countries: ["DE", "AT"] },
                { "data-live-search" => "true"}
        .fields_block
          .article_type
            #article_type_title = t '.article_type'
            = f.radio_button :article_type, "physical", checked: true
            '
            = f.label :article_type_physical
            br
            = f.radio_button :article_type, "digital"
            '
            = f.label :article_type_digital
            br
            = f.radio_button :article_type, "service"
            '
            = f.label :article_type_service
            br
            = f.label :year
            div
              = f.select :year,
                ((Article.years(f.object.year)).collect { |v| [t(v, default: v), v]}).reverse
      .green_stripe_title = t '.main_features'
      .white_form_block
        .display_none#all-label = t '.all'
        div
          .first.fields_block
            .field
              = f.label :materials, t('.material') + '*'
              br
              .materials-select
                .main-field
                .dropdown-field
                  .all.material.display_none
                    = check_box_tag t('.all')
                    = label_tag t('.all'), t('.all')
                  - Material.all.where(ancestry: nil).each do |material|
                    .parent.material
                      - if material.children.present?
                        .hide_children –
                        .show_children +
                      = check_box_tag 'article[material_ids][]', material.id, @article.material_ids.include?(material.id), id: material.label
                      = label_tag material.label, material.name
                    - if material.children.present?
                      - material.children.each do |material|
                        .child.material
                          = check_box_tag 'article[material_ids][]', material.id, @article.material_ids.include?(material.id), id: material.label
                          = label_tag material.label, material.name
            .field
              = f.label :gems
              br
              = f.collection_select :gems,
                    Article.gems.collect {|g| [ g, t(g) ] },
                    :first, :last,
                    { include_blank: true }
            .size_fields
              = t '.size'
              br
              = f.text_field :width
              span X
              = f.text_field :length
              span X
              = f.text_field :height
              span = t '.mm'
          .second.fields_block
            .field
              = f.label :weight
              br
              = f.text_field :weight
              span = t '.gram'
            .field
              = f.label :weight_of_gem
              = f.text_field :weight_of_gem
              span = t '.carat'
            .field
              = f.label :textile_size
              br
              = f.select :textile_size,
                  (Article.textile_sizes.collect { |k, v| [t(k, default: k), k]}),
                  include_blank: true
          .fields_block
            .field
              = f.label :colors, t('.color') + '*'
              br
              = f.collection_select :color_ids,
                                        Color.order_by_name,
                                        :id, :name,
                                        {},
                                        multiple: true,
                                        style: "all: none;",
                                        id: 'article_colors'
            .field
              = f.label :gem_color_ids, t('.color_of_gemstones')
              br
              = f.collection_select :gem_color_ids,
                                        GemColor.order_by_name,
                                        :id, :name,
                                        {},
                                        multiple: true,
                                        style: "all: none;"
            .field
              = f.label :suitable_fors,
                  t('.suitable_for') + '*',
                  for: 'article_suitable_for_ids'
              br
              = f.collection_select :suitable_for_ids,
                                        SuitableFor.all,
                                        :id, :name,
                                        {},
                                        multiple: true
              #select_all_hidden_text = t '.all'
        br
        .material_textiles_block_form
          .material_textiles_title = t '.material_textiles'
          .overall_percent
          = f.fields_for :material_textiles, @material_textiles do |ff|
            .material_textile_field
              = ff.label :name, (ff.index + 1).to_s + '.'
              '
              = ff.collection_select :name,
                  Article.material_textiles_names.collect {|n| [ n, t(n) ] },
                  :first, :last,
                  { include_blank: true }
              '
              = ff.text_field :percent, style: "width:60px"
              '
              = ff.label :percent, "%"
        .fields_block
          .field
            = f.check_box :customizable
            '
            = f.label     :customizable
          .field.customizable_comment
            = f.label :customizable_comment, t('.customizable_comment_label')
            '
            = f.text_area :customizable_comment
        br
        br
        .fields_block
          .field
            = f.label :motive
            '
            = f.text_field :motive
        br
        br
        div
          = f.label :description
          ' *
          .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.description'}"
          br
          = f.text_area :description
        br
        div = f.select :art_type,
                Article.art_types.keys.collect { |k| [t('art_type.' + k), k] }
        br
        div
          = f.label :categories, t(".categories")
          ' *
          .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.categories'}"
        .display_none
          = f.collection_select :category_ids,
              Category.root.descendants, :id, :name,
              {include_blank: true},
              multiple: true,
              style: "height:600px;"
        - ["first", "second", "third"].each do |n|
          div class="#{n}_categories_list"
            ul.main.categories_list
              - Category.root.children.each do |main_category|
                li value="#{main_category.id}"
                  = main_category.name
                  .small_perpendicular_angle_bracket_to_right
                    .triangle_to_right.white_triangle
                    .triangle_to_right

            .big_perpendicular_angle_bracket_to_right
              .triangle_to_right.white_triangle
              .triangle_to_right
            - Category.root.children.each do |main_category|
              ul.sub.categories_list id="#{main_category.multiple_choices ? 'multiple_choices' : ''}" value="#{main_category.id}"
                - main_category.children.each do |subcategory|
                  li value="#{subcategory.id}"
                    = check_box_tag '' if main_category.multiple_choices
                    '
                    = subcategory.name
                    - if subcategory.children.present?
                      .small_perpendicular_angle_bracket_to_right
                        .triangle_to_right.white_triangle
                        .triangle_to_right

            .big_perpendicular_angle_bracket_to_right
              .triangle_to_right.white_triangle
              .triangle_to_right

            - Category.root.children.each do |main_category|
              - main_category.children.each do |subcategory|
                - if subcategory.children.present?
                  ul.subsub.categories_list value="#{subcategory.id}"
                    - subcategory.children.each do |subsubcategory|
                      li value="#{subsubcategory.id}"= subsubcategory.name
          - if n != "third"
            hr.category_list_separator_line
            .show_next_categories_list = t '.choose_another_category'

      .green_stripe_title
        = t '.images'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.images'}"
      #pictures_place
        .gray = t '.select_the_title_image'
        = image_tag 'loading.gif', class: 'loading'
        #add_picture.inblock_top
          #add_picture_button
            .glyphicon.glyphicon-plus
          #add_picture_text = t '.another_image'
      .green_stripe_title
        = t '.payment_shipping_and_delivery_times'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.payment_and_shipping'}"
      .white_form_block
        .bold_13px = t('.shipping_methods') + '*'
        = render partial: 'shipping_methods/form',
                  locals: {f: f}
        hr
        .no_shipping_to_the_countries
          .title = t ('.no_shipping_to_the_following_countries')
          = f.country_select :no_shipping_to_the_countries,
              {},
              {multiple: true}
        hr
        = render partial: 'shipping_readinesses/form',
                  locals: {f: f}
        hr
        .bold_13px = f.label :payment_types,
                      t('.payment_methods') + '*',
                      class: 'bold'
        = render partial: 'payment_types/form',
                  locals: {f: f}
      .green_stripe_title
        = t '.automatic_order_confirmation'
        '
        .glyphicon.glyphicon-info-sign data-toggle="popover" data-trigger="hover" data-content="#{t '.info_box.automatic_order_confirmation'}"
      .white_form_block style="line-height: 18px;"
        div style="margin-left:20px"
          = f.radio_button :order_confirmation,
              "automatically"
          '
          = f.label "order_confirmation_automatically",
            t('.auto_confirm')
          br
          = f.radio_button :order_confirmation,
              "manually"
          '
          = f.label "order_confirmation_manually",
              t('.manually_confirm')
          br
          = f.radio_button :order_confirmation,
              "with_exception"
          '
          = f.label "order_confirmation_with_exception",
              t('.auto_confirm_except_customizable')
          - if @article.normal?
            br
            br
            = f.check_box :save_as_template
            '
            = f.label :save_as_template,
                t('.save_as_template')
            br
            = f.text_field :template_name,
                placeholder: t('.template_name')
          - else
            = f.hidden_field :kind
        br
        br
        .big_buttons
          .big_green_button
            .circles
              .circle1
              .circle2
              .circle3
              .circle4
              .circle5
            = f.submit t(!@article.template? ? '.save' : '.save_template'),
                data: { disable_with: t('.the_article_is_saving') },
                class: "btn btn-default"
          .big_green_button
            .circles
              .circle1
              .circle2
              .circle3
              .circle4
              .circle5
            = link_to t('.cancel'),
                session[:before_article_form],
                class: 'btn btn-default'
    .display_none
      = render partial: 'pictures/form'
      #hidden_pictures = render partial: 'pictures/picture_edit',
                           collection: @article.pictures,
                           as: :picture

  .display_none
    = form_for current_user.shop do |f|
      = f.fields_for :personal_bank_data do |ff|
        = render partial: 'bank_transfer_data/nested_form',
                  locals: {f: ff}