.horizontal_upper_menu
  - {t('.current_articles') => online_articles_url,
     t('.offline_articles') => offline_articles_url,
     t('.deleted_articles') => deleted_articles_url,
     t('.sold_articles')    => sold_articles_url}.collect do |title, path|
    = link_to path, class: "menu_button"
      .line_above style="#{current_page?(path) ? 'background-color:#8ca48d;' : ''}"
      .title = title
br
br
br
div
  .horizontal_upper_menu.inblock style="width:24.5%;"
    = link_to templates_articles_url, class: 'menu_button', style: 'width:100%'
      .line_above style="#{current_page?(templates_articles_url) ? 'background-color:#8ca48d;' : ''}"
      .title = t('.templates')
  - if current_page?(templates_articles_path)
    '
    .green_button.align_bottom
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = link_to t('.create_a_new_template'), new_article_url(new_template: true)
  .green_button.right style='position:relative;top:9px;'
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = link_to t('.create_a_new_article'), new_article_url
  - if current_page?(deleted_articles_path)
    .inblock_top style="margin-left:5px;position:relative;top:11px;"
      = form_tag deleted_articles_path, method: 'get'
        = select_tag :articles_action,
          options_from_collection_for_select({"delete" => t('.delete_all_articles'),
            "restore" => t('.restore_all_articles')},
            :first, :last),
            { onchange: "this.form.submit()",
              class: "select-in-basket",
              style: "float:none;display:inline-block;",
              prompt: t('.please_choose'),
              data: { confirm: t('.delete_articles_permanently?') }}