- content_for :title, t('.head_title')
.upper_page_links = link_to "> " + t('.home_page'), root_url
h3 = t '.search_results'
- if @articles.empty?
  p = t '.no_articles_found'
- else
  = render @articles