- content_for :title, @article.title
= content_for :meta_tags
  meta property="og:url" content="#{article_url(@article)}"
  meta property="og:type" content="article"
  meta property="og:title" content="#{@article.title}"
  meta property="og:description" content="#{@article.description}"
  - if @article.main_picture.present?
    meta property="og:image" content="#{root_url.chop + @article.main_picture_url}"
.article_show
  .shop_head
    .restricted_width
      = link_to root_url(subdomain: @shop.subdomain), class: 'shop_main_picture_link'
        = image_tag 'avatar_circle.png',
            class: 'avatar_circle'
        = image_tag @shop.main_picture_url,
            class: 'shop_main_picture'
      .main_info
        = link_to @shop.name,
            root_url(subdomain: @shop.subdomain),
            class: "link_to_shop"
        .place #{@shop.address.place}, #{@shop.address.country_name}
        .rating
          - (1..5).each do |i|
            - if i <= @user.average_rating.to_i
              = image_tag 'star_gold.png'
            - elsif @user.float_rating.present? && @user.float_rating > 0 && @user.average_rating.floor + 1 == i
              span style='width:#{2 + (0.18 * @user.float_rating)}px'
                = image_tag 'star_gold.png'
              = image_tag 'star_white.png'
            - else
              = image_tag 'star_white.png'
      .buttons
        = link_to t('.contant_to_seller'),
            new_message_url(recipient: @shop.name,
            article_title: (@article.present? ? @article.title : ''))
        br
        - if current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id).nil?
          = link_to t(".remember_this_shop"),
              {controller: :favorite_shops, action: :create, shop_id: @shop.id},
              method: :post
        - else
          = link_to t('.remove_from_favorite_shops'),
              favorite_shop_url(current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id)),
              method: :delete
      .statistics
        table
          tr
            td = t '.online_products'
            td = @shop.articles.normal.online.count
          tr
            td = t '.sold_products'
            td = @shop.articles.normal.sold.count
          tr
            td = t '.date_of_creation'
            td = l @shop.created_at.to_date
        .bottom
          = link_to t('.imprint'),
              '',
              onclick: "return false"
          = link_to t('.terms'),
              '',
              onclick: "return false"
          = link_to t('.cancellation'),
              '',
              onclick: "return false"
      .show_info_button
        = image_tag 'arrow_to_bottom.png',
            class: 'arrow_to_bottom'
        = image_tag 'arrow_to_top.png',
            class: 'arrow_to_top'
      .clear
  .shop_mini_data
    table
      tr
        td = t '.online_products'
        td = @shop.articles.normal.online.count
      tr
        td = t '.sold_products'
        td = @shop.articles.normal.sold.count
      tr
        td = t '.date_of_creation'
        td = l @shop.created_at.to_date
    br
    .buttons
      = link_to t('.contant_to_seller'),
          new_message_url(shop_name: @shop.name,
          article_title: (@article.present? ? @article.title : ''))
      br
      - if current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id).nil?
        = link_to t(".remember_this_shop"),
            {controller: :favorite_shops, action: :create, shop_id: @shop.id},
            method: :post
      - else
        = link_to t('.remove_from_favorite_shops'),
            favorite_shop_url(current_or_guest_user.favorite_shops.find_by(shop_id: @shop.id)),
            method: :delete
    .bottom
      = link_to t('.imprint'),
          '',
          onclick: "return false"
      = link_to t('.terms'),
          '',
          onclick: "return false"
      = link_to t('.cancellation'),
          '',
          onclick: "return false"
  .main_content
    .restricted_width
      #upper-path
        = image_tag 'arrow_to_left.png'
        = link_to 'Jakira', root_url, class: 'hidden-if-mobile'
        span.hidden-if-mobile  &bull; 
        = link_to @first_category.name,
            @first_category,
            class: 'uppercase-if-mobile'
        span  &bull; 
        - if @second_category.present?
          = link_to @second_category.name,
              @second_category,
              class: 'hidden-if-mobile'
          span.hidden-if-mobile  &bull; 
        - if @third_category.present?
          = link_to @third_category.name,
              @third_category,
              class: 'hidden-if-mobile'
          span.hidden-if-mobile  &bull; 
        span.hide-overflown-text-if-mobile = @article.title
      - if @article.ordered?
        = link_to "This article was changed and now you see the article when you ordered it, to see the current article click on this message",
          article_url(@article.original_article),
          style: 'color:green'
      br
      = link_to t('.back'),
          request.referer.present? ? request.referer : :root,
          class: 'link_to_back'
      .article-title = @article.title
      br
      .pictures_and_info
        .picture_wrapper
          .mobile_pictures_slider
            - if @article.sold?
              .sold-mark
            .pictures.owl-carousel.owl-theme
              - if @article_pictures.present?
                - @article_pictures.each do |picture|
                  = image_tag picture.image.for_mobile.url
              - else
                = image_tag 'placeholder.gif'
          .desktop_pictures
            - if @main_picture.present?
              .main_wrapper
                - if @article.sold?
                  .sold-mark
                = image_tag @main_picture.image.url,
                    class: "main_picture",
                    'data-zoom-image' => (@main_picture.zoomable? ? @main_picture.image_url : 'lorem')
              .usual_pictures
                .triangle_left
                  span
                - @usual_pictures.each do |picture|
                  = image_tag picture.image.url,
                      class: "usual_picture",
                      'data-zoom-image' => (picture.zoomable? ? picture.image_url : 'lorem')
                .triangle_right
                  span
            - else
              .main_wrapper
                - if @article.sold?
                  .sold-mark
                = image_tag 'placeholder.gif',
                    class: "no_image"
        br
        .info
          .price = currency @article.price
          .vat
            ' &bull;
            = t '.vat_first_part'
          .vat
            ' &bull;
            = t '.vat_second_part'
          br
          .shipping
            = image_tag 'shipping_icon.png',
              class: 'shipping_icon'
            = t '.shipping'
            = render partial: 'shipping_methods/hover_table',
                locals: {article: @article}
          .shipping_readiness
            = image_tag 'calendar_icon.png',
              class: 'calendar_icon'
            - if @article.shipping_readiness.in_some_days?
              = t '.in_some_days',
                  from: @article.shipping_readiness.from,
                  to: @article.shipping_readiness.to
            - else
              = t '.immediately'
          .payment_types
            = image_tag 'payment.png',
              class: 'payment_icon'
            = (@article.payment_types.map { |payment_type| t('payment_type.' + payment_type.name) }).join(' | ')
          br
          - if current_or_guest_user.shopping_baskets.find_by(article_id: @article.id).nil? && @article.online? && @article.normal?
            = link_to t('.to_the_cart'),
                (shopping_baskets_url(shopping_basket: {article_id: @article.id})),
                method: :post,
                class: 'to_cart'
          - else
            = link_to t('.to_the_cart'),
                '',
                class: 'to_cart unavailable',
                onclick: "return false"
          br
          - if current_or_guest_user.favorites.find_by(article_id: @article.id).nil?
            = link_to t(".to_the_favorites"),
                favorites_url(favorite: {article_id: @article.id}),
                method: :post,
                class: 'to_favorites'
          - else
            = link_to t(".to_the_favorites"),
                '',
                class: 'to_favorites not-allowed',
                onclick: "return false"
          br
          br
          .share_title = t '.share_this_product'
          .share_buttons
            - if user_signed_in?
              = link_to new_share_url(article_id: @article.id),
                  remote: true,
                  class: 'share_by_email'
                = image_tag 'message.png', class: 'icon_for_mobile'
                = image_tag 'message_small.png', class: 'icon_for_desktop'
            - else
              = link_to share_index_url(article_id: @article.id),
                  class: 'share_by_email'
                = image_tag 'message.png', class: 'icon_for_mobile'
                = image_tag 'message_small.png', class: 'icon_for_desktop'
            = link_to "https://twitter.com/intent/tweet?text=#{@article.title} #{article_url(@article)} #{root_url.chop + @article.main_picture.image_url if @article.main_picture.present?}",
                onclick: 'return false'
              = image_tag 'twitter.png', class: 'icon_for_mobile'
              = image_tag 'twitter_small.png', class: 'icon_for_desktop'
            = link_to "https://www.facebook.com/sharer/sharer.php?u=#{article_url(@article)}",
                onclick: 'return false'
              = image_tag 'facebook.png', class: 'icon_for_mobile'
              = image_tag 'facebook_small.png', class: 'icon_for_desktop'
            = link_to "https://plus.google.com/share?url=#{article_url(@article)}",
                onclick: 'return false'
              = image_tag 'google_plus.png', class: 'icon_for_mobile'
              = image_tag 'google_plus_small.png', class: 'icon_for_desktop'
            = link_to "http://pinterest.com/pin/create/button/?url=#{article_url(@article)}&media=#{root_url.chop + @article.main_picture.image_url if @article.main_picture.present?}&description=#{@article.title + ' ' + @article.description}",
                onclick: 'return false'
              = image_tag 'pinterest.png', class: 'icon_for_mobile'
              = image_tag 'pinterest_small.png', class: 'icon_for_desktop'
            = link_to "http://tumblr.com/share/link?url=#{article_url(@article)}",
                onclick: 'return false'
              = image_tag 'tumblr.png', class: 'icon_for_mobile'
              = image_tag 'tumblr_small.png', class: 'icon_for_desktop'
      br
      br
      .about_article
        .title = t '.about_article'
        br
        table
          tr
            td = t '.artist'
            td = @article.artist
          - if @article.year.present?
            tr
              td = t '.made_in_year_'
              td = @article.year
          tr
            td = t '.materials_'
            td = @article_materials
          tr
            td = t '.color_'
            td = @article_colors
          - if @article.weight.present?
            tr
              td = t '.weight_'
              td = @article.weight + t('.g')
        br
      br
      .description
        .title = t '.description'
        br
        .content = @article.description