- content_for :title, t('.head_title')
= render "left_menu"
.usual_body.articles.templates
  = render "articles/head"
  div
    br
    br
    - if @articles.present?
      - @articles.each do |article|
        .article-horizontal-list-element style="margin-right:auto;display:block;"
          .article-horizontal-list-image
            = link_to edit_article_url(article)
              = image_tag article.main_picture_url,
                  class: "horizontal_article_image_style"
          div style="height:145px;"
            #horizontal_article_description
              = link_to article.title,
                  article_url(article),
                  id: "shopping-cart-article-title"
              .article-list-created-by
                = t '.made_by'
                '
                span.gray = article.artist
              #shopping-cart-article-description
                = t '.description:'
                p = article.description.html_safe
            .right style="text-align:right"
              br
              .right
                - if article.sku.present?
                  = t '.sku:'
                  br
                  = article.sku
          .article_horizontal_bottom
            .inblock.left style="position:relative;top:1px;margin-left:15px;"
              .inblock_top
                = link_to (image_tag 'delete.png',
                    title: t('.delete_article'),
                    style: "height:22px;"),
                    article_url(article),
                    method: :delete,
                    data: { confirm: t('.delete_article_permanently?') }
                = link_to (image_tag 'pencil.jpg',
                    style: "margin: 3px 8px;width: 16px;",
                    title: t('.edit')),
                    edit_article_url(article)
            .inblock_top style="margin-right:5px;position:relative;top:3px;"
              = t '.price:', value: article.price.format(symbol_position: :after)
      .clear
      = paginate @articles
    - else
      br
      p = t '.no_articles_with_criteria'