#left-menu-title = t '.administration'
#left-menu
  - { t('.associations')   => admin_art_associations_url,
      t('.members')        => admin_members_url,
      t('.invoices')       => created_admin_invoices_url,
      t('.system_emails')  => admin_correspondence_index_url,
      t('.mail_log')       => admin_maillog_url,
      t('.newsletters')    => new_admin_newsletter_url,
      t('.business_cards') => admin_business_cards_url,
      t('.vouchers')       => admin_vouchers_url,
      t('.text_content')   => admin_text_content_url }.collect do |title, path|
    = link_to path,
        class: (current_page?(path) || (params[:controller] == "admin/art_associations" && title == t(".associations")) || (params[:controller] == "admin/members" && title == t(".members")) || (params[:controller] == "admin/invoices" && title == t(".invoices")) || (params[:controller] == "admin/vouchers" && title == t(".vouchers")) || params[:controller] == 'main_voucher_data' && title == t('.vouchers') || (title == t('.text_content') && (is_text_content_path?)) ? "opened" : "")
      .element = title
    - if title == t('.text_content') && is_text_content_path?
      - { t('.faq')          => admin_faq_sections_url,
          t('.discover_the') => admin_discover_the_url,
          t('.find_yours')   => admin_find_yours_url }.collect do |title, path|
        = link_to path,
            class: (current_page?(path) || (title == t('.faq') && is_admin_faq_path?) ? "opened" : "")
          .sub.element = title
