- content_for :title, t('.head_title')
= render "admin/left_menu"
.mail_log.usual_body
  table
    caption = t '.mail_log'
    tr 
      th = t '.email'
      th = t '.recipient'
      th = t '.subject'
      th = t '.sent_at'
    - @maillog.each do |mail|
      tr
        td = mail.email
        td 
          - if mail.recipient.present?
            = link_to mail.recipient.nickname,
                purchases_and_sales_admin_member_url(id: mail.recipient.membership_number)
          - else
            = t '.unknown'
        td = mail.subject
        td = mail.sent_at
