- content_for :title, t('.head_title')
h2 Resend unlock instructions
= form_for(resource,
    as: resource_name,
    url: unlock_path(resource_name),
    html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    br
    = f.email_field :email, autofocus: true
  br
  br
  .green_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = f.submit "Resend unlock instructions",
        data: { disable_with: "Resend unlock instructions" }
  br
  br
= render "devise/shared/links"
