.bank_details
  - if @bank_details.bank_name.present?
    = BankTransferData.human_attribute_name(:bank_name)
    ' :
    = @bank_details.bank_name
    br
  = BankTransferData.human_attribute_name(:account_holder)
  ' :
  = @bank_details.account_holder
  br
  = BankTransferData.human_attribute_name(:iban)
  ' :
  = @bank_details.iban
  br
  = BankTransferData.human_attribute_name(:swft_bic)
  ' :
  = @bank_details.swft_bic