- if articles_order.message_text.present?
  br
  br
  .title
    = t '.communication_on_the_order_of:' 
    = articles_order.seller.full_name
    '
    = l articles_order.message_sent_at.to_date
  .open_purchases_message_text = articles_order.message_text
br
br