.order_status
  .icon-wrapper
    = image_tag 'cart_icon.png',
        class: 'cart-icon'
    - if %w(confirmed paid sent).include?(articles_order.status)
      .glyphicon.glyphicon-ok-sign
    - elsif articles_order.awaiting_confirmation?
      .glyphicon.glyphicon-time
  .dashed_line
  .icon-wrapper
    = image_tag 'payment.png',
        class: 'payment-icon'
    - if %w(paid sent).include?(articles_order.status)
      .glyphicon.glyphicon-ok-sign
  .dashed_line
  .icon-wrapper
    = image_tag 'shipping_icon.png',
        class: 'shipping-icon'
    - if articles_order.sent?
      .glyphicon.glyphicon-ok-sign
  .dashed_line
  .icon-wrapper
    .glyphicon.glyphicon-ok-circle.ok-icon