= form_for articles_order,
    url: set_payment_type_articles_order_url(articles_order),
    html: {id: 'set_payment_type_articles_order_' + articles_order.id.to_s},
    remote: true do |f|
  - articles_order.available_payment_types.each do |payment_type|
    = f.label (articles_order.id.to_s + '_payment_type_id_' + payment_type.id.to_s),
        class: 'new_radiobutton_wrapper' + ((payment_type.name == 'last_name' && articles_order.pickup?) ? ' disabled' : '')
      = f.radio_button :payment_type_id,
          payment_type.id,
          id: ('articles_order_' + articles_order.id.to_s + '_payment_type_id_' + payment_type.id.to_s),
          onchange: '$(this).closest("form").submit()',
          disabled: (payment_type.name == 'last_name' && articles_order.pickup?)
      .circle_borders
        .circle
      '
      = t('payment_type.' + payment_type.name)
    br