= form_for articles_order,
    url: set_pickup_as_shipping_method_articles_order_url(articles_order),
    remote: true do |f|
  = label_tag 'pickup_articles_order_' + articles_order.id.to_s,
      class: 'new_checkbox_wrapper' + (articles_order.last_name? ? ' disabled' : '')
    = f.check_box :set_pickup,
        class: 'set_pickup_check_box',
        id: 'pickup_articles_order_' + articles_order.id.to_s,
        checked: articles_order.pickup?,
        disabled: articles_order.last_name?,
        onchange: '$(this).closest("form").submit()'
    .tick-wrapper
      .glyphicon.glyphicon-ok
    '
    = t('.i_want_to_pick_the_item_up')