= form_for articles_order,
    url: use_shipping_address_articles_order_url(articles_order),
    remote: true do |f|
  = label_tag 'use_shipping_address_articles_order_' + articles_order.id.to_s,
      class: 'new_checkbox_wrapper',
      style: (articles_order.pickup? ? 'display:none' : '')
    = f.check_box :use_shipping_address_for_payment_address,
        id: 'use_shipping_address_articles_order_' + articles_order.id.to_s,
        onchange: '$(this).closest("form").submit()'
    .tick-wrapper
      .glyphicon.glyphicon-ok
    '
    = t('.payment_address_the_same_as_delivery_address')