$('#set_payment_type_articles_order_<%= @articles_order.id %>').closest('.select-payment-type-form-wraper').html("<%= j render partial: 'articles_orders/select_payment_type_form', locals: { articles_order: @articles_order } %>")
formsWrapper = $('#pickup_articles_order_<%= @articles_order.id %>').closest('td').find('.purchase-address-wrapper')
if ($('#pickup_articles_order_<%= @articles_order.id %>').prop('checked')) {
  formsWrapper.slideUp()
} else {
  formsWrapper.slideDown()
}

$('#use_shipping_address_articles_order_<%= @articles_order.id %>').closest('.use-shipping-address-form-wrapper').html("<%= j render partial: 'articles_orders/use_shipping_address_form', locals: { articles_order: @articles_order } %>")
if (!$('#use_shipping_address_articles_order_<%= @articles_order.id %>').prop('checked')) {
  $('#use_shipping_address_articles_order_<%= @articles_order.id %>').closest('td').find('.purchase-address-wrapper').slideDown()
}

<%= render file: 'purchases/check_order_button' %>