$('#pickup_articles_order_<%= @articles_order.id %>').closest('.set-pickup-as-shipping-method-form-wrapper').html("<%= j render partial: 'articles_orders/set_pickup_form', locals: { articles_order: @articles_order } %>")
$('#purchase-address-and-payment-method .set_pickup_check_box').click(function() {
  formsWrapper = $(this).closest('td').find('.purchase-address-wrapper')
  if ($(this).prop('checked')) {
    formsWrapper.slideUp()
  } else {
    formsWrapper.slideDown()
  }
})
<%= render file: 'articles_orders/set_pickup_as_shipping_method' %>