thisCheckbox = $('#use_shipping_address_articles_order_<%= @articles_order.id %>')
<% if @articles_order.errors.present? %>
  <%= render file: 'application/flash_alert.js.erb' %>
  thisCheckbox.prop('checked', false)
<% else %>
  $("#notice-area").empty()
  formsWrapper = thisCheckbox.closest('td').find('.purchase-address-wrapper')
  if (thisCheckbox.prop('checked')) {
    formsWrapper.slideUp()
  } else {
    formsWrapper.slideDown()
  }
  <%= render file: 'purchases/check_order_button' %>
<% end %>