- content_for :title, t('.head_title')
.favorite_shops
  = render file: 'favorites/_title_and_left_menu'
  .main_block
    - @favorite_shops.map(&:shop).each do |shop|
      .favorite_shop
        table
          tr
            td.cell-1 = image_tag shop.main_picture_url, size: "32x32"
            td.cell-2 colspan="4"
              = link_to shop.name,
                  shop_url(shop),
                  class: 'name'
              .address
                = shop.address.place
                | , 
                = shop.address.country_name
          tr
            td.cell-3 colspan="4"
              .line
            td.cell-4
              = link_to image_tag("message.png",
                                  size: "20x16"),
                  new_message_url(recipient: shop.name),
                  class: 'message'
              = link_to image_tag("remove_from_cart.png", size: "20x20"),
                  favorite_shop_url(current_or_guest_user.favorite_shops.find_by(shop_id: shop.id)),
                  method: :delete,
                  class: 'delete'