- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin.usual_body.business_cards
  h2 = t '.business_cards'
  div Orders:
  - if @business_cards_orders.present?
    table.orders
      thead
        tr
          td ID
          td Date
          td Full Name
          td Email
          td Business Card No.
      tbody
        - @business_cards_orders.each do |business_cards_order|
          tr
            td = business_cards_order.id
            td = l business_cards_order.created_at.to_date
            td = business_cards_order.user.full_name
            td = business_cards_order.user.email
            td = business_cards_order.value
  br
  = render partial: 'business_cards/data_table'
  br
  br
  br
  br
  br
  br
  br
  br