- content_for :title, t('.head_title')
h2 = t '.change_your_password'
= form_for(resource,
    as: resource_name,
    url: password_path(resource_name),
    html: { method: :put,
            id: "password_recover"}) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field
  	= f.label :password, t('.new_password')
    br
  	= f.password_field :password, autofocus: true
  .field
  	= f.label :password_confirmation, t('.confirm_new_password')
    br
  	= f.password_field :password_confirmation
  br
  .green_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
  	= f.submit t('.change_my_password'),
        data: { disable_with: t('.change_my_password') }
br
= render "devise/shared/links"
