- content_for :title, t('.head_title')
h2 = t '.forgot_your_password'
= form_for(resource,
    as: resource_name,
    url: password_path(resource_name),
    html: { method: :post,
      id: "password_recover"}) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    br
    = f.email_field :email, autofocus: true
  .green_button
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = f.submit t(".send_me_reset_password_instructions"), data: { disable_with: t('.send_me_reset_password_instructions') }
br
= render "devise/shared/links"