.horizontal_upper_menu
  - {t('.created_invoices') => created_admin_invoices_url,
     t('.open_invoices') => open_admin_invoices_url,
     t('.paid_invoices') => paid_admin_invoices_url,
     t('.cancellations') => cancellations_admin_invoices_url,
     t('.credits') => credits_admin_invoices_url}.collect do |title, path|
    = link_to path, class: "menu_button"
      .line_above style="#{current_page?(path) ? 'background-color:#90887B;' : ''}"
      .title = title
br
br