- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin_invoices.usual_body
  = render "admin/invoices/head"
  = link_to t(".generate_monthly_invoice"),
      :send_monthly_invoice_admin_invoices,
      class: "btn btn-default",
      style: "padding-left:12px"
  br
  br
  = link_to t(".generate_commission_invoice"),
      :send_commission_invoice_admin_invoices,
      class: "btn btn-default",
      style: "padding-left:12px"
  br
  br
  .invoices
    - if @invoices.present?
      .search_field
        = form_tag request.env['PATH_INFO'], method: 'get'
          = text_field_tag :search_invoice,
              params[:search_invoice],
              placeholder: t(".invoice_no...")
          .glyphicon.glyphicon-search
      = form_tag check_boxes_action_admin_invoices_path,
          method: 'get'
      	= select_tag :invoices_action,
	      options_for_select(@actions.collect{ |n| [t(".invoices_action." + n), n]}),
	      	{prompt: t('.select_action'),
	      	 onchange: "this.form.submit()" }
        table
          thead
            tr
              td
              td = t '.invoice_no'
              td = t '.member_no'
              td = t '.first_name'
              td = t '.last_name'
              td = t '.date_of_invoice'
              td = t '.status'
              td = t '.sum_of_invoice'
              td = t '.download'
          - @invoices.each do |invoice|
            - case invoice.status
            - when "open"
              - color = 'orange'
            - when "paid"
              - color = 'green'
            - when "canceled"
              - color = 'red'
            tr
              td = check_box_tag 'invoice_ids[]', invoice.id
              td = invoice.number
              - if invoice.user.present? 
                td = link_to invoice.user.membership_number,
                      purchases_and_sales_admin_member_url(id: invoice.user.membership_number)
                td = link_to invoice.user.address.first_name,
                      purchases_and_sales_admin_member_url(id: invoice.user.membership_number)
                td = link_to invoice.user.address.last_name,
                      purchases_and_sales_admin_member_url(id: invoice.user.membership_number)
                td = invoice.created_at.strftime('%d.%m.%Y')
              - else
                td
                td
                td
                td
              td style="color:#{color}"
                = t(".invoice_status." + invoice.status)
              td = invoice.price.format(symbol_position: :after)
              td = link_to image_tag('pdf_icon.gif'),
                    pdf_version_invoice_path(invoice, format: "pdf"),
                    class: "pdf_link"
    - else
      p = t '.there_are_no_invoices'