.price-partial
  .price = currency price
  .vat
    ' &bull; 
    = t '.includes_vat'
  .shipping
    ' &bull;
    - unless shipping_price.present?
      '
      = t '.incl'
      '
    - if article.present?
      span
        - if shipping_price.present?
          = t '.shipping_'
        - else
          = t '.shipping'

        = render partial: 'shipping_methods/hover_table',
            locals: { article: article }
      - if shipping_price.present?
        '
        = currency shipping_price
    - elsif shipping_price.present?
      = t '.shipping_'
      '
      = currency shipping_price
    - else
      = t '.shipping'