.purchase-address-wrapper style='#{"display:none" if must_not_be_displayed}'
  .address-block style='#{"display:none" if !address.all_filled?}'
    = render partial: 'addresses/addresses_block_address',
        locals: {address: address}
  .purchase-address style="#{'display:none' if address.all_filled?}"
    = render partial: 'addresses/purchase_address_form',
        locals: {address: address}
  .orange_button.change-address style='#{"display:none" if !address.all_filled?}'
    - if address.payment_address?
      = t '.payment_address_entry'
    - else
      = t '.delivery_address_entry'