table#purchase-steps
  - links = {t('.cart') => shopping_baskets_url,
             t('.address_and_payment') => (@purchase.present? ? addresses_and_payment_types_purchase_url(@purchase) : '#'),
             t('.check_order') => (@purchase.present? ? check_order_purchase_url(@purchase) : '#'),
             t('.completed_order') => @purchase.present? ? purchase_url(@purchase) : '#'}
  - current_path_index = links.values.find_index(request.original_url)
  tr
    - links.each_with_index do |(title,path),index|
      td.link_wrapper 
        a class='#{if_purchase_step_path_is_available(current_path_index, index)}'
          = index + 1
      - if index != 3
        td.dashed_line_wrapper colspan='2'
          .dashed_line
      - else
        td
  tr
    - links.each_with_index do |(title,path),index|
      td.title colspan='#{index == 0 ? '2' : '3'} '
        a = title