.purchase-total
  .header
    span = t '.purchase'
    '
    span = t '.items', count: count
  .body
    .title = t '.total_price'
    = render partial: 'purchases/price',
        locals: { price: price,
                  article: nil,
                  shipping_price: shipping_costs }
  .bottom
    - if current_page?(shopping_baskets_url)
      = link_to t('.go_to_payment_methods'),
          new_purchase_url,
          class: 'orange_button',
          data: { disable_with: t('.go_to_payment_methods') }
    - elsif current_page?(addresses_and_payment_types_purchase_url(@purchase))
      = render partial: 'purchases/check_order_button'
    - elsif current_page?(check_order_purchase_url(@purchase))
      .voucher_title = t '.coupon_code'
      .description = t '.you_can_redeem_your_voucher_code_in_the_next_step'
      = link_to t('.agreement_to_pay_for_the_order'),
          complete_purchase_url(@purchase),
          class: 'orange_button agreement',
          data: { disable_with: t('.agreement_to_pay_for_the_order') }
      .description = t '.the_purchase_is_subject_to_the_terms_'