- content_for :title, t('.head_title')
#upper-path
  = image_tag 'arrow_to_left.png'
  = link_to 'Jakira', root_url, class: 'hidden-if-mobile'
  span.hidden-if-mobile  &bull; 
  = link_to t('.card'), shopping_baskets_url
  span  &bull; 
  span = t '.title'
#purchase-address-and-payment-method
  .title = t '.title'
  table
    tr
      td = render 'purchases/steps'
      td
    tr
      td
        - @articles_orders.each do |articles_order|
          .purchase-item
            = link_to articles_order.ordered_article.title,
                article_url(articles_order.ordered_article),
                class: 'header'
            .body
              .upper-part
                .picture-and-info
                  = link_to image_tag(purchase_thumb_image(articles_order.ordered_article)),
                      article_url(articles_order.ordered_article),
                      class: 'main_picture'
                  .info
                    = render partial: 'purchases/price',
                        locals: { price: articles_order.article.price,
                                  article: articles_order.article,
                                  shipping_price: nil }
                    .buttons
                      = link_to favorites_url(favorite: { article_id: articles_order.original_article.id }),
                          method: :post
                        = image_tag 'to_favorites.png',
                            title: t('.add_to_favorites')
                      = link_to articles_order_url(articles_order),
                          method: :delete,
                          data: { confirm: t('are_you_sure?') }
                        = image_tag 'remove_from_cart.png',
                            title: t('.remove_from_cart')
                .choose-payment-methods
                  .title = t '.please_choose_a_payment_method'
                  .select-payment-type-form-wraper
                    = render partial: 'articles_orders/select_payment_type_form',
                        locals: { articles_order: articles_order }
              table.addresses.main
                td
                  table
                    thead
                      tr
                        td.delivery-address-title = t '.delivery_address'
                    tr
                      td.delivery-address
                        - unless articles_order.only_pickup?
                          = render partial: 'purchase_address',
                              locals: { object: articles_order,
                                        address: articles_order.shipping_address,
                                        must_not_be_displayed: articles_order.pickup? }
                        - else
                          div = t '.only_pickup_possible'
                          br
                        - if articles_order.pickup_available?
                          .set-pickup-as-shipping-method-form-wrapper
                            = render partial: 'articles_orders/set_pickup_form',
                                locals: { articles_order: articles_order}
                td
                  table
                    thead
                      tr
                        td.payment-address-title = t '.payment_address'
                    tr
                      td.payment-address
                        = render partial: 'purchase_address',
                          locals: { object: articles_order,
                                    address: articles_order.payment_address,
                                    must_not_be_displayed: articles_order.use_shipping_address_for_payment_address? && !articles_order.pickup? }
                        - unless articles_order.only_pickup?
                          .use-shipping-address-form-wrapper
                            = render partial: 'articles_orders/use_shipping_address_form',
                                locals: { articles_order: articles_order }
      td.purchase-total-cell
        = render partial: 'purchases/total',
            locals: { count: @articles_orders.count,
                      price: @purchase.fixed_costs,
                      shipping_costs: nil }