- content_for :title, t('.head_title')
#upper-path
  = image_tag 'arrow_to_left.png'
  = link_to 'Jakira',
      root_url,
      class: 'hidden-if-mobile'
  span.hidden-if-mobile  &bull; 
  = link_to t('.card'),
      shopping_baskets_url,
      class: 'hidden-if-mobile'
  span.hidden-if-mobile  &bull; 
  = link_to t('.address_and_payment_method'),
      addresses_and_payment_types_purchase_url(@purchase),
      class: 'hidden-if-mobile'
  = link_to t('.payment_method'),
      addresses_and_payment_types_purchase_url(@purchase),
      class: 'hidden-if-desktop'
  span  &bull; 
  span = t '.check_order'

#purchase-check-order
  .title = t '.title'
  table
    tr
      td
        = render 'purchases/steps'
        .check_order_notice = t '.please_check_your_order'
      td
    tr
      td
        - @articles_orders.each do |articles_order|
          .purchase-item
            = link_to articles_order.ordered_article.title,
                article_url(articles_order.ordered_article),
                class: 'header'
            .body
              .upper-part
                .picture-and-info
                  = link_to image_tag(purchase_thumb_image(articles_order.ordered_article)),
                      article_url(articles_order.ordered_article),
                      class: 'main_picture'
                  .info
                    = render partial: 'purchases/price',
                        locals: { price: articles_order.total_price,
                                  article: articles_order.article,
                                  shipping_price: articles_order.shipping_method_price }
                .description
                  .title = t '.description'
                  .text
                    = articles_order.article.description
                    '
                    = t '.color_'
                    '
                    = articles_order.article.colors_names + '.'
                    '
                    = t '.materials_'
                    '
                    = articles_order.article.materials_names + '.'
              table.main
                td
                  table
                    thead
                      tr
                        td = t '.seller'
                        td = t '.shipping_costs'
                    tr
                      td = articles_order.article.shop.address.full_name
                      td = currency articles_order.shipping_method_price
                td
                  table
                    thead
                      tr
                        td = t '.payment_type'
                        td = t '.price'
                    tr
                      td = t 'payment_type.' + articles_order.payment_type.name
                      td = currency articles_order.total_price
              table.addresses.main
                td
                  table
                    thead
                      tr
                        td.delivery-address-title = t '.delivery_address'
                        td.payment-address-title = t '.payment_address'
                        td
                        td
                    tr
                      td.delivery-address
                        - unless articles_order.pickup?
                          .address-block
                            = render partial: 'addresses/addresses_block_address',
                                locals: { address: articles_order.shipping_address }
                        - else
                          .pickup
                            .glyphicon.glyphicon-ok
                            '
                            = t '.i_want_to_pick_the_item_up'
                      td.payment-address
                        .address-block
                          = render partial: 'addresses/addresses_block_address',
                              locals: { address: articles_order.actual_payment_address }
                td
                  table
                    thead
                      tr.empty-table-row
                        td.empty-table-cell
              .bottom-part = raw t '.under_item_about_terms_and_withdrawal'
      td.purchase-total-cell
        = render partial: 'purchases/total',
            locals: { count: @articles_orders.count,
                      price: @purchase.total_costs,
                      shipping_costs: @purchase.shipping_costs }