- titles = {open_orders_path => '.head_title_open', completed_orders_path => '.head_title_completed', canceled_orders_path => '.head_title_canceled', open_purchases_path => '.head_title_open_purchases', completed_purchases_path => '.head_title_completed_purchases'}
- titles.each do |k, v|
  - if current_page?(k)
    - content_for :title, t(v)
#upper-path
  = image_tag 'arrow_to_left.png'
  = link_to 'Jakira', root_url, class: 'hidden-if-mobile'
  span.hidden-if-mobile  &bull; 
  = link_to t('.my_account'), edit_user_registration_url
  span  &bull; 
  span
    - if open_or_completed_purchases_pages?
      = t '.purchases'
    - else
      = t '.sales'
= render "left_menu"
.purchases
  - if current_page?(open_orders_url)
    .confirmations_for_statuses
      - articles_order_statuses.each do |status|
        div id="#{status}" = t(".state_confirmation_question." + status)
  h1
    - if open_or_completed_purchases_pages?
      = t '.purchases'
      - if unread_messages_in_purchases?
        .eight-pointed-star
    - else
      = t '.sales'
      - if unread_messages_in_sales?
        .eight-pointed-star
  .purchases-menu
    - if open_or_completed_purchases_pages?
      = link_to open_purchases_url,
          class: ('current_page' if current_page?(open_purchases_url))
        = t('.open_purchases')
        '
        |  (
        span class='#{"unconfirmed_present" if current_user.articles_orders.not_finished_by_buyer.awaiting_confirmation.present?}'
          = current_user.articles_orders.not_finished_by_buyer.count
        | )
      = link_to completed_purchases_url,
          class: ('current_page' if current_page?(completed_purchases_url))
        = t '.completed_purchases'
        |  (#{current_user.articles_orders.finished_by_buyer.count})
    - else
      = link_to open_orders_url,
          class: ('current_page' if current_page?(open_orders_url))
        = t('.open_sales')
        '
        |  (
        span class='#{"unconfirmed_present" if current_user.articles_orders.not_finished_by_buyer.awaiting_confirmation.present?}'
          = current_user.sales.not_finished_by_buyer.count
        | )
      = link_to completed_orders_url,
          class: ('current_page' if current_page?(completed_orders_url))
        = t '.completed_sales'
        |  (#{current_user.sales.finished_by_buyer.count})
      = link_to canceled_orders_url,
          class: ('current_page' if current_page?(canceled_orders_url))
        = t '.canceled_sales'
        |  (#{current_user.sales.canceled.count})
  h2
    - if current_page?(open_purchases_url)
      = t '.open_purchases'
    - elsif current_page?(completed_purchases_url)
      = t '.completed_purchases'
    - elsif current_page?(open_orders_url)
      = t '.open_sales'
    - elsif current_page?(completed_orders_url)
      = t '.completed_sales'
    - elsif current_page?(canceled_orders_url)
      = t '.canceled_sales'
  - if @articles_orders.present?
    - @articles_orders.each do |articles_order|
      .purchase-item id='order_#{articles_order.id}'
        a name='order_#{articles_order.id}'
        = link_to articles_order.ordered_article.title,
            article_url(articles_order.ordered_article),
            class: 'header'
        .body
          .upper-part
            .picture-and-info
              = link_to image_tag(purchase_thumb_image(articles_order.ordered_article)),
                  article_url(articles_order.ordered_article),
                  class: 'main_picture'
              .info
                = render partial: 'articles_orders/order_status',
                    locals: { articles_order: articles_order}
                = render partial: 'purchases/price',
                    locals: { price: articles_order.article.price,
                              article: articles_order.article,
                              shipping_price: articles_order.shipping_price }
                - if current_page?(open_orders_url) && articles_order.two_weeks_after_confirmation?
                  = link_to send_payment_reminder_articles_order_path(articles_order),
                      remote: true,
                      data: { confirm: t('.send_payment_reminder?') },
                      class: 'send_payment_reminder'
                    .info-sign
            - if current_page?(open_orders_url)
              .order-status-and-payment-notice
                = render partial: 'articles_orders/order_status',
                    locals: { articles_order: articles_order}
                .update-status-form-wrapper
                  = form_for articles_order,
                      url: update_status_articles_order_path(articles_order) do |f|
                    = f.label :status, t('.order_status_')
                    .update-status-select-wrapper
                      = f.select :status,
                          articles_order_statuses.collect { |s| [t(s), s] },
                          disabled: articles_order.disabled_statuses,
                          prompt: t('.select_status'),
                          selected: false
                      .arrow_to_bottom
                        .back_triangle
                        .front_triangle
                    .pseudo-select-wrapper
                      .pseudo-select = t('.select_status')
                      .arrow_to_bottom
                        .back_triangle
                        .front_triangle
                - if articles_order.two_weeks_after_confirmation?
                  = link_to send_payment_reminder_articles_order_path(articles_order),
                      remote: true,
                      data: { confirm: t('.send_payment_reminder?') },
                      class: 'send_payment_reminder'
                    .info-sign
                    span = t '.send_payment_reminder'
          - if current_page?(open_purchases_url) || current_page?(open_orders_url)
            - closure = current_page?(open_orders_path) ? t('.sale_closure') : t('.purchase_closure')
            = link_to closure,
                closure_confirmation_articles_order_path(articles_order),
                remote: true,
                data: { disable_with: closure },
                class: ("close_order orange_button" + (articles_order.can_be_finished_by?(current_user) ? '' : ' disabled'))
          - if current_page?(open_orders_path)
            = link_to t('.cancel_sale'),
                cancel_articles_order_path(articles_order),
                data: { confirm: t('.sale_will_be_canceled') },
                class: 'cancel_order'
          table.about_order
            thead
              th colspan='3' = t '.information_about_the_order'
            tr
              td
                b = t '.order_'
                div = t '.order_number_', number: articles_order.id
                div = t '.date_', date: l(articles_order.ordered_at.to_date)
                - if %w(confirmed paid sent).include?(articles_order.status)
                  div = t '.confirmed_on_',
                          date: l(articles_order.confirmed_at.to_date)
                - if articles_order.canceled?
                  = t '.canceled_on_',
                      date: l(articles_order.canceled_at.to_date)
              td
                b = t '.shipping_'
                div = t 'shipping_method.' + articles_order.shipping_method.name
                div
                  - if articles_order.pickup?
                    = t '.by_appointment'
                  - else
                    = t '.delivery_time_',
                        range: articles_order.duration_range
              td
                b = t '.payment_'
                div = t 'payment_type.' + articles_order.payment_type.name
                - if open_or_completed_purchases_pages?
                  a = t '.show_invoice'
                - else
                  a = t '.invoice'
                  a = t '.send_invoice'
        .more_options
          table.addresses
            td
              b = t '.delivery_address_'
              - unless articles_order.pickup?
                = render partial: 'addresses/addresses_block_address',
                    locals: {address: articles_order.actual_shipping_address}
              - else
                div ‒
            td
              b = t '.invoice_address_'
              = render partial: 'addresses/addresses_block_address',
                  locals: {address: articles_order.actual_payment_address}
            td
          .user-address-wrapper
            table.user-address
              td
                - if articles_order.buyer == current_user
                  b = t '.seller'
                  = render partial: 'addresses/addresses_block_address',
                      locals: {address: articles_order.seller.shop.address}
                - else
                  b = t '.buyer'
                  = render partial: 'addresses/addresses_block_address',
                      locals: {address: articles_order.buyer.address}
              td.review id='review_#{(articles_order.buyer == current_user ? articles_order.rating_from_buyer.id : articles_order.rating_from_seller.id)}' colspan='2'
                = render partial: 'ratings/form',
                    locals: { rating: (articles_order.buyer == current_user ? articles_order.rating_from_buyer : articles_order.rating_from_seller) }
          .order_messages
            = render partial: 'order_messages/messages',
                locals: {articles_order: articles_order}
          .clear
        .show_more_options
          - if articles_order.unread_messages?(current_user)
            .glyphicon.glyphicon-bell
          span = t '.show_more_options'
          .arrow_to_bottom
            .back_triangle
            .front_triangle
        .hide_more_options
          span = t '.hide_more_options'
          .arrow_to_top
            .back_triangle
            .front_triangle
  - elsif current_page?(open_purchases_url)
    | You have no open purchases.
  - elsif current_page?(completed_purchases_url)
    | You have no completed purchases.
  - elsif current_page?(open_orders_url)
    | You have no open sales.
  - elsif current_page?(completed_orders_url)
    | You have no completed sales.
  - elsif current_page?(canceled_orders_url)
    | You have no canceled sales.