- content_for :title, t('.head_title')
table#upper-path
  td = image_tag 'arrow_to_left.png'
  td
    = link_to 'Jakira',
        root_url,
        class: 'hidden-if-mobile'
    span.hidden-if-mobile  &bull; 
    = link_to t('.card'),
        shopping_baskets_url,
        class: 'hidden-if-mobile'
    span.hidden-if-mobile  &bull; 
    = link_to t('.address_and_payment_method'),
        addresses_and_payment_types_purchase_url(@purchase),
        class: 'hidden-if-mobile'
    span.hidden-if-mobile  &bull; 
    = link_to t('.check_order'),
        check_order_purchase_url(@purchase)
    span  &bull; 
    span.nowrap = t '.complete_order'

#purchase-complete-order
  .title = t '.title'
  table
    tr
      td
        = render 'purchases/steps'
        table.purchase-description
          td.glyphicon.glyphicon-ok
          td.text
            .thanks_for_order = t '.thanks_your_order_has_been_received'
            div = t '.under_my_account_you_can_'
      td
    - @articles_orders.each do |articles_order|
      tr
        td
          .purchase-item
            = link_to articles_order.ordered_article.title,
                article_url(articles_order.ordered_article),
                class: 'header'
            .body
              .upper-part
                .picture-and-info
                  = link_to image_tag(purchase_thumb_image(articles_order.ordered_article)),
                      article_url(articles_order.ordered_article),
                      class: 'main_picture'
                  .info
                    = render partial: 'purchases/price',
                        locals: { price: articles_order.total_price,
                                  article: articles_order.article,
                                  shipping_price: articles_order.shipping_method_price }
                    - if articles_order.confirmed?
                      .number = t '.order_number', number: articles_order.id
                .order_statuses
                  .title = t '.order_status'
                  .confirmation-status
                    = image_tag 'cart_icon.png',
                        class: 'cart-icon'
                    - if articles_order.confirmed?
                      .glyphicon.glyphicon-ok-sign
                      = t '.confirmed'
                    - else
                      .glyphicon.glyphicon-exclamation-sign
                      = t '.not_confirmed'
                  .payment-status
                    = image_tag 'payment.png'
                    - if articles_order.paid?
                      .glyphicon.glyphicon-ok-sign
                      = t '.paid'
                    - else
                      .glyphicon.glyphicon-exclamation-sign
                      = t '.not_paid'
                  .check-status
                    = t '.check_status'
                    = link_to t('.my_account_purchases'),
                        open_purchases_url
        td.purchase-payment-cell
          .purchase-payment
            .body
              .title = t '.total_price'
              = render partial: 'purchases/price',
                  locals: { price: articles_order.total_price,
                            article: articles_order.article,
                            shipping_price: articles_order.shipping_method_price }
            - if articles_order.voucher.nil? && !articles_order.paid?
              .use-voucher-form-wrapper
                = form_for articles_order,
                    url: use_voucher_articles_order_path(articles_order) do |f|
                  = f.label :voucher_code,
                      t('.coupon_code')
                  = f.text_field :voucher_code,
                      placeholder: t('.enter_coupon_code')
                  = f.submit t('.use_coupon_code'),
                      data: { disable_with: 'The voucher code is sending...' },
                      disabled: !articles_order.confirmed?,
                      class: ('unavailable' if !articles_order.confirmed?)
            .bottom
              - if articles_order.confirmed? && !articles_order.total_price.zero?
                - case articles_order.payment_type.name
                - when 'paypal'
                  = link_to t('.pay_by_paypal'),
                      paypal_payment_articles_order_url(articles_order),
                      class: 'orange_button agreement'
                - when 'wire'
                  = link_to t('.pay_by_bank_transfer'),
                      bank_details_articles_order_url(articles_order),
                      remote: true,
                      class: 'orange_button agreement'
              - else
                a.orange_button.agreement.nonclickable
                  = t('.pending_confirmation')