table#shipping-methods
  thead
    td colspan='4' = t '.shipping'
    td colspan='4' = t '.delivery_times'
  - f.object.shipping_methods.each do |shipping_method|
    = f.fields_for :shipping_methods, shipping_method do |ff|
      = ff.hidden_field :name, value: shipping_method.name
      tr id="#{ff.object.name}"
        td.label_cell = ff.check_box :checked
        - if !["pickup", "free_within_germany"].include?(shipping_method.name)
          td = ff.label :checked, t(ff.object.name)
          td.input_field = ff.text_field :price
          td.price_cell = ff.label :price, "Euro"
        - else
          td.first colspan='3' = ff.label :checked, t(ff.object.name)
        - if shipping_method.name == "pickup"
          td colspan='4' = t '.by_appointment'
        - else
          td.input_field = ff.text_field :duration_from
          td = t '.to'
          td.input_field = ff.text_field :duration_to
          td = t '.working_days'