.shipping_methods_hover
  .arrow_up_borders
  .arrow_up
  .table_wrapper
    .header = t '.terms_of_delivery'
    table
      thead
        tr
          th = t '.shipping_method'
          th = t '.shipping_costs'
          th = t '.delivery_times'
      - article.shipping_methods.where(checked: true).each do |shipping_method|
        tr
          td data-title = t('.shipping_method')
            = t shipping_method.name
          td data-title = t('.shipping_costs')
            - if shipping_method.name != "pickup" && shipping_method.name != "free_within_germany"
              = t shipping_method.price
              |  &euro;
          td data-title = t('.delivery_times')
            - if shipping_method.name == "pickup"
              = t '.by_appointment'
            - else
              = shipping_method.duration_from
              '
              = t '.to'
              ' 
              = shipping_method.duration_to
              '
              = t '.working_days'