<div id="<%= f.object.name %>">
  <div class="shop_form_shipping_method_name_and_check">
    <div class="field">
      <%= f.check_box :checked %>
      <%= f.label :checked, t(f.object.name) %>
    </div>
    <div class="field">
      <%= f.hidden_field :name, value: shipping_method.name %>
    </div>
  </div>
  <% if shipping_method.name != "pickup" && shipping_method.name != "free_within_germany"%> 
    <div class="field">
      <%= f.text_field :price %>
      <%= f.label :price, "Euro" %>
    </div>
  <% end %>
</div>