<%= div_for shipping_method do %>
  <%= shipping_method.name %>
  <%= humanized_money_with_symbol shipping_method.price %>
  <%= shipping_method.duration %>
  <%= link_to t('Delete'), shipping_method, method: :delete, remote: true %>
<% end %>