.review-form-wrapper
  = form_for rating,
      remote: true do |f|
    b = t '.write_a_review_'
    '
    .stars class='#{"disabled" if rating.disabled?}'
      - 5.times
        .star
          = image_tag 'star_gold.png',
              class: 'gold_star'
          = image_tag 'star_white.png',
              class: 'white_star'
    = f.hidden_field :score
    = f.text_area :text,
        onchange: "$(this).closest('form').submit()",
        disabled: rating.disabled?
    .characters_left
      b.characters 300
      '
      = t '.characters_left'
    = f.submit t('.rate_it'),
        name: 'rating[submit]',
        disabled: rating.disabled?,
        data: { disable_with: t('.rate_it') }
    .clear