- content_for :title, t('.head_title')
= render "left_menu"
.usual_body.user_panel_ratings
  .inblock_top
    .rating_field
      .stars.absolute
        - (1..5).each do |i|
          .gray_star id="star_#{i}" &#9733;
        '
      - if @user.rating_count != 0
        .stars.absolute
          - (1..5).each do |i|
            - if i <= @user.average_rating.to_i
              .gold_star &#9733;
            - if i == @user.average_rating.to_i + 1 && @user.average_rating.modulo(1) != 0
              .gold_star style="width:#{ (18 / (1 / @user.average_rating.modulo(1)) + 2).to_s}px" &#9733;
          '
      .rating_count
        = link_to ratings_path
          | (#{@user.rating_count})
      hr
      - [5,4,3,2,1].each do |rating|
        .rating_field
          .stars
            - (1..5).each do |i|
              - if i <= rating
                .gold_star &#9733;
              - else
                .gray_star &#9733;
            '
          .rating_count.without_margin
            = link_to ratings_path(rating: rating, 
                                   displays: params[:displays])
              | (#{@user.rating_count(rating)})
  - if @user.shop.present?
    .displays.inblock_top
      = form_tag ratings_path, method: :get do |f|
        = hidden_field_tag :rating, params[:rating]
        div = label_tag :displays, t('.displays:')
        div
          = select_tag :displays,
              options_for_select(['all', 'buyer', 'seller'].collect{ |n| [t('.' + n), n]}, params[:displays]),
              {onchange: "this.form.submit()" }
  br
  br
  - if @reviews.present?
    .ratings
      table
        thead
          tr
            td.rating_and_comment
            td.seller_or_buyer
            td.reviewed_by = t '.reviewed_by'
            td.article_title = t '.articles'
            td.date = t '.reviewed_at'
        tbody
          - @reviews.each do |review|
            - if review.from == "buyer"
              tr.first_row
                td
                  .rating_field
                    .stars
                      - (1..5).each do |i|
                        - if i <= review.score
                          .gold_star &#9733;
                        - else
                          .gray_star &#9733;
                      '
                td.black
                  | (#{t'.buyer'})
                td.black = review.articles_order.buyer.nickname
                td.darkgray = review.articles_order.article.title
                td = l review.updated_at.to_date
              tr.last_row
                td.black = t '.comment:'
                td.gray colspan="4" = review.text
            - else
              tr.first_row
                td
                  .rating_field
                    .stars
                      - (1..5).each do |i|
                        - if i <= review.score
                          .gold_star &#9733;
                        - else
                          .gray_star &#9733;
                      '
                td.link_to_seller 
                  = link_to root_url(subdomain: review.articles_order.seller.shop.subdomain)
                    | (#{t '.seller'})
                td.black= review.articles_order.seller.nickname
                td.darkgray= review.articles_order.article.title
                td = l review.updated_at.to_date
              tr.last_row
                td.black = t ".comment:"
                td.gray colspan="4" = review.text
  - else
    div = t '.there_are_no_reviews'