review = $('#review_<%= @rating.id %>')
review.html("<%= j render partial: 'ratings/form', locals: { rating: @rating } %>")
review.find('.review-form-wrapper textarea').updateLeftedCharactersInReviewTextarea()

scoreVal = review.find('input[name="rating[score]"]').val()

if (scoreVal.length) {
  setRatingStar($('#review_<%= @rating.id %>').find('.star').eq(scoreVal - 1))
}

<% if @rating.errors.present? %>
  <%= render file: 'application/flash_alert.js' %>
<% elsif @rating.finished? %>
  <%= render file: 'application/flash_notice.js' %>
<% end %>

keyupOnReviewTextarea()
clickOnStarToSetRating()