#left-menu-title = t '.title'
#left-menu
  - {t('.members')  => admin_panel_art_associations_members_url,
     t('.events')   => events_admin_panel_art_associations_url,
     t('.settings') => settings_admin_panel_art_associations_url }.collect do |title, path|
      = link_to path, class: (current_page?(path) || (title == t(".members") && params[:controller] == "art_associations/members") ? "opened" : "")
        .element = title