- content_for :title, t('.head_title')
.cooperation_partners_page
  .title = t '.cooperation_partners'
  = link_to t('.become_a_partner'),
      register_art_associations_url,
      class: 'big orange_button'
  .section
    .title = t '.art_associations'
    .arrows
      .arrow_to_right style='display:none;'
      .arrow_to_down style='display:block;'
  .lists
    .nested
      - 3.times 
        .column
          .centered
            .element Kieber Verband
            .element Kaiser Verband
            .element klick Verband
            .element Künstler Groß
            .element Verband Klein

  .section
    .title = t '.chancellery'
    .arrows
      .arrow_to_right
      .arrow_to_down
  .lists
    .nested
      - 3.times 
        .column
          .centered
            .element Kieber Verband
            .element Kaiser Verband
            .element klick Verband
            .element Künstler Groß
            .element Verband Klein

  .section
    .title = t '.photographs'
    .arrows
      .arrow_to_right
      .arrow_to_down
  .lists
    .nested
      - 3.times 
        .column
          .centered
            .element Kieber Verband
            .element Kaiser Verband
            .element klick Verband
            .element Künstler Groß
            .element Verband Klein