- content_for :title, t('.head_title')
.art_associations_register_wrapper
  .title = t '.title'
  - if @art_association.errors.any?
    - @art_association.errors.full_messages.each do |msg|
      .red = msg
    br
  .contact_person = t '.contact_person'
  .form_wrapper
    = form_for @art_association do |f|
      = f.fields_for :address do |ff|
        .field_wrapper
          = ff.text_field :company_name,
              placeholder: t('.company_name')
      .field_wrapper
        = f.text_field :nickname,
            placeholder: t('.nickname')
      = f.fields_for :address do |ff|
        .field_wrapper
          = ff.text_field :first_name,
              placeholder: t('.first_name')
        .field_wrapper
          = ff.text_field :last_name,
              placeholder: t('.last_name')
        .field_wrapper
          = ff.text_field :street,
              placeholder: t('.street')
        .field_wrapper
          = ff.text_field :house_number,
              placeholder: t('.house_number')
        .field_wrapper
          = ff.text_field :city,
              placeholder: t('.city')
        .field_wrapper
          = ff.text_field :postal_code,
              placeholder: t('.postal_code')
        .field_wrapper
          = ff.text_field :phone,
              placeholder: t('.phone')
      .field_wrapper
        = f.email_field :email,
            placeholder: t('.email')
      .field_wrapper
        = f.password_field :password,
            placeholder: t('.password')
      .field_wrapper
        = f.password_field :password_confirmation,
            placeholder: t('.password_confirmation')
      br
      br
      = f.submit t('.complete_registration'),
          class: 'big orange_button',
          data: { disable_with: t('.complete_registration') }