<h1>Error</h1>

<% if errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(errors.count, "error") %> prohibited your action:</h2>

      <ul>
        <% errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>