- content_for :title, t('.head_title')
.home_page
  .first_part
    = image_tag "main_picture.png",
        class: 'central_picture'
    .border_top
    = image_tag 'for_all_originals.png',
        class: 'inscription first'
    = image_tag 'jakira_white.png',
        class: 'inscription second'
    .border_bottom
    .benefits
      .first_list
        .content
          .title = t '.benefits_for_sellers'
          br
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_sellers_1'
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_sellers_2'
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_sellers_3'
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_sellers_4'
        .clear
      .second_list
        .content
          .title = t '.benefits_for_buyers'
          br
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_buyers_1'
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_buyers_2'
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_buyers_3'
          .point
            .glyphicon.glyphicon-ok
            = t '.benefits_for_buyers_4'
        .clear
  .second_part
    h1 = t '.title_1'
    br
    .text_under = t '.title_subline_1' 
    #art_types.restricted_width
      = image_tag 'applied_art.jpg'
      = image_tag 'fine_art.jpg'
      = image_tag 'old_masters.jpg'
  .third_part
    h2 = t '.title_2'
    br
    .text_under = t '.title_subline_2'
    br
    br
    .articles_field.restricted_width
      - @articles.each do |article|
        = render partial: 'articles/article_block',
            locals: {article: article}
