- if current_page?(terms_path)
  - content_for :title, t('.head_title_terms')
#terms
  h2#title
    a href='#title' = t '.terms'
  br
  .contents
    p#contents
      a href="#contents"
        = t '.contents'
    - ['scope_and_defense_clause',
       'contract_and_conclusion',
       'registration',
       'user_account_revocation',
       'user_obligations',
       'payment',
       'code_of_conduct',
       'rights',
       'notification_of_conditions_violations',
       'terms_of_reference_and_changes_to_the_offer',
       'assessment_system',
       'disclaimer',
       'assignment_and_pledging_ban',
       'warranty_or_liability_for_defects',
       'cancellation',
       'availability',
       'links_to_other_websites',
       'copyright',
       'indemnification',
       'cookies',
       'transfer_of_contract_by_third_parties',
       'online_dispute_resolution',
       'language_jurisdiction_applicable_law_and_small_business',
       'severability',
       'prior_terms_and_conditions'].each do |header|
      p
        a href='##{header}'
          = t '.' + header
  br
  br
  br
  .title = t '.terms_for_trading_on_the_auction_platform_Jakira'


  .title id='scope_and_defense_clause'
    a href='#scope_and_defense_clause'
      = t '.scope_and_defense_clause'

  .condition = raw t '.scope_and_defense_clause_conditions.first',
      link: (link_to 'www.jakira.de', :root)
  .condition = t '.scope_and_defense_clause_conditions.second'
  .condition = raw t '.scope_and_defense_clause_conditions.third',
      link: (link_to 'www.jakira.de', :root)


  .title id='contract_and_conclusion'
    a href='#contract_and_conclusion'
      = t '.contract_and_conclusion'

  - ['first', 'second', 'third', 'after_third', 'fourth', 'fifth'].each do |value|
    .condition = t '.contract_and_conclusion_conditions.' + value


  .title id='registration'
    a href='#registration'
      = t '.registration'

  - ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth',
     'ninth'].each do |value|
    .condition = t '.registration_conditions.' + value
  

  .title id='user_account_revocation'
    a href='#user_account_revocation'
      = t '.user_account_revocation'

  - ['first', 'second', 'third', 'fourth', 'fifth', 'sixth'].each do |value|
    .condition = t '.user_account_revocation_conditions.' + value


  .title id='user_obligations'
    a href='#user_obligations'
      = t '.user_obligations'

  - ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh',
     'eighth'].each do |value|
    .condition = t '.user_obligations_conditions.' + value


  .title id='payment'
    a href='#payment'
      = t '.payment'

  - ['first', 'second', 'third', 'fourth', 'fifth'].each do |value|
    .condition = t '.payment_conditions.' + value


  .title id='code_of_conduct'
    a href='#code_of_conduct'
      = t '.code_of_conduct'

  - ['first', 'second', 'third', 'first_list', 'fourth', 'fifth', 'sixth',
     'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i',
     'before_list', 'second_list', 'after_list'].each do |value|
    - if value == 'first_list' 
      ul
        - ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh',
           'eighth', 'ninth', 'tenth', 'eleventh', 'twelfth'].each do |subvalue|
          li = t '.code_of_conduct_conditions.first_list.' + subvalue
    - elsif value == 'second_list'
      ul.code_of_conduct_second_list
        - ['first', 'second', 'third', 'fourth', 'fifth'].each do |subvalue|
          li = t '.code_of_conduct_conditions.second_list.' + subvalue
    - else
      .condition = t '.code_of_conduct_conditions.' + value


  .title id='rights'
    a href='#rights'
      = t '.rights'

  - ['first', 'second', 'third'].each do |value|
    .condition = t '.rights_conditions.' + value


  .title id='notification_of_conditions_violations'
    a href='#notification_of_conditions_violations'
      = t '.notification_of_conditions_violations'
  .condition = t '.notification_of_conditions_violations_condition'


  .title id='terms_of_reference_and_changes_to_the_offer'
    a href='#terms_of_reference_and_changes_to_the_offer'
      = t '.terms_of_reference_and_changes_to_the_offer'

  - ['first', 'second', 'third'].each do |value|
    .condition = t '.terms_of_reference_and_changes_to_the_offer_confitions.' + value


  .title id='assessment_system'
    a.red href='#assessment_system'
      = t '.assessment_system_optional'

  .assessment_system_conditions
    - ['first', 'second', 'third', 'fourth', 'sixth'].each do |value|
      .condition = t '.assessment_system_conditions.' + value


  .title id='disclaimer'
    a href='#disclaimer'
      = t '.disclaimer'

  - ['first', 'second', 'third'].each do |value|
    .condition = t '.disclaimer_conditions.' + value


  .title id='assignment_and_pledging_ban'
    a href='#assignment_and_pledging_ban'
      = t '.assignment_and_pledging_ban'

  .condition = t '.assignment_and_pledging_ban_condition'


  
  .title id='warranty_or_liability_for_defects'
    a href='#warranty_or_liability_for_defects'
      = t '.warranty_or_liability_for_defects'

  - ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh',
     'eighth'].each do |value|
    .condition = t '.warranty_or_liability_for_defects_conditions.' + value

  .title id='cancellation'
    a href='#cancellation'
      = t '.cancellation'

  .cancellation
    .condition.bold.black = t '.cancellation_conditions.withdrawal'
    .condition.bold.black = t '.cancellation_conditions.if_customer_'
    .condition.bold.black = t '.cancellation_conditions.the_withdrawal_period_'
    .condition.bold.black = raw t '.cancellation_conditions.in_order_to_apply_'
    .condition.bold.black = t '.cancellation_conditions.to_keep_the_withdrawal'
    .condition.bold.black = t '.cancellation_conditions.consequences_of_cancellation'
    .condition.bold.black = t '.cancellation_conditions.if_you_withdrawl_from_'
    .condition.bold.black = t '.cancellation_conditions.do_you_require_that_'
    .condition.bold.black = t '.cancellation_conditions.model_withdrawal_form'
    .condition = t '.cancellation_conditions.if_you_want_to_cancel_'
    ul
      li = raw t '.cancellation_conditions.form_list.first'
      - ['second', 'third', 'fourth', 'fifth', 'sixth', 'seventh',
         'eighth'].each do |value|
        li = t '.cancellation_conditions.form_list.' + value
    .condition.bold.black = t '.cancellation_conditions.end_of_revocation'
    .condition = t '.cancellation_conditions.the_foregoing_right_of_'


  .title id='availability'
    a href='#availability'
      = t '.availability'

  .condition = raw t '.availability_conditions.first',
      link: (link_to 'www.jakira.de', :root)
  .condition = t '.availability_conditions.second'

  .title id='links_to_other_websites'
    a href='#links_to_other_websites'
      = t '.links_to_other_websites'

  .condition = raw t '.links_to_other_websites_condition',
      link: (link_to 'www.jakira.de', :root)


  .title id='copyright'
    a href='#copyright'
      = t '.copyright'

  - ['first', 'second', 'third', 'fourth', 'fifth', 'sixth'].each do |value|
    - if value == 'fifth'
      .condition = raw t '.copyright_conditions.' + value,
        link: (link_to 'www.jakira.de', :root)
    - else
      .condition = t '.copyright_conditions.' + value


  .title id='indemnification'
    a href='#indemnification'
      = t '.indemnification'

  .condition = t '.indemnification_condition'


  .title id='cookies'
    a href='#cookies'
      = t '.cookies'

  - ['first', 'second'].each do |value|
    .condition = t '.cookies_conditions.' + value


  .title id='transfer_of_contract_by_third_parties'
    a href='#transfer_of_contract_by_third_parties'
      = t '.transfer_of_contract_by_third_parties'

  .condition = t '.transfer_of_contract_by_third_parties_condition'


  .title id='online_dispute_resolution'
    a href='#online_dispute_resolution'
      = t '.online_dispute_resolution'

  .condition = raw t '.online_dispute_resolution_condition',
      link: (link_to 'http://ec.europa.eu/consumers/odr/',
                     'http://ec.europa.eu/consumers/odr/' )


  .title id='language_jurisdiction_applicable_law_and_small_business'
    a href='#language_jurisdiction_applicable_law_and_small_business'
      = t '.language_jurisdiction_applicable_law_and_small_business'

  .condition = t '.language_jurisdiction_applicable_law_and_small_business_condition'


  .title id='severability'
    a href='#severability'
      = t '.severability'

  - ['first', 'second', 'third'].each do |value|
    .condition = t '.severability_conditions.' + value


  .title id='prior_terms_and_conditions'
    a href='#prior_terms_and_conditions'
      = t '.prior_terms_and_conditions'

  .condition = t '.prior_terms_and_conditions_condition.'

  img border='0' width='180' height='180' src='https://www.yourxpert.de/m3211_agb_siegel.png' alt=""