= form_for @contact,
    remote: true do |f|
  - @contact.errors.full_messages.each do |msg|
    .red = msg
  br
  .row_wrapper
    .field_wrapper
      = f.text_field :first_name,
                      value: @contact.first_name,
                      placeholder: t('.first_name')
    .field_wrapper
      = f.text_field :last_name,
                      value: @contact.last_name,
                      placeholder: t('.last_name')
  .field_wrapper
    = f.email_field :email,
                     value: @contact.email,
                     placeholder: t('.email')
  .field_wrapper
    = f.select 'theme', [t('.praise_criticism_or_suggestions'),
                         t('.report_a_violation'),
                         t('.personal_support'),
                         t('.other_theme')],
                         include_blank: t('.theme')
  .field_wrapper
    = f.text_area 'message',
        value: @contact.message,
        placeholder: t('.message')
  = f.submit t('.send'), class: 'orange_button', data: { disable_with: t('.send') }
