<% if @contact.errors.empty? %>
  $('.contact_form .support2').remove();
  $('.contact_form .contact-form-wrapper').replaceWith('<%= j render "success" %>'); 
<% else %>
  $('.contact_form .contact-form-wrapper').html('<%= j render "form" %>');
<% end %>