- content_for :title, t('.head_title')
.contact_form
  .title = t '.title'
  .support = t '.support'
  .support2 = t '.support_'
  .contact-form-wrapper
    = render "contacts/form"
  .contact_address_wrapper
    .to_contact_us = t '.to_contact_us'
    .contact_time = t '.contact_time'
    .contact_phone
      = t '.contact_phone' 
      | 040 - 32842545 
    .contact_email
      = t '.email_'
      |  support@jakira.de
    .contact_address
      div = t '.contact_address'
      div Jakira GmbH
      div Schellerdamm 16
      div 21079 Hamburg