= render "admin/left_menu"
.admin_page.edit_faq
  .title = t '.faq'
  br
  .content
    - if @faq_section.present? && @faq_section.errors.any?
      - @faq_section.errors.full_messages.each do |msg|
        .red = msg
      br
    - if @faq_question.present? && @faq_question.errors.any?
      - @faq_question.errors.full_messages.each do |msg|
        .red = msg
      br
    = yield