.right_buttons_wrapper
	= link_to new_admin_faq_section_url, :class => "add_faq"
	    .glyphicon.glyphicon-plus
	- if @faq_section.present? && @faq_section.persisted?
	  = link_to edit_admin_faq_section_url(@faq_section), :class => "edit_faq"
	  	.glyphicon.glyphicon-pencil
	  = link_to admin_faq_section_url(@faq_section),
	      method: :delete,
	      data: { confirm: 'Are you sure?' },
	     	:class => "delete_faq"
	     	.glyphicon.glyphicon-trash