= select_tag :faq_section_id,
    options_from_collection_for_select(FaqSection.all,
                                       :id,
                                       :name,
                                       params[:faq_section_id]),
    include_blank: (@faq_section.nil? ? t('.select_topic') : false),
    onchange: "window.location.replace('/text_content/faq_sections/'+this.value);"
= render 'admin/faq_sections/right_buttons'