- content_for :title, t('.head_title')
= render layout: 'admin/faq_sections/layout'
  .form_wrapper
    = form_for @faq_section,
        url: admin_faq_section_url(@faq_section) do |f|
      = f.text_field :name
      = render 'admin/faq_sections/right_buttons'
      = f.submit t('.save'),
          class: 'big orange_button faq_sections_buttons',
          data: { disable_with: t('.save') }