- content_for :title, t('.head_title')
= render layout: 'admin/faq_sections/layout'
  .fields_row
    = render 'admin/faq_sections/select'
  .fields_row
    - if @faq_section.present?
      = select_tag :faq_question_id,
          options_from_collection_for_select(@faq_section.faq_questions,
                                             :id,
                                             :question,
                                             params[:faq_question_id]),
          include_blank: (@faq_question.nil? ? t('.select_a_question') : false),
          onchange: "window.location.replace('/text_content/faq_sections/#{@faq_section.id}/faq_questions/'+this.value);"
      = render 'admin/faq_questions/right_buttons'
    - else
      = select_tag :faq_question_id,
          options_from_collection_for_select([],
                                             :id,
                                             :question),
          include_blank: t('.select_a_question')
  .form_wrapper
    - if @faq_section.present? && @faq_question.present?
      = form_for @faq_question,
          url: admin_faq_question_url(@faq_section, @faq_question) do |f|
        = f.label :answer, t('.edit_answer')
        = f.text_area :answer
        = f.submit t('.save'),
            class: 'big orange_button',
            data: { disable_with: t('.save') }
    - else
      = label_tag :answer, t('.edit_answer')
      = text_area_tag :answer
      = submit_tag t('.save'),
          class: 'orange_button'