- content_for :title, t('.head_title')
br
br
#sign-in-form
  .log_in = t '.login'
  .check_wrapper
    .check
  .title = t '.i_am_already_a_customer_of_jakira'
  .form_wrapper
    = form_for resource,
        as: resource_name,
        url: session_path(resource_name) do |f|
      / .fields
      / = link_to "Sign in with PayPal",
      /     user_omniauth_authorize_path(:paypal)
      / br
      / = link_to "Sign in with Facebook",
      /     user_omniauth_authorize_path(:facebook)
      / br
      / = link_to "Sign in with Google",
      /     user_omniauth_authorize_path(:google_oauth2)
      / br
      / = link_to "Sign in with Twitter",
      /     user_omniauth_authorize_path(:twitter)
      / br
      .field_wrapper
        = f.text_field :login,
            placeholder: t('.email_or_username'),
            autofocus: true
      .field_wrapper.last
        = f.password_field :password,
            placeholder: t('.password')
      = f.check_box :remember_me,
          as: :boolean,
          label: false,
          inline_label: true if devise_mapping.rememberable?
      '
      = f.label :remember_me
      = link_to t('.password_forgotten'),
          new_password_path(resource_name)
      = f.submit t('.sign_in'),
          id: "sign-in-submit-button",
          class: 'orange_button',
          data: { disable_with: t('.sign_in') }
#sign-up-form
  .sign_up = t '.register'
  .title = t '.i_want_to_create_a_free_account_on_jakira'

  - if resource.errors.any?
    - resource.errors.full_messages.each do |msg|
      .red = msg
  
  .form_wrapper
    = form_for resource,
        as: resource_name,
        url: registration_path(resource_name) do |f|
      .inblock_top
        .description
          p.bold = t '.advantages_of_registration'
          p 
            .check_wrapper
              .check
            = t '.first_advantage'
          p
            .check_wrapper
              .check
            = t '.second_advantage'
          p 
            .check_wrapper
              .check
            = t '.third_advantage'
          p 
            .check_wrapper
              .check
            = t '.fourth_advantage'
        br
        br
        br
        .check-boxes
          = f.check_box :accept_privacy_policy
          '
          = f.label :accept_privacy_policy
          br
          = f.check_box :accept_terms
          '
          = f.label :accept_terms, t('.i_accept_the')
          '
          .show_AGB_green_button = t '.terms'
          span.dot .
      .fields
        .field_wrapper
          = f.text_field :nickname, placeholder: t('.nickname_')
        = f.fields_for :address, resource.address.present? ? resource.address : resource.build_address do |ff|
          .field_wrapper
            = ff.text_field :first_name, placeholder: t('.first_name_')
          .field_wrapper
            = ff.text_field :last_name, placeholder: t('.last_name_')
        .field_wrapper
          = f.email_field :email, placeholder: t('.email_')
        .field_wrapper
          = f.password_field :password, placeholder: t('.password_')
        .field_wrapper.last
          = f.password_field :password_confirmation, placeholder: t('.password_confirmation_')
        .required = t '.required'
      = f.submit t('.register_for_free'),
          class: 'orange_button',
          data: { disable_with: t('.register_for_free') }

#show_AGB_x = '[X]'
#show_AGB = render template: 'pages/terms'
