.crop_picture
  .head
    .cancel.glyphicon.glyphicon-remove-sign
    h2 = t '.edit_picture'
  .container-for-preview
    = image_tag @picture.image_url + '?' + Time.now.strftime("%H%M%S"),
        class: 'crop_image'
        / 'image-width' => MiniMagick::Image.open(Picture.last.image.path)[:width],
        / 'image-height' => MiniMagick::Image.open(Picture.last.image.path)[:height]
  br
  .previews
    .large.preview
    .middle.preview
    .small.preview
    .extra-small.preview
  .right
    br
    .change_color data-opacity='.5'
    = t '.change_color'
    br
    br
    .btn.btn-default.rotate = t '.rotate'
    '
    .btn.btn-default.zoom-in
      .glyphicon.glyphicon-zoom-in
    '
    .btn.btn-default.zoom-out
      .glyphicon.glyphicon-zoom-out
    br
    br
    div
      = form_for @picture,
          url: crop_picture_url(@picture),
          remote: true,
          method: :post do |f|
        - for attribute in [:x, :y, :width, :height, :rotate]
          = f.hidden_field attribute, id: 'picture_' + attribute.to_s
        .btn.btn-default.cancel = t '.cancel'
        '
        = f.submit t('.save'), class: 'btn btn-default save', data: { disable_with: t('.save') }
  .clear