.picture.inblock_top id='picture_#{picture.id}'
  = image_tag picture.image.small.url
  br
  = link_to picture_path(picture),
      method: :delete,
      remote: true
    .glyphicon.glyphicon-remove-sign title='#{t '.delete_picture'}'
  '
  = link_to edit_picture_url(picture),
      remote: true
    = image_tag 'pencil.jpg',
        title: t('.edit_picture'),
        class: 'edit_icon'
  = hidden_field_tag 'picture_ids[]', picture.id
  = check_box_tag 'article[main_picture_id]',
      picture.id,
      picture.main?