<% if @picture.errors.count == 0 %>

  $('#pictures_place .loading').before("<%= j render partial: 'pictures/picture_edit', locals: { picture: @picture } %>");

  $('div#<%= dom_id(@picture) %>').effect('highlight');

  $("#shop-form .edit_picture").remove()

  // remove add-picture-button when the amount of the pictures more than 2
  if ($("#shop-form #pictures_place .picture").length == 2) {
    $('#add_picture').hide();
  };

  if ($(".shop_edit #pictures_place .picture").length == 2) {
    $('#add_picture').hide();
  };

  // remove add-picture-button when the amount of the pictures more than 10
  if ($("#article-form #pictures_place .picture").length == 10) {
    $('#add_picture').hide();
  };

  if ($("#article-form #pictures_place .picture").length == 1) {
  	$('.picture [type=checkbox]:first').prop('checked', true)
  };


<% else %>
  alert("<% @picture.errors.full_messages.each do |message| %><%= message.html_safe %>\n<% end %>");
<% end %>

$('#pictures_place .loading').hide();

$("#picture_image").change(function() {
    $("#pictures_place .loading").fadeIn()
    $("#new_picture").trigger('submit.rails')
});

if ($("#article-pictures [type=checkbox]").prop("checked") != true) {
  $("#article-pictures [type=checkbox]").first().click()
};

$('.about_me_shops_pictures, #shop-form #pictures_place').find('[type=checkbox]').remove()