$('.crop_picture').remove()
$('#main_picture_<%= @picture.id %> img:first').attr('src', '<%= @picture.image.url %>?' + (new Date().getTime()))  
$('#picture_<%= @picture.id %> img:first').attr('src', '<%= @picture.image.small.url %>?' + (new Date().getTime()))