$('#picture_<%= @picture.id %>, #main_picture_<%= @picture.id %>').fadeOut();
$('#picture_<%= @picture.id %>, #main_picture_<%= @picture.id %>').remove();

<% unless @picture.shop_main_pictures? %>
$('#add_picture').show();
<% end %>

if ($('.picture [type=checkbox]:checked').length == 0){
  $('.picture [type=checkbox]:first').prop('checked', true)
};

if (!$('.main_picture_block .main_picture').length && $('.main_picture_block #add_main_picture_button').length) {
  $('.main_picture_block #add_main_picture_button').show()
  $("#main_picture_image").change(function(){
    $(this).closest('form').submit();
  })

  $("#main_picture_image").change(function(){
    $('#add_main_picture_button').hide();
    $('.main_picture_block .loading').fadeIn();
  });
}