.address_block
  .title = t '.shipping:'
  .method_name = t articles_order.shipping_method.name
  .bold = t '.delivery_address:'
  = render partial: 'addresses/addresses_block_address',
      locals: {address: articles_order.shipping_address}  
.address_block
  .title = t '.payment:'
  .method_name = t('payment_type.' + articles_order.payment_type.name)
  .bold = t '.billing_address:'
  = render partial: 'addresses/addresses_block_address',
      locals: {address: articles_order.payment_address}