div.full_name = address.full_name
- if address.articles_order.present? && address.company_name.present?
  div = address.company_name
div
  = address.street
  '
  = address.house_number
div
  = address.postal_code
  '
  = address.place
div = address.country_name