.shipping_block
  .bold = t '.delivery_address:'
  = render partial: 'addresses/addresses_block_address',
            locals: {address: articles_order.shipping_address}
.payment_block
  .bold = t '.billing_address:'
  = render partial: 'addresses/addresses_block_address',
            locals: {address: articles_order.payment_address}
br
br
br