.purchase_address
  = f.text_field :company_name,
      class: 'company_name',
      placeholder: t('.company_name')
  br
  = f.text_field :first_name,
      placeholder: t('.first_name')
  |  
  = f.text_field :last_name,
      placeholder: t('.last_name') 
  |  
  br
  = f.text_field :street,
      class: 'street',
      placeholder: t('.street') 
  |  
  = f.text_field :house_number,
      class: 'house_number',
      placeholder: t('.house_number') 
  br
  = f.text_field :postal_code,
      class: 'postal_code',
      placeholder: t('.postal_code') 
  |  
  = f.text_field :place,
      class: "place",
      placeholder: t('.place') 
  br
  = f.country_select :country,
      { include_blank: true,
        only: f.object.articles_order.available_countries,
        priority_countries: ["DE"] },
      { class: "country" }