div
  = f.check_box :show_to_public
  '
  = f.label :show_to_public
  '
  div class="glyphicon glyphicon-info-sign" data-toggle="popover" data-trigger="hover" data-content="#{t '.show_to_public_info_box'}"
br