.address_main_fields
  .field.margin_right
    = f.label :first_name
    br
    = f.text_field :first_name, disabled: f.object.first_name.present? && !current_user.admin?
  .field
    = f.label :last_name
    br
    = f.text_field :last_name, disabled: f.object.last_name.present? && !current_user.admin?
    div class="glyphicon glyphicon-info-sign" data-toggle="popover" data-trigger="hover" data-content="#{t '.first_and_last_name_cannot_be_changed_info'}"
  .field.margin_right
    = f.label :street
    = '*' if f.object.shop.present?
    br
    = f.text_field :street
  .house_number.field
    = f.label :house_number
    = '*' if f.object.shop.present?
    br
    = f.text_field :house_number
  .field.margin_right
    = f.label :postal_code
    = '*' if f.object.shop.present?
    br
    = f.text_field :postal_code
  .field
    = f.label :place
    = '*' if f.object.shop.present?
    br
    = f.text_field :place
  br
  .address_country.field
    = f.label :country
    = f.country_select :country,
        { include_blank: true,
          priority_countries: ["DE", "AT"] }
    .display_none = link_to "",
        load_country_code_addresses_url,
        remote: true,
        id: 'load_country_code'
