.address_phone_fields
  .area_code.field.margin_right
    = f.label :area_code
    br
    = f.text_field :area_code, readonly: "readonly"
  .phone.field.margin_right
    = f.label :phone
    br
    = f.text_field :phone
  .mobile.field 
    = f.label :mobile
    br
    = f.text_field :mobile
  br