= render partial: 'addresses/nested_form_occupation_title', locals: {f: f}
= render partial: 'addresses/nested_form_main_fields', locals: {f: f}
= render partial: 'addresses/nested_form_show_to_public', locals: {f: f}
= render partial: 'addresses/nested_form_phone', locals: {f: f}
= render partial: 'addresses/nested_form_show_phone_to_public', locals: {f: f}