.label_wrapper
  = f.label :first_name,
      t('.first_name'),
      for: 'address_' + f.object.id.to_s + '_first_name'
.field_wrapper
  = f.text_field :first_name,
      id: 'address_' + f.object.id.to_s + '_first_name'
.label_wrapper
  = f.label :last_name,
      t('.last_name'),
      for: 'address_' + f.object.id.to_s + '_last_name'
.field_wrapper
  = f.text_field :last_name,
      id: 'address_' + f.object.id.to_s + '_last_name'
.label_wrapper
  = f.label :company_name,
      t('.company_name'),
      for: 'address_' + f.object.id.to_s + '_company_name'
.field_wrapper
  = f.text_field :company_name,
      id: 'address_' + f.object.id.to_s + '_company_name'
.label_wrapper
  = f.label :street,
      t('.street'),
      for: 'address_' + f.object.id.to_s + '_street'
.field_wrapper
  = f.text_field :street,
      id: 'address_' + f.object.id.to_s + '_street'
.label_wrapper
  = f.label :house_number,
      t('.house_number'),
      for: 'address_' + f.object.id.to_s + '_house_number'
.field_wrapper
  = f.text_field :house_number,
      id: 'address_' + f.object.id.to_s + '_house_number'
.label_wrapper
  = f.label :postal_code,
      t('.postal_code'),
      for: 'address_' + f.object.id.to_s + '_postal_code'
.field_wrapper
  = f.text_field :postal_code,
      id: 'address_' + f.object.id.to_s + '_postal_code'
.label_wrapper
  = f.label :place,
      t('.place'),
      for: 'address_' + f.object.id.to_s + '_place'
.field_wrapper
  = f.text_field :place,
      id: 'address_' + f.object.id.to_s + '_place'
.label_wrapper
  = f.label :country,
      t('.country'),
      for: 'address_' + f.object.id.to_s + '_country'
.select_wrapper
  = f.country_select :country,
      { include_blank: true,
        priority_countries: f.object.priority_countries },
      id: 'address_' + f.object.id.to_s + '_country'
  .select_button
    .arrow
= f.submit t('.save'),
    class: 'orange_button',
    data: { disable_with: t('.save') }