$("#purchase-address-and-payment-method #edit_address_<%= @address.id %>").replaceWith("<%= j render partial: 'addresses/purchase_address_form', locals: {address: @address} %>")
<% if @errors.empty? %>
  <%= render file: 'application/flash_notice.js.erb' %>
  thisCell = $("#purchase-address-and-payment-method #edit_address_<%= @address.id %>").closest('td')
  formWrapper = thisCell.find('.purchase-address')
  addressBlock = thisCell.find('.address-block')
  changeAddress = thisCell.find('.change-address')
  formWrapper.slideUp()
  addressBlock.html("<%= j render partial: 'addresses/addresses_block_address', locals: {address: @address} %>")
  addressBlock.slideDown()
  changeAddress.slideDown()
  $('#set_payment_type_articles_order_<%= @address.articles_order.id %>').closest('.select-payment-type-form-wraper').html("<%= j render partial: 'articles_orders/select_payment_type_form', locals: { articles_order: @address.articles_order } %>")
  <%= render file: 'purchases/check_order_button' %>
<% else %>
  <%= render file: 'application/flash_alert.js.erb' %>
<% end %>

clickChangeAddressButton()