- if @member.errors.any?
  .errors
    - @member.errors.full_messages.each do |msg|
      .red = msg
.fields_row
  .field_wrapper
    = f.text_field :art_association_membership_number,
        placeholder: t('.membership_number')
= f.fields_for :address do |ff|
  .fields_row
    .field_wrapper
      = ff.text_field :first_name,
          placeholder: t('.first_name')
    .field_wrapper
      = ff.text_field :last_name,
          placeholder: t('.last_name')
  .fields_row
    .field_wrapper
      = ff.text_field :street,
          placeholder: t('.street')
    .field_wrapper
      = ff.text_field :house_number,
          placeholder: t('.house_number')
  .fields_row
    .field_wrapper
      = ff.text_field :city,
          placeholder: t('.city')
    .field_wrapper
      = ff.text_field :postal_code,
          placeholder: t('.postal_code')
  .fields_row
    .select_wrapper
      = ff.country_select :country,
          priority_countries: ["DE"],
          include_blank: t('.country')
      .select_button
        .triangle_to_bottom
  .fields_row
    .field_wrapper
      = ff.text_field :phone,
          placeholder: t('.phone')
    .field_wrapper
      = f.email_field :email,
          placeholder: t('.email')
= f.submit t('.save'),
    class: 'big orange_button',
    data: { disable_with: t('.save') }
.clear