- content_for :title, t('.head_title')
= render "art_associations/left_menu"
.art_association_index_member_page
  .top_menu
    .search_form
      = form_tag '/art_associations/admin_panel/members/',
          method: 'get'
        = label_tag :search_member, t(".find_user")
        = text_field_tag :search_member,
            params[:search_member],
            placeholder: t(".search"),
            onchange: "$(this).closest('form').submit()"
        .select_wrapper 
          = select_tag :filter,
              options_for_select(['membership_number',
                                  'country',
                                  'place',
                                  'in_jakira_active',
                                  'all'].collect{ |f| [t("." + f), f] },
                                  params[:filter]),
              prompt: t('.filter_by'),
              onchange: "$(this).closest('form').submit()"
          .select_button
            .triangle_to_bottom
    .import_xls_form
      = form_tag import_xls_admin_panel_art_associations_members_url,
          method: :post,
          multipart: true
        = label_tag :file, t('.upload_member')
        = file_field_tag :file
        div
          #file_field = t('.choose_a_file')
          = submit_tag t('.upload'),
              data: { disable_with: t('.upload') }
    .export_xls
      = link_to t('.export_members'),
          admin_panel_art_associations_members_url(format: :xls)
      = link_to t('.download_excel_template'),
          admin_panel_art_associations_members_url(format: :xls)
  = link_to new_admin_panel_art_associations_member_url,
      id: 'add_member_link'
    .glyphicon.glyphicon-plus
    = t('.add_member')
  br
  table.art_association_members
    thead
      tr
        td = t '.membership_no'
        td = t '.username'
        td = t '.first_name'
        td = t '.last_name'
        td = t '.street'
        td = t '.houser_number'
        td = t '.zip_code'
        td = t '.place'
        td = t '.country'
        td = t '.in_jakira_active'
        td
    tbody
      - @members.each do |member|
        tr.main_row
          td data-title = t('.membership_no') = link_to (member.art_association_membership_number.present? ? member.art_association_membership_number : 'no number'),
                edit_admin_panel_art_associations_member_url(member)
          td data-title = t('.username') = member.nickname
          td data-title = t('.first_name') = member.address.first_name
          td data-title = t('.last_name') = member.address.last_name
          td data-title = t('.street') = member.address.street
          td data-title = t('.houser_number') = member.address.house_number
          td data-title = t('.zip_code') = member.address.postal_code
          td data-title = t('.place') = member.address.place
          td data-title = t('.country') = member.address.country_name
          td
          td.cell_with_arrow
            .arrow_right
            .arrow_down
        tr.hidden_row 
          td.td_for_hide = t '.email_'
          td.email colspan='9' data-title = t('.email_')
            = member.email
          td.td_for_hide