- content_for :title, t('.head_title')
= render "art_associations/left_menu"
.art_association_new_member_page
  .title = t '.title'
  .form_wrapper
    = form_for @member,
        url: admin_panel_art_associations_members_url do |f|
      = render partial: "art_associations/members/form", locals: {f: f}