div style="line-height:18px;"
  = f.collection_check_boxes :payment_type_ids,
      PaymentType.all.where.not(name: "credit_card"),
      :id, :displayed_name do |ff|
    div id="#{ff.object.name}" style="margin:5px 0px;"
      = ff.check_box
      '
      = ff.label
      br
  #bank_transfer_data
    div style="font-size: 12px;
               text-align: left;
               margin-left: 18px;"
      = check_box_tag "copy_from_personal_bank_data",
          (), false, class: "inblock_top"
      '
      = label_tag "copy_from_personal_bank_data",
          t('.copy_from_personal_bank_data'),
          style: "width:140px;",
          class: "inblock_top"
    br
    = f.fields_for :bank_transfer_data do |ff|
      = render partial: 'bank_transfer_data/nested_form', locals: {f: ff}
  #paypal_data.payment_data
    = f.fields_for :paypal_data do |ff|
      = render partial: 'paypal_data/nested_form', locals: {f: ff}