.right_buttons_wrapper
  = link_to new_admin_faq_question_url(@faq_section),
      class: "add_faq"
    .glyphicon.glyphicon-plus
  - if @faq_question.present? && @faq_question.persisted?
    = link_to edit_admin_faq_question_url(@faq_section, @faq_question),
        class: "edit_faq"
      .glyphicon.glyphicon-pencil
    = link_to admin_faq_question_url(@faq_section, @faq_question),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "delete_faq"
        .glyphicon.glyphicon-trash