- content_for :title, t('.head_title')
= render layout: 'admin/faq_sections/layout'
  = render 'admin/faq_sections/select'
  br
  br
  .form_wrapper
    = form_for @faq_question,
        url: admin_faq_question_url(@faq_section, @faq_question) do |f|
      = f.text_field :question
      = render 'admin/faq_questions/right_buttons'
      = f.submit t('.save'),
          class: 'orange_button faq_sections_buttons',
          data: { disable_with: t('.save') }