= form_for OrderMessage.new,
    remote: true do |f|
  = f.hidden_field :articles_order_id,
      value: articles_order.id
  = f.label :text,
      t(".write_a_message")
  = f.text_area :text,
      disabled: articles_order.canceled?
  = f.submit t('.send'),
      disabled: articles_order.canceled?,
      data: { disable_with: t('.send') }