.title = t '.communicate_to_order'
hr
- if articles_order.unread_messages?(current_user)
  = link_to '',
      mark_order_messages_as_read_articles_order_url(articles_order),
      remote: true,
      class: 'mark_order_messages_as_read'
  .new_messages_notification
    .glyphicon.glyphicon-bell
    span = t '.you_have_new_messages'
= render articles_order.order_messages
.new_message_form_wrapper
  = render partial: 'order_messages/form',
      locals: { articles_order: articles_order }