.order_message class="#{order_message.sender_is_seller? ? 'from_seller' : 'from_buyer'}"
  .text = order_message.text
  .data
    span.sender = order_message.user.nickname 
    = order_message.created_at.strftime("%d.%m.%Y • %R")
    = t '.clock'
.dots
  .dot
  .dot
  .dot
  .dot
  .dot