.purchase-item
  = link_to shopping_basket.article.title,
      article_url(shopping_basket.article),
      class: 'header'
  .body
    .upper-part
      .picture-and-info
        = link_to image_tag(purchase_thumb_image(shopping_basket.article)),
            article_url(shopping_basket.article),
            class: 'main_picture'
        .info
          = render partial: 'purchases/price',
              locals: { price: shopping_basket.article.price,
                        article: shopping_basket.article,
                        shipping_price: nil }
          .buttons
            = link_to favorites_url(favorite: { article_id: shopping_basket.article.id }),
                method: :post
              = image_tag 'to_favorites.png',
                  title: t('.add_to_favorites')
            = link_to shopping_basket_url(shopping_basket),
                method: :delete
              = image_tag 'remove_from_cart.png',
                  title: t('.remove_from_cart')
      .description
        .title = t '.description'
        .text
          = shopping_basket.article.description
          '
          = t '.color_'
          '
          = shopping_basket.article.colors_names + '.'
          '
          = t '.materials_'
          '
          = shopping_basket.article.materials_names + '.'
    table.main
      td
        table
          thead
            tr
              td = t '.seller'
              td = t '.order_value'
          tr
            td = shopping_basket.article.shop.address.full_name
            td = currency shopping_basket.article.price
      td
        table
          thead
            tr
              td = t '.shipping_costs'
              td = t '.price'
          tr
            td.shipping
              = t '.incl'
              '
              span
                = t '.shipping'
                = render partial: 'shipping_methods/hover_table',
                    locals: {article: shopping_basket.article}
            td = currency shopping_basket.article.price
    .message_field
      = form_for shopping_basket,
          remote: true do |f|
        = f.label :message_text,
            t('.message_to_the_seller')
        br
        = f.text_area :message_text,
            class: 'shopping_basket_message_text'