- content_for :title, t('.head_title')
#upper-path
  = image_tag 'arrow_to_left.png'
  = link_to 'Jakira', root_url
  span  &bull; 
  span = t '.title'

#cart-page
  .title = t '.title'
  - if @shopping_baskets.present?
    table
      tr
        td = render 'purchases/steps'
        td
      tr
        td = render @shopping_baskets
        td.purchase-total-cell
          = render partial: 'purchases/total',
              locals: { count: @shopping_baskets.count,
                        price: @shopping_baskets.map(&:total_price).sum,
                        shipping_costs: nil }
  - else
    = t '.your_cart_is_empty'