#left-menu-title.title-underline = t '.faq_search'
#left-menu
  - @faq_sections.each do |faq_section|
    = link_to faq_url(faq_section),
        class: (current_page?(faq_url(faq_section)) ? "opened" : "")
      .element = faq_section.name