history.pushState('', '', '<%= request.base_url + request.original_fullpath %>')
$(".faq_questions").html("<%= j render partial: 'faq/faq_questions' %>")
$('#left-menu a.opened').removeClass('opened')
$('.spinner').remove()
$(".faq_page .faq_questions .faq_question").click(function() {
  $(this).next().slideToggle()  
})