- content_for :title, t('.head_title')
= render "faq/left_menu"
.faq_page
  .form_wrapper
    = form_tag faq_index_url,
        method: :get,
        id: 'faq_questions_filter_form',
        remote: true,
        onsubmit: '$("body").spin()'
      = text_field_tag :faq_questions_search,
          params[:faq_questions_search],
          placeholder: t('.search')
      = image_submit_tag 'search_icon.png',
          data: { disable_with: '' }
  
  .asked_questions_title = t '.frequently_asked_questions'
  br
  .faq_questions
    = render 'faq/faq_questions'
