.addresses_block{
  margin-bottom:20px;
  .address_block{
    display: inline-block;
    vertical-align: top;
    width:150px;
    .title{
      font-weight:bold;
      margin-top:10px;
    }
    .method_name{
      margin-bottom:8px;
      color:gray;
      height: 36px;
    }
  }
}

.address_main_fields{
  .field{
    display: inline-block;
    vertical-align: top;
  }
  .glyphicon.glyphicon-info-sign{
    margin-left:10px;
  }
  .field.margin_right{
    margin-right:30px;
  }
  .house_number.field input{
    width: 50px;
  }
}

.address_phone_fields{
  .field{
    display: inline-block;
    vertical-align: top;
  }
  .field.margin_right input{
    margin-right:15px;
  }
  .phone.field,
  .mobile.field{
    input{
      width: 120px;
    }
  }
  .area_code.field input{
    width: 80px;
  }
}

.purchase_address{
  .company_name{
    width:324px;
  }
  .street{
    width:250px;
  }
  .house_number{
    width:70px;
  }
  .postal_code{
    width:100px;
  }
  .place{
    width:220px;
  }
  .country{
    width:324px;
  }
}
