.mail_log{
  width:100%;
  table{
    width:100%;
    caption{
      font-size: 20px;
      font-weight: bold;
    }
    tr{
      border: 1px solid #90887B;
    }
    th{
      text-align: center;
    }
    td{
      padding: 10px 15px;
      max-width: 300px;
    }
  }
}

.admin_invoices{
  .horizontal_upper_menu .menu_button{
    margin-right: 0.5%;
    width: 19.5%;
  }
}

.admin_member{
  .horizontal_upper_menu .menu_button{
    margin-right: 0.5%;
    width: 24.5%;
  }
}

.admin.correspondence{
  .system_emails{
    display: inline-block;
    margin: 0px 30px 20px 0;
    width: 420px;
    th {
      background-color: #CCFFCC;
    }
    th, td{
      border: 1px solid lightgray;
      padding: 0px 4px;
    }
    tr{
      td{
        &:last-child{
          width: 100%;
        }
        &:first-child{
          text-align: right;
        }
      }
    }
  }
}

.newsletter{
  .subject{
    width: 100%;
    .field_with_errors{
      width: 100%;
    }
  }
}

.admin.vouchers{
  .horizontal_upper_menu{
    width: 300px;
    .menu_button{
      width:49%;
      & ~ .menu_button{
        margin-left: 2%;
      }
      .title{
        background-color: lightgray;
      }
    }
  }
  .filters_wrapper{
    .search_wrapper{
      border: 1px solid lightgray;
      display: inline-block;
      margin-right: 40px;
      .glyphicon.glyphicon-search{
        cursor: pointer;
        margin: 2px 4px;
      }
      input#search_in_vouchers{
        width: 250px;
        border: none;
      }
    }
    input#paid{
      margin-right: 10px;
    }
    label[for=paid]{
      margin-right: 50px;
    }
    select#order{
      background: none;
      padding: 5px 15px;
      font-size: 13px;
    }
  }
  > table{
    width:100%;
    > thead > tr > th{
      font-weight: normal;
    }
    > thead > tr > th,
    > tbody > tr > td{
      border:1px solid lightgray;
      padding: 1px 10px;
      &:nth-child(-n+3),
      &.created_at{
        white-space: nowrap;
        width:1%;
      }
      &.open_more_info{
        width: 1%;
        border:none;
        cursor: pointer;
        padding: 0px;
        .triangle_to_right{
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid lightgrey;
          margin: 1px 10px;
        }
        .triangle_to_down{
          display: none;
          width: 0;
          height: 0;
          border-right: 7px solid transparent;
          border-left: 7px solid transparent;
          border-top: 7px solid grey;
          margin: 1px 5px 1px 8px;
        }
      }
      &.action{
        font-size: 13px;
        padding: 1px 5px 1px 10px;
        .voucher_action_wrapper{
          display: none;
          #status{
            background:none;
          }
        }
        .sent{
          color: green;
          display: inline-block;
        }
        .canceled{
          color:red;
          display: inline-block;
        }
        .circle_arrows{
          height: 14px;
          float:right;
          position: relative;
          top: 1px;
          cursor: pointer;
        }
      }
      &.pdfs{
        padding: 1px 8px;
        white-space: nowrap;
        width: 1%;
        a{
          display: inline-block;
        }
        img{
          width: 20px;
        }
      }
    }
    .more_info{
      display: none;
      font-size: 13px;
      td{
        border:none;
        .table{
          margin-bottom: 0px;
          span{
            position: relative;
            z-index: 1;
            .glyphicon-info-sign{
              color: #9099fe;
            }
            &:hover > .pop_up_history{
              display: inline-block;
            }
            .pop_up_history{
              display: none;
              position: absolute;
              .triangle{
                position: absolute;
                transform: rotate(20deg);
                width: 0px;
                height: 0px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                &.border{
                  top:8px;
                  border-right: 70px solid lightgray;
                }
                &.center{
                  top: 11px;
                  left: 8px;
                  z-index: 2;
                  border-right: 70px solid white;
                }
              }
              .rectangle{
                background-color: white;
                border: 2px solid lightgray;
                padding: 10px 15px;
                position: absolute;
                top: 19px;
                left: 60px;
                .dates{
                  font-weight: normal;
                }
              }
            }
          }
        }
        .incoming_payments{
          font-weight: bold;
          .change_paid_on_form_wrapper{
            display: none;
            .change_paid_on_field{
              width: 100px;
              text-align: center;
            }
            .thin_brown_button{
              margin-left: 7px;
            }
          }
          .glyphicon-pencil{
            cursor: pointer;
          }
        }
        > table {
          width: 100%;
          margin-top: 5px;
          thead{
            font-weight: bold;
          }
          tbody{
            tr td:first-child{
              text-decoration: underline;
            }
          }
        }
      }

    }
  }
  &.change{
    > .title{
      font-weight: bold;
      margin-bottom: 20px;
    }
    > .payment_types{
      display: inline-block;
      > .form_wrapper{
        width: 100%;
        input[type=checkbox]{
          margin-right: 5px;
        }
        .thin_brown_button{
          float: right;
          top:3px;
          margin-left: 15px;
          &.save{
            display: none;
          }
        }
        .data_fields{
          display: none;
          text-align: right;
          padding: 20px;
          input[type=text]{
            width: 200px;
          }
          .field_with_errors{
            border: none;
            input[type=text]{
              border: 1px solid #bf0018;
            }
            label{
              color: #bf0018;
            }
          }
        }
      }
    }
    .bottom_texts{
      margin: 40px 0px 100px;
      width: 550px;
      label{
        font-weight: bold;
        margin-bottom: 10px;
      }
      textarea{
        height: 120px;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
      }
      .save.thin_brown_button{
        float: right;
        margin: 20px 10px 0 0;
      }
    }
  }
}

.admin_page{
  width: 100%;
  display: table-cell;
  vertical-align: top;
  @media (min-width: 901px) {
    width: 640px;
  }
}

.edit_faq{
  @media (max-width: 800px) {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .fields_row {
    margin-bottom: 14px;
  }

  select {
    color: gray;
    width: 74%;
    height: 34px;
    display: inline-block;
    appearance: auto;
    background-color: white;
    padding: 7px 22px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    option {
      color: black;
    }
    option[value=""] {
      color: grey;
    }
    @media (max-width: 800px) {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 14px;
    }
  }

  .right_buttons_wrapper {
    display: inline-block;
    @media (max-width: 800px) {
      display: block;
    }
  }

  .add_faq {
    display: inline-block;
    background-color: #ea5d0b;
    color: white;
    padding: 5px 5px 3px 7px;
    margin-left: 5px;
  }

  .edit_faq {
    display: inline-block;
    background-color: #ea5d0b;
    color: white;
    padding: 5px 5px 3px 7px;
    margin-left: 5px;
  }

  .delete_faq {
    display: inline-block;
    color: grey;
    padding: 5px 6px 3px 6px;
    margin-left: 5px;
  }
  
  .content .form_wrapper {
    display: block;
    label {
      display: block;
      color: grey;
    }
    textarea {
      display: block;
      width: 100%;
      height: 175px;
      margin-bottom: 16px;
      resize: none;
      border-radius: 2px;
      padding: 8px;
      &:focus {
        background-color: #eef29e;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }

    input[type=text] {
      height: 34px;
      width: 74%;
      color: black;
      border: 1px solid #d3d3d3;
      background: white;
      padding: 7px 22px;
      margin-bottom: 14px;
      border-radius: 2px;
      &:focus {
        background-color: #eef29e;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }

    .field_with_errors {
      border: none;
      width: 74%;
      input[type=text] {
        border: 1px solid #bf0018;
        width: 100%;
      }
    }

    input[type=submit] {
      display: block;
      padding: 12px 23px;
      // padding-right: 30px;
      // padding-left: 30px;
      float: right;
      @media (max-width: 800px) {
        float: none;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .orange_button.faq_sections_buttons {
      margin-right: 19%;
      margin-top: 36px;
      @media (max-width: 800px) {
        float: none;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

.admin_art_associations_new,
.admin_art_associations_edit {
  @media only screen and (min-width: 801px) {
    display: table-cell;
    vertical-align: top;
  }
  @media only screen and (max-width: 800px) {
    text-align: center;
  }
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .errors{
    margin-bottom: 20px;
    @media only screen and (max-width: 800px) {
      text-align: center;
    }
  }

  form{
    display: inline-block;
    @media only screen and (min-width: 801px) {
      text-align: left;
    }
  }

  .fields_row{
    .field_wrapper {
      width: 256px;
      margin-bottom: 24px;
      display: block;
      @media only screen and (min-width: 801px) {
        display: inline-block;
        &:first-child{
          margin-right: 28px;
        }
      }

      @media only screen and (max-width: 800px) {
        margin-right: auto;
        margin-left: auto;
      }
      #art_association_address_attributes_house_number {
        width: 82px;
      }
      #art_association_address_attributes_postal_code {
        width: 130px;
      }
    }
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    border: 1px solid #d3d3d3;
    background: white;
    width: 100%;
    padding: 7px 22px;
    height: 34px;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  .select_wrapper {
    width: 256px;
    margin-bottom: 24px;
    @media only screen and (max-width: 800px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  input[type=submit] {
    background-color: #ea5d0b;
    color: white;
    width: 130px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 0;
    margin: 40px auto;
    display: block;
    @media only screen and (min-width: 801px) {
      float: right;
    }
  }

  .field_with_errors {
    border: none;
    width: 100%;
    input[type=text],
    input[type=email],
    input[type=password],
    select {
      border: 1px solid #bf0018;
    }
  }
}

.admin_art_associations_index {
  display: table-cell;
  vertical-align: top;
  font-size: 13px;
  width:100%;

  @media only screen and (max-width: 800px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .top_meniu {

    @media only screen and (max-width: 960px) {
      display: block;
    }

    @media only screen and (max-width: 800px) {
      text-align: center;
      margin:auto;
    }

    .from_wrapper {
      display: inline-block;
      margin-right: 20px;
      input{
        margin-bottom: 10px;
      }
      @media only screen and (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    input[type=text] {
      border: 1px solid #d3d3d3;
      background: white;
      width: 180px;
      padding: 7px 22px;
      height: 34px;
      display: block;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
      @media only screen and (max-width: 800px) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .select_wrapper {
      width: 245px;
      margin-bottom: 10px;
    }
  }

  .orange_button {
    display: block;
    background-color: #ea5d0b;
    float: right;
    padding: 2px 7px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    .glyphicon.glyphicon-plus{
      margin-right: 7px
    }
    @media only screen and (max-width: 800px) {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      text-align: center;
      margin-bottom: 0px;
    }
  }

  table.admin_art_associations {
    width: 100%;
    clear: right;
    margin-top: 10px;
  }

  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    @media (min-width: 801px) {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }

    tr td {
      border-bottom: 2px solid #ea5d0b;
      padding-right: 3px;
      &:last-child {
        border-bottom: hidden;
        width: 15px;
      }
    }
  }

  @media (max-width: 800px) {
    tbody,
    tr,
    td {
      display: block;
    }
    tr:not(.hidden_row){
      margin-top: 50px;
    }
  }

  td {
    vertical-align: middle;
    @media (min-width: 801px) { 
      display: table-cell;
    }
  }
}

.admin_art_associations_index
table.admin_art_associations
tbody {
  @media (min-width: 801px) { 
    display: table-row-group; 
  }
  tr {
    @media (min-width: 801px) { 
      display: table-row;
    }
  }

  td {
    margin: 0 25px;
    min-height: 30px;
    padding-top: 5px;
    text-align: right; 
    border-bottom: 1px solid #d3d3d3;

    a {
      text-decoration: underline;
    } 

    

    &:first-child {
      border-top: 2px solid #ea5d0b;
    }

    span.phone_symbol {
      position: relative;
      cursor: default;

      span.popover_phone {
        background-color: white;
        border: 1px solid #d3d3d3;
        bottom: 14px;
        left: -208px;
        display: none;
        height: 32px;
        overflow: auto;
        line-height: 30px;
        position: absolute;
        width: 210px;
        padding: 0px 10px;
        z-index: 4;
      }

      &:hover {
        span.popover_phone {
          display: block;
        }
      }

      @media (max-width: 800px) {
        display: none;
      }
    }

    span.phone_for_small_table {
      @media (min-width: 801px) {
        display: none;
      }
    } 

    @media (max-width: 800px) {
      &.td_for_hide {
        display: none;
      }

      &.additional_information {
        text-align: left !important;
      }
    }

    @media (min-width: 801px) {
      padding-top: 0;
      border-bottom: 1px solid #d3d3d3;
      text-align: left;
      &:first-child {
        border-top: none;
      } 
      &:last-child {
        border-bottom: hidden;
        width: 15px;
      }
    }
  }

  td.td_for_hide {
    padding: 5px 0 5px;
    text-align: right;
  }

  td.cell_with_arrow{
    cursor: pointer;
    .arrow_right {
      margin: 10px auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent lightgrey;
    }
    .arrow_down {
      display: none;
      margin: 10px auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #ea5d0b transparent transparent transparent;
    }
    @media (min-width: 801px) {
      .arrow_right {
        margin: 0 9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 8px 8px;
        border-color: transparent transparent transparent lightgrey;
      }
      .arrow_down {
        display: none;
        margin: 0px 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 8px;
        border-color: #ea5d0b transparent transparent transparent;
      }
    }
  }

  td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-weight: bold;
    font-size: 1em;
    color: black;
    
    @media (min-width: 801px) { 
      content: none; 
    }
  }

  .hidden_row {
    display: none;

    td.additional_information {
      padding: 5px 0 5px;
      @media (max-width: 800px) {
        border:none;
      }
    }
  }
}