/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here usign a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
 *= require bxslider
 *= require_self
 *= require cropper
 *= require jquery.minicolors
 *= require bootstrap-select
 *= require_tree .
 *= stub user_mailer
 *= stub custom_devise_mailer
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$jakcol:#7a8f7b;
$linkespalte:900px;

input:focus {outline:none !important;}

html, body {
  margin: 0 auto;
  padding: 0;
  background-color: white;
  height:100%;
  font-family: Arial;
}

body{
  // max-width: 1200px;
  min-width: 320px;
}

label {
  font-weight: normal;
  margin-bottom: 0px;
}

img{
  vertical-align: 0px;
}

caption{
  color:black;
}
#page-head {
  margin: 0;
  padding: 0;
  color: darkkhaki;
  background-color: white;
  z-index:10000;
  position: relative;
  font-family: Cursive;
  a {
    color: black;
    text-decoration: none;
  }
  #pre-head{
    color:black;
    background-color: #eeeeee;
    font-weight: bold;
    padding: 5px;
    > span{
      margin-left: 80px;
      display: inline-block;
    }
    .right a{
      .number{
        position: relative;
        bottom: 1px;
      }
      img {
        position: relative;
        top: 3px;
        width: 15px;
      }
    }
  }
  #head-1 {
    padding: 10px 0px;
    .right-side{
      float:right;
      #search-bar{
        display: inline-block;
        vertical-align: middle;
        border: 2px solid black;
        color: black;
        font-size: 13px;
        width: 350px;
        margin: 10px 0px;
        input{
          border: none;
          width: 93%;
        }
        .glyphicon-search{
          padding: 2px 5px 3px;
          cursor: pointer;
        }
      }
      .profile_buttons{
        color:black;
        display: inline-block;
        .profile_button{
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          margin: 0px 20px;
          position: relative;
          a{
            color: black;
            .count{
              position: absolute;
              color:white;
              left: 37px;
              top: 13px;
              font-size: 20px;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
            }
            img{
              width:50px;
            }
          }
          &:last-child a .count{
            top: 10px;
            left: 8px;
          }
        }
      }
    }
  }
}

/* circles */

#head-circles {
  margin-left: 30px;
  float: left;
  margin-right: 22px;
  display: table-cell;
}

.circles{
  float: left;
  position: absolute;
  left: 14px;
  top: -2px;
}

.circle1, .circle2, .circle3, .circle4, .circle5 {
  margin-top: 2px;
  border: 0px solid white;
  border-radius: 25px;
  background-color: white;
  width: 4px;
  height: 4px;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.7);
}

#head-2 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  #site-nav {
    float:right;
    font-size: 10px;
    color: white;
    padding: 4px 15px;
  }
}

/*buttons*/


// .btn:hover:not(.selectpicker:hover),
// .btn:focus:not(.selectpicker:focus),
// .btn:not(.selectpicker){
//   background-color: rgb(140, 164, 141);
//   color: white;
//   padding: 6px 12px 6px 30px;
// }

.user_settings_button,
.user_settings_button_highlight,
.user_settings_button_disabled {
  display: inline-block;
  position: relative;
  margin: 10px 0 0;
  text-align: center;

  input[type=submit],
  a {
    min-width: 160px;
    display: inline-block !important;
    font-size: 13px;
    padding: 5px 15px;
    border: 1px solid #b6b6b6;
    background: #b6b6b6;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width:420px){
    display: block;

    input[type=submit],
    a {
      width: 100%;
      padding: 10px 15px;
    }
  }
}

.user_settings_button_disabled {
  input[type=submit],
  a {
    color: #eee;
    cursor: not-allowed;
    &:hover {
      text-decoration: none;
    }
  }
}

.user_settings_button_highlight {
  input[type=submit],
  a {
    border: 1px solid #ea5d0a;
    background: #ea5d0a;
  }
}

.green_button,
.gray_button,
.brown_button{
  display: inline-block;
  text-align: center;
  position: relative;
}

.green_button input[type=submit],
.green_button a,
.brown_button input[type=submit],
.brown_button a{
  min-width: 120px;
  display: inline-block !important;
  background-color: #8ca48d;
  font-size: 13px;
  padding: 2px 12px 2px 25px;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 #34495e;
  background-image: linear-gradient(to bottom, #8ca48d, #667967);
  border: 1px solid gray;
}

.green_button input[type=submit]:active,
.green_button a:active{
  background: #668067;
}

.green_button input[type=submit]:hover,
.green_button a:hover,
.gray_button:hover{
  cursor: pointer;
}

.gray_button a{
  cursor:not-allowed;
}

.gray_button input[type=submit],
.gray_button a{
  font-family: sans-serif;
  min-width: 120px;
  display: inline-block !important;
  background-color: gray;
  font-size: 13px;
  padding: 2px 12px 2px 25px;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 #34495e;
  background-image: linear-gradient(to bottom, gray, gray);
  border: 1px solid gray;
}

.gray_button input[type=submit]:active{
  background: gray;
}

.thin_brown_button{
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: normal;
  font-size: 13px;
  .circles{
    left: 9px;
    .circle1, .circle2, .circle3, .circle4{
      margin-top: 1.5px;
      width: 3px;
      height: 3px;
    }
  }
  input[type=submit], a{
    min-width: 120px;
    display: inline-block !important;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    box-shadow: 0 0 1px 0 #34495e;
    background-color: #90887B;
    background-image: none;
    border: none;
    padding: 0 20px;
  }
}

/* shopping cart page start */

/* new */

.shopping_cart_article_title{
  text-decoration: none;
  color:black;
  font-size: 18px;
  a{
    color:black;
  }
}

.purchase_page_links{
  font-size:18px;
  margin-bottom:20px;
  color:rgba(142, 142, 142, 0.73);
  line-height: 25px;
  a{
    color:rgba(142, 142, 142, 0.73);
    display: inline-block;
  }
}

.shopping_cart_article_image{
  display: inline-block;
  img{
    width:110px;
  }
}


/* old */

#shopping-cart-article-title {
  text-decoration: none;
  color:black;
}

z {
  color:gray;
}

.articles{
  .statistics{
    tr td{
      &:first-child{
        font-weight: bold;
        font-size: 15px;
      }
      &:last-child{
        padding-left: 10px;
      }
    }
  }
}

#shopping-cart-article-description{
  font-size:10px;
  color:gray;
}

#shopping-cart-article-description p{
  margin-bottom: 0px;
  font-size:10px;
  bottom: 11px;
  max-width: 250px;
}

.select-in-basket{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border-radius: 2px;
  height: 19px;
  border: 1px solid gray;
  background: transparent image-url("select-arrow.png") no-repeat right;
  padding-right: 25px;
  padding-left: 5px;
}

/*shopping cart page end */

#site-logo {
  display: inline-block;
  img{
    width: 400px;
  }
}

#site-nav {
	text-align: right;
  margin-left: auto;
  margin-right: auto;
}

#notice-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  text-align: center;

  #notice, #alert {
    position: relative;
    padding: 10px 10px 15px;

    &::after {
      display: block;
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      border-bottom: 1px dashed #fff;
      content: '';
      pointer-events: none;
    }
  }

  @media screen and (min-width:801px){

    top: 10px;

    #notice, #alert {
      display: inline-block;
      width: 420px;
      padding: 20px 50px;

      &::after {
        border: 1px dashed #fff;
      }
    }
  }
}

#wrapper {
  min-height:100%;
  position:relative;
  // background: none repeat scroll 0% 0% rgba(128, 128, 128, 0.04);
}

#slider-area {
  z-index: 1;
  max-width: $linkespalte;
  li {
    margin: 0;
  }
}

h2{
  font-size:21px;
  font-weight: bold;
}

h3{
  margin: 8px;
	color:$jakcol;
	font-weight:normal;
  font-size:17px;
}

// Anpassung bxslider
.bx-wrapper{
	margin: 0 auto 20px;
}

.upper_page_links {
  @extend .gray_10px;
  margin-bottom: 10px;
}

.upper_page_links a{
  text-decoration: none;
  color: gray;
}
/* purchase signin or signup page */

#main-page-new-shop-button,
.show_AGB_green_button:hover,
#show_AGB_x,
#add_picture_button:hover,
#add_file_button:hover,
#add_picture_text:hover,
#add_image_button:hover,
#add_image_text:hover,
#about_me_shops_placeholder_image:hover,
#about_me_shops_main_image:hover,
.destroy_shop_image_shops:hover,
.pointer:hover,
.about_me_shops #add_main_picture_button:hover{
  cursor: pointer;
}

#sign-in-form{
  display: table-cell;
  vertical-align:top;
  @media (max-width: 966px) {
    display: block;
  }
  @media (max-width: 567px) {
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
  }
  .log_in {
    font-weight: bold;
    font-size: 24px;
    color: #76A0B4;
    margin-left: 40px;
    margin-bottom: 12px;
    @media (max-width: 567px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .check_wrapper {
    overflow: hidden;
    display: inline-block;
    width: 27px;
    .check{
      margin: 3px;
      width: 21px;
      height: 33px;
      border-right: 9px solid #EA5D0A;
      border-bottom: 9px solid #EA5D0A;
      transform: rotate(45deg);
    }
  }
  .title{
    font-weight: bold;
    margin-left: 12px;
    display: inline-block;
    font-size: 16px;
    color: #EA5D0A;
  }

  .form_wrapper {
    margin-top: 100px;
    overflow: auto;
    display: block;
    .field_wrapper {
      margin-left: 40px;
      margin-right: 80px;
      display: block;
      width: 256px;
      margin-bottom: 24px;
      @media (max-width: 567px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .field_wrapper.last {
      margin-bottom: 13px;
      .field_with_errors{
        width: 100%;
      }
    }

    input[type=text],
    input[type=password] {
      border: 1px solid #d3d3d3;
      background: white;
      width: 100%;
      padding: 7px 22px;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }

    input[type=checkbox] {
      margin-left: 40px;
      margin-top: 0px;
      vertical-align: middle;
      display: inline-block;
      @media (max-width: 567px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    label {
      vertical-align: middle;
      font-size: 11px;
      display: inline-block;
    }

    a {
      display: block;
      font-size: 11px;
      margin-left: 40px;
      font-weight: bold;
      @media (max-width: 567px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    input[type=submit] {
      display: block;
      margin-top: 22px;
      margin-left: 92px;
      padding: 13px 30px;
      @media (max-width: 567px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .field_with_errors{
    border: none;
  }
}

#sign-up-form{
  display: table-cell;
  vertical-align:top;
  padding-left: 47px;
  border-left: 1px dashed grey;
  @media (max-width: 966px) {
    display: block;
    border-left: none;
    border-top: 1px dashed grey;
    padding-top: 50px;
    padding-left: 40px;
    margin-top: 50px;
  }
  @media (max-width: 567px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    text-align: center;
  }
  .sign_up {
    font-weight: bold;
    font-size: 24px;
    color: #76A0B4;
    margin-bottom: 12px;
  }
  .title{
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    color: #EA5D0A;
    margin-top: 26px;
    margin-bottom: 20px;
  }

  .description{
    font-size: 13px;
    margin-top: 50px;
    color: grey;
    @media (max-width: 567px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .check_wrapper {
      overflow: hidden;
      display: inline-block;
      width: 13px;
      margin-right: 8px;
      .check{
        margin: 2px;
        width: 9px;
        height: 15px;
        border-right: 4px solid grey;
        border-bottom: 4px solid grey;
        transform: rotate(45deg);
      }
    }
  }
  .check-boxes{
    @media (max-width: 567px) {
      display: block;
    }
    font-size: 11px;
    input[type=checkbox] {
      margin-top: 0px;
      vertical-align: middle;
      display: inline-block;
    }

    label {
      vertical-align: middle;
      font-size: 11px;
      display: inline-block;
      color: grey;
    }
    .show_AGB_green_button{
      color:grey;
      font-weight:bold;
    }
    .field_with_errors{
      display: inline-block;
      vertical-align: middle;
      border: none;
      label {
        color: #bf0018;
      }
    }
  }

  .fields {
    display: inline-block;
    vertical-align: top;
    @media (max-width: 567px) {
      display: block;
    }
  }

  .field_wrapper {
    margin-left: 18px;
    display: block;
    width: 256px;
    margin-bottom: 24px;
    @media (max-width: 567px) {
      margin-left: auto;
      margin-right: auto;
    }
    &:first-child {
      margin-top: 50px;
    }
    .field_with_errors{
      border: none;
      width: 100%;
      input{
        border: 1px solid #bf0018;
      }
    }
  }
  .field_wrapper.last {
    margin-bottom: 13px;
  }

  .required {
    font-size: 11px;
    color: grey;
    margin-left: 42px;
    @media (max-width: 567px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    border: 1px solid #d3d3d3;
    background: white;
    width: 100%;
    padding: 7px 22px;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
  input[type=submit]{
    display: block;
    padding: 13px 30px;
    margin-left: 180px;
    margin-top: 22px;
    @media (max-width: 567px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* main page */

#shop-form,
#article-form{
  color: black;
  background: white;
  right: 30%;
  margin-top: 8px;
  width: 410px;
  min-height: 350px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -2px 2px 4px 2px gray;
}

#article-form input[type=text]:not(.select2-input),
#article-form select:not(#article_category_ids),
#article-form textarea,
#article-form input[type=date]{
  width:160px;
  @extend .form-control;
  display: inline-block;
}

#shop-form,
.settings_shops.shop_edit{
  .address_country.field{
    width: 100%;
    max-width: 350px;
    select{
      min-width: 134px;
      width: 88.8% !important;
      display: inline-block !important;
    }
    label{
      display: inline-block;
    }
    .field_with_errors:last-child{
      width: 88.8% !important;
      select{
        width:100% !important;
      }
    }
  }
}

.select2-choices{
  @extend .form-control;
}


.green_stripe_title{
  background:#8ca48d;
  color:white;
  font-size: 14px;
  padding-left: 30px;
  line-height: 25px;
  .glyphicon.glyphicon-info-sign{
    color:white !important;
  }
}

/* article form */

.fields_block{
  @extend .inblock_top;
  width: 230px;
}

.article_type input[type=radio]{
  margin:12px 0px;
}

.material_textiles_block_form{
  @extend .inblock_top;
  border:1px solid #CCCCCC;
  margin-right: 60px;
  padding: 10px 96px 10px 40px;
}

.material_textiles_title{
  display: inline-block;
  margin:0px 0px 5px 15px;
}

.material_textile_field{
  margin-bottom: 5px;
}

#article_weight{
  width:60px;
}

.bold_13px {
  font-weight: bold;
  font-size: 13px;
}

.new_green_button_circles{
  float:left;
  left:19px;
  position:relative;
}

.material_parent label{
  font-weight: bold !important;
  display: inline-block !important;
}

.ms-parent .material_child{
  margin-left:15px;
  display: none;
}

.size_fields input{
  padding:7px !important;
}

.show_submaterials,
.hide_submaterials{
  display: inline-block;
  cursor:default;
}

.hide_submaterials{
  display: none;
}

/* article show */

.previous_page_link{
  margin-bottom: 5px;
  a{
    text-decoration:none;
    color: #818181;
    font-size:12px;
  }
}

/* Purchase review */

.review_main{
  @extend .inblock_top;
  margin: 10px 0px 0px 10px;
  max-width:230px;
  height:160px;
  overflow:hidden;
}

.review_address{
  margin-top:20px;
  @extend .inblock_top;
  margin-right:15px;
}

.review_address_line{
  max-width:130px;
  max-height: 110px;
  overflow: hidden;
}

/*articles filters */

.article-horizontal-list-element{
  margin-bottom:10px;
}

/* error fields */

#user_accept_terms,
#user_accept_privacy_policy{
  .field_with_errors{
    border:0px;
    color:#c00;
  }
}

/* Category show page */
#category_show_filters{
  font-size: 11px;
  background-color:rgb(242, 242, 242);
  width: 240px;
}

#category_show_filters_style{
  text-decoration:none;
  color:black;
  margin-left:5px;
}

#category_show_materials{
  background-color: rgb(242, 242, 242);
  width:230px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.28);
  padding: 5px 5px 3px;
}

#category_show_materials_minus{
  font-size:15px;
  top:6px;
}
#category_show_materials_plus{
  font-size:9px;
  top:4px;
}

#category_show_materials_plus,
#category_show_materials_minus{
  display:inline-block;
  border:1px solid black;
  height:7px;
  width:7px;
  position:relative;
  margin-right:4px;
}

#category_show_materials_plus div{
  position:relative;
  bottom:6px;
  left:0px;
}

#category_show_materials_minus div{
  position:relative;
  bottom:7px;
  left:0.9px;
}

/* Category show page horizontal article */

.article-horizontal-list-image{
  display:inline-block;
  float:left;
}

.horizontal_article_image_style{
  height:170px;
  width:227px;
  border-radius:5px;
}

#horizontal_article_display{
  @extend .inblock_top;
  height:145px;
}

#horizontal_article_description {
  @extend .inblock_top;
  margin-left: 10px;
  margin-top:10px;
  overflow: hidden;
  height: 110px;
}

.article_status_style{
  font-size:10px;
  color:gray;
  float:left;
}

.article-list-visit-shop{
  text-decoration: none !important;
  position:relative;
  bottom:5px;
  margin-right:7px;
}
.article-list-visit-shop:hover{
  text-decoration: underline !important;
}

.article_horizontal_bottom{
  background-color:white;
  box-shadow:0 1px 0 0 #E4E4E4;
  margin-left:5px;
  text-align:right;
  height:24px;
}

#show_AGB,
.show_popup_window{
  display:none;
  background-color: white;
  z-index: 5;
  position: fixed;
  overflow: auto;
  height: 50%;
  right: 20%;
  left: 20%;
  top: 18%;
  border: 1px solid black;
  box-shadow: 2px 2px 4px 2px gray;
}

.show_popup_window{
  padding: 40px;
}

#show_AGB_x{
  display: none;
  position: fixed;
  z-index: 5;
  top: 15%;
  right: 20%;
  font-size: 20px;
}

.show_AGB_green_button{
  display: inline-block;
}


.show_AGB_green_button{
  color: rgb(128, 151, 129);
  text-decoration: underline;
  display: inline-block;
}


/* change AGB*/
#change_AGB_via_tinymce_button,
#change_AGB_via_html_button{
  display: inline-block;
}

#change_AGB_via_tinymce,
#change_AGB_via_html{
  margin-top:50px;
}

.usual_body{
  padding: 0px 15px;
  width: 100%;
  display: table-cell;
  vertical-align: top;
}

.article_show_usual_picture{
  height: auto;
}



.article_show_main_picture{
  height: auto;
  width: 48.5%;
}

// .main_picture{
//   img{
//     float:left;
//     margin: 0.66%;
//   }
// }

#new_shop_form_checkboxed_under_title{
  background:#8ca48d;
  color:white;
  font-size: 14px;
  padding: 3px 0px 3px 30px;
}

#password_recover,
#confirmation_resend{
  width: 500px;
  input[type=email],
  .field input{
    @extend .form-control;
  }
}

#password_recover,
#confirmation_resend,
#credit_card_fields_except_type,
.settings_shops,
.newsletter,
#shop-form,
#article-form,
#settings_page{
  .field_with_errors{
    @extend .has-error;
    border: none;
  }
}
#payment_authorization_check{
  padding-right: 5px;
  @extend .inblock_top;
  .field_with_errors{
    border: 1px solid #bf0018;
    border-radius: 3px;
    padding: 2px 2px 0px;
  }
  input[type="checkbox"]{
    margin: 0px;
  }
}
select::-ms-expand {
    display: none;
}

#add_picture_button,
#add_file_button,
#add_image_button,
#nonclickable_button,
.about_me_shops #add_main_picture_button{
  display:inline-block;
  border:1px solid gray;
  width:84px;
  height:84px;
  border-style:dashed;
  background-color:rgba(66, 66, 66, 0.26);
  .glyphicon-plus,
  .glyphicon-file{
    font-size:20px;
    color:rgb(140, 164, 141);
    margin:28px 31px;
  }
}

#add_picture_text,
#add_image_text{
  text-decoration:underline;
  width: 80px;
}

.picture,
.withdrawal_form{
  a .glyphicon-remove-sign{
    color: #bf0018;
  }
}

.picture{
  margin-right:6px;
  img{
    height: 84px;
    vertical-align: -4px
  }
  a{
    margin: 3px;
  }
}

#show_preview_image{
  margin-top: 10px;
  display: none;
  width: 150px;
  height:150px;
}

#personal_bank_data{
  text-align: right;
}

#personal_bank_data input[type=text],
#bank_transfer_data input[type=text]{
  width:200px !important;
}

#shop-form,
#article-form{
  .shop_form_duration .field{
    display: inline-block;
  }
}

#bank_transfer_data{
  text-align: right;
  display: none;
  width:300px;
}

#payment_types{
  display: none;
}

.shop_form_shipping_method_name_and_check{
  display: inline-block;
  min-width: 180px;
}



.shop_form_shipping_method_name_and_check:nth-child(2){
  width:auto;
}

#shop-form,
#article-form,
#settings_page{
  .shop_form_duration .field input[type="text"]{
    width:80px !important;
  }
}

#by_appointment label{
  color:rgba(128, 128, 128, 0.53);
}

.popover-title{
  color:black;
}

.popover-content{
  line-height: 18px;
  color:gray;
  font-size:13px;
}

/* user settings*/

.account_settings {

  padding: 0;
  color: #767676;

  h2{
    margin-top: 0;
    font-weight: bold;
  }

  input[type=text],
  #bank_transfer_data input[type=text],
  #paypal_data input[type=text],
  .house_number.field [type=text],
  input[type=email],
  input[type=password],
  input[type=text]{
    width:160px;
    @extend .form-control;
    display: inline-block;
  }

  select{
    @extend .form-control;
  }

  label {
    font-weight: bold;
  }

  .form-control{
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .field_with_errors {
    input[type=email],
    input[type=password],
    input[type=text],
    select {
      border: 1px solid #bf0018;
    }
    label {
      color: #bf0018;
    }
  }

  > div{
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .address_country.field {
    width: 100%;
    max-width: 350px;
    select{
      display: block;
      width: 100%;
    }
    label{
      display: block;
    }
  }

  .area_code label {
    display: none;
  }
}

#user_settings_first_column{
  width: 60%;
  padding-right: 20px;
  border-right: 1px solid #e6e6e6;
}

#user_settings_second_column{
  width: 40%;
  padding-left: 20px;
  label{
    font-weight: normal;
  }
}

.address_main_fields {
  .field {
    position: relative;
  }
  .glyphicon.glyphicon-info-sign{
    display: block;
    position: absolute;
    top: auto;
    right: -25px;
    bottom: 10px;
    color: #5383a0;
  }
}

#user_settings_show_email_and_password,
#user_settings_edit_email_and_password_div,
#user_settings_form_address,
#user_settings_show_address,
#user_settings_cancellation{
  margin-right: 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding-bottom: 20px;

  .font_gray_12 {
    margin-top: 10px;
  }
}

#user_settings_form_address {
  > div {
    max-width: 470px;
  }
}

#user_settings_notifications label,
#user_settings_notifications input{
  display: inline;
}

@media screen and (max-width:970px){

  #user_settings_first_column,
  #user_settings_second_column{
    display: block;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    border-right: 0;
    border-left: 0;
  }

  #user_settings_form_address {
    display: block;
  }

  #user_settings_show_email_and_password,
  #user_settings_edit_email_and_password_div,
  #user_settings_form_address,
  #user_settings_show_address,
  #user_settings_cancellation{
    margin-right: 0;
  }
}

@media screen and (max-width:420px){
  .account_settings {
    .field,
    .address_main_fields,
    .address_phone_fields {
      input[type=email],
      input[type=password],
      input[type=text],
      select,
      .house_number.field input[type=text],
      .area_code.field input[type=text],
      .phone.field input[type=text],
      .mobile.field input[type=text],
      .field,
      .field.margin_right,
      .field.margin_right input[type=text],
      #user_address_attributes_birth_date {
        width: 100%;
        margin-right: 0;
      }
      .area_code label {
        display: inline-block;
      }
      .glyphicon.glyphicon-info-sign {
        display: none;
      }
    }
    .address_country.field {
      max-width: none;
    }
  }
}

/* credit card payment */
#new_credit_card_data input[type=text]{
  @extend .form-control;
}

#new_credit_card_data label{
  margin-top:10px;
}

// #language-select{
//   display: inline-block;
// }
// #language-select a{
//   color: #BEBCBC;
// }

/* Common tags */

h1{
  color: #5383a0;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
}

.new_checkbox_wrapper,
.new_radiobutton_wrapper {
  display: inline-block;
  cursor: pointer;
  input[type=checkbox],
  input[type=radio] {
    display: none;
    &:checked + .tick-wrapper .glyphicon-ok,
    &:checked + .circle_borders .circle {
      opacity: 1;
    }
  }
  &:hover .tick-wrapper .glyphicon-ok,
  &:hover .circle_borders .circle {
    opacity: 0.3;
  }
  .tick-wrapper,
  .circle_borders{
    border: 1px solid #767676;
    height: 19px;
    width: 19px;
    text-align: center;
    display: inline-block;
    .glyphicon-ok,
    .circle{
      opacity: 0;
    }
  }
  .tick-wrapper{
    .glyphicon-ok{
      font-size: 13px;
      color: #767676;
      right: 0.3px;
    }
  }
  .circle_borders{
    border-radius: 50%;
    .circle{
      display: inline-block;
      background-color: #767676;
      width: 13px;
      height: 13px;
      border-radius: 50%;
    }
  }
  &.disabled{
    color: #c2c2c2;
    .tick-wrapper,
    .circle_borders{
      border: 1px solid #c2c2c2;
    }
  }
}

.orange_button{
  background-color: #EA5D0A;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus{
    text-decoration: none;
    color: white;
  }
  &.big{
    padding: 16px 0;
    font-size: 14px;
  }
  &.nonclickable{
    background-color: #b6b6b6;
    cursor: not-allowed;
  }
}


.select_wrapper {
  position: relative;
  select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display: inline-block;
    padding-right: 42px;
    height: 34px;
    border: 1px solid #d3d3d3;
    background: white;
    width: 100%;
    padding: 7px 22px;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
  .select_button {
    padding: 14px 17px;
    background-color: #ea5d0b;
    position: absolute;
    right: 1px;
    top: 1px;
    pointer-events: none;
    display: inline-block;
    .triangle_to_bottom {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid white;
    }
  }
}

.restricted_width{
  margin: auto;
  max-width: 1200px;
}

.eight-pointed-star{
  display: inline-block;
  font-size: 16px;
  color: #f2973b;
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  transform: rotate(22deg);
  &:after{
    content: '✸';
  }
}

.pure_text{
  a,
  &{
    text-decoration: none;
  }
}

.table{
  display: table;
}

.relative{
  position: relative;
}

.gray_background{
  background-color: #ebebeb !important;
}

.rectangular_button{
  width: 100%;
  display: block;
  background-color: white;
  border: 2px solid black;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  box-shadow: 2px 2px 0px 0px;
  font-family: cursive;
  cursor: pointer;
}

.hidden{
  display: none;
}

#shop_payment_authorization{
  -ms-transform: scale(1.2);
  -moz-transform: scale(1);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

input[type="checkbox"]{
  -moz-transform: scale(0.8);
}

.below_terms_and_imprint{
  text-align: left;
  font-size: 12px;
  color:gray;
}

.red{
  color:red;
}

.not-allowed{
  cursor: not-allowed;
}

.shipping_information{
  display: none;
}

.big_green_button{
  .btn:hover,
  .btn:focus,
  .btn{
    background-color: rgb(140, 164, 141);
    color: white;
    padding: 6px 12px 6px 30px;
  }
}

.big_green_button,
.big_green_button a{
  position: relative;
  .btn-default[disabled]{
    background-color: #8ca48d;
  }
  .btn[disabled]{
    opacity: 1;
  }
}

.blue_circle{
  height: 10px;
  width: 10px;
  background: #4180FF;
  border-radius: 10px;
  display: inline-block;
}

.darkred{
  color: #bf0018;
}

.spinner{
  position: fixed !important;
}

.ms-parent button span{
  width: auto !important;
  color: #444 !important;
}

.align_bottom {
  vertical-align: bottom;
}

.highlighted_header_link{
  color:#8CA48D !important;
  text-decoration:underline;
  font-weight:bold;
  font-size: 19px;
}

.blue_link{
  color: #337ab7;
  text-decoration: none;
}

.radio_button{
  label,
  input{
    display: inline;
  }
}

.display_none{
  display: none;
}

.green{
  color: #84CA8C
}

.gold{
  color:gold;
}

.lightgray{
  color:lightgray;
}

#hidden_pictures{
  display: inline-block;
}

.blue_link{
  display: inline;
  a {
    color: #337ab7;
  }
}

.price_block{
  text-align: center;
  color: gray;
  .value{
    color:#973131;
    font-size:24px;
    font-weight:bold;
  }
  .vat{
    font-size:10px;
    margin-bottom:10px;
  }
  .with_shipping{
    font-size:11px;
    .show_shipping_table{
      color: #bf0018;
      text-decoration: underline;
      position: relative;
      z-index: 1;
      &:hover .shipping_methods_hover{
        display: block;
      }
      .shipping{
        cursor: default;
      }
    }
  }
}

.materials-select{
  position: relative;
  .main-field{
    overflow: hidden;
    border: 1px solid #CCCCCC;
    height: 34px;
    width: 120px;
    border-radius: 4px;
    background: white;
    padding: 7px 15px;
    white-space: nowrap;
  }
  .dropdown-field{
    z-index: 1;
    width: 160px;
    height: 250px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    overflow-y: scroll;
    font-size: 12px;
    background-color: #F2F2F2;
    position: absolute;
    display: none;
    .material{
      border-bottom: 1px solid lightgray;
      padding: 3px 15px;
      label{
        margin-left: 3px;
      }
    }
    .child{
      margin-left: 15px;
      display: none;
    }
    .parent{
      .show_children,
      .hide_children{
        position: absolute;
        left: 5px;
        cursor: pointer;
      }
      .hide_children{
        display: none;
      }
    }
  }
}

.table-row{
  display: table-row;
}

.table-cell-top,
.table_cell_top{
  display: table-cell;
  vertical-align: top;
}

.lightgray_border{
  border: 1px solid lightgray;
}

img.loading{
  margin: 34px 38px 34px 34px;
  vertical-align: top;
  display: none;
}

.underline{
  text-decoration: underline;
}

.big_perpendicular_angle_bracket_to_right{
  display: none;
  position: relative;
  margin: 65px 25px;
  vertical-align: top;
  .triangle_to_right{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #CCCCCC;;
  }
  .white_triangle{
    border-left: 10px solid white;
    position: absolute;
    right: 1px;
  }
}

.small_perpendicular_angle_bracket_to_right{
  display: inline-block;
  position: relative;
  margin-left: 5px;
  .triangle_to_right{
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #CCCCCC;;
  }
  .white_triangle{
    border-left: 4px solid white;
    position: absolute;
    right: 1px;
  }
  .light_green_triangle{
    border-left: 4px solid #d2f2a6;
    position: absolute;
    right: 1px;
  }
}



.background_light_green{
  background-color: rgb(210, 242, 166);
}

.right{
  float:right;
}

.float_right{
  float:right;
}

.left{
  float:left;
}

.align_center{
  text-align: center;
}

.field_with_errors{
  display: inline-block !important;
  label{
    @extend .control-label;
  }
}

#shop-form{
  #new_shop,
  .edit_shop{
    input[type=text],
    select,
    textarea{
      @extend .form-control;
    }
  }
}

.form-control{
  -moz-appearance: none;
  width:160px;
}

.horizontal_upper_menu{
  .menu_button{
    @extend .inblock_top;
    &:hover{
    text-decoration: none;
    }
  }
  .line_above{
    height: 4px;
    margin-bottom:3px;
  }
  .title {
    background-color: #8ca48d;
    color:white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
  }
}

.red_link a,
.red_link{
  color: #bf0018;
  text-decoration: underline;
  cursor:pointer
}

.absolute{
  position: absolute !important;
}

.bold{
  font-weight: bold;
}
.gray{
  color:gray;
}

.dark_gray{
  background-color: rgb(204, 204, 204)
}

.darkgray{
  color:darkgray;
}
.black{
  color:black;
}

#select_all_hidden_text{
  display: none;
}

#checkbox_for_select2{
  margin-right: 4px;
  position: relative;
  top: 2px;
}
.select2-dropdown-open.select2-drop-above .select2-choices{
  background-image: none;
}
.select2-container-multi .select2-choices {
  background-image: none;
  border: 1px solid #CCC;
}

#user_address_attributes_birth_date{
  @extend .form-control;
}


.rating_stars{
  display: inline-block;
  position: relative;
  top:4px;
  margin-left:10px;
}

.rating_star:hover{
  cursor: pointer;
}

.blocked_rating_star:hover,
.gray_button [type=submit]:hover{
  cursor:not-allowed;
}

.rating_star,
.blocked_rating_star{
  display: inline-block;
  color:gray;
  font-size:25px;
  margin-left: -5px;
}

.clear{
  clear:both;
}

.inblock{
  display: inline-block;
}

.inblock_top{
  display:inline-block;
  vertical-align:top;
}

.font_gray_12{
  color:gray;
  font-size: 12px
}

.font_bold_11{
  font-size:11px;
  font-weight:bold;
}

.white_form_block{
  padding:20px 30px;
}

.gray_10px{
  color: gray;
  font-size: 10px
}

.font_10px{
  font-size: 10px;
}

.font_11px{
  font-size:11px;
}

.shop_show,
.shop_ratings {

  color: #767676;

  h1,
  h2,
  h3,
  h4,
  h5 {
    display: block;
    margin: 0;
    font-weight: bold;
  }

  h1 {
    padding: .5em 0 .7em;
    color: #5383A0;
    font-size: 30px;
  }

  h2,
  h4 {
    padding: 1em 0 .5em;
    color: #5383A0;
    font-size: 20px;

    &:first-child {
      padding-top: 0;
    }
  }

  h3,
  h5 {
    color: inherit;
  }

  h3 {
    padding: .5em 0;
    font-size: 16px;
  }

  .left_shop_info_panel {
    width: 325px;
    padding-right: 65px;
  }

  .main_picture {
    width: 100%;
  }

  .shop_name {
    padding: 0 0 14px;
    color: #a5a5a5;
    font-size: 11px;
    font-weight: bold;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .rating_field {

    a {
      display: inline-block;
      padding: 5px 0;
      line-height: 20px;
      color: inherit;

      &:hover .rating_count {
        color: inherit;
        text-decoration: underline;
      }
    }

    .stars {
      display: inline-block;
      position: absolute;

      span {
        position: absolute;
        overflow: hidden;
      }

      img {
        margin-right: 10px;
      }
    }

    .rating_count {
      display: inline-block;
      margin-left: 160px;
      vertical-align: middle;
    }
  }

  .rating_details {
    padding: 5px 10px 15px;
  }

  .info_box {
    padding: 10px;
    margin: 0 0 10px;
    background: #769fb4;
    color: #fff;

    a {
      color: inherit;
    }

    .rating_field {
      padding: 0 0 7px;
      border-bottom: 1px solid #fff;
    }
  }

  .about_shop {
    text-transform: uppercase;
  }

  .statistics_mobile_content {
    padding: 7px 0;
    border-bottom: 1px solid #fff;
  }

  .statistics {
    width: 100%;

    tr td {
      font-weight: bold;
      vertical-align: bottom;
      &:last-child {
        padding-left: 5px;
      }
    }

    .date_small {
      display: none;
    }
  }

  .statistics_mobile_header {
    display: none;
  }

  .shop_meta_links {

    margin: 7px 0 0;
    padding: 7px 0 0;
    border-top: 1px solid #fff;

    > div {
      color: inherit;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .address {
    border-bottom: 1px solid #fff;
  }

  .address_header {
    display: block;
    position: relative;
    padding: 7px 0;
    font-weight: bold;
    cursor: pointer;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      right: 10px;
      height: 100%;
      width: 25px;
      background: transparent image-url("arrow_to_bottom.png") no-repeat right center;
      content: '';
    }
  }

  .address_content {
    display: none;
    padding: 0 0 7px;
  }

  .displays {
    label {
      padding: 6px 0;
    }
    select {
      @extend .form-control;
      display: block;
      float: right;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .shop_favorites_remove,
  .shop_favorites_add,
  .send_message {
    a {
      display: block;
      margin: 0 0 10px;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .shop_favorites_remove {
    a,
    a:hover {
      padding: 10px;
      background: #769fb4;
      color: #fff;
    }
  }

  .shop_favorites_add,
  .send_message {
    a,
    a:hover {
      padding: 9px;
      border: 1px solid #769fb4;
      color: #769fb4;
    }
  }

  .central_content {
    @extend .table-cell-top;
    font-size: 18px;
    line-height: 1.2;

    .shop_favorites_remove,
    .shop_favorites_add,
    .send_message {
      display: none;
    }
  }

  .images {
    margin-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
    justify-content: space-between;

    .shop_picture {
      margin-bottom: 10px;

      img {
        max-height: 450px;
      }
    }
    .shop_picture:not(:last-child){
      margin-right: 1%;
    }
  }

  .info_text_block {
    margin-bottom: 1.5em;
  }

  .terms_content,
  .imprint_content,
  .revocation_content {
    display:none;
  }

  .shop_articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .categories_article_block {
    display: block;
    margin: 0;
    padding: 0 0 30px;
    width: 242px;
  }

  @media screen and (min-width:501px) and (max-width:1200px) {

    .left_shop_info_panel {
      width: 210px;
      padding-right: 30px;

      .date_large {
        display: none;
      }

      .date_small {
        display: table-row;
        td:last-child {
          padding: 7px 0 0;
        }
      }

      .rating_field {

        a {
          display: block;
          position: relative;
        }

        .rating_count {
          width: 100%;
          margin-left: 0;
          text-align: right;
        }

        .stars img {
          margin-right: 5px;
        }
      }

      .statistics {
        tr td {
          &:not(:first-child) {
            text-align: right;
          }
        }
      }
    }
  }

  @media screen and (max-width:1024px) {

    .info_text_block,
    .shop_articles {
      max-width: 560px;
    }
  }

  @media screen and (max-width:750px) {

    .images {
      display: none;
    }

    .shop_articles {
      display: block;
    }
  }

  @media screen and (min-width:501px) {
    .info_text_content,
    .mobile_toggle,
    .statistics_mobile_content {
      display: block !important;
      height: auto !important;
    }
  }

  @media screen and (max-width:500px) {

    h3 {
      text-align: center;
    }

    .shop_name {
      font-size: inherit;
    }

    .table-cell-top,
    .central_content {
      display: block;
    }

    .left_shop_info_panel {
      width: 100%;
      padding: 0;

      .info_box {
        margin: 0;
        padding: 0;
        background: transparent;
        color: #767676;

        .rating_field {
          padding: 0;
          background: #769fb4;
          border-bottom: 0;
          color: #fff;

          &::after {
            display: block;
            position: relative;
            margin: 0 10px;
            border-bottom: 1px solid #fff;
            content: '';
          }

          a {
            display: block;
            padding: 10px 15px;
          }
        }
      }

      .rating_details {
        padding: 15px;
      }

      .statistics td {
        line-height: 1.2;
      }

      .shop_meta_links {
        > div {
          color: #769fb4;
          font-size: 15px;
        }
      }

      .about_shop {
        display: none;
      }

      .mobile_toggle {
        display: none;
      }

      .date_large {
        display: table-row;
      }

      .date_small {
        display: none;
      }

      .shop_favorites_remove,
      .shop_favorites_add,
      .send_message {
        display: none;
      }

      .displays {
        margin-bottom: 20px;
      }
    }

    .central_content {
      .shop_favorites_remove,
      .shop_favorites_add,
      .send_message {
        display: block;
      }

      .shop_favorites_remove,
      .shop_favorites_add {
        a {
          margin-top: 10px;
        }
      }
    }

    .categories_article_block {
      margin: 0 auto;
    }

    .info_text_block {
      margin: 0;
    }

    .terms_content,
    .imprint_content,
    .revocation_content {
      margin: 15px 0;
    }

    .address {
      border-bottom: 0;
    }

    .address_header,
    .info_text_header,
    .statistics_mobile_header {
      display: block;
      position: relative;
      padding: 10px 10px 0;
      background: #769fb4;

      &::after {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        height: 100%;
        width: 25px;
        background: transparent image-url("arrow_to_bottom.png") no-repeat right center;
        content: '';
      }

      h2,
      span {
        display: block;
        padding: 0 35px 10px 10px;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    .statistics_mobile_content,
    .info_text_content {
      display: none;
      position: relative;
      padding: 15px 0;
      font-size: 18px;
      line-height: 1.2;
    }

    .address_content{
      padding-bottom: 15px;
      font-size: 18px;
    }

    .address_content,
    .info_text_block_shop .info_text_content,
    .statistics_mobile_content {
      position: relative;
      padding-top: 25px;

      &::before {
        display: block;
        position: absolute;
        top: 0;
        height: 10px;
        width: 100%;
        background: #769fb4;
        content: '';
      }
    }

    .info_text_block_about .info_text_header {
      border-bottom: 10px solid #769fb4;
    }

    &.shop_ratings {
      .address_header {
        border-bottom: 10px solid #769fb4;
      }
      .address_content {
        padding-top: 15px;
        border-bottom: 1px solid #769fb4;
        &::before {
          display: none;
        }
      }
    }
  }
}

.brown_button input[type=submit],
.brown_button a{
  background-color: #90887B;
  background-image: none;
  border: none;
  padding: 3px 12px 3px 25px;
}

.margin_5px{
  margin: 5px;
}

/* responsive design */

@media screen and (max-width:615px){
  #wrapper.administration{
    .administration_text{
      top: 50px !important;
    }
  }
}

@media screen and (max-width:900px){
  #head-1{
    text-align:center;
  }
}

@media screen and (max-width:567px){
  .right_panel{
    margin:auto;
    float:none;
  }
  #main-content{
    margin-left: 0px;
    text-align: center;
  }
  .article-list-element,
  .article-horizontal-list-element{
    text-align:left;
  }
}

@media screen and (max-width:753px){
  #user_settings_first_column{
    border:none;
  }
  #page-head #head-1 .right-side{
    float:none;
  }
}

@media screen and (max-width:800px){
  .shopping_basket{
    .description_field,
    .price_block{
      display: block;
    }
  }
}

.open_purchases_message_text {
  border: 1px solid #C4CAD0;
  color: gray;
  padding: 7px;
  font-style: italic;
  font-size: 13px;
}

/* edit shop */

#shop_address_attributes_country{
  @extend .form-control;
}

.about_me_shops_image{
  width: 140px;
  border-right: 1px solid #EEEEEE;
  @extend .inblock_top;
}

.about_me_shops_pictures{
  @extend .inblock_top;
  margin-left:50px;
}

h5{
  font-weight: bold;
}

.about_me_shops img:not(.loading){
  width:84px;
  height:84px;
}
#settings_shops_shipping_methods_table{
  margin-left: 20px;
}

#settings_shops_shipping_methods_table th{
  font-weight:normal;
}
#settings_shops_shipping_methods_table th:first-child{
  padding: 0px 15px;
}
#settings_shops_shipping_methods_table th:last-child{
  padding-left: 45px;
}
#settings_shops_shipping_methods_table td{
  border: 1px solid rgb(210, 210, 210);
  padding: 0px 15px;
}

#settings_shops_shipping_methods_table tr td:last-child{
  padding: 0px 20px;
}

#settings_shops_shipping_methods_table tbody{
  border: 2px solid #D2D2D2;
}

.settings_shops input[type=text]{
  @extend .form-control;
  display: inline-block;
}

.payment_authorization_description{
  font-size:12px;
  line-height:14px;
  margin-left:10px;
  @extend .inblock_top;
}

#settings_shops_shipping_methods .form-control{
  width:80px;
}

#settings_shops_shipping_methods .field{
  display: inline-block;
}

/* Address */

.address_occupation_info{
  display:inline-block;
  color:gray;
  font-style:italic;
  margin-left:10px;
}


.shop_ratings,
.user_panel_ratings{
  .ratings{
    padding-left: 9px;
    margin-bottom: 100px;
    width:100%;
    table{
      font-size: 13px;
      width: 100%;
      thead{
        font-weight: bold;
      }
      tbody{
        .link_to_seller a{
          color:#bf0018;
          text-decoration: underline;
        }
        .first_row{
          border-top: 1px solid #8CA48D;
          .rating_field{
            margin-bottom: 0px;
          }
          td{
            padding:10px 0px;
          }
        }
        .last_row{
          td{
            padding-bottom:5px;
          }
        }
        .stars{
          position: static;
        }
      }
    }
  }
}

.user_panel_ratings{
  .rating_count.without_margin{
    margin-left: 5px;
    @extend .inblock_top;
  }
  .stars{
    position: static;
  }
  .displays{
    float:right;
    div:last-child{
      margin-left: 10px;
    }
    div{
      display: inline-block;
    }
    select{
      @extend .form-control;
    }
  }
  .ratings{
    margin-left:0px
  }
}

#wrapper.administration{
  .administration_text{
    position: absolute;
    font-weight: bold;
    color: black;
    font-size: 14px;
    left: 110px;
    top: 85px;
  }
  .right_panel{
    .greeting{
      color: #90887B;
    }
    .admin_account_button{
      text-align: center;
      position: relative;
    }
    .admin_account_button a{
      font-family: sans-serif;
      min-width: 120px;
      display: inline-block !important;
      background-color: #90887B;;
      font-size: 13px;
      padding: 3px 12px 2px 25px;
      text-decoration: none;
      color: white;
      border-radius: 2px;
      box-shadow: 0 0 1px 0 #34495e;
    }
  }
  .admin_members{
    font-size: 13px;
    .search_field input{
      @extend .form-control;
    }
    .border_bottom{
      border-bottom: 2px solid #90887B;
    }
    table td{
      width: 100px;
    }
    tbody tr{
      border-bottom: 1px solid lightgray;
      td:first-child{
        text-decoration: underline;
      }
    }
  }
}

.admin_member{
  .horizontal_upper_menu{
    .menu_button{
      .title{
        background-color: #90887B;
      }
    }
  }
  .purchases_and_sales{
    width:100%;
    thead{
      border-bottom: 1px solid #90887B;
    }
    td{
      line-height: 23px;
    }
  }
  #show_type{
    @extend .form-control;
  }
  .shop_edit{
    .glyphicon.glyphicon-info-sign{
      color:#90887B;
      font-size:14px;
    }
    input[type=text]{
      @extend .form-control;
      display: inline-block;
    }
    .green_button input[type=submit],
    .green_button a{
      background-image:none;
      background-color: #90887B;
      padding: 3px 12px 2px 25px;
      border: none;
    }
    .green_button input[type=submit]:hover,
    .green_button a:hover{
      background-image:none;
      background-color: #90887B;
    }
  }
  #settings_page{
    .glyphicon.glyphicon-info-sign{
      color:#90887B;
      font-size:14px;
    }
    .green_button input[type=submit],
    .green_button a{
      background-image:none;
      background-color: #90887B;
      padding: 3px 12px 2px;
      border: none;
    }
    .green_button input[type=submit]:hover,
    .green_button a:hover{
      background-image:none;
      background-color: #90887B;
    }
  }
}

.admin_invoices,
.user_invoices{
  .horizontal_upper_menu{
    .title{
      background-color: #90887B;
    }
  }
  .invoices{
    .search_field{
      #search_invoice{
        @extend .form-control;
      }
      .glyphicon.glyphicon-search{
        top: -25px;
        left: 135px;
        color: gray;
      }
      .glyphicon.glyphicon-search{
        cursor: pointer;
      }
    }
    #invoices_action{
      @extend .form-control;
      float:right;
    }
    table{
      margin-top: 30px;
      width: 100%;
      tr{
        border-bottom: 1px solid #90887B;
      }
      tbody{
        td{
          padding: 12px 0px;
        }
      }
      .pdf_link{
        left: 20px;
        position: relative;
        img{
          width: 19px;
        }
      }
    }
  }
}

.pdf{
  font-size: 13px;
  #main-content-wrap{
    background-color: white;
    #main-content{
      text-align:left;
    }
  }
  #site-logo{
    float:left;
  }
  #head-circles{
    margin-left: 20px;
    .circle1,
    .circle2,
    .circle3,
    .circle4,
    .circle5{
      margin-top:2px;
      width:2px;
      height:2px;
    }
  }
  #site-nav {
    height: 22px;
  }
  .invoice_pdf{
    padding: 0px 10px 0px 40px;
    .jakira_address{
      font-size:11px;
    }
  }
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  .invoice_receiver_and_number{
    @extend .inblock_top;
    float: right;
    text-align: right;
    tr:last-child{
      font-weight: bold;
    }
    tr{
      td:first-child{
        padding-right: 10px;
      }
    }
  }
  .invoice_articles{
    width: 650px;
    thead tr{
      border-bottom: 1px solid #90887B;
    }
    td{
      padding: 10px 0px;
    }
  }
  .sum_of_invoice{
    float:right;
    tr{
      td:first-child{
        padding-right:10px;
      }
      td:last-child{
        text-align: right;
      }
    }
  }
}

.admin_member.user_settings,
.admin_invoices{
  input[type=text]{
    @extend .form-control;
  }
  input[type=submit]{
    @extend .btn;
  }
  .btn,
  .btn:hover,
  .btn:focus{
    padding-left:12px;
    background-color: rgb(144, 136, 123);
  }
}

.user_invoice{
  table{
    width: 100%;
    thead,
    tbody{
      tr{
        border-bottom:1px solid #8ca48d;
      }
    }
    tbody{
      td{
        padding: 10px 0px;
      }
    }
    tfoot{
      td{
        padding-top:5px;
      }
      tr td:nth-child(4){
        text-align: right;
        position: relative;
        right: 60px;
      }
      tr:last-child{
        font-weight: bold;
      }
    }
  }
}

.category_filters{
  .filter-section{
    display: table-cell;
  }
  .category{
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid rgba(128, 128, 128, 0.28);
    padding:5px 5px 3px;
    input[type=checkbox]{
      margin: 4px 0 0 10px;
    }
    .open_subcategories{
      display: inline-block;
      font-size: 13px;
      margin-top: 2px;
      cursor: pointer;
    }
  }
  .sub.category{
    margin-left: 20px;
  }
  .subsub.category{
    margin-left: 40px;
  }

  #color_id,
  #suitable_for_id,
  #article_type,
  #year{
    @extend .form-control;
    width: 120px;
  }

  .filter{
    @extend .inblock_top;
    margin-right: 20px;
  }

  .no_articles{
    margin-top: 30px;
  }
  .material_filter{
    ul{
      padding: 0px 0px;
      font-size: 11px;
      background: #F2F2F2;
      li{
        border-bottom: 1px solid rgba(128, 128, 128, 0.28);
        padding: 5px 5px 5px 15px;
        label{
          font-weight: normal !important;
        }
      }
      .show_submaterials,
      .hide_submaterials{
        float: left;
        margin: 5px 0px 0px 5px;
        cursor: pointer;
      }
    }
  }
}
.newsletter{
  .receivers{
    @extend .inblock_top;
    margin: 0px 20px;
    label{
      @extend .bold;
    }
    .field_with_errors {
      border: none;
    }
  }
  .text_field{
    .field_with_errors {
      border: 1px solid #bf0018;
    }
  }
  .use_template{
    @extend .inblock;
    float: right;
    select{
      width:300px;
    }
  }
  #newsletter_subject{
    width: 100%;
    height: 40px;
    @extend .form-control;
  }
  .brown_button{
    float:right;
    font-weight: bold;
  }
  .bottom{
    .field_with_errors{
      margin:0px;
      input,
      select{
        border: 1px solid #bf0018;
      }
    }
    input[type="text"],
    input[type="date"]{
      height: 20px;
    }
    div{
      margin:5px;
    }
    #newsletter_template_name{
      width:250px;
    }
    #newsletter_delivery_date{
      line-height: 18px;
    }
    .delivery_date{
      display: none;
    }
    hr{
      margin:5px 0px;
    }
    .bottom_line{
      clear:right;
    }
    .template_options{
      display: none;
      table{
        font-size: 12px;
        float:right;
        margin-bottom: 20px;
        tr td:first-child,
        label[for=newsletter_interval]{
          text-align:right;
          font-weight: bold;
        }
        td{
          padding:5px 10px;
        }
        #newsletter_interval{
          width: 200px;
        }
      }
    }
  }
}

.shop_edit textarea{
  @extend .form-control;
}


.share .field{
  textarea, input{
    @extend .form-control;
  }
}

.new_voucher_form_wrapper{
  input[type=text],
  select,
  textarea{
    @extend .form-control;
    border-radius: 0;
  }
}

.main_head{
  background-color: white;
  .first_part{
    border-bottom: 1px solid lightgray;
    width: 100%;
    border-bottom-style: dashed;
    padding-right: 33px;
    .buttons{
      float:right;
      a{
        font-weight: bold;
        font-size: 10px;
        color: #767676;
        letter-spacing: 0px;
        text-transform: uppercase;
        & + a{
          margin-left: 25px;
        }
        img{
          margin-right: 4px;
          position: relative;
          top: 2px;
          &.open_shop_icon{
            top: 1px;
          }
        }
      }
    }
  }
  .second_part{
    background-image: image-url("repeat_pattern2.png");
    padding: 0 20px;
    .upper_part{
      padding: 40px 0px;
      .main_logo{
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
      }
      .right_part{
        margin-top: 35px;
        float:right;
        .search_form{
          display: inline-block;
          vertical-align: top;
          #search{
            vertical-align: middle;
            height: 34px;
            width: 400px;
            padding-left: 10px;
            border: 1px solid lightgray;
            border-right: none;
            font-size: 13px;
          }
          input[type=image]{
            vertical-align: middle;
          }
        }
        .profile_buttons{
          vertical-align: top;
          display: inline-block;
          font-family: arial;
          font-size: 10px;
          letter-spacing: 0px;
          font-weight: bold;
          vertical-align: middle;
          > a {
            text-transform: uppercase;
          }
          .header-profile-menu-wrapper,
          > a{
            display: inline-block;
            text-align: center;
            width: 90px;
            vertical-align: top;
            color: #767676;
            &:not(:last-child) .icon_wrapper{
              border-right: 1px solid gray;
              border-right-style: dashed;
            }
            &:last-child .icon_wrapper{
              padding-top: 2px;
            }
            .icon_wrapper{
              position: relative;
              img.favorites_icon{
                margin-bottom: 2px;
              }
              .new_message_icon{
                position: absolute;
                right: -12px;
              }
              .circle{
                background-color: #EA5D0B;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 0px;
                left: 50px;
                color: white;
                line-height: 13px;
              }
            }
          }
        }
      }
    }
    .mini_main_menu{
      display: none;
      padding-bottom: 10px;
      .buttons{
        .burger_menu_icon{
          margin: 13px 0px 0px 2px;
          cursor: pointer;
        }
        .profile_buttons{
          float: right;
          .header-profile-menu-wrapper,
          > a{
            display: inline-block;
            text-align: center;
            padding: 5px 15px;
            vertical-align: top;
            &:first-child{
              background-color: white;
              border: 1px solid lightgray;
              border-bottom: none;
              height: 43px;
              position: relative;
              z-index: 1;
              top: 1px;
            }
            .icon_wrapper{
              position: relative;
              img.favorites_icon{
                margin-bottom: 2px;
              }
              .new_message_icon{
                position: absolute;
                right: -12px;
              }
              .circle{
                background-color: #EA5D0B;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: -3px;
                left: 20px;
                color: white;
                line-height: 13px;
                font-size: 10px;
                font-weight: bold;
              }
            }
          }
        }
      }
      .search_form{
        clear:both;
        padding-right: 50px;
        white-space: nowrap;
        #search{
          vertical-align: middle;
          height: 34px;
          padding-left: 10px;
          border: 1px solid lightgray;
          border-right: none;
          font-size: 13px;
          width:100%;
        }
        input[type=image]{
          vertical-align: middle;
        }
      }
    }
    @media screen and (max-width:987px){
      .upper_part{
        height: 147px;
        padding: 20px 0px 0px;
        .right_part{
          margin-top: 5px;
        }
      }
    }
    .categories{
      .category{
        display: inline-block;
        > a{
          font-weight: bold;
          font-size: 11px;
          padding: 8px 8px 7px;
          cursor: pointer;
          color: #404040;
          letter-spacing: 0px;
          display: block;
          text-transform: uppercase;
        }
        .arrow_to_bottom{
          display: none;
          position: absolute;
          z-index: 4;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid white;
          margin: auto;
          left: 0;
          right: 0;
        }
        .subcategories{
          display: none;
          position: absolute;
          z-index: 3;
          background-color: #76A0B4;
          width: 100%;
          left: 0;
          height: auto;
          opacity: 0.9;
          color: white;
          padding: 15px 0px 15px 160px;
          @media screen and (max-width:960px){
            padding: 15px 0px 15px 0px;
          }
          .column{
            display: inline-block;
            vertical-align: top;
            padding: 0px 30px;
            height:100%;
            &:not(:last-child){
              border-right: 1px solid white;
              border-right-style: dashed;
            }
            .subcategory{
              > a{
                font-weight: bold;
                font-size: 11px;
                color:white;
                cursor: pointer;
                text-transform: uppercase;
              }
              .subsubcategory > a{
                font-size: 11px;
                color:white;
                cursor: pointer;
              }
            }
          }
        }
        .more_categories{
          font-size: 11px;
          font-weight: bold;
          cursor: pointer;
          text-transform: uppercase;
          &:hover{
            text-decoration: underline;
          }
        }
        &:hover > .subcategories,
        &:hover > div > .arrow_to_bottom{
          display: block;
        }
      }
    }
  }
  @media screen and (max-width:800px){
    .first_part,
    .second_part .categories,
    .second_part .upper_part .right_part{
      display: none;
    }
    .second_part{
      .mini_main_menu{
        display: block;
      }
      .upper_part{
        height: auto;
        padding: 25px 0px 13px;
      }
    }
  }
  @media screen and (max-width:960px){
    .second_part{
      padding: 0px 20px;
      .main_logo{
        display: block;
      }
    }
  }
  &.purchase-process{
    .right_part{
      display: block !important;
      .header-profile-menu{
        left: -200px;
      }
      .arrow_to_top{
        left: 223px;
      }
    }
  }
}



#main-content-wrap{
  width: 100%;
  @media screen and (min-width:961px){
    padding-bottom: 300px;
  }
  @media screen and (min-width:481px) and (max-width:960px){
    padding-bottom: 400px;
  }
  @media screen and (max-width:480px){
    padding-bottom: 600px;
  }
  #main-content {
    padding: 15px 20px;
    margin-bottom: 100px;
    min-height: 300px;
  }
  > .footer {
    min-height: 200px;
    font-size: 11px;
    color: white;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    background-color: #5383A0;
    text-align: center;
    @media screen and (min-width:961px){
      padding: 15px 20px 100px;
    }
    @media screen and (max-width:960px){
      padding: 15px 20px;
    }
    .restricted_width{
      padding: 0 8px;
    }
    .jakira_logo{
      margin-bottom: 20px;
    }
    .right_side,
    .cooperation_partners{
      > a{
        color: white;
        text-transform: uppercase;
        > img{
          float:right;
          position: relative;
          top: 4px;
          @media screen and (min-width:481px){
            display: none;
          }
        }
      }
      .cooperation_partners{
        @media screen and (min-width:961px){
          text-align: left;
        }
        @media screen and (min-width:481px){
          margin-top: 15px;
        }
      }
      .social_media_icons{
        @media screen and (min-width:961px){
          float: right;
          margin: 20px 0;
        }
        @media screen and (max-width:960px){
          margin: 100px 0 20px;
        }
        @media screen and (max-width:480px){
          text-align: center;
          a ~ a{
            margin-left: 40px;
          }
        }
        @media screen and (min-width:481px){
          a ~ a{
            margin-left: 17px;
          }
        }
      }
      span.border_line{
        margin: 0px 8px;
      }
    }
    @media screen and (min-width:961px){
      .right_side{
        float: right;
      }
      .left_side{
        float:left;
      }
    }
  }
  @media screen and (max-width:480px){
    .right_side,
    .cooperation_partners{
      text-align: left;
      > a{
        display: block;
        border-bottom: 1px solid white;
        padding: 8px;
        font-size: 13px;
      }
      span.border_line{
        display: none;
      }
    }
    .left_side{
      font-size: 11px;
    }
  }
}

.drop_left_menu{
  position: absolute;
  width: 250px;
  background-color: #82a5ba;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  -webkit-box-shadow: 9px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 9px 1px 5px 0px rgba(0,0,0,0.75);
  .first_part{
    padding: 5px 7px;
    background-color: #82a5ba;
    .buttons{
      a{
        color: white;
        font-weight: bold;
        font-size: 10px;
        display: block;
        cursor: pointer;
        border-bottom: 1px solid white;
        border-bottom-style: dashed;
        padding: 6px;
        text-transform: uppercase;
        img{
          width: 13px;
          margin-right: 10px;
        }
        &:first-child{
          padding-left: 29px;
        }
        &:last-child{
          border-bottom: none;
        }
        &.sign_out{
          padding-left: 29px;
          padding-top: 9px;
        }
      }
    }
  }
  .second_part{
    position: relative;
    background-color: #5383a0;
    padding-bottom: 150px;
    .categories{
      position: relative;
      width:100%;
      .category{
        padding: 0px 10px;
        span{
          color: white;
          display: block;
          font-weight: bold;
          padding: 15px 10px;
          text-decoration: none;
          border-bottom: 1px solid white;
          cursor: pointer;
          text-transform: uppercase;
          img{
            float: right;
          }
        }
      }
    }
    .subcategories{
      position: absolute;
      width:100%;
      display: none;
      .main_category{
        a{
          display: block;
          font-weight: bold;
          padding: 15px 20px;
          text-decoration: none;
          background-color: #CFDCE4;
          color: #456F88;
          text-transform: uppercase;
        }
      }
      .all_categories{
        color: white;
        display: block;
        font-weight: bold;
        padding: 15px 20px;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        img{
          float: left;
        }
        span{
          margin-left: 20px;
        }
      }
      .subcategory{
        padding: 0px 10px;
        cursor: pointer;
        a{
          color: white;
          display: block;
          font-weight: bold;
          padding: 15px 10px 10px;
          text-decoration: none;
          border-bottom: 1px solid white;
          font-size: 13px;
          text-transform: uppercase;
          &.clickable{
            pointer-events: auto;
          }
          &.nonclickable{
            pointer-events: none;
          }
        }
        &:hover{
          background-color: #CFDCE4;
          > a{
            color: #456F88;
          }
        }
        img{
          float: right;
          position: relative;
          top: 3px;
        }
        .arrow_to_top{
          display: none;
        }
      }
      .subsubcategories{
        display: none;
        .subsubcategory{
          a{
            color: white;
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;
            padding: 10px 10px 10px 40px;
            display: block;
            cursor: pointer;
            &:hover{
              text-decoration: none;
              background-color: #CFDCE4;
              color: #456F88;
            }
          }
        }
      }
    }
  }
  .third_part{
    padding: 20px 10px;
    > img{
      margin: auto;
      display: block;
      width: 130px;
      margin-bottom: 50px;
    }
    .links{
      text-align: left;
      margin-bottom: 100px;
      a{
        display: block;
        border-bottom: 1px solid white;
        padding: 8px;
        font-size: 13px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        img{
          display: block;
          float:right;
          position: relative;
          top: 4px;
        }
      }
      span.border_line{
        display: none;
      }
    }
  }
  @media screen and (min-width:800px){
    display: none !important;
  }
}


.admin.vouchers.change{
  .payment_types{
    .form_wrapper{
      .data_fields{
        input[type=text]{
          @extend .form-control;
          display: inline-block;
        }
      }
    }
  }
  .bottom_texts{
    textarea{
      @extend .form-control;
    }
  }
}

#main-content,
.main_content{
  background-color: white;
  padding: 15px 20px;
  .restricted_width{
    @media screen and (min-width:801px){
      padding: 0 8px;
    }
  }
  .restricted_width > .title,
  > .title{
    color: #5383A0;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
  }
}


#upper-path{
  color: #A5A5A5;
  text-align: left;
  font-weight: bold;
  @media screen and (min-width:801px){
    font-size: 11px;
  }
  img{
    -webkit-filter: invert(0.3);
    filter: invert(0.3);
    vertical-align: bottom;
    margin-right: 15px;
    @media screen and (min-width:801px){
      display: none;
    }
  }
  a{
    color: #A5A5A5;
    text-decoration: underline;
  }
  @media screen and (min-width:801px){
    .hidden-if-desktop{
      display: none;
    }
  }
  @media screen and (max-width:800px){
    .hidden-if-mobile{
      display: none;
    }
    .uppercase-if-mobile{
      text-transform: uppercase;
    }
    .hide-overflown-text-if-mobile{
      text-overflow: ellipsis;
      width: 150px;
      overflow-x: hidden;
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
    }
    .without-underline-if-mobile{
      text-decoration: none;
    }
    .nowrap{
      white-space: nowrap;
    }
  }
}

.header-profile-menu-wrapper{
  position: relative;
  .header-profile-menu-button{
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

.header-profile-icon-wrapper{
  display: inline-block;
  position: relative;
  .eight-pointed-star{
    position: absolute;
    left: -10px;
    top: -2px;
  }
  .green-line{
    background-color: #b6dc8c;
    width: 28px;
    height: 3px;
    position: absolute;
    top: 30px;
  }
}

.header-profile-menu{
  .arrow_to_top{
    position: absolute;
    z-index: 5;
    top: -20px;
    left: 125px;
    div{
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
    }
    .center-triangle{
      border-bottom: 20px solid white;
      top: 1px;
      position: absolute;
    }
    .border-triangle{
      border-bottom: 20px solid #5383a0;
    }
  }
  position: absolute;
  background-color: white;
  border:1px solid #5383a0;
  z-index: 4;
  padding: 10px 20px;
  font-size: 13px;
  width: 300px;
  text-align: left;
  display: none;
  @media screen and (min-width:801px){
    left: -100px;
    top: 70px;
  }
  @media screen and (max-width:800px){
    left: -117px;
    top: 55px;
  }
  .close_menu{
    float: right;
    border: 1px solid #5383a0;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 20px;
    color: #5383a0;
    cursor: pointer;
    position: relative;
    left: 11px;
    bottom: 3px;
  }
  .greeting{
    display: inline-block;
    margin-bottom: 10px;
    img{
      float: left;
      margin-right: 4px;
    }
    .text{
      vertical-align: top;
      font-weight: normal;
      color: #767676;
    }
  }
  .general-buttons{
    a{
      color: #5383a0;
      text-decoration: underline;
      margin: 5px 0;
      float: left;
      clear: left;
      font-weight: bold;
      .new_message_icon{
        top: -7px;
        position: relative;
      }
      .eight-pointed-star{
        position: relative;
        top: -3px;
      }
    }
  }
  .sign-out-button{
    text-decoration: underline;
    float: left;
    clear: left;
    font-weight: normal;
    color: #8a8a8a;
    margin-top: 15px;
  }
  .bottom-buttons{
    margin-top: 10px;
    a{
      margin-bottom: 10px;
      display: block;
      font-weight: bold;
      @media screen and (max-width:800px){
        font-size: 15px;
      }
    }
    .sign-in-button{
      @media screen and (min-width:801px){
        padding: 10px 0;
      }
      @media screen and (max-width:800px){
        padding: 15px 0;
      }
    }
    .sign-up-button{
      text-decoration: none;
      text-align: center;
      background-color: white;
      color:#5383a0;
      border:1px solid #5383a0;
      text-transform: uppercase;
      @media screen and (min-width:801px){
        padding: 8px 0;
      }
      @media screen and (max-width:800px){
        padding: 13px 0;
      }
    }
  }
}


// left menu

#left-menu-title{
  color: #5383a0;
  font-weight: bold;
  font-size: 28px;
  margin: 30px 0;
  line-height: 30px;
  &.title-underline{
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
  }
  @media only screen and (max-width: 800px) {
    text-align: center;
  }
}

#left-menu{
  @media only screen and (min-width: 801px) {
    display: table-cell;
    vertical-align: top;
    padding-right: 40px;
  }
  @media only screen and (max-width: 800px) {
    margin: 0px auto;
    text-align: center;
  }
  min-width: 190px;
  max-width: 240px;
  padding-bottom: 40px;
  color: #767676;
  a{
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid #e6e6e6;
    color: #767676;
    font-weight: bold;
    &:hover,
    &:focus{
      color: #767676;
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &.opened{
      .element{
        background-color:#efefef;
      }
    }
    .element{
      padding: 2px 5px;
      font-size: 13px;
      &.sub{
        margin-left: 20px;
        font-weight: normal;
        @media only screen and (max-width: 800px) {
          margin-right: 20px;
        }
      }
      .new_order_messages_icon{
        height: 10px;
        position: relative;
        top: 1px;
      }
    }
  }
}
#profile-menu{
  padding-bottom: 40px;
  font-size: 13px;
  @media only screen and (min-width: 801px) {
    min-width: 250px;
    max-width: 300px;
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
  }
  .element{
    @media only screen and (min-width: 801px) {
      border-bottom: 1px solid #dcdcdc;
    }
    @media only screen and (max-width: 800px) {
      border: 1px solid #a3a3a3;
      margin-bottom: 8px;
    }
    .padding{
      @media only screen and (min-width: 801px) {
        padding: 5px 0;
      }
      .nested-link:last-child{
        padding-bottom: 5px;
      }
    }
    a{
      color: #767676;
      display: block;
      &:hover{
        text-decoration: none;
        background-color: #efefef;
        .back_triangle{
          border-left: 10px solid #efefef !important;
        }
      }
      &:focus{
        text-decoration: none;
      }
      &.main-link{
        font-weight: bold;
        position: relative;
        @media only screen and (min-width: 801px) {
          padding-top: 7px;
          padding-left: 10px;
          .arrow_to_right{
            display: none;
          }
        }
        @media only screen and (max-width: 800px) {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 15px;
          padding: 14px 23px;
          text: {
            transform: uppercase;
            align: center;
          }
        }
        .arrow_to_right{
          position: absolute;
          right: 10px;
          top: 13px;
          div{
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
          }
          .back_triangle{
            border-left: 10px solid white;
            position: absolute;
            right: 3px;
            z-index: 1;
          }
          .front_triangle{
            border-left: 10px solid #a5a5a5;
            border-radius: 4px;
          }
        }
        .eight-pointed-star{
          position: relative;
          @media only screen and (min-width: 801px) {
            top: -2px;
          }
          @media only screen and (max-width: 800px) {
            top: -7px;
          }
        }
      }
      &.nested-link{
        padding-top: 5px;
        padding-left: 20px;
        @media only screen and (max-width: 800px) {
          display: none;
        }
        &.current{
          font-weight: bold;
        }
      }
      span.unconfirmed_present{
        color: #f3846d;
      }
      .new_message_icon{
        position: relative;
        @media only screen and (min-width: 801px) {
          top: -3px;
          left: 2px;
        }
        @media only screen and (max-width: 800px) {
          top: -6px;
          left: 4px;
        }
      }
    }
    &.current a{
      background-color: #efefef;
      .back_triangle{
        border-left: 10px solid #efefef !important;
      }
      &.nested-link:hover{
        font-weight: bold;
      }
    }
  }
}
