.cooperation_partners_page {
  max-width: 700px;
  .title {
    color: #5383A0;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 50px;
    font-weight: bold;
    @media only screen and (max-width: 572px) {
      text-align: center;
    }
  }

  .big.orange_button {
    max-width: 350px;
    width: 100%;
    margin: 50px auto;
    display: block;
  }

  .section{
    cursor: pointer;
    .title{
      display: table-cell;
      width: 100%;
      color: black;
      border-top: 2px solid #DFDFDF;
    }
    .arrows{
      display: table-cell;
      min-width: 40px;
      div{
        width: 0;
        height: 0;
        margin: auto;
      }
      .arrow_to_right {
        border-top: 12px solid transparent;
        border-left: 12px solid #EA5D0B;
        border-bottom: 12px solid transparent;
      }
      .arrow_to_down {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #EA5D0B;
        top: -4px;
        position: relative;
        display: none;
      }
    }
  }

  .lists{
    & ~ .lists{
      display: none;
    }
    .nested{
      padding: 15px 0px 35px;
      line-height: 30px;
      @media only screen and (min-width: 573px) {
        display: table;
        width: 90%;
      }
      .column{
        text-align: center;
        padding: 0px 10px;
        @media only screen and (min-width: 573px) {
          display: table-cell;
          width: 33.3%;
          &:not(:last-child){
            border-right: 2px dotted #DFDFDF;
          }
        }
        .centered{
          margin:auto;
          display: inline-block;
          @media only screen and (min-width: 573px) {
            text-align: left;
          }
          .element {
            color: #a8a8a8;
            font-size: 13px;
          }
        }
      }
    }
  }
}


.art_associations_register_wrapper {
  @media only screen and (max-width: 640px) {
    text-align: center;
  }
  .title {
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
    color: #5481A0;
    line-height: 30px;
  }

  .contact_person {
  	font-weight: bold;
  	margin-bottom: 10px;
  }

  .form_wrapper {
  	overflow: auto;
  	max-width: 570px;
	  .field_wrapper {
	  	width: 256px;
	  	display: inline-block;
	  	margin-bottom: 24px;
	  	margin-right: 28px;
	  	@media only screen and (max-width: 640px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      #art_association_address_attributes_house_number {
        width: 83px;
      }
      #art_association_address_attributes_postal_code {
        width: 130px;
      }
	  }

	  input[type=text],
    input[type=email],
    input[type=password] {
	  	border: 1px solid #d3d3d3;
	    background: white;
	    width: 100%;
	    padding: 7px 22px;
	    &:focus {
	      border-color: #66afe9;
	      outline: 0;
	      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	    }
	  }

	  .big.orange_button{
      max-width: 356px;
      width: 100%;
      font-size: 15px;
      @media only screen and (min-width: 641px) {
        float: right;
        margin-right: 28px;
      }
	  }

	  .field_with_errors {
      border: none;
      width: 100%;
      input[type=text],
      input[type=email],
      input[type=password] {
        border: 1px solid #bf0018;
      }
    }
	}
}

.art_association_new_member_page,
.art_association_edit_member_page {
  @media only screen and (min-width: 801px) {
    display: table-cell;
    vertical-align: top;
  }
  @media only screen and (max-width: 800px) {
    text-align: center;
  }
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .errors{
    margin-bottom: 20px;
    @media only screen and (max-width: 800px) {
      text-align: center;
    }
  }

  form{
    display: inline-block;
    @media only screen and (min-width: 641px) {
      text-align: left;
    }
  }
  .fields_row{
    .field_wrapper {
      width: 256px;
      margin-bottom: 24px;
      @media only screen and (min-width: 641px) {
        display: inline-block;
        &:first-child{
          margin-right: 28px;
        }
      }
      #user_address_attributes_house_number {
        width: 82px;
      }
      #user_address_attributes_postal_code {
        width: 130px;
      }
    }
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    border: 1px solid #d3d3d3;
    background: white;
    width: 100%;
    padding: 7px 22px;
    height: 34px;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  .select_wrapper {
    width: 256px;
    margin-bottom: 24px;
  }

  .big.orange_button {
    width: 130px;
    margin: 40px auto;
    padding: 13px 0;
    @media only screen and (min-width: 801px) {
      float: right;
    }
  }

  .field_with_errors {
    border: none;
    width: 100%;
    input[type=text],
    input[type=email],
    input[type=password],
    select {
      border: 1px solid #bf0018;
    }
  }
}

.art_association_index_member_page {
  display: table-cell;
  vertical-align: top;
  font-size: 13px;
  width:100%;

  @media only screen and (max-width: 800px) {
    width: 800px;
  }

  .top_menu {
    @media only screen and (max-width: 960px) {
      display: block;
    }
    @media only screen and (max-width: 800px) {
      text-align: center;
      margin:auto;
    }
    .search_form {
      display: inline-block;
      margin-right: 20px;
      input{
        margin-bottom: 10px;
      }
      @media only screen and (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    input[type=text],
    #file_field {
      border: 1px solid #d3d3d3;
      background: white;
      width: 180px;
      padding: 7px 22px;
      height: 34px;
      display: block;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
    .select_wrapper {
      width: 180px;
      margin-bottom: 10px;
    }
    .import_xls_form{
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      input[type=file] {
        display: none;
      }
      #file_field {
        color: grey;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
      }

      input[type=submit] {
        margin-left: 10px;
        background-color: #ea5d0b;
        color: white;
        width: 110px;
        height: 34px;
        border: none;
        font-weight: bold;
        display: inline-block;
        vertical-align: top;
      }
    }

    .export_xls {
      display: inline-block;
      vertical-align: top;
      a {
        text-decoration: underline;
        margin-bottom: 10px;
        display: block;
        &:first-child {
          margin-top: 15px;
        }
      }
    }
    @media only screen and (max-width: 960px) {
      .import_xls_form,
      .export_xls {
        display: block;
      }
    }
    @media only screen and (max-width: 800px) {
      .import_xls_form,
      .export_xls {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  #add_member_link {
    display: block;
    background-color: #ea5d0b;
    float: right;
    padding: 2px 7px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    .glyphicon.glyphicon-plus{
      margin-right: 7px
    }
    @media only screen and (max-width: 800px) {
      width: 147px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      text-align: center;
    }
  }

  table.art_association_members {
    width: 100%;
    clear: right;
    margin-top: 20px;

    thead {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
      @media (min-width: 801px) {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
      }

      tr td {
        border-bottom: 2px solid #ea5d0b;
        padding-right: 3px;
        &:last-child {
          border-bottom: hidden;
          width: 15px;
        }
      }
    }

    tbody,
    tr,
    td {
      @media (max-width: 800px) {
        display: block;
      }
    }

    td {
      vertical-align: middle;
      @media (min-width: 801px) {
        display: table-cell;
      }
    }
  }
}
.art_association_index_member_page
table.art_association_members
tbody {
  @media (min-width: 801px) {
    display: table-row-group;
  }
  tr {
    @media (min-width: 801px) {
      display: table-row;
    }
  }

  td {
    margin: 0 25px;
    min-height: 30px;
    padding-top: 5px;
    text-align: right;
    border-bottom: 1px solid #d3d3d3;

    a {
      text-decoration: underline;
    }



    &:first-child {
      border-top: 2px solid #ea5d0b;
    }

    @media (max-width: 800px) {
      &.td_for_hide {
        display: none;
      }
    }

    @media (min-width: 801px) {
      padding-top: 0;
      border-bottom: 1px solid #d3d3d3;
      text-align: left;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: hidden;
        width: 15px;
      }
    }
  }

  td.td_for_hide {
    padding: 5px 0 5px;
    text-align: right;
  }

  td.cell_with_arrow{
    cursor: pointer;
    .arrow_right {
      margin: 10px auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent lightgrey;
    }
    .arrow_down {
      display: none;
      margin: 10px auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #ea5d0b transparent transparent transparent;
    }
    @media (min-width: 801px) {
      .arrow_right {
        margin: 0 9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 8px 8px;
        border-color: transparent transparent transparent lightgrey;
      }
      .arrow_down {
        display: none;
        margin: 0px 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 8px;
        border-color: #ea5d0b transparent transparent transparent;
      }
    }
  }

  td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-weight: bold;
    font-size: 1em;
    color: black;

    @media (min-width: 801px) {
      content: none;
    }
  }

  .hidden_row {
    display: none;
    td.email{
      padding: 5px 0 5px;

      @media (max-width: 800px) {
        border:none;
      }
    }
  }
}
