.article-list-section {
  width: 740px;
  display: table-cell;
  vertical-align: top;
  padding-top: 40px
}


.search-list-section {
  width: 973px;
}

.article-list-element {
  height: 310px;
  // width: 228px;
  background-color:#f1f1f1;
  border-radius: 7px;
  margin-right: 10px;
  margin-bottom:10px;
  padding: 1px;
  display: inline-block;
}

.relative {
  position: relative;
}

.sold-mark {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 79px;
  width: 84px;
  background: transparent image-url("sold.png") no-repeat right top;
  pointer-events: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .sold-mark {
    background: transparent url("sold@2x.png") no-repeat right top;
    background-size: contain;
  }
}

.article-list-image {
  position: relative;
  background-color:#FFFFFF;
  border-radius: 7px 7px 0px 0px;
  height: 195px;

  img {
    height: 195px;
    width: 230px;
    border-radius: 7px 7px 0px 0px;
  }
}
.article-list-element .article-list-title {
  padding: 18px 0px 10px 15px;
}

.article-list-created-by z {
  color: #919191;
}

.article-list-element .article-list-title a {
  text-decoration: none;
  color:#333;
  font-weight:bold;
}
.article-list-element .article-list-seller {
	background-color:#FFFFFF;
	margin-bottom:8px;
  max-height: 22px;
  padding: 0px 10px;
  display: inline-block;
}
.article-list-element .article-list-seller a {
  color: gray;
  text-decoration:none;
}

.article-warenkorb n, .article-likes n{
  font-size: 10px;
  position: relative;
  bottom: 5px;
  font-size: 11px;
  color: rgba(128, 128, 128, 0.84);
  right: 4px;
}

.article-warenkorb a, .article-likes s{
  position: relative;
}

.article-warenkorb a img, .article-likes a img{
  height:22px;
}

.article-list-element .article-list-price {
  color:#666666;
  margin-right:5px;
  font-size: 13px;
  width:205px;
}

.article-preis {
  float:right;
  display: inline-block;
  margin-top: 3px;
}

.article-likes {
  position: relative;
  right: 6px;
}

#images-list .picture {
  float: left;
}

#article-description {
  background-color: white;
  border: 3px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.article-list-visit-shop{
  text-decoration:underline;
}

.article-list-created-by, .article-list-visit-shop {
  font-size: 11px;
}

.article-list-title{
  font-size: 14px;
}

.articles{
  .horizontal_upper_menu .menu_button{
    margin-right: 0.5%;
    width: 24.5%;
  }
}

#article-form{
  display: block;
  width:750px;
  line-height:25px;
  left: 0;
  right: 0;
  margin: -63px auto;
  .choose_template{
    float:right;
    margin: 20px;
  }
  #title{
    background:image-url("green-cross.png") no-repeat 4% 90%;
    padding: 21px 21px 0px 80px;
    font-size:19px;
    text-align:left;
  }
  .mandatory_fields{
    color: gray;
    padding-left: 80px;
    font-size: 13px;
  }
  #new_article,
  .edit_article{
    width:750px;
    line-height:25px;

    .article_type{
      #article_type_title{
        margin-bottom:2px;
      }
    }
    .glyphicon.glyphicon-info-sign{
      color:rgb(140, 164, 141);
    }
    #article_price{
      width: 120px;
    }
    .euro_label{
      color: gray;
      margin-left: 6px;
      display: inline;
    }
    .bs-searchbox input{
      width: 100%;
    }
    .first.fields_block{
      width: 250px;
      .field:first-child{
        padding-right: 64px;
      }
      .materials-select{
        .main-field{
          width:186px;
          padding: 4px 15px;
        }
        .dropdown-field{
          width:186px;
          background-color: white;
          .material{
            border-bottom: none;
            padding: 0px 15px;
          }
        }
      }
      #article_gems{
        width:186px;
      }
      .size_fields input{
        width:47px;
      }
    }
    .second.fields_block{
      width: 210px;
      input,
      select{
        width:140px;
      }
    }
    .size_fields span,
    .field span{
      margin:0px 7px;
    }
    .overall_percent{
      display: inline-block;
      float: right;
      margin-right: 30px;
    }
    #article_customizable_comment{
      width:250px !important;
    }
    .customizable_comment{
      display: none;
    }
    textarea{
      height:110px;
      width:700px !important;
      resize:vertical;
    }
    .second_categories_list,
    .third_categories_list{
      display:none;
    }
    .categories_list{
      margin-bottom: 0px;
      font-size: 12px;
      line-height: 20px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      padding: 2px 0px;
      width: 190px;
      display: inline-block;
      vertical-align: top;
      color: #333;
      list-style-type: none;
      height: 150px;
      overflow: hidden;
      overflow-y: scroll;
      li{
        padding: 0px 6px;
        cursor: pointer;
      }
    }
    .sub.categories_list,
    .subsub.categories_list{
      display: none;
    }
    .category_list_separator_line{
      display: none;
    }
    .show_next_categories_list{
      text-decoration: underline;
      cursor:pointer;
      display: none;
    }
    .edit_picture{
      position: relative;
      display: inline;
      height: 1px;
    }
    #pictures_place{
      padding: 20px 27px;
      font-size:12px;
      line-height: 18px;
    }
    .big_green_button .btn{
      padding: 6px 40px;
    }
  }
  #article_template_name{
    display: none;
  }
  #article_main_picture_id{
    position: relative;
    bottom: 16px;
    right: 2px;
    margin: 0px;
    float: right;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .big_buttons{
    .big_green_button{
      display: inline-block;
      margin-right: 10px;
    }
  }
}
@-moz-document url-prefix(){
  #article_main_picture_id{
    bottom: 20px !important;
    right:1px !important;
  }
}

.article_show{
  padding: 0px;
  font-family: arial;
  text-align: left;
  .shop_head{
    width: 100%;
    background-color: #76A0B4;
    @media screen and (min-width:801px){
      padding: 12px 12px 12px 28px;
    }
    @media screen and (max-width:800px){
      padding: 12px 12px 12px 20px;
    }
    .shop_main_picture_link{
      position: relative;
      display: table-cell;
      vertical-align: top;
      .avatar_circle{
        @media screen and (max-width:800px){
          height: 70px;
        }
      }
      .shop_main_picture{
        display: table-cell;
        position: absolute;
        top: 6px;
        left: 6px;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        @media screen and (max-width:800px){
          top: 5px;
          left: 5px;
          width: 60px;
          height: 60px;
        }
      }
    }
    .main_info{
      display: table-cell;
      font-weight: bold;
      color: white;
      vertical-align: top;
      line-height: 25px;
      padding-left: 12px;
      max-width: 300px;
      min-width: 250px;
      overflow: hidden;
      @media screen and (max-width:800px){
        margin: 0px 0px 0px 25px;
      }
      @media screen and (max-width:360px){
        min-width: 200px;
      }
      .link_to_shop{
        color:white;
        font-size: 25px;
        text-decoration: underline;
        @media screen and (max-width:800px){
          font-size: 20px;
        }
      }
      .place{
        line-height: 20px;
        min-height: 40px;
        overflow: hidden;
        font-size: 12px;
        @media screen and (max-width:800px){
          min-height: auto;
        }
      }
      .rating{
        span{
          position: absolute;
          overflow: hidden;
        }
        img{
          margin-right: 10px;
        }
      }
    }
    .buttons{
      display: table-cell;
      vertical-align: top;
      padding-right: 40px;
      a{
        color: white;
        text-decoration: none;
        border: 1px solid white;
        padding: 9px 25px;
        display: block;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        &:hover{
          background-color: white;
          color: #76A0B4;
        }
      }
    }
    .statistics{
      display: table-cell;
      vertical-align: top;
      color:white;
      font-size:13px;
      width: 25%;
      table{
        width: 100%;
        tr td{
          &:first-child{
            width: 70%;
          }
          &:last-child{
            width: 30%;
          }
        }
      }
      .bottom{
        margin-top: 25px;
        a{
          color: white;
          text-decoration: underline;
          font-size: 10px;
          font-weight: bold;
          display: inline-block;
          text-transform: uppercase;
          &:not(:last-child){
            margin-right: 20px;
          }
        }
      }
    }
    .show_info_button{
      display: none;
      padding: 35px 0px;
      cursor: pointer;
      width: 100%;
      .arrow_to_bottom,
      .arrow_to_top{
        float: right;
      }
      .arrow_to_top{
        display: none;
      }
    }
    @media screen and (max-width:800px){
      .buttons,
      .statistics{
        display: none;
      }
      .show_info_button{
        display: table-cell;
      }
    }
  }
  .shop_mini_data{
    display: none;
    background-color: #9ab9c8;
    padding: 10px 10px 20px 10px;
    @media screen and (min-width:801px){
      display: none !important;
    }
    table{
      color: white;
      display: block;
      margin: auto;
      max-width: 300px;
      tr td{
        line-height: 25px;
        &:last-child{
          padding-left: 50px;
        }
      }
    }
    .buttons{
      display: block;
      margin: auto;
      max-width: 300px;
      a{
        color: white;
        text-decoration: none;
        border: 1px solid white;
        padding: 13px 25px;
        display: block;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .bottom{
      margin-top: 25px;
      text-align: center;
      a{
        color: white;
        text-decoration: underline;
        font-size: 11px;
        margin: 0px 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .main_content{
    .link_to_back{
      font-weight: bold;
      color: #5383A0;
      text-decoration: underline;
      text-transform: uppercase;
      @media screen and (min-width:801px){
        font-size: 13px;
      }
    }
    .article-title{
      color: #5383A0;
      font-weight: bold;
      font-size: 28px;
      line-height: 35px;
      margin-top: 40px;
      @media screen and (min-width:801px){
        margin-top: 70px;
      }
    }
    .pictures_and_info{
      @media screen and (min-width:801px){
        display: table;
      }
      .picture_wrapper{
        // @media screen and (max-width:800px){
        //   text-align: center;
        // }

        .mobile_pictures_slider{
          position: relative;
          max-width: 500px;
          display: block;
          margin: auto;
          border: 1px solid lightgray;
          border-style: dashed;
          padding: 4px;
          .sold-mark{
            top: -1px;
            right: -1px;
          }
          .pictures{
            position: relative;
            .owl-dots{
              position: absolute;
              bottom: 8px;
              text-align: center;
              left: 0;
              right: 0;
              .owl-dot{
                display: inline-block;
                padding: 5px;
                border: 2px solid white;
                border-radius: 50%;
                padding: 6px;
                & ~ .owl-dot{
                  margin-left: 8px;
                }
                &.active{
                  background-color: #f3846d;
                }
              }
            }
          }
          @media screen and (min-width:801px){
            display: none;
          }
        }
        .desktop_pictures{
          .main_wrapper{
            position: relative;
            border: 1px solid lightgray;
            border-style: dashed;
            padding: 4px 4px 0px;
            margin-bottom: 20px;
            .sold-mark{
              top: -1px;
              right: -1px;
            }
            img.main_picture,
            img.no_image{
              width:100%;
            }
          }
          @media screen and (max-width:800px){
            display: none;
          }
          .usual_pictures{
            .triangle_left {
              float:left;
              width: 5%;
              height: 0;
              padding-top: 5%;
              padding-bottom: 5%;
              overflow: hidden;
              display: inline-block;
              margin-top: 10px;
              margin-right: 0.5%;
              cursor: pointer;
              span {
                content: "";
                display: block;
                width: 0;
                height: 0;
                margin-top:-33px;

                border-top: 33px solid transparent;
                border-bottom: 33px solid transparent;
                border-right: 50px solid #dcdcdc;
              }
            }
            img{
              width: 14.8%;
              vertical-align: top;
              margin: 0px 1.5%;
              cursor: pointer;
              display: none;
            }
            .triangle_right {
              float:right;
              width: 0;
              height: 0;
              padding-top: 5%;
              padding-bottom: 5%;
              padding-left: 5%;
              overflow: hidden;
              display: inline-block;
              margin-top: 10px;
              margin-left: 0.5%;
              cursor: pointer;
              span {
                content: "";
                display: block;
                width: 0;
                height: 0;
                margin-top:-33px;
                margin-left: -50px;

                border-top: 33px solid transparent;
                border-bottom: 33px solid transparent;
                border-left: 50px solid #5383a0;
              }
            }
          }
        }
        @media screen and (min-width:801px){
          width: 50%;
          display: table-cell;
        }
      }
      .info{
        @media screen and (min-width:801px){
          padding-left: 40px;
          display: table-cell;
          vertical-align: top;
          font-size: 15px;
        }
        .price{
          color: #5383A0;
          font-weight: bold;
          font-size: 30px;
          line-height:35px;
        }
        .vat{
          color: #767676;
        }
        .shipping,
        .shipping_readiness,
        .payment_types{
          color: #767676;
          margin-bottom: 10px;
          img{
            margin-right: 10px;
            vertical-align: middle;
            position: relative;
            bottom: 2px;
            &.shipping_icon{
              left: -3px;
            }
            &.payment_icon{
              margin-right: 5px;
              right: 3px;
            }
          }
          .icon_wrapper{
            display: inline-block;
          }
        }
        .shipping{
          color: #5383A0;
          text-decoration: underline;
          &:hover .shipping_methods_hover{
            display: block;
            @media (max-width:800px){
              .table_wrapper{
                left: 0;
                right: 0;
              }
            }
          }
        }

        .to_cart,
        .to_favorites{
          padding: 15px;
          display: block;
          text-align: center;
          font-size: 16px;
          cursor: pointer;
          max-width: 350px;
          margin: auto;
          text-transform: uppercase;
          @media screen and (min-width:801px){
            margin: 0px;
          }
        }
        .to_cart{
          border: 1px solid #EA5D0B;
          background-color: #EA5D0B;
          color: white;
        }
        .to_favorites{
          border: 1px solid #767676;
          color: #767676;
          background-color: white;
        }
        .share_title{
          display: block;
          margin: auto;
          text-align: center;
          color: #767676;
          font-size: 15px;
          margin-bottom: 10px;
          @media screen and (min-width:801px){
            display: inline-block;
            margin-right: 33px;
            font-size: 13px;
            font-weight: bold;
          }
        }
        .share_buttons{
          text-align: center;
          @media screen and (min-width:801px){
            display: inline-block;
          }
          a ~ a{
            margin-left: 25px;
            @media screen and (min-width:801px){
              margin-left: 10px;
            }
          }
          @media screen and (min-width:801px){
            .icon_for_mobile{
              display: none;
            }
          }
          @media screen and (max-width:800px){
            .icon_for_desktop{
              display: none;
            }
          }
        }
      }
    }
    .about_article{
      border-bottom: 1px solid #767676;
      border-bottom-style: dashed;
      > .title{
        display: block;
        text-align: center;
        color: #5383A0;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        @media screen and (min-width:801px){
          text-align: left;
          font-size: 30px;
        }
      }
      table{
        width: 100%;
        max-width: 350px;
        margin: auto;
        color: #767676;
        @media screen and (min-width:801px){
          margin: 0px;
        }
        tr td{
          vertical-align: top;
          line-height: 24px;
          font-size: 13px;
          @media screen and (min-width:801px){
            font-size: 15px;
          }
          &:first-child{
            width: 40%;
            font-weight: bold;
          }
          &:last-child{
            width: 60%;
          }
        }
      }
    }
    .description{
      margin-bottom: 150px;
      > .title{
        display: block;
        color: #5383A0;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        @media screen and (min-width:801px){
          font-size: 30px;
        }
      }
      .content{
        color: #767676;
        font-size: 13px;
        @media screen and (min-width:801px){
          font-size: 15px;
        }
      }
    }
  }
  .shipping_methods_hover{
    .arrow_up_borders{
      left: 37px;
    }
    .arrow_up{
      left: 38px;
    }
    @media (min-width:801px){
      .table_wrapper{
        left: -134px;
      }
    }
  }
}


.article_block{
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 6px;
  margin: 12px;
  text-align: left;
  width: 254px;
  .link_to_image{
    padding: 1px;
    display: inline-block;
    .main_picture{
      width: 240px;
      height: 180px;
      margin-bottom: 0px;
      vertical-align: middle;
      @media screen and (max-width:800px){
        width: 200px;
        height: 150px;
      }
    }
  }
  .title{
    height: 54px;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    border-bottom-style: dashed;
    a{
      font-weight: bold;
      font-size: 15px;
      color: #5383A0;
      letter-spacing: 0px;
      line-height: 18px;
    }
  }
  .mini_price{
    display: none;
  }
  .link_to_shop{
    font-size: 13px;
    color: #767676;
    letter-spacing: 0px;
  }
  .bottom{
    width: 100%;
    display: table;
    .buttons{
      display: table-cell;
      @media screen and (min-width:801px){
        a{
          display: inline-block;
          margin: 0px 7px;
        }
      }
    }
    .price{
      display: table-cell;
      text-align: right;
      font-size: 20px;
      color: #5383A0;
      letter-spacing: 0px;
      line-height: 22px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width:800px){
  .article_block{
    width: 214px;
    .title{
      height: 39px;
      border-bottom: none;
    }
    .mini_price{
      display: block;
      border-bottom: 1px solid lightgray;
      border-bottom-style: dashed;
      font-weight: bold;
      font-size: 18px;
      color: #5383A0;
      letter-spacing: 0px;
      padding: 5px 0px;
    }
    .link_to_shop{
      display: none;
    }
    .bottom{
      .buttons{
        text-align: center;
        a img{
          padding: 8px 20px 0px;
          height: 40px;
        }
      }
      .price{
        display: none;
      }
    }
  }
}

.new_article_block{
  display: inline-block;
  padding: 6px;
  margin: 10px;
  text-align: left;
  width: 254px;
  .sold-mark{
    top: -1px;
    right: -1px;
  }
  .link_to_image{
    position: relative;
    border: 1px solid lightgray;
    border-style: dashed;
    padding: 4px;
    display: inline-block;
    .main_picture{
      width: 232px;
      height: 174px;
      margin-bottom: 0px;
      vertical-align: middle;
    }
  }
  .title{
    @media screen and (min-width:801px){
      height: 36px;
      overflow: hidden;
      margin: 5px;
    }
    @media screen and (min-width:578px) and (max-width:800px){
      margin: 5px 0px;
      height: 55px;
      overflow: hidden;
    }
    @media screen and (max-width:577px){
      margin: 5px 0px;
      overflow: auto;
    }
    a{
      font-weight: bold;
      font-size: 13px;
      color: #5383A0;
      letter-spacing: 0px;
      line-height: 17px;
      @media screen and (max-width:800px){
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
  .mini_price{
    display: none;
  }
  .bottom{
    width: 100%;
    display: table;
    border-top: 1px solid lightgray;
    border-top-style: dashed;
    .buttons{
      display: table-cell;
      a{
        display: inline-block;
        margin: 7px 7px 0px 0px;
        @media screen and (min-width:801px){
          img{
            height: 20px;
          }
        }
      }
    }
    .price{
      display: table-cell;
      text-align: right;
      font-size: 20px;
      color: #5383A0;
      letter-spacing: 0px;
      line-height: 22px;
      font-weight: bold;
      @media screen and (max-width:800px){
        vertical-align: middle;
      }
    }
  }
}


.categories_article_block{
  display: inline-block;
  background-color: white;
  padding: 6px;
  margin: 12px;
  text-align: left;
  width: 254px;
  .link_to_image{
    position: relative;
    border: 1px solid #b6b6b6;
    border-style: dashed;
    padding: 2px;
    display: inline-block;
    .sold-mark{
      top: -1px;
      right: -1px;
    }
    .main_picture{
      width: 236px;
      height: 177px;
      margin-bottom: 0px;
      vertical-align: middle;
    }
  }
  .title{
    overflow: hidden;
    @media screen and (min-width:801px){
      height: 40px;
      margin: 8px 0px 10px;
    }
    @media screen and (max-width:800px){
      height: 50px;
      margin: 2px 0px 8px;
    }
    a{
      font-weight: bold;
      color: #5383A0;
      letter-spacing: 0px;
      @media screen and (min-width:801px){
        line-height: 19px;
      }
      @media screen and (max-width:800px){
        line-height: 24px;
        font-size: 20px;
      }
    }
  }
  .link_to_shop{
    display: block;
    font-size: 13px;
    color: #767676;
    letter-spacing: 0px;
    border-top: 1px solid #767676;
    border-top-style: dashed;
  }
  .bottom{
    width: 100%;
    display: table;
    padding-top: 5px;
    .buttons{
      display: table-cell;
      a{
        display: inline-block;
        & + a {
          margin-left: 15px;
        }
      }
    }
    .price{
      display: table-cell;
      text-align: right;
      font-size: 20px;
      color: #5383A0;
      letter-spacing: 0px;
      line-height: 22px;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}
