.business_cards{
  #delete_business_cards_image_templates{
    display: none;
  }
  .business_card_block{
    margin: 0px 10px 10px 0px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    .radio_button{
      text-align: center;
    }
    img{
      border: 1px solid black;
      cursor: pointer;
      overflow: hidden;
      background-color: white;
      width: 210px;
      margin-bottom: 10px;
      display: block;
    }
    .big_business_card{
      display: none;
      transform: scale(2);
      position: absolute;
      z-index: 1;
      margin-top: 43px;
      .close_big_card{
        float: right;
        cursor: pointer;
      }
    }
  }
  .business_card_details_form{
    display: none;
    float:right;
    width: 40%;
    > form > table{
      width: 100%
    }
  }
  table.orders td{
    padding-right: 15px;
  }
  table.business_card_details{
    width: 40%;
    float:right;
    font-weight: bold;
    margin: 20px 0px;
    tr td{
      label{
        font-weight: bold;
      }
      &:first-child{
        width:40%;
        vertical-align: top;
      }
      &:last-child{
        width:60%;
      }
    }
  }
  .business_card_button {
    display: inline-block;
    position: relative;
    margin: 10px 0 0;
    text-align: center;

    input {
      min-width: 160px;
      display: inline-block !important;
      font-size: 13px;
      padding: 5px 15px;
      border: 1px solid #b6b6b6;
      background: #b6b6b6;
      color: white;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
