.categories_list input[type=checkbox]{
  margin:0px;
  position: relative;
  top: 2px;
}

.category_page{
  @media screen and (min-width:801px){
    display: table;
  }
  .open_button{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #a3a3a3;
    color: #767676;
    background-color: white;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    &.checked{
      color: white;
      background-color: #9ab9c8;
      .arrow_to_down{
        display: block;
      }
      .arrow_to_right{
        display: none;
      }
    }
    .arrow_to_right,
    .arrow_to_down{
      right: 10px;
    }
    .arrow_to_right{
      top: 16px;
      .back_triangle{
        border-left: 12px solid white;
      }
      .front_triangle{
        border-left: 12px solid gray;
      }
    }
    .arrow_to_down{
      top: 23px;
      .back_triangle{
        border-top: 8px solid #9ab9c8;
      }
      .front_triangle{
        border-top: 12px solid white;
      }
    }
    @media screen and (min-width:801px){
      display: none;
    }
  }
  // menu button arrows
  .arrow_to_right,
  .arrow_to_down{
    position: absolute;
    div{
      width: 0;
      height: 0;
    }
    .back_triangle{
      position: absolute;
      z-index: 1;
    }
    .front_triangle{
      border-radius: 4px;
    }
  }
  .arrow_to_right{
    div{
      border-bottom: 12px solid transparent;
      border-top: 12px solid transparent;
    }
    .back_triangle{
      border-left: 12px solid white;
      right: 4px;
    }
    .front_triangle{
      border-left: 12px solid gray;
    }
  }
  .arrow_to_down{
    display: none;
    .back_triangle{
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      right: 4px;
    }
    .front_triangle{
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;   
    }
  }
  .left_menu{
    padding-top: 20px;
    min-width: 190px;
    text-align: left;
    @media screen and (min-width:801px){
      display: table-cell;
      padding-right: 10px;
    }
    .subcategories_wrapper{
      @media screen and (max-width:800px){
        display: none;
        border: 1px solid #a3a3a3;
        border-top: none;
        padding: 15px;
      }
      @media screen and (min-width:801px){
        display: block !important;
      }
      .mobile.filter{
        position: relative;
        @media screen and (min-width:801px){
          display: none;
        }
        input[type=text]{
          display: block;
          width: 100%;
          border: none;
          background-color: rgb(239, 239, 239);
          padding: 15px;
          color: #767676;
          &::-webkit-input-placeholder {
            color: #767676;
          }
          &::-moz-placeholder {
            color: #767676;
          }
          &:-moz-placeholder {
            color: #767676;
          }
          &:-ms-input-placeholder {
            color: #767676;
          }
        }
        .search_button_icon{
          position: absolute;
          top: 11px;
          right:14px;
        }
      }
    }
    .category{
      &:hover:not(.main){
        background-color: #f3f3f3;
      }
      &.main > a {
        color: #5383a0;
        font-weight: bold;
        font-size: 28px;
      }
      &.sub, &.subsub{
        a {
          color: #767676;
          display: block;
          @media screen and (min-width:801px){
            font-size: 13px;
          }
          &:hover{
            text-decoration: none;
          }
        }
      }
      &.sub {
        border-bottom: 1px solid #dcdcdc;
        a {
          padding: 7px 0 0;
          font-weight: bold;
        }
      }
      &.subsub{
        padding-left: 10px;
        a {
          padding: 7px 0 4px;
          font-weight: normal;
        }
      }
    }
  }
  .article-list-section{
    width: 100%;
    @media screen and (min-width:801px){
      display: table-cell;
    }
    @media screen and (max-width:800px){
      display: block;
      padding-top: 0px;
    }
    .filters{
      color: #767676;
      text-align: left;
      @media screen and (min-width:801px){
        margin-left: 18px;
        display: block !important;
      }
      @media screen and (max-width:800px){
        display: none;
        padding-top: 0px;
        border: 1px solid #a3a3a3;
        border-top: none;
        padding: 15px;
      }
      .filters_boxes{
        display: none;
        div{
          display: inline-block;
        }
        .title{
          margin-right: 7px;
          @media screen and (max-width:800px){
            display: none;
          }
        }
        .filter_box_prototype{
          display: none;
        }
        .filter_box,
        .filter_box_prototype{
          border: 1px solid #a3a3a3;
          background-color: white;
          padding: 5px 10px 3px;
          margin: 0 10px 10px 0;
          cursor: default;
          @media screen and (max-width:800px){
            font-size: 18px;
          }
          .key{
            margin-right: 7px;
          }
          .close_filter{
            float: right;
            margin-left: 20px;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
      .filter{
        position: relative;
        @media screen and (min-width:801px){
          display: inline-block;
          margin-bottom: 13px;
          vertical-align: top;
          &:not(:last-child){
            margin-right: 13px;
          }
        }
        &:last-child{
          @media screen and (max-width:800px){
            display: none;
          }
        }
        #search_in_category{
          padding: 4px 34px 4px 9px;
          border: 1px solid #a3a3a3;
          width: 180px;
        }
        .search_button_icon{
          position: absolute;
          height: 16px;
          right: 10px;
          top: 6px;
        }
        .hidden_fields{
          display: none;
        }
        .button{
          cursor: pointer;
          @media screen and (min-width:801px){
            background-color: #f3f3f3;
            border:1px solid #a3a3a3;
            padding: 4px 9px;
            min-width: 90px;
          }
          @media screen and (max-width:800px){
            font-weight: bold;
            border-bottom:1px solid #dcdcdc;
            background-color: white;
            padding: 25px 0 4px;
            font-size: 16px;
          }
          &.pressed{
            @media screen and (min-width:801px){
              background-color: white !important;
              .arrow-down-white{
                border-top: 7px solid white !important;
              }
            }
            @media screen and (max-width:800px){
              border-bottom:none;
              .arrow_to_right{
                display: none;
              }
              .arrow_to_down{
                display: block;
              }
            }
          }
          .arrow-wrapper{
            margin-left: 28px;
            position: relative;
            bottom: 1px;
            @media screen and (max-width:800px){
              display: none;
            }
            @media screen and (min-width:801px){
              display: inline-block;
            }
            div{
              width: 0; 
              height: 0; 
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
            }
            .arrow-down-white{
              position: absolute;
              top: -2px;
              border-top: 7px solid #f3f3f3;
            }
            .arrow-down-gray{
              border-top: 7px solid gray;
              border-radius: 2px;
            }
          }
          .arrow_to_right,
          .arrow_to_down{
            @media screen and (min-width:801px){
              display: none;
            }
          }
          .arrow_to_right{
            right: 0;
            top: 20px;
            .back_triangle{
              border-left: 12px solid white;
            }
            .front_triangle{
              border-left: 12px solid gray;
            }
          }
          .arrow_to_down{
            right: -5px;
            top: 29px;
            .back_triangle{
              border-top: 8px solid white;
            }
            .front_triangle{
              border-top: 12px solid gray;
            }
          }
        }
        .drop-down{
          display: none;
          background-color: white;
          @media screen and (min-width:801px){
            border: 1px solid #a3a3a3;
            position: absolute;
            z-index: 1;
            margin-top: -1px;
          }
          &.price_range{
            @media screen and (min-width:801px){
              padding: 20px;
              width: 250px;
            }
            @media screen and (max-width:800px){
              padding: 20px 0;
            }
            .price_container{
              background-color: rgb(239, 239, 239);
              @media screen and (min-width:801px){
                width: 94px;
                padding: 10px;
              }
              @media screen and (max-width:800px){
                width: 120px;
                padding: 15px 10px;
                font-size: 16px;
              }
              &:nth-child(1){
                float: left;
              }
              &:nth-child(2){
                float: right;
              }
              #show_min_price,
              #show_max_price{
                float: right;
              }
            }
            .slider_block{
              padding: 0 14px 0 8px;
              margin-top: 20px;
              #price_filter_slider{
                border: none;
                @media screen and (min-width:801px){
                  height: 15px;
                }
                @media screen and (max-width:800px){
                  height: 20px;
                }
              }
              .ui-slider-handle {
                border-radius: 50%;
                border:none;
                background: rgb(243, 132, 109);
                cursor: pointer;
                @media screen and (min-width:801px){
                  width: 1.5em;
                  height: 1.5em;
                }
                @media screen and (max-width:800px){
                  width: 2em;
                  height: 2em;
                }
                &:focus {
                  outline-style: none;
                }
              }
            }
            .apply{
              background-color: rgb(154, 185, 200);
              color: white;
              text-align: center;
              padding: 15px;
              margin-top: 25px;
              font-size: 16px;
              cursor: pointer;
              text-transform: uppercase;
              @media screen and (min-width:801px){
                padding: 15px;
              }
              @media screen and (max-width:800px){
                padding: 20px;
              }
            }
          }
          &.list{
            &.regular{
              @media screen and (min-width:801px){
                max-height: 250px;
                overflow-y: scroll;
              }
              @media screen and (max-width:800px){
                text-align: center;
                font-size: 20px;
              }
              .element{
                @media screen and (min-width:801px){
                  padding: 5px 10px;
                }
                @media screen and (max-width:800px){
                  padding: 10px;
                }
                cursor: pointer;
                &.selected{
                  background-color: #efefef;
                }
              }
            }
            &.colors_filter{
              padding: 5px;
              line-height: 0;
              @media screen and (min-width:801px){
                width: 192px;
              }
              @media screen and (max-width:800px){
                text-align: center;
              }
              .element{
                display: inline-block;
                padding: 5px;
                cursor: pointer;
                &.selected{
                  background-color: #334982;
                }
                .color{
                  height: 35px;
                  width: 35px;
                  border: 1px solid #a3a3a3;
                  position: relative;
                  .triangle{
                    position: absolute;
                    width: 0;
                    height: 0;
                    &.top{
                      border-right: 0px solid transparent;
                      right: 0;
                      &.first {
                        border-left: 6px solid transparent;
                        border-top: 6px solid red;
                        z-index: 5;
                      }
                      &.secont {
                        border-left: 15px solid transparent;
                        border-top: 15px solid orange;
                        z-index: 4;
                      }
                      &.third {
                        border-left: 24px solid transparent;
                        border-top: 24px solid yellow;
                        z-index: 3;
                      }
                      &.fourth {
                        border-left: 33px solid transparent;
                        border-top: 33px solid blue;
                        z-index: 2;
                        background-color: blue;
                      }
                    }
                    &.bottom{
                      border-left: 0px solid transparent;
                      left: 0;
                      bottom: 0;
                      &.first {
                        border-right: 6px solid transparent;
                        border-bottom: 6px solid brown;
                        z-index: 5;
                      }
                      &.secont {
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid pink;
                        z-index: 4;
                      }
                      &.third {
                        border-right: 24px solid transparent;
                        border-bottom: 24px solid purple;
                        z-index: 3;
                      }
                      &.fourth {
                        border-right: 33px solid transparent;
                        border-bottom: 33px solid green;
                        z-index: 2;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .no_articles{
      margin-top: 30px;
      @media screen and (min-width:801px){
        margin-left: 18px;
      }
    }
    @media screen and (max-width:800px){
      .filtered_articles{
        text-align: center;
      }
    }
  }
}