.contact_form {
  text-align: left;

  @media (max-width: 600px) {
    text-align: center;
  }

  .title {
    margin-top: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid lightgrey;
    color: #5383A0;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 50px;
    font-weight: bold;
  }

  .support {
    font-weight: bold;
    font-size: 18px;
    margin-top: 31px;
    margin-bottom: 16px;
    @media (max-width: 335px) {
      width: 256px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .support2 {
    font-size: 12px;
    border-top: 1px dashed lightgrey;
    max-width: 544px;
    padding-top: 14px;
    margin-bottom: 15px;
    @media (max-width: 335px) {
      width: 256px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contact-form-wrapper {
    max-width: 544px;
    overflow: auto;
    margin-top: 10px;

    .field_wrapper {
      margin-bottom: 24px;
      margin-right: 28px;
      width: 100%;
      @media (max-width: 335px) {
        width: 256px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .row_wrapper {
      width: 100%;
      .field_wrapper {
        display: inline-block;
        width: 258px;
        &:last-child {
          margin-right: 0;
          @media (max-width: 600px) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        @media (max-width: 600px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
    }

    textarea{
      resize:vertical;
    }

    input[type=text],
    input[type=email],
    textarea,
    select {
      border: 1px solid #d3d3d3;
      background: white;
      width: 100%;
      padding: 7px 22px;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }

    select {
      color: gray;
      option {
        color: black;
      }
      option[value=""] {
        color: grey;
      }
    }

    textarea {
      height: 120px;
    }
  }

  input[type=submit] {
    display: block;
    float: right;
    padding: 12px 30px;
    @media (max-width: 600px) {
      float: none;
      margin: auto;
    }
  }

  .field_with_errors {
    border: none;
    width: 100%;
    input[type=text],
    input[type=email],
    textarea {
      border: 1px solid #bf0018;
    }
  }

  .success_wrapper{
    max-width: 544px;
    overflow: auto;
    height: 280px;
    .success_row_wrapper {
      color: #EA5D0A;
      max-width: 544px;
      margin-bottom: 112px;
      font-size: 16px;
      font-weight: 600;
      padding-top: 100px;
      border-top: 1px dashed lightgrey;
      text-align: center;
      .glyphicon {
        display: inline-block;
        vertical-align: center;
        margin-right: 5px;
      }
      .success {
        display: inline-block;
        vertical-align: center;
      }
    }

    a {
      padding: 12px 26px;
      float: right;
      @media (max-width: 600px) {
        float: none;
        margin: auto;
      }
    }
  }

  .contact_address_wrapper {
    color: grey;
    margin-top: 50px;
    .to_contact_us {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .contact_time,
    .contact_phone,
    .contact_email {
      font-size: 14px;
      margin-bottom: 12px;
    }
    .contact_address {
      div {
        font-size: 14px;
        margin-bottom: 0px;
        &:first-child {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}
