.art_association_confirmation_email {
  .greeting {
    color: #ff9a32;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px dashed #ff9a32;
    margin-bottom: 15px;
    p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .info {
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    p{
      margin: 0;
      padding: 0;
    }
  }
}