.faq_page {
  display: table-cell;
  vertical-align: top;
  width: 100%;

  #faq_questions_search {
  	display: inline-block;
  	height: 34px;
  	width: 405px;
  	border: 1px solid rgb(211,211,211);
  	border-right: none;
  	padding-left: 10px;
  	font-size: 13px;
  	vertical-align: middle;
  	border-top-left-radius: 2px;
  	border-bottom-left-radius: 2px;
  	@media (max-width: 503px) {
  		width: 80%;
  	}
  }

  input[type=image] {
  	display: inline-block;
  	vertical-align: middle;
  }

  .asked_questions_title {
  	display: block;
  	margin-top: 60px;
  	font-size: 16px;
  	font-weight: bold;
  	border-bottom: 1px dashed rgb(211,211,211);
  	padding-bottom: 14px;
  	width: 100%;
  }

  @media (max-width: 800px) {
  	display: block;
  	text-align: center;
  }
}

.faq_page 
.faq_questions {
	display: block;
	width: 100%;

	.faq_question {
		margin-bottom: 17px;
		cursor: pointer;
		.faq_question_arrow {
			position: relative;
	    display: inline-block;
			width: 9px;
	    height: 9px;
	    border-right: 2px solid #ea5d0b;
	    border-top: 2px solid #ea5d0b;
	    transform: rotate(45deg);
	    margin-right: 5px;
	    vertical-align: middle;
		}
		.faq_question_question {
			vertical-align: middle;
			font-size: 15px;
			margin-left: 8px;
		}
	}

	.faq_question_answer {
		display: none;
		margin-top: 13px;
		margin-left: 22px;
		margin-bottom: 52px;
		font-size: 13px;
		width: 100%;
		@media (max-width: 800px) {
	  	margin-left: auto;
	  	margin-right: auto;
	  }
	}
}