.favorites,
.favorite_shops{
  .left_menu{
    vertical-align: top;
    @media screen and (min-width:801px){
      padding-top: 16px;
      display: table-cell;
    }
    @media screen and (max-width:800px){
      display: table;
      width: 100%;
    }
    .selected{
      @media screen and (min-width:801px){
        background-color: #efefef;
      }
      @media screen and (max-width:800px){
        background-color: #5383A0;
        color: #FFF;
      }
    }
    a{
      font-weight: bold;
      color: #7c7c7c;
      display: block;
      @media screen and (min-width:801px){
        padding: 10px;
        width: 170px;
      }
      @media screen and (max-width:800px){
        padding: 20px 0px;
        border: 1px solid #7c7c7c;
        text-align: center;
        font-size: 21px;
        text-transform: uppercase;
        & + a{
          margin-top: 15px;
        }
      }
      > img{
        float:right;
        position: relative;
        padding-right: 10px;
        @media screen and (min-width:801px){
          display: none;
        }
      }
      .arrow_to_bottom{
        top: 4px;
      }
      .arrow_to_right{
        bottom: 1px;
        right: 6px;
        filter: invert(51%);
      }
      @media screen and (max-width:800px){
        .count{
          display: none;        
        }
      }
    }
  }
  .main_block{
    vertical-align: top;
    @media screen and (min-width:801px){
      display: table-cell;
      padding-left: 15px;
    }
    @media screen and (max-width:800px){
      text-align: center;
      display: block;
      padding-top: 30px;
    }
    .no_favorites{
      margin: 15px;
    }
  }
}