.favorite_shops{
  .favorite_shop{
    display: inline-block;
    @media screen and (min-width:901px){
      margin: 5px 30px;
    }
    @media screen and (max-width:900px){
      margin: 5px 10px;
    }
    table{
      width:260px;
      text-align: left;
      table-layout: fixed;
      .cell-1{
        width: 32px;
        img{
          border-radius:50%;
        }
      }
      .cell-2{
        width: 228px;
        padding: 0 14px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .name{
          color: #5383a0;
          font-size: 18px;
        }
        .address{
          font-size: 11px;
          color: #7c7c7c;
          position:relative;
          bottom: 2px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .cell-3 .line{
        border-top: #7c7c7c dashed 1px;
        position:relative;
        top: 4px;
        margin-right: 7px;
      }
      .cell-4{
        .message{
          margin-left: 5px;
          position:relative;
          bottom: 2px;
        }
        .delete{
          margin-left: 9px;
        }
      }
    }
  }
}