.messages{

  color: #767676;

  .horizontal_upper_menu{

    .menu_button{

      margin-right: 3px;
      margin-bottom: 5px;

      &:focus .title {
        text-decoration: none;
      }

      .title {
        background-color: #f3f3f3;
        border: 1px solid #a3a3a3;
        padding: 4px 9px;
        color: #a3a3a3;
      }
    }
    .menu_button_new {
      .title {
        background: #ea5d0b;
        border-color: #ea5d0b;
        color: #fff;
      }
    }
    .menu_button_active {
      .title {
        background: #99b9c9;
        border-color: #99b9c9;
        color: #fff;
      }
    }
    .line_above{
      min-width: 110px
    }
  }
}

.new_message_icon img{
  margin-bottom: 5px;
  top: 5px;
  position: relative;
}

.message_new_wrapper {
  clear: both;
  margin: 30px 0 0;
  border-top: 1px solid #dcdcdc;

  #message_file{
    display: none;
  }
}

.message_new_input_wrapper {
  position: relative;
  border-bottom: 1px solid #dcdcdc;

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0 5px 10px;
    font-weight: bold;
    cursor: text;
  }

  input {
    display: block;
    width: 100%;
    padding: 5px 10px 5px 125px;
    border: 0;
    color: #000;
    font-size: inherit;
  }
}

.messages_new_input_body {
  display: block;
  width: 100%;
  height: 300px;
  padding: 9px;
  margin: 30px 0 0;
  border: 1px solid #dcdcdc;
  background: #fff;
  color: #000;
  font-size: inherit;
  resize: none;

  &:focus {
    outline: none !important;
  }
}

.message_new_button_wrapper {
  margin: 30px 0 0;
  text-align: right;
}

.message_new_button {
  display: inline-block;
  padding: 4px 9px;
  margin-left: 3px;
  border: 1px solid #a3a3a3;
  background-color: #f3f3f3;
  color: #a3a3a3;
  font-weight: bold;
  text-align: left;
  cursor: pointer;

  &.send_button {
    border: 1px solid #ea5d0b;
    background: #ea5d0b;
    color: #fff;
  }
}

/*
.send_button{
  background: image-url("messages_send.png") no-repeat 5px center;
}

.save_as_a_draft{
  background: image-url("messages_save.png") no-repeat 5px center;
}

.file_button{
  background: image-url("messages_attach.png") no-repeat 5px center;
}
*/

#new_message,
.edit_message{
  .field_with_errors{
    border:none;
    width: 100%;
  }
}

.message_line_wrapper {
  clear: both;
  border-top: 1px solid #dcdcdc;
}

.message_line {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;

  .message_line_header {
    padding: 0 10px;
    cursor: pointer;
    &:hover{
      background: #e6e6e6;
    }
  }

  &.message_line_active {
    .message_line_header {
      background-color: #efefef;
      &:hover {
        background: #e6e6e6;
      }
    }
  }
}

.message_line_date{
  font-weight: bold;
  width: 15%;
  display: table-cell;
  vertical-align: top;
  padding: 8px 0;
}

.message_line_name{
  width: 30%;
  display: table-cell;
  vertical-align: top;
  padding: 8px 0;
}

.message_line_body {
  display: none;
  padding: 20px 10px;
}

.message_line_subject{
  width: 55%;
  display: table-cell;
  vertical-align: top;
  padding: 8px 0;
}

.message_line_icons{
  display: table-cell;
  min-width: 100px;
  position: relative;
  text-align: right;
  top: 2px;
  cursor: default;
}

.message_line_icons a{
  margin-left:10px;
}

.message_line_icons input{
  position: relative;
  top: -5px;
}

.check_boxes_button_wrapper {
  padding: 0 5px;
  text-align: right;
}

.check_boxes_button{
  display: inline-block;
  padding: 5px;
  background-color: transparent;
  color: #5383a0;
  font-size: inherit;
  font-weight: bold;
  display: inline-block;
  cursor:pointer;
  border: 0;
  -webkit-appearance: none;

  &:hover {
    color: #5383a0;
    text-decoration: underline;
  }
}

.pagination_buttons{
  float: right;
  margin: 30px 5px 10px;
}

.pagination_previous,
.pagination_next,
.pagination_previous:visited,
.pagination_next:visited{
  display: inline-block;
  padding: 5px 10px;
  color: #5383a0;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.pagination_previous::before,
.pagination_next::after {
  display: inline-block;
  height: 25px;
  width: 20px;
  background: image-url('messages_pager.png') no-repeat top right;
  vertical-align: middle;
  content: '';
}

.pagination_previous::before {
  transform: scaleX(-1);
}

.messages_filter_wrapper {
  padding: 30px 0 10px;
}

.messages_filter_head,
.messages_filter,
.messages_filter_checked {
  display: inline-block;
  padding: 4px 9px;
  margin-right: 3px;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.messages_filter_head {
  border: 1px solid #5383a0;
  background: #5383a0;
  color: white;
}

.messages_filter {
  border: 1px solid #a3a3a3;
  background: #f3f3f3;
  color: #a3a3a3;
}

.messages_filter_checked {
  border: 1px solid #99b9c9;
  background: #99b9c9;
  color: white;
}

@media screen and (max-width:800px) {
  .messages {
    display: block;
  }
}

@media screen and (max-width:650px) {
  .messages {
    padding: 0;
    text-align: left;

    .horizontal_upper_menu {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .menu_button {
        display: block;
        margin: 8px;
        flex: 1 0 auto;

        .title {
          padding: 9px 14px;
        }
      }
    }
  }
  .check_boxes_button_wrapper {
    padding: 5px 5px 10px;
  }
  .message_line .message_line_header {
    padding: 8px 10px;
  }
  .message_line_date,
  .message_line_name,
  .message_line_subject {
    display: block;
    width: 100%;
    padding: 2px 0;
  }
  .message_line_icons {
    position: absolute;
    top: 3px;
    right: 10px;
  }
  .pagination_buttons {
    float: none;
    text-align: center;
  }
  .message_new_button {
    display: block;
    width: 100%;
    padding: 9px 14px;
    margin: 15px 0;
    text-align: center;
  }
}

@media screen and (max-width:414px) {
  .message_new_input_wrapper {
    input {
      padding: 2em 10px 5px;
    }
    label {
      padding: 5px 10px;
    }
  }
}
