.order_messages{
  margin-top: 35px;
  .mark_order_messages_as_read{
    display: none;
  }
  .title{
    font-weight: bold;
    color: #5383a0;
  }
  hr{
    margin-top: 7px;
    border-top: 1px dashed #a5a5a5;
  }
  .new_messages_notification{
    margin-bottom: 20px;
    span{
      font-weight: bold;
      color: #ea5d0b;
      vertical-align: middle;
    }
  }
  .order_message{
    clear: both;
    &.from_buyer .text{
      background-color: #ffedde;
    }
    &.from_seller .text{
      background-color: #f4fafd;
    }
    .text{
      border: 1px solid #dcdcdc;
      color: #767676;
      padding: 5px 10px;
      border-radius: 5px;
      min-height: 48px;
    }
    .data{
      font-size: 13px;
      color: #797979;
      .sender{
        color: #5383a0;
        text-decoration: underline;
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
  .dots{
    @media (min-width:601px){
      margin: -10px 0 7px;
    }
    @media (max-width:600px){
      margin-bottom: 7px;
    }
    .dot{
      background-color: #d8d8d8;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      margin-right: auto;
      margin-left: auto;
      & ~ .dot{
        margin-top: 5px;
      }
    }
  }
  .new_message_form_wrapper{
    label{
      color: #767676;
      font-weight: bold;
    }
    textarea{
      resize: vertical;
      display: block;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #dcdcdc;
      padding: 5px 10px;
      height: 100px;
      margin: 5px 0px 3px;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
      &:disabled{
        cursor: not-allowed;
      }
    }
    input[type=submit]{
      background-color: #5383a0;
      border: none;
      color: white;
      padding: 10px 15px 8px;
      font-size: 16px;
      text-transform: uppercase;
      float: right;
      margin: 5px 0;
      min-width: 120px;
      &:disabled{
        background-color: #b6b6b6;
        cursor: not-allowed;
      }
    }
  }
}