#terms{
  padding: 20px 60px;
  h2{
    text-align:center;
  }
  .contents{
    font-weight:bold;
  }
  .title{
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
  }
  .condition{
    margin-bottom: 20px;
    text-align: justify;
    a{
      color: #3a3af1;
      text-decoration: underline;
    }
  }
  .code_of_conduct_second_list{
    list-style-type: none;
    li:before {
      content: "-";
      margin-right: 15px;
    }
  }
  .assessment_system_conditions{
    .condition:first-child{
      color:red;
    }
  }
  .cancellation ul{
    list-style-type: none;
    margin-bottom: 20px;
  }
}

.without_padding{
  padding: 0px !important;
  margin: 0px !important;
}

.home_page{
  .first_part{
    position: relative;
    background-color: white;
    .central_picture{
      width: 100%;
      height: auto;
    }
    .border_top{
      position: absolute;
      top: 0px;
      width: 100%;
      border-top: 1px solid white;
      border-top-style: dashed;
      margin-top: 2px;
    }
    .inscription{
      position: absolute;
      left: 0;
      right: 0;
      &.first{
        top: 5%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
      }
      &.second{
        margin-left: 44%;
        margin-right: 44%;
        width: 12%;
        top: 36%;
      }
      @media screen and (max-width:800px){
        &.first{
          top: 10%;
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
        }
        &.second{
          margin-left: 37%;
          margin-right: 37%;
          width: 24%;
          top: 60%;
        }
      }
    }
    .benefits{
      position: absolute;
      top: 51%;
      width:100%;
      color:white;
      .title{
        font-family: Lobster-Regular;
        font-size: 30px;
        color: #FFFFFF;
        letter-spacing: 0px;
      }
      .first_list,
      .second_list{
        width: 50%;
        display: inline-block;
        padding: 0px 30px;
        vertical-align: top;
        .content{
          letter-spacing: 0px;
          line-height: 21px;
        }
        .glyphicon-ok{
          margin-right: 10px;
        }
      }
      .first_list{
        border-right: 1px solid white;
        border-right-style: dashed;
        .content{
          float: right;
        }
      }
    }
    @media screen and (max-width:800px){
      .benefits{
        display: none;
      }
    }
    .border_bottom{
      position: absolute;
      bottom: 0px;
      width: 100%;
      border-bottom: 1px solid white;
      border-bottom-style: dashed;
      margin-bottom: 7px;
    }
  }
  .second_part,
  .third_part {
    text-align: center;
    padding: 20px 10px;
    h1,
    h2 {
      margin: 0;
      font-weight: bold;
      font-family: Arial;
      font-size: 44px;
      letter-spacing: 0px;
      line-height: 50px;
    }
    h2 {
      color: #ea5d0b;
    }
    .text_under{
      font-family: Arial;
      font-size: 15px;
      color: #767676;
      letter-spacing: 0px;
      line-height: 23px;
      max-width: 750px;
      width: 90%;
      display: inline-block;
    }
  }
  .second_part{
    background-color: #fff;
  }
  .third_part{
    background-color: #ebebeb;
  }
}

.about_jakira,
.privacy,
.imprint {

  color: #767676;

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h1,
  h2 {
    margin: 20px 0 12px;
    color: #76a0b4;
    font-size: 28px;
  }

  h3 {
    margin: 36px 0 12px;
    color: #76a0b4;
    font-size: 24px;
  }

  h4,
  p {
    margin: 0 0 10px;
    font-size: inherit;
  }

  a {
    color: inherit;
    word-wrap: break-word;
  }
}

#art_types{
  margin: 40px auto;
  img{
    cursor: pointer;
    @media screen and (min-width:601px){
      width: 30%;
      & ~ img{
        margin-left: 3.5%;
      }
    }
    @media screen and (max-width:600px){
      width: 100%;
      & ~ img{
        margin-top: 20px;
      }
    }
  }
}