.notice_window{

  .head{
    display: none;
  }

  .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }

  .confirm_button,
  .cancel_button{
    margin: 0 5px;
    padding: 5px 30px;
    float: right;
    background-color: #fff;
    color: #456f88;
    text-decoration: none;
    cursor: pointer;
  }
}


.payment_information{
  clear:both;
  margin-top:40px;
  > .title{
    font-size:12px;
    font-weight:bold;
  }
  .information_window{
    border:1px solid #C4CAD0;
    border-radius:1px;
    padding:5px;
    max-width:340px;
    .unconfirmed{
      .title{
        color:orange;
        font-weight:bold;
      }
      .description{
        color: gray;
        font-weight: bold;
        font-size:13px;
      }
    }
    .wire{
      .description{
        font-weight: bold;
        color: gray;
        font-size: 11px;
        line-height: 13px;
      }
      .title{
        font-weight:bold;
        font-size: 13px;
      }
      .bank_transfer_data{
        color:gray;
        tr td:first-child{
          width: 80px;
        }
      }
      .more{
        cursor: default;
        float:right;
        .title{
          font-weight: bold;
          color:blue;
        }
        .list{
          display: none;
          position: absolute;
          background-color: white;
          border: 1px solid lightgray;
          padding: 10px 20px 0px;
          z-index: 1;
          .header{
            font-weight: bold;
          }
          ul{
            list-style-type: none;
            padding-left: 0px;
            margin-left: 0px;
          }
        }
        &:hover .list{
          display: block;
        }
      }
    }
  }
}

.articles_view_type{
  margin-bottom: 5px;
  .title{
    color:gray;
    display:inline-block;
    position: relative;
    bottom: 3px;
  }
  .highlight .element{
    background-color: gray !important;
  }
  .vertical,
  .horizontal{
    display: inline-block;
    &:hover{
      cursor: pointer;
    }
  }
  .vertical{
    .element{
      display:inline-block;
      width: 8px;
      height: 16px;
      margin-right: 2px;
      background-color:rgb(204, 204, 204);
    }
  }
  .horizontal{
    .wrapper{
      margin-top:-12px;
      .element.cube{
        display:inline-block;
        width: 4px;
        height: 4px;
        background-color:rgb(204, 204, 204);
        margin-right:2px;
      }
      .element.rectangle{
        display:inline-block;
        width:22px;
        height:4px;
        background-color:rgb(204, 204, 204);
      }
    }
  }
}
