#paypal_data{
  display: inline-block;
  text-align: right;
  display: none;
  table{
    width:100%;
    tr{
      td{
        padding: 5px;
        input{
          width: 100% !important;
        }
        &:last-child{
          text-align: left;
        }
        .green_button{
          float:none;
        }
        .field_with_errors{
          width:100%;
        }
      }
    }
  }
  .green_button a{
    color: white;
  }
  .show_video_guide,
  .show_pdf_guide a{
    color: red;
    cursor: pointer;
    text-decoration: underline;
  }
  .paypal_video_guide{
    display: none;
    text-align: center;
  }
}