.crop_picture{
  position: fixed;
  top: 5%;
  right: 0;
  left: 0;
  z-index: 10001;
  margin: auto;
  width: 80%;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  .head{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    .glyphicon-remove-sign{
      color: #8ca48d;
      font-size: 30px;
      float: right;
    }
  }
  .crop_image{
    max-width: 100%;
  }

  .previews{
    .preview {
      overflow: hidden;
      margin: 5px;
      float: left;
    }
    .large{
      width: 200px;
      height: 200px;
    }
    .middle{
      width: 150px;
      height: 150px;
    }
    .small{
      width: 100px;
      height: 100px;
    }
    .extra-small{
      width: 50px;
      height: 50px;
    }
  }
  .btn.btn-default{
    background-color: white;
    color: black;
    padding: 6px 12px;
  }
  .cancel{
    cursor: pointer;
  }
}
#pictures_place{
  overflow: overlay;
}

#pictures_place,
.main_picture_block .main_picture{
  .glyphicon-remove-sign{
    font-size: 20px;
  }
  .edit_icon{
    height:20px;
    width: 20px;
    vertical-align: -1px;
  }
}

.main_picture_block{
  .main_picture{
    display: inline-block;
    a{
      margin:3px;
      .glyphicon-remove-sign{
        color: #bf0018;
      }
    }
  }
}
