#cart-page,
#purchase-address-and-payment-method,
#purchase-check-order,
#purchase-complete-order{
  > .title{
    color: #5383A0;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    margin: 20px 0px;
  }
  > table{
    width: 100%;
    > tbody > tr > td:first-child{
      width: 100%;
    }
    @media (min-width:801px){
      > thead > tr > td,
      > tbody > tr > td{
        vertical-align: top;
      }
    }
    @media (max-width:800px){
      > thead > tr > td,
      > tbody > tr > td{
        display: block;
      }
    }
  }
  .purchase-total-cell{
    @media (min-width:801px){
      padding-left: 35px;
    }
  }
  .purchase-payment-cell{
    padding-bottom: 35px;
    vertical-align: bottom;
  }
}

table#purchase-steps{
  width: 100%;
  margin-bottom: 30px;
  td.link_wrapper{
    width: 33px;
    a{
      text-decoration: none;
      border: 2px solid #a5a5a5;
      border-radius: 50%;
      color: #a5a5a5;
      font-weight: bold;
      font-size: 16px;
      height: 33px;
      width: 33px;
      text-align: center;
      padding: 6px 0;
      display: block;
      &:hover,
      &:active{
        text-decoration: none;
      }
      &.available{
        border-color: #b6dc8c;
      }
    }
  }
  td.title{
    text-align: center;
    vertical-align: top;
    padding-top: 7px;
    @media (max-width:800px){
      font-size: 11px;
    }
    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
    }
    a{
      color: rgb(118, 118, 118);
      &:hover,
      &:active{
        text-decoration: none;
        color: rgb(118, 118, 118);
      }
    }
  }
  td.dashed_line_wrapper{
    vertical-align: middle;
    @media (min-width:801px){
      padding: 0 10px;
    }
    @media (max-width:800px){
      padding: 0 5px;
    }
    .dashed_line{
      height: 3px;
      background:{
        image: linear-gradient(to right, #cacaca 52%, rgba(255,255,255,0) 0%);
        position: top;
        size: 7px 3px;
        repeat: repeat-x;
      }
    }
  }
}

.purchase-item,
#purchase-addresses{
  border: 1px solid #dcdcdc;
  background-color: white;
  margin-bottom: 35px;
  .header{
    display: block;
    background-color: #efefef;
    padding: 8px 10px;
    color: #5383a0;
    font-weight: bold;
    &:hover,
    &:focus{
      text-decoration: none;
      color: #5383a0;
    }
  }
  .body{
    padding: 20px 10px;
    table.main{
      width: 100%;
      table{
        width: 100%;
      }
      td{
        width: 50%;
        vertical-align: top;
        table td{
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
      thead tr{
        color: #5383a0;
        font-weight: bold;
        border-bottom: 1px dashed #a5a5a5;
      }
      table tbody{
        color: #767676;
      }
      .shipping > span{
        text-decoration: underline;
        color: #5383A0;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        &:hover .shipping_methods_hover{
          display: block;
          .arrow_up_borders{
            left: 41px;
          }
          .arrow_up{
            left: 42px;
          }
          @media (max-width:800px){
            .table_wrapper{
              left: initial;
              right: -269px;
              table{
                thead tr{
                  border-bottom: none;
                }
                tr td{
                  width: auto;
                  padding: 0px 10px 0px 18px;
                }
              }
            }
          }
        }
      }
    }
    > table.main{
      @media (max-width:600px){
        &> thead > tr > td,
        &> tbody > tr > td{
          display: block;
          width: 100%;
          table{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .upper-part{
    width: 100%;
    @media (min-width:1001px){
      display: table;
    }
  }
  .description,
  .choose-payment-methods,
  .order_statuses,
  .order-status-and-payment-notice{
    line-height: 20px;
    @media (min-width:1001px){
      display: table-cell;
      vertical-align: top;
      width: 50%;
    }
    @media (max-width:1000px){
      margin-top: 15px;
    }
    .title{
      color: #5383a0;
      font-weight: bold;
    }
    .text{
      color: #767676;
    }
  }
  .order_statuses{
    .title{
      margin-bottom: 7px;
    }
    .confirmation-status,
    .payment-status{
      margin-bottom: 12px;
      color: #767676;
      position: relative;
      img{
        vertical-align: middle;
        margin-right: 12px;
        &.cart-icon{
          width: 24px;
        }
      }
      .glyphicon-ok-sign{
        color: #b6dc8c;
      }
      .glyphicon-exclamation-sign{
        color: #EA5D0A;
      }
      .glyphicon-ok-sign,
      .glyphicon-exclamation-sign{
        position: absolute;
        top:-6px;
        left:19px;
      }
    }
    .check-status{
      color: #767676;
      a{
        color: #5383a0;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.purchase-item{
  .body > table.main{
    margin-top: 30px;
  }
  .picture-and-info{
    display: table-cell;
    vertical-align: top;
  }
  .main_picture,
  .info{
    display: table-cell;
    vertical-align: top;
  }
  .main_picture img{
    @media (min-width:801px){
      width: 155px;
      height: 115px;
    }
    @media (max-width:800px){
      width: 130px;
      height: auto;
    }
  }
  .info{
    text-align: left;
    padding-left: 18px;
    position: relative;
    .buttons,
    .number{
      position: absolute;
      bottom: 0;
      a{
        display: inline-block;
        &:first-child{
          margin-right: 15px;
        }
      }
    }
    .number{
      text-decoration: underline;
      color: #767676;
      white-space: nowrap;
    }
  }
  .message_field{
    @media (min-width:601px){
      margin-top: 30px;
    }
    label{
      color: #767676;
      font-weight: bold;
      margin-bottom: 4px;
    }
    textarea{
      color: #a5a5a5;
      background-color: #f4fafd;
      padding: 7px 10px;
      width: 100%;
      resize: vertical;
      border: {
        color: #dcdcdc;
        style: solid;
        radius: 6px;
        width: 1px;
      }
      &:focus {
        outline: none !important;
      }
      @media (max-width:600px){
        height: 90px;
      }
    }
  }
}

.price-partial{
  .price{
    color: #5383A0;
    font-weight: bold;
    font-size: 28px;
    line-height: 25px;
    margin-bottom: 4px;
  }
  .vat,
  .shipping{
    font-size: 11px;
    color: #767676;
    line-height: 14px;
  }
  .shipping > span{
    text-decoration: underline;
    color: #5383A0;
    font-weight: bold;
    cursor: pointer;
    &:hover .shipping_methods_hover{
      display: block;
      .arrow_up_borders{
        left: 35px;
      }
      .arrow_up{
        left: 36px;
      }
      @media (max-width:800px){
        .table_wrapper{
          right: -121px;
          left: initial;
        }
      }
    }
  }
}

.purchase-total{
  .header{
    display: block;
    background-color: #efefef;
    padding: 8px 10px;
    color: #5383a0;
    span:first-child{
      font-weight: bold;
    }
  }
  .bottom{
    background-color: #efefef;
    @media (min-width:801px){
      padding: 20px 10px;
    }
    @media (max-width:800px){
      padding: 10px;
    }
  }
}

.purchase-total,
.purchase-payment{
  border: 1px solid #dcdcdc;
  @media (min-width:801px){
    width: 230px;
  }
  .body{
    background-color: white;
    padding: 20px 10px;
    .title{
      font-size: 28px;
      margin-bottom: 15px;
      color: #5383a0;
    }
  }
  .use-voucher-form-wrapper{
    padding: 0 10px;
    @media (max-width:800px){
      text-align: center;
    }
    label{
      display: block;
      color: #5383a0;
      font-weight: bold;
      margin-bottom: 4px;
    }
    input[type=text]{
      height: 32px;
      padding: 0px 7px;
      margin-bottom: 8px;
      border: 1px solid #dfdfdf;
    }
    input[type=submit]{
      border: 1px solid #82a3b8;
      color: #5383a0;
      background-color: white;
      text-transform: uppercase;
      font-weight: bold;
      white-space: normal;
      &.unavailable{
        border: none;
        color:white;
        background-color: #b6b6b6;
        cursor: not-allowed;
      }
    }
    input{
      font-size: 12px;
      max-width: 300px;
      width: 100%;
      display: block;
      @media (max-width:800px){
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .bottom{
    display: block;
    .orange_button{
      display: block;
      text-align: center;
      max-width: 300px;
      margin: auto;
      &.agreement{
        margin: 10px auto;
        @media (min-width:801px){
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
    .voucher_title{
      display: block;
      color: #5383a0;
      font-weight: bold;
      @media (max-width:800px){
        text-align: center;
      }
    }
    .description{
      font-size: 11px;
      color: #767676;
      @media (max-width:800px){
        text-align: center;
      }
    }
  }
  input[type=submit],
  .orange_button{
    @media (min-width:801px){
      padding: 8px 10px;
    }
    @media (max-width:800px){
      padding: 16px 10px;
      font-weight: bold;
      font-size: 15px;
    }
  }
}

@media (min-width: 600px) {
  #purchase-address-and-payment-method{
    .delivery-address-title,
    .delivery-address{
      padding-right: 5px;
    }
    .payment-address-title,
    .payment-address{
      padding-left: 5px;
    }
  }
}

.purchase-address-wrapper {
  overflow: auto;
  .change-address {
    margin: 15px 0;
    @media (min-width: 601px) {
      padding: 9px 17px;
      display: inline-block;
    }
    @media (max-width: 600px) {
      width: 100%;
      padding: 16px 17px;
      font-size: 17px;
    }
  }
}

.purchase-address{
  @media (min-width: 601px) {
    max-width: 350px;
  }
  .field_wrapper {
    width: 100%;
    margin-bottom: 15px;
    input[type=text] {
      background: white;
      width: 100%;
      height: 33px;
      border: 1px solid #d3d3d3;
      padding: 7px 22px;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
  }
  .label_wrapper {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    label{
      color: #797979;
      font-weight: bold;
    }
    .field_with_errors {
      display: block;
      width: 100%;
      border: none;
    }
  }

  .select_wrapper,
  .field_wrapper{
    .field_with_errors {
      display: block;
      width: 100%;
      height: 35px;
      border: none;
      input[type=text],
      select {
        border: 1px solid #bf0018;
      }
    }
  }

  .select_wrapper {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;

    select{
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      display: inline-block;
      padding-right: 42px;
      height: 34px;
      border: 1px solid #d3d3d3;
      background: white;
      width: 100%;
      padding: 7px 22px;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
    .select_button {
      padding: 8px 12px;
      background-color: transparent;
      position: absolute;
      right: 1px;
      top: 1px;
      pointer-events: none;
      display: inline-block;
      .arrow {
        width: 9px;
        height: 9px;
        border-right: 2px solid grey;
        border-bottom: 2px solid grey;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 1px;
      }
    }
  }

  input[type=submit]{
    margin-bottom: 15px;
    min-width: 220px;
    @media (min-width: 600px) {
      float: right;
      padding: 9px 17px;
    }
    @media (max-width: 600px) {
      width: 100%;
      padding: 16px 17px;
      font-size: 17px;
    }
  }
}

#purchase-check-order{
  .check_order_notice{
    color: #767676;
    font-weight: bold;
    margin-bottom: 10px;
    @media (max-width: 800px) {
      display: none;
    }
  }
  .purchase-item
  .bottom-part{
    font-size: 11px;
    color: #767676;
    margin-top: 15px;
    u{
      cursor: pointer;
    }
  }
  @media (max-width: 600px) {
    .empty-table-row{
      border-bottom: none;
    }
  }
  .empty-table-cell{
    padding: 14px;
  }
}

#purchase-complete-order{
  @media (min-width: 801px) {
    > table > tbody > tr:not(:first-child) > td:first-child{
      padding-bottom: 35px;
    }
  }
  .purchase-item{
    min-height: 220px;
    margin-bottom: 0;
  }
  .purchase-description{
    margin-bottom: 10px;
    @media (max-width: 800px) {
      display: none;
    }
    .glyphicon.glyphicon-ok{
      background-color: #b6dc8c;
      border-radius: 50%;
      color: white;
      font-size: 18px;
      height: 33px;
      width: 33px;
      text-align: center;
      padding-top: 7px;
      vertical-align: top;
      margin-right: 10px;
    }
    .text{
      color: #767676;
      .thanks_for_order{
        font-weight: bold;
      }
    }
  }
}

.purchase-payment{
  @media (min-width:801px){
    margin-left: -1px;
  }
  @media (max-width:800px){
    border-top: none;
  }
  .bottom{
    background-color: none;
    padding: 10px;
  }
}

.purchases{
  vertical-align: top;
  width: 100%;
  @media (min-width:801px){
    display: table-cell;
  }
  @media (max-width:800px){
    display: block;
  }
  .confirmations_for_statuses{
    display: none;
  }
  h1{
    @media (min-width:801px){
      display: none;
    }
    .eight-pointed-star{
      top: -11px;
      position: relative;
    }
  }
  .purchases-menu{
    margin-bottom: 30px;
    @media (min-width:801px){
      display: none;
    }
    a{
      display: block;
      text-transform: uppercase;
      color: #767676;
      font-weight: bold;
      font-size: 16px;
      padding: 10px;
      &.current_page{
        background-color: #efefef;
      }
      span.unconfirmed_present{
        color: #f2973b;
      }
    }
  }
  h2{
    color: #5383a0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7px;
    @media (max-width:800px){
      display: none;
    }
  }
  .purchase-item .body{
    padding: 20px 10px 0px;
  }
  .info > .order_status{
    @media (max-width:600px){
      display: none;
    }
    .icon-wrapper{
      position: relative;
      .cart-icon,
      .payment-icon{
        width: 22px;
      }
      .shipping-icon{
        width: 18px;
      }
      .ok-icon{
        font-size: 22px;
      }
    }
  }
  @media (min-width:1001px){
    .order-status-and-payment-notice{
      text-align: right;
    }
  }
  .order-status-and-payment-notice > .order_status{
    margin-top: 20px;
    @media (min-width:601px){
      display: none;
    }
    .icon-wrapper{
      .payment-icon{
        width: 29px;
      }
      .shipping-icon{
        width: 25px;
      }
      .ok-icon{
        color: rgb(165, 165, 165);
        font-size: 30px;
      }
    }
    .dashed_line{
      margin: 0px 7px;
    }
  }

  .order_status{
    white-space: nowrap;
    .icon-wrapper,
    .dashed_line{
      vertical-align: middle !important;
      display: inline-block;
    }
    .dashed_line{
      height: 3px;
      background-image: linear-gradient(to right, #a5a5a5 52%, rgba(255, 255, 255, 0) 0%);
      background-position: top;
      background-size: 7px 3px;
      background-repeat: repeat-x;
      width: 20px;
      margin: 0px 4px;
    }
    .icon-wrapper{
      position: relative;
      .ok-icon{
        color: rgb(165, 165, 165);
      }
      .glyphicon-ok-sign{
        color: #b6dc8c;
      }
      .glyphicon-time{
        color: #ea5d0b;
      }
      .glyphicon-ok-sign,
      .glyphicon-time{
        position: absolute;
        top: -6px;
        right: -8px;
        background-color: white;
        border-radius: 50%;
      }
    }
  }
  @media (min-width:601px){
    .price-partial{
      position: absolute;
      bottom: 0;
    }
  }
  .update-status-form-wrapper{
    form{
      position: relative;
    }
    label{
      font-weight: bold;
      color: #767676;
      margin-right: 10px;
      @media (min-width:1001px){
        display: inline-block;
      }
      @media (max-width:1000px){
        display: block;
        margin-bottom: 5px;
      }
      @media (max-width:600px){
        display: none;
      }
    }
    .update-status-select-wrapper{
      @media (max-width:600px){
        opacity: 0;
      }
    }

    .update-status-select-wrapper,
    .pseudo-select-wrapper{
      display: inline-block;
      position: relative;
      @media (max-width:600px){
        margin: 10px 0px;
        display: block;
      }
      .arrow_to_bottom{
        position: absolute;
        right: 10px;
        pointer-events: none;
        @media (min-width:601px){
          bottom: 12px;
        }
        @media (max-width:600px){
          bottom: 21px;
        }
        div{
          @media (min-width:601px){
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
          }
          @media (max-width:600px){
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
          }
        }
        .back_triangle{
          position: absolute;
          z-index: 1;
          @media (min-width:601px){
            border-top: 7px solid #f3f3f3;
            top: -2px;
          }
          @media (max-width:600px){
            border-top: 10px solid #f3f3f3;
            top: -3px;
          }
        }
        .front_triangle{
          border-radius: 4px;
          @media (min-width:601px){
            border-top: 7px solid #767676;
          }
          @media (max-width:600px){
            border-top: 10px solid #767676;
          }
        }
      }
    }
    .pseudo-select-wrapper{
      position: absolute;
      top: -10px;
      width: 100%;
      pointer-events: none;
      text-align: center;
      @media (min-width:601px){
        display: none;
      }
    }
    select,
    .pseudo-select{
      font-size: 15px;
      padding: 5px 10px;
      border: 1px solid #a3a3a3;
      background-color: #f3f3f3;
      color: #767676;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      option:disabled{
        color: lightgray;
        cursor: not-allowed;
      }
      @media (max-width:600px){
        display: block;
        width: 100%;
        text-align-last:center;
        padding: 16px 10px;
        font-size: 16px;
      }
    }
  }
  @media (min-width:601px){
    .info > .send_payment_reminder{
      display: none;
    }
  }
  @media (max-width:600px){
    .order-status-and-payment-notice >
    .send_payment_reminder{
      display: none;
    }
  }
  .send_payment_reminder{
    display: inline-block;
    margin-top: 10px;
    @media (min-width:601px){
      color: #767676;
      margin-bottom: -5px;
    }
    @media (max-width:600px){
      color: #5383A0;
    }
    .info-sign{
      font-size: 20px;
      font-weight: bold;      
      height: 27px;
      width: 27px;
      text-align: center;
      padding: 4px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      @media (min-width:601px){
        border: 1px solid #767676;
      }
      @media (max-width:600px){
        border: 1px solid #5383A0;
      }
      &:before{
        content: "i";
      }
    }
    span{
      text-decoration: underline;
      vertical-align: middle;
    }
  }
  .close_order{
    @media (min-width:601px){
      padding: 10px;
      display: inline-block;
      width: 240px;
      margin: 25px 0 10px;
    }
    @media (max-width:600px){
      padding: 16px 10px;
      margin: 18px 0 0;
      font-size: 16px;
      display: block;
    }
    &.disabled{
      cursor: not-allowed;
      background-color: #b6b6b6;
    }
  }

  .cancel_order{
    display: block;
    color: #767676;
    text-decoration: underline;
    @media (max-width:600px){
      margin-top: 20px;
    }
  }
  
  table.about_order,
  table.addresses,
  table.user-address{
    width: 100%;
    border-collapse: separate;
    th, td{
      padding: 7px 0;
    }
    tr td{
      vertical-align: top;
      color: #767676;
      @media (min-width:601px){
        width: 33%;
      }
      @media (max-width:600px){
        display: block;
      }
      &:not(:last-child){
        padding-right: 10px;
      }
    }
    &:not(.user-address) tr td{
      @media (min-width:601px){
        border-top: 1px dashed #a5a5a5;
      }
      @media (max-width:600px){
        &:first-child{
          border-top: 1px dashed #a5a5a5;
        }
        &:last-child{

        }
      }
    }
  }

  table.about_order{
    margin-top: 20px;
    th{
      color: #5383a0;
    }
    a{
      display: block;
      color: #767676;
      text-decoration: underline;
      cursor: pointer;
    }
    @media (max-width:600px){
      tr td:last-child {
        padding-bottom: 15px;
      }
    }
  }

  table.addresses{
    @media (max-width:600px){
      tr td {
        &:first-child{
          padding-top: 15px;
        }
        &:last-child{
          display: none;
        }
      }
    }
  }

  .user-address-wrapper{
    background-color: #f4fafd;
    margin: 0 -10px;
    table.user-address{
      @media (min-width:601px){
        margin: 15px 0px;
        padding: 15px 10px 0px;
      }
      @media (max-width:600px){
        margin: 5px 0px;
        padding: 5px 10px 0px;
      }
      .full_name{
        font-weight: bold;
        color: #5383a0;
        text-decoration: underline;
      }
      @media (min-width:601px){
        td.review{
          width: 66%;
        }
      }
    }
  }

  .more_options{
    padding: 0 10px;
    display: none;
  }

  .glyphicon-bell{
    height: 28px;
    width: 28px;
    background-color: #ea5d0b;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    color: white;
    vertical-align: middle;
    margin-right: 5px;
  }
  .show_more_options,
  .hide_more_options{
    cursor: pointer;
    background-color: #efefef;
    color: #5383a0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    .glyphicon-bell{
      margin: -15px 10px -10px 0;
    }
    span{
      vertical-align: middle;
    }
    .arrow_to_bottom,
    .arrow_to_top{
      display: inline-block;
      margin-left: 10px;
      position: relative;
      bottom: 1px;
      div{
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
      }
      .back_triangle{
        position: absolute;
        z-index: 1;
      }
      .front_triangle{
        border-radius: 4px;
      }
    }
  }
  .show_more_options{
    margin-top: 30px;
    .arrow_to_bottom{
      .back_triangle{
        border-top: 7px solid #efefef;
        bottom: 2px;
      }
      .front_triangle{
        border-top: 7px solid #5383a0;
      }
    }
  }
  .hide_more_options{
    display: none;
    @media (min-width:601px){
      margin-top: 80px;
    }
    @media (max-width:600px){
      margin-top: 30px;
    }
    .arrow_to_top{
      .back_triangle{
        border-bottom: 7px solid #efefef;
        top: 2px;
      }
      .front_triangle{
        border-bottom: 7px solid #5383a0;
      }
    }
  }
}