.review-form-wrapper{
  .stars{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @media (max-width:360px){
      margin-top: 5px;
    }
    .star{
      padding: 0px 2.5px;
      display: inline-block;
      cursor: pointer;
    }
    .gold_star{
      display: none;
      position: absolute;
    }
    &:not(.disabled){
      .star:hover ~ .star .gold_star{
        display: none !important;
      }
      &:hover .gold_star{
        display: block !important;
      }
    }
    .white_star{
      filter: invert(20%);
    }
    &.disabled{
      cursor: not-allowed;        
      .star{
        pointer-events: none;
      }
    }
  }
  textarea{
    resize: vertical;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    padding: 5px 10px;
    height: 55px;
    margin: 5px 0px 3px;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    &:disabled{
      cursor: not-allowed;
    }
  }
  .field_with_errors{
    display: block !important;
    border:none;
    textarea{
      border: 1px solid darkred;
    }
  }
  .characters_left{
    font-size: 13px;
    float: left;
  }
  input[type=submit]{
    background-color: #5383a0;
    border: none;
    color: white;
    padding: 10px 15px 8px;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    min-width: 120px;
    &:disabled{
      background-color: #b6b6b6;
      cursor: not-allowed;
    }
  }
}