body {
  color: #333;
  font-size: 14px;
  line-height: 18px;
}

// p,
ol, ul, td {
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice,
#alert {
  color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
}

#notice {
  background: #76a0b4;
  background: rgba(118, 160, 180, .9);

}

#alert {
  background: #bf0018;
  background: rgba(227, 0, 14, .9);
}

.field_with_errors {
  border: 1px solid #bf0018;
  display: table;
}

#shop-form #error_explanation {
  margin-bottom: 0px;
}

#error_explanation {
  position: relative;
  border: 2px solid #bf0018;
  padding: 7px;
  padding: 20px;
  margin-bottom: 20px;
  background: #bf0018;
  color: #fff;

  &::after {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border: 1px dashed #fff;
    content: '';
  }
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0 0 10px;
    margin: 0;
    font-size: 12px;
  }
  ul {
    padding-left: 1.2em;
    margin: 0;
  }
  li {
    font-size: 12px;
    list-style: disc;
  }
}
