.share{
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
  z-index: 10001;
  margin: auto;
  width: 600px;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  .glyphicon{
    color: #8CA48D;
  }
  .glyphicon-remove-sign{
    font-size: 30px;
    float:right;
    cursor: pointer;
  }
  .field{
    textarea, input{
      width:100%;
    }
    textarea{
      resize: vertical;
      height:100px;
    }
  }
}