.shipping_readiness_form{
  font-size: 14px;
  color: #333;
  .title{
    font-size: 13px;
    font-weight: bold;
    color: #333;
  }
  input[type="text"]{
    width: 80px !important;
  }
  label{
    margin-bottom: 5px;
  }
}