#shipping-methods{
  font-size: 14px;
  color: #333;
  thead td{
    font-weight:bold;
    font-size:13px;
    padding: 5px 0px;
  }
  .input_field{
    padding: 4px;
    input[type="text"]{
      width:80px !important;
    }
  }
  .label_cell{
    width: 17px;
  }
  .price_cell{
    width: 33px;
  }
}

.shipping_methods_hover{
  display: none;
  position: absolute;
  color: #333;
  font-size: 12px;
  z-index: 1;
  font-weight: normal;
  .arrow_up_borders,
  .arrow_up {
    width: 0;
    height: 0;
    position: absolute;
  }
  .arrow_up_borders {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 15px solid #5383a0;
    z-index: 0;
    top: -3px;
    left: -1px;
  }
  .arrow_up {
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 14px solid #9ab9c8;
    z-index: 2;
  }
  .table_wrapper{
    border: 2px solid #5383a0;
    padding-bottom: 10px;
    position: absolute;
    left: -173px;
    top: 12px;
    background-color: #FAFAFA;
    @media (max-width: 800px) {
      width: 280px;
    }
    .header {
      padding:8px;
      width: 100%;
      color: #FAFAFA;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      background-color: #9ab9c8;
      border-bottom: 2px solid #5383a0;
    }
  }
  table{
    th{
      color: #5383a0;
      font-weight:bold;
      border-bottom: 1px dashed grey;
      padding-top: 5px;
      &:first-child{
        padding: 0px 10px;
        padding-top: 5px;
        max-width: 151px;
      }
      &:last-child{
        padding-left:10px;
        min-width: 145px;
      }
      @media (max-width: 800px) {
        display: none;
      }
    }

    tr {
      position: relative;
      @media (max-width: 800px) {
        display: block;
        border-bottom: 1px solid lightgrey;
        @media (max-width: 800px) {
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    tr td{
      color: grey;
      @media (max-width: 800px) {
        display: block;
        width: 274px;
      }
      &:first-child{
        min-width: 151px;
        text-align: left;
        padding: 0px 10px 0px 18px;
        @media (max-width: 800px) {
          text-align: right;
        }
        &:before {
          content: '';
          border: 2px solid grey;
          border-radius: 2px;
          height: 0px;
          width: 0px;
          position: absolute;
          margin-top: 7px;
          left: 10px;
          @media (max-width: 800px) {
            content: attr(data-title);
            margin-top: 0px;
            border: none;
            position: absolute;
            left: 10px;
            color: #5383a0;
            font-weight:bold;
          }
        }
      }
      &:last-child{
        padding: 0px 18px 0px 18px;
        @media (max-width: 800px) {
          padding: 0px 10px 0px 18px;
          text-align: right;
        }
        &:before {
          content: '';
          border: 2px solid grey;
          border-radius: 2px;
          height: 0px;
          width: 0px;
          position: absolute;
          margin-top: 7px;
          left: 247px;
          @media (max-width: 800px) {
            content: attr(data-title);
            margin-top: 0px;
            border: none;
            position: absolute;
            left: 10px;
            color: #5383a0;
            font-weight:bold;
          }
        }
      }
      &:nth-child(2){
        text-align: left;
        @media (max-width: 800px) {
          height: 18px;
          text-align: right;
          padding: 0px 10px 0px 18px;
          &:before {
            content: attr(data-title);
            margin-top: 0px;
            border: none;
            position: absolute;
            left: 10px;
            color: #5383a0;
            font-weight:bold;
          }
        }
      }
    }
  }
}

.no_shipping_to_the_countries{
  .title{
    font-size: 13px;
    font-weight: bold;
    color: #333;
  }
}
