.shop_edit{
  .horizontal_upper_menu .menu_button{
    margin-right: 0.5%;
    width: 24.5%;
  }
  .glyphicon.glyphicon-info-sign{
    color:rgb(140, 164, 141);
    font-size:14px;
  }

  .green_button{
    margin-right:10%;
    float:right;
  }
  textarea{
    margin: 0px;
    width: 100%;
    height: 100px;
    resize:vertical;
  }
}

#shop-form{
  border-radius: 10px;
  width:635px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  > .title {
    font-size: 19px;
    text-align: left;
    background: image-url("green-cross.png") no-repeat 5% 80%;
    padding: 21px 21px 7px 60px;
  }
  .mandatory_fields{
    color: gray;
    font-size: 13px;
    padding-left: 60px;
  }
  #error_explanation {
  border: 2px solid #c00;
    h2{
      padding: 5px 5px 5px 50px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 3%;
      font-size: 14px;
    }
  }
  #new_shop,
  .edit_shop{
    color: #333;
    .company_type{
      margin-left: 50px;
    }
    .shop_name{
      display:inline-block;
      width:160px
    }
    .i_am_selling{
      margin-right:20px;
      display: inline-block;
      vertical-align: top;
    }
    .subdomain{
      display: inline-block;
      vertical-align: top;
      margin-left: 30px;
      .under_input{
        width:auto;
        color: gray;
        font-size: 12px;
      }
    }
    .address .inner_place{
      max-width:400px;
    }
    #direct_debit_form{
      padding:30px;
      #personal_bank_data{
        width:410px;
      }
      .description{
        display:inline-block;
        width:330px;
        margin-left: 10px;
      }
    }
    .main_picture_block{
      .loading{
        margin: 70px;
      }
      .main_picture > img{
        height: 200px;
      }
    }
    #payment_types{
      .accepted_payment_methods{
        margin:5px 0px;
      }
    }
    .imprint{
      text-align:right;
    }
    #terms_and_revocation{
      display: none;
      text-align:right;
     .field_with_errors{
        vertical-align:top;
      }
    }
    .doc_label{
      display: inline-block;
      vertical-align: top;
      margin-right:5px;
    }
    input[type=text],
    select,
    textarea{
      display: inline-block;
    }
    textarea{
      resize:vertical;
      width:575px !important;
      height:100px;
    }
  }
  .white_form_block{
    .glyphicon.glyphicon-info-sign{
      color: rgb(140, 164, 141);
    }
  }
}

.packages{
  table{
    width:100%;
    thead td{
      padding: 10px 5px;
      .price{
        font-size: 11px;
        white-space: nowrap;
      }
    }
    td:first-child{
      padding: 5px;
      font-size: 11px;
    }
    td:not(:first-child){
      text-align: center;
    }
    tbody td{
      border: 1px solid #8ca48d;
    }
    .glyphicon{
      font-size: 20px;
    }
    .glyphicon-remove{
      color: #bf0018;
    }
    .glyphicon-ok{
      color: #8ca48d;
    }
    tr.small_font{
      font-size: 11px;
    }
  }
  .package{
    .table-cell-top:last-child{
      padding-left: 20px;
      width:100%;
    }
  }
}

.green_button.cancel_shop{
  display: none;
}

/*Open shop page*/

.open_shop_wrapper {
  @media only screen and (max-width: 640px) {
    text-align: center;
  }
  .title {
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
    color: #5481A0;
  }
  .description {
    font-size: 13px;
    max-width: 700px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .form_wrapper {
    margin-top: 15px;
    @media only screen and (min-width: 641px) {
      max-width: 570px;
    }
    @media only screen and (max-width: 640px) {
      input[type=text]{
        display: block;
        margin: auto;
      }
    }
    input[type=text], select{
      border: 1px solid #d3d3d3;
      background: white;
      width: 256px;
      height: 34px;
      padding: 7px 22px;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }

    .field_wrapper,
    .select_wrapper{
      width: 256px;
      @media only screen and (min-width: 641px) {
        display: inline-block;
        margin-right: 28px;
        margin-bottom: 24px;
      }
      @media only screen and (max-width: 640px) {
        margin: 0 auto 24px;;
      }
    }

    .select_wrapper {
      width: 256px;
      select{
        font-size: 12px;
        font-weight: bold;
        option{
          font-size: 14px;
          font-weight: normal;
        }
      }
    }

    .field_with_errors {
      border: none;
      input[type=text], select{
        border: 1px solid #bf0018;
      }
    }

    .big.orange_button {
      width: 195px;
      font-weight: bold;
      @media only screen and (min-width: 641px) {
        float: right;
        margin-right: 28px;
      }
    }
  }
}
