.account_settings{
  #user_settings_notifications{
    .complete_cancel_check_box{
      label{
        display: inline;
      }
    }
  }
  #user_settings_cancellation{
    .complete_cancel_check_box{
      display: none;
    }
    .user_settings_button_highlight.cancel_membership{
      display: none;
    }
  }
  .user_settings_show_address_phone,
  .user_settings_show_address_birth {
    margin-top: 10px;
  }
}
