.right{
  float:right;
}

.left{
  float:left;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.inblock{
  display: inline-block;
}

.gray{
  color:gray;
}

.inblock_top{
  display:inline-block;
  vertical-align:top;
}

.black{
  color: black;
}

.site_logo{
  display: inline-block;
  img{
    width:500px;
  }
}

.time{
  display: inline-block;
  color: gray;
  font-size:17px;
  float:right;
  margin-top: 50px;
}

.font_16px{
  font-size:16px;
}

.black_link{
  color:black;
  text-decoration: none;
}
.blue_link{
  color: #337ab7;
  text-decoration: none;
}

.clear{
  clear:both;
}


#purchase_notification{
  .time_now{
    display: inline-block;
    color: gray;
    font-size:17px;
    float:right;
    margin-top: 50px;
  }
  .pre_description,
  .first_description{
    font-weight:bold;
    color:black;
    font-size:17px;
    margin:15px 0px;
  }
  .article{
    .second_description{
      display:inline-block;
      vertical-align:top;
      color:black;
      font-size:17px;
      margin-bottom:15px;
    }
    .green_button_in_mail{
      font-family: sans-serif;
      min-width:120px;
      display: inline-block !important;
      background-color: #8ca48d;
      font-size: 17px;
      padding: 4px 12px 2px;
      text-decoration: none;
      color: white;
      border-radius: 2px;
      box-shadow: 0 0 1px 0 #34495e;
      background-image: linear-gradient(to bottom, #8ca48d, #667967);
      border: 1px solid gray;
      float:right;
    }
    .title{
      color:black;
    }
  }
  .bottom_info{
    font-size:16px;
    .revocation{
      margin: 10px 0px;
      color: black;
    }
    .imprint{
      margin: 10px 0px;
    }
  }
}

.articles_order_part{
  .order_number{
    font-size:17px;
    color:#B177B1;
  }
  .info{
    .image{
      display:table-cell;
      vertical-align:top;
      img{
        width:110px;
      }
    }
    .body{
      display:table-cell;
      vertical-align:top;
      padding-left:9px;
      .title{
        color:black;
        font-weight: bold;
      }
      > .description{
        margin-bottom:16px;
      }
      .prices{
        font-size:15px;
      }
    }
  }
}

.share_article{
  .content{
    margin-bottom: 40px;
    padding:10px;
    background-color: rgb(250, 250, 250);
    a {
      display: table-cell;
      img{
        width: 300px;
        margin-right: 20px;
      }
    }
    .text{
      display: table-cell;
      vertical-align: top;
    }
  }
}

.user-mailer-layout{
  color: #767676;
  font-family: arial;
  font-size: 14px;
  .header{
    background-color:#7bceeb;
    table{
      height: 100%;
      width: 100%;
      td{
        vertical-align: top;
        padding:25px 100px 50px 100px;
        border-bottom: 4px solid #629fbe;
      }
    }
  }
  .content{
    padding: 10px 100px 80px;
    .attention{
      margin: 20px 0px;
      color: #767676;
    }
  }
  .footer{
    background-color: #21708a;
    text-align: center;
    padding: 10px 0 150px;
  }
}