.new_voucher_form_wrapper{
  margin-top: 30px;
  max-width: 660px;
  @media screen and (max-width:640px){
    text-align: center;
  }
  .field_with_errors{
    width:100%;
    border:none;
    label{
      color:#bf0018;
    }
    input[type=text],
    select{
      border:1px solid #bf0018;
    }
  }
  .upper_part_wrapper{
    > .title{
      font-size: 16px;
      font-weight: bold;
    }
    #error_explanation{
      text-align: left;
    }
    .upper_fields{
      .field_wrapper,
      .select_wrapper{
        display: inline-block;
        vertical-align: top;
        position: relative;
        @media screen and (min-width:577px){
          &:first-child{
            width:30%;
          }
          &:not(:first-child){
            width:33%;
          }
          & + .field_wrapper{
            margin-left: 2%;
          }
        }
        @media screen and (max-width:576px){
          display: block;
          margin-bottom: 15px;
        }
        input,
        select{
          width: 100%;
          padding: 6px 12px;
          font-size: 12px;
          font-weight: bold;
          option{
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
    textarea{
      width:100%;
      height: 130px;
      resize: vertical;
    }
    .email_field_wrapper{
      @media screen and (min-width:641px){
        width: 40%;
      }
      .field_with_errors{
        width: 100%;
      }
      #voucher_email,
      #voucher_email_confirmation{
        width: 100%;
      }
    }
  }
  .choose_payment_wrapper{
    @media screen and (min-width:641px){
      padding-left: 40px;
    }
    > .title{
      font-weight: bold;
      margin-bottom: 5px;
    }
    .payment_types{
      border: 2px solid lightgray;
      padding: 20px 40px 30px;
      display: inline-block;
      line-height: 34px;
      text-align: left;
      .field_with_errors{
        width: auto;
      }
      input[type=radio]{
        margin-right: 10px;
      }
      .hidden_address_fields{
        line-height: 10px;
        font-size: 12px;
        display: none;
        .title{
          margin-bottom: 10px;
        }
        .field{
          margin-bottom: 18px;
          input,
          .field_with_errors{
            width: 100%;
          }
          @media screen and (max-width:480px){
            width: 170px;
          }
          @media screen and (min-width:481px){
            &.first_name{
              display: inline-block;
              margin-right: 4%;
              width: 48%;
            }
            &.last_name{
              display: inline-block;
              width: 48%;
            }
            &.street{
              width: 100%;
            }
            &.postal_code{
              display: inline-block;
              width: 28%;
              margin-right: 4%;
            }
            &.place{
              display: inline-block;
              width: 68%;
            }
          }
        }
      }
      .paypal_logo{
        height: 25px;
        vertical-align: middle;
        margin-left: 10px;
      }
      .paydirekt_logo{
        height: 25px;
        vertical-align: bottom;
        margin-left: 10px;
      }
    }
    .agreement{
      font-weight: bold;
      font-size: 12px;
      line-height: 13px;
      display: table;
      text-align: left;
      > div{
        display: table-cell;
        vertical-align: top;
        input[type=checkbox]{
          vertical-align: bottom;
          margin: 0 20px 0 0;
        }
      }
      > div{
        label{
          font-weight: bold;
        }
      }
    }
  }
  input[type=submit]{
    text-transform: none;
    padding: 6px 30px;
    @media screen and (min-width:641px){
      float:right;
    }
  }
  .bottom{
    clear:both;
    .header{
      font-size: 18px;
      line-height: 20px;
    }
    .content{
      font-size: 10px;
      line-height: 13px;
    }
  }
}

.voucher.finished{
  padding: 20px 150px 150px;

  @media screen and (max-width:960px){
    padding: 20px 28px 150px;
  }
  @media screen and (max-width:576px){
    text-align: center;
    padding: 20px 20px 150px;
  }
  > .title{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 30px;
  }
  .number{
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 40px;
    span{
      color: #456e87;
    }
  }
  .description{
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
    .notice{
      margin-bottom: 30px;
    }
  }
  .link_to_home_page{
    background-color: #ea5d0b;
    color: white;
    padding: 13px 50px;
    text-transform: uppercase;
    @media screen and (min-width:577px){
      float: right;
    }
  }
}

.pdf_version{
  .voucher{
    text-align: center;
    font-size: 17px;
    .head{
      background-image: image-url("repeat_pattern2.png") !important;
      height: 140px;
      margin-bottom: 40px;
      img{
        margin-top: 40px;
        height: 70px;
      }
    }
    .body{
      padding: 0px 50px;
      .title{
        color: #ea5d0b !important;
        border-top: 5px solid #ea5d0b;
        border-bottom: 5px solid #ea5d0b;
        display: block;
        font-size: 80px;
        line-height: 100px;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      .worth{
        font-size: 33px;
        margin-bottom: 50px;
      }
      .value{
        font-size: 60px;
        margin-bottom: 100px;
      }
      .code{
        font-size: 35px;
        margin-bottom: 50px;
      }
      .description{
        line-height: 22px;
        &.first{
          margin-bottom: 40px;
        }
        &.second{
          margin-bottom: 40px;
        }
        &.third{
          margin-bottom: 100px;
        }
      }
      .bottom{
        border-top: 1px solid black;
        display: inline-block;
        padding: 0px 40px;
        line-height: 23px;
      }
    }
  }
}
