<% for cat in category.ancestors %>
    <% unless cat.root? %>
        <%= link_to h(cat.name), cat %> &gt;
    <% else %>
        <%= link_to 'Jakira', controller: 'pages', action: 'home'  %> &gt;
    <% end %>
<% end %>

<% if defined? article %>
  <%= link_to h(category.name), category %> &gt; <span class="category-breadcrum-last"><%= article.title %></span>
<% else %>
    <span class="category-breadcrum-last"><%= category.name %></span>
<% end %>