- if @articles.empty?
  .no_articles = t '.no_articles_with_criteria'
- else
  - @articles.each do |article|
    = render partial: 'articles/categories_article_block',
        locals: {article: article}