<h1>Kategorieliste</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Überkategorie</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.parent.blank? ? '-' : category.parent.name %></td>
        <td><%= link_to 'Bearbeiten', edit_category_path(category) %></td>
        <td><%= link_to 'Löschen', category_path(category), method: :delete, data: { confirm: t('are_you_sure?') } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('back'), root_url(subdomain: "administration") %> | <%= link_to 'Neue Kategorie', new_category_path %>
