- content_for :title, @category.name
#upper-path
  = image_tag 'arrow_to_left.png'
  = link_to 'Jakira', root_url
  span  &bull; 
  = link_to @main_category.name,
      @main_category,
      class: 'without-underline-if-mobile'
  - if @second_category.present?
    span  &bull; 
    = link_to @second_category.name,
        @second_category,
        class: 'without-underline-if-mobile'
  - if @third_category.present?
    span  &bull; 
    = link_to @third_category.name,
        @third_category,
        class: 'without-underline-if-mobile'

.category_page
  = cache "category_#{@main_category.id}"
    .left_menu
      .main.category = link_to @main_category.name,
                          category_url(@main_category)
      .mobile_subcategories.open_button
        = t('.subcategories')
        .arrow_to_right
          .back_triangle
          .front_triangle
        .arrow_to_down
          .back_triangle
          .front_triangle
      .subcategories_wrapper
        .mobile.filter
          = form_tag category_url(@category),
              method: :get,
              remote: true,
              onsubmit: '$("body").spin()'
            = text_field_tag :mobile_search_in_category,
                params[:mobile_search_in_category],
                placeholder: t('.search_', category: @category.name)
            = image_submit_tag 'search_button_icon.png',
                class: 'search_button_icon',
                data: { disable_with: '' }
        - @main_category.children.reorder(name: :asc).each do |c|
          .sub.category
            = link_to c.name, category_url(c)
          - c.children.reorder(name: :asc).each do |c|
            .subsub.category
              = link_to c.name, category_url(c)
          - if c.children.present?
            br
  .article-list-section
    .mobile_filters.open_button
      = t('.filter')
      .arrow_to_right
        .back_triangle
        .front_triangle
      .arrow_to_down
        .back_triangle
        .front_triangle
    .filters
      .filters_boxes
        .title = t '.filter_'
        .filter_box_prototype
          .close_filter X
          .key
          span.value
      = form_tag category_url(@category),
          method: :get,
          id: 'category_filters',
          remote: true,
          onsubmit: '$("body").spin()'
        .filter
          .hidden_fields
            = text_field_tag :min_price,
                params[:min_price],
                peak: @min_price_peak
            = text_field_tag :max_price,
                params[:max_price],
                peak: @max_price_peak
          .button
            = t '.price'
            .arrow-wrapper
              .arrow-down-white
              .arrow-down-gray
            .arrow_to_right
              .back_triangle
              .front_triangle
            .arrow_to_down
              .back_triangle
              .front_triangle
          .drop-down.price_range
            .price_container
              span.show_price_symbol &euro;
              span#show_min_price = @min_price
            .price_container
              span.show_price_symbol &euro;
              span#show_max_price = @max_price
            .clear
            .slider_block
              #price_filter_slider
            .apply = t('.apply')
        .filter
          .hidden_fields
            = select_tag :textile_sizes,
                options_for_select(@textile_sizes.collect { |k, v| [t(k, default: k), v]},
                params[:textile_sizes]),
                multiple: true,
                prompt: t('.size')
          .button
            = t '.size'
            .arrow-wrapper
              .arrow-down-white
              .arrow-down-gray
            .arrow_to_right
              .back_triangle
              .front_triangle
            .arrow_to_down
              .back_triangle
              .front_triangle
          .drop-down.list.regular
            - @textile_sizes.each do |k, v|
              .element value="#{v}" = t(k, default: k)
        .filter
          .hidden_fields
            = select_tag :color_ids,
                options_for_select(@colors.collect { |color| [color.name.capitalize,
                      color.id]},
                params[:color_ids]),
                multiple: true,
                prompt: t('.color')
          .button
            = t '.color'
            .arrow-wrapper
              .arrow-down-white
              .arrow-down-gray
            .arrow_to_right
              .back_triangle
              .front_triangle
            .arrow_to_down
              .back_triangle
              .front_triangle
          .drop-down.list.colors_filter
            - @colors.each do |color|
              .element value="#{color.id}" title="#{color.name.capitalize}"
                - Globalize.with_locale(:en)
                  .color style='background-color:#{color.name.delete(" ")}'
                    - if color.name == 'colorful'
                      .triangle.first.top
                      .triangle.secont.top
                      .triangle.third.top
                      .triangle.fourth.top
                      .triangle.first.bottom
                      .triangle.secont.bottom
                      .triangle.third.bottom
                      .triangle.fourth.bottom
        - if @motives.present?
          .filter
            .hidden_fields
              = select_tag :motive,
                  options_for_select(@motives,
                  params[:motive]),
                  multiple: true,
                  prompt: t('.motive')
            .button
              = t '.motive'
              .arrow-wrapper
                .arrow-down-white
                .arrow-down-gray
              .arrow_to_right
                .back_triangle
                .front_triangle
              .arrow_to_down
                .back_triangle
                .front_triangle
            .drop-down.list.regular
              - @motives.each do |motive|
                .element value="#{motive}" = motive
        - if @artists.present?
          .filter
            .hidden_fields
              = select_tag :artist,
                  options_for_select(@artists,
                  params[:artist]),
                  multiple: true,
                  prompt: t('.artist')
            .button
              = t '.artist'
              .arrow-wrapper
                .arrow-down-white
                .arrow-down-gray
              .arrow_to_right
                .back_triangle
                .front_triangle
              .arrow_to_down
                .back_triangle
                .front_triangle
            .drop-down.list.regular
              - @artists.each do |artist|
                .element value="#{artist}" = artist
        .filter.right
          = text_field_tag :search_in_category,
              params[:search_in_category],
              placeholder: t('.search')
          = image_submit_tag 'search_button_icon.png',
              class: 'search_button_icon',
              data: { disable_with: '' }
    .clear
    .filtered_articles
      = render 'categories/filtered_articles'