- content_for :title, t('.head_title')
= render "admin/left_menu"
.newsletter.usual_body
  - if @newsletter.errors.any?
    #error_explanation
      h2 = t '.errors_message', count: @newsletter.errors.count
      ul
        - @newsletter.errors.full_messages.each do |msg|
          li = msg
  = form_tag 'new', class: "use_template", method: :get
    = label_tag :template_id, t(".use_template")
    br
    = select_tag :template_id,
      options_from_collection_for_select(Newsletter.templates,
                                        :id, :template_name,
                                        params[:template_id]),
                                      prompt: t('.please_select'),
                                      onchange: 'this.form.submit()'
  = form_for @newsletter, url: admin_newsletters_path do |f|
    .inblock_top
      h2= t('.send_to')
      br
      .receivers
        = f.radio_button :receivers, 'everyone'
        '
        = f.label "receivers", t('.all'), value: "everyone"
      .receivers
        = f.radio_button :receivers, 'sellers'
        '
        = f.label "receivers", t('.seller'), value: "sellers"
      .receivers
        = f.radio_button :receivers, 'buyers'
        '
        = f.label "receivers", t(".buyer"), value: "buyers"
    br
    br
    br
    .subject = f.text_field :subject
    br
    .text_field = f.cktext_area :text
    br
    br
    br
    .bottom
      .template_check
        = f.check_box :template
        '
        = f.label :template, t('.save_as_a_template')
      .template_options
        = f.label :template_name, t('.template') + ":"
        '  
        = f.text_field :template_name
        hr
        table
          tr
            td= f.label :interval, t(".interval")
            td= f.select :interval, Newsletter.intervals.keys.collect { |i| [t("." + i), i]}, prompt: t('.please_choose')
            td
          tr
            td = t '.execution'
            td
              = f.label :first_execution, t(".first_execution")
              br
              = f.text_field :first_execution, class: 'datepicker'
            td
              = f.label :last_execution, t(".last_execution")
              br
              = f.text_field :last_execution, class: 'datepicker'
          tr
            td = t '.suspension'
            td
              = f.label :exposing_from, t(".exposing_from")
              br
              = f.text_field :exposing_from, class: 'datepicker'
            td
              = f.label :exposing_to, t(".exposing_to")
              br
              = f.text_field :exposing_to, class: 'datepicker'
        hr.bottom_line
      / .delivery_date_check
      /   = f.check_box :delivery_date_checked
      /   '
      /   = f.label :delivery_date_checked, t(".delivery_date")
      / .delivery_date = f.text_field :delivery_date, class: 'datepicker'
    br
    .brown_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.send'),
          data: { confirm: t(".send_newsletter_now") }
    br
    br
    br
    .brown_button
      .circles
        .circle1
        .circle2
        .circle3
        .circle4
      = f.submit t('.test_sending'),
          name: 'newsletter[to_test_email]',
          data: { confirm: t(".send_newsletter_now") }
      br
      br
      = f.text_field :email