.art_association_confirmation_email
  .greeting
    p = t '.title'
  .info
    p = t '.greeting', user: @resource.nickname
    p = t '.welcome'
    br
    p = t '.user', user: @resource.nickname
    br
    p = t '.confirm_by_link_below'
    p = link_to t('.confirm_now'),
          confirmation_url(@resource,
                           confirmation_token: @token)
    br
    b = t '.support'
    p = t '.contact_us'
    br
    p = t '.best_regards'
    p = t '.your_team'