p = t '.greeting', user: @resource.nickname
p = t '.your_email_was_changed_to', email: @email
p = t '.confirm_by_link_below'
p = link_to t('.confirm_now'), confirmation_url(@resource, confirmation_token: @token)