p = t '.welcome_to_jakira'
p 
  = t '.to_complete_the_registration_click_this_link'
  '
  = link_to t('.confirm_link_text'),
    confirmation_url(@resource, confirmation_token: @token)
p = t '.you_will_ber_redirected_to_jakira_and_can_start_immediately'