table.business_card_details
  tr
    td = t '.price'
    td = @business_card_details.price
  tr
    td = t '.quantity'
    td = @business_card_details.quantity
  tr
    td = t '.format'
    td = @business_card_details.format
  tr
    td = t '.extent'
    td = @business_card_details.extent
  tr
    td = t '.dyeing'
    td = @business_card_details.dyeing
  tr
    td = t '.paper'
    td = @business_card_details.paper
  tr
    td = t '.gram_matur'
    td = @business_card_details.gram_matur
  tr
    td = t '.printing_process'
    td = @business_card_details.printing_process
  tr
    td = t '.paintwork'
    td = @business_card_details.paintwork
- if current_user.admin?
  .clear.right.green_button.edit_business_card_details
    .circles
      .circle1
      .circle2
      .circle3
      .circle4
    = submit_tag t('.edit')
  .business_card_details_form
    = form_for @business_card_details,
        url: change_details_admin_business_card_path(@business_card_details),
        html: { method: :post } do |f|
      table
        tr
          td = f.label :price, t('.price')
          td = f.text_field :price
        tr
          td = f.label :quantity, t('.quantity')
          td = f.text_field :quantity
        tr
          td = f.label :format, t('.format')
          td = f.text_field :format
        tr
          td = f.label :extent, t('.extent')
          td = f.text_field :extent
        tr
          td = f.label :dyeing, t('.dyeing')
          td = f.text_field :dyeing
        tr
          td = f.label :paper, t('.paper')
          td = f.text_field :paper
        tr
          td = f.label :gram_matur, t('.gram_matur')
          td = f.text_field :gram_matur
        tr
          td = f.label :printing_process, t('.printing_process')
          td = f.text_field :printing_process
        tr
          td = f.label :paintwork, t('.paintwork')
          td = f.text_field :paintwork
      .clear.right.green_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = submit_tag t('.save'),
            data: { disable_with: t('.save') }
br
br