- content_for :title, t('.head_title')
= render "left_menu"
.usual_body.business_cards
  .form_wrapper
    = form_for @business_cards_order,
        url: business_cards_url,
        id: 'new_business_cards_order' do |f|
      h2 = t '.business_cards'
      br
      - @business_cards_templates_names.each_with_index do |file_name, index|
        .business_card_block
          .radio_button = f.radio_button :value, index + 1
          = image_tag @business_cards_thumbs_path + file_name + '_front.png'
          .big_business_card
            .close_big_card = '[X]'
            = image_tag @business_cards_thumbs_path + file_name + '_front.png'
          = image_tag @business_cards_thumbs_path + file_name + '_back.png'
          .big_business_card
            .close_big_card = '[X]'
            = image_tag @business_cards_thumbs_path + file_name + '_back.png'
      = render partial: 'business_cards/data_table'
      br
      br
      .business_card_button
        = f.submit t('.buy_business_cards_now'),
            data: { disable_with: t('.the_data_is_sending') }
  br
  br
  br
  br
  br
  br
