= div_for withdrawal_form, class: "inblock"
  = link_to (image_tag withdrawal_form.file_url(:preview)),
             preview_withdrawal_form_url(withdrawal_form),
             target: "_blank"
  br
  = link_to withdrawal_form, method: :delete, remote: true
    .glyphicon.glyphicon-remove-sign
    '
    .inblock.underline = t '.delete'
  = hidden_field_tag "shop[withdrawal_form_id]", withdrawal_form.id