<% if @withdrawal_form.errors.count == 0 %>
  $('#add_file_button').after("<%= j render partial: 'withdrawal_forms/withdrawal_form_edit', locals: {withdrawal_form: @withdrawal_form} %>");
<% else %>
  alert("<% @withdrawal_form.errors.full_messages.each do |message| %><%= message.html_safe %>\n<% end %>");
  $('#add_file_button').show()
<% end %>

$('.withdrawal_form_file_place .loading').hide();

$("#withdrawal_form_file").change(function(){
  $('#add_file_button').hide()
  $(".withdrawal_form_file_place .loading").fadeIn()
  $("#new_withdrawal_form").trigger('submit.rails')
})