br
br
.articles_view_type
  .title = t '.view:'
  '
  .vertical title="#{t '.gallery_view'}"
    - if current_or_guest_user.vertical?
      .highlight
        - 3.times
          .element
    - else
      = link_to change_articles_view_types_url(value: "vertical")
        - 3.times
          .element
  '
  .horizontal title="#{t '.list_view'}"
    - if current_or_guest_user.horizontal?
      .highlight
        - 3.times
          .wrapper
            .element.cube
            .element.rectangle
    - else
      = link_to change_articles_view_types_url(value: "horizontal")
        - 3.times
          .wrapper
            .element.cube
            .element.rectangle
