= cache
  - Category.root.children.each do |category|
    li.hover
      = link_to category.name, category_url(category), style: (@category.id == category.id ? 'font-weight:bold;text-decoration:underline;' : "" if @category.present?)
      ul
        li.image
          = image_tag (category.slug + '.png')
        .border
        - category.children.reorder(name: :asc).each do |subcategory|
          li.hover
            = link_to category_url(subcategory)
              .right = '>' if subcategory.children.present?
              = subcategory.name
            - if subcategory.children.present?
              ul
                - subcategory.children.reorder(name: :asc).each do |subsubcategory|
                  li.hover = link_to subsubcategory.name, category_url(subsubcategory)