.footer
  .restricted_width
    = image_tag 'jakira_white.png',
      class: 'jakira_logo'
    .right_side
      = link_to contact_url
        = t '.contact'
        = image_tag 'arrow_to_bottom.png'
      span.border_line |
      = link_to about_jakira_url
        = t '.about_JAKIRA'
        = image_tag 'arrow_to_bottom.png'
      span.border_line |
      = link_to faq_index_url
        = t '.faq'
        = image_tag 'arrow_to_bottom.png'
      span.border_line |
      = link_to imprint_url
        = t '.imprint'
        = image_tag 'arrow_to_bottom.png'
      span.border_line |
      = link_to privacy_url
        = t '.privacy_policy'
        = image_tag 'arrow_to_bottom.png'
      span.border_line |
      = link_to terms_url
        = t '.terms'
        = image_tag 'arrow_to_bottom.png'
      .cooperation_partners
        = link_to art_associations_url
          = t '.cooperation_partners'
          = image_tag 'arrow_to_bottom.png'

      .social_media_icons
        = link_to "https://twitter.com/intent/tweet?text=",
            onclick: 'return false'
          = image_tag 'twitter_white_icon.png'
        = link_to "https://www.facebook.com/sharer/sharer.php?u=",
            onclick: 'return false'
          = image_tag 'facebook_white_icon.png'
        = link_to "https://plus.google.com/share?url=",
            onclick: 'return false'
          = image_tag 'google_plus_white_icon.png'
        = link_to "http://pinterest.com/pin/create/button/?url=",
            onclick: 'return false'
          = image_tag 'pinterest_white_icon.png'
        = link_to "http://tumblr.com/share/link?url=",
            onclick: 'return false'
          = image_tag 'tumblr_white_icon.png'

    .left_side Copyright (&copy;) by Jakira GmbH & Co. KG #{Time.now.year}