.drop_left_menu
  .first_part
    .buttons
      = link_to t('.voucher'),
          new_voucher_url,
          class: 'new_voucher'
      - if current_or_guest_user.buyer_or_guest?
        = link_to open_shops_url
          = image_tag 'open_shop_icon.png'
          = t('.open_shop')
      = link_to '', onclick: 'return false'
        = image_tag 'termine_icon.png'
        = t('.termine')
      = link_to '', onclick: 'return false'
        = image_tag 'language_icon.png'
        = t('.language')
  - cache 'drop_left_categories'
    .second_part
      .categories
        - Category.root.children.each do |category|
          .category id="category_#{category.id}"
            span
              = category.name
              = image_tag 'arrow_to_right.png'
      - Category.root.children.each do |category|
        .subcategories
          .all_categories
            = image_tag 'arrow_to_left.png'
            span = t('.all_categories')
          .main_category class="category_#{category.id}"
            = link_to category_url(category)
              = category.name
          - category.children.reorder(name: :asc).each do |subcategory|
            .subcategory
              - if subcategory.children.present?
                = link_to category_url(subcategory), class: 'with_children nonclickable'
                  = subcategory.name
                  = image_tag 'arrow_to_bottom.png',
                      class: 'arrow_to_bottom'
                  = image_tag 'arrow_to_top.png',
                      class: 'arrow_to_top'
              - else
                = link_to category_url(subcategory), class: 'clickable'
                  = subcategory.name
            .subsubcategories
              - subcategory.children.reorder(name: :asc).each do |subsubcategory|
                .subsubcategory
                  = link_to subsubcategory.name,
                      category_url(subsubcategory)
    .third_part
      = image_tag 'jakira_white.png',
        class: 'jakira_logo'
      .links
        = link_to contact_url
          = t '.contact'
          = image_tag 'arrow_to_bottom.png'
        span.border_line |
        = link_to about_jakira_url
          = t '.about_JAKIRA'
          = image_tag 'arrow_to_bottom.png'
        span.border_line |
        = link_to faq_index_url
          = t '.faq'
          = image_tag 'arrow_to_bottom.png'
        span.border_line |
        = link_to imprint_url
          = t '.imprint'
          = image_tag 'arrow_to_bottom.png'
        span.border_line |
        = link_to privacy_url
          = t '.privacy_policy'
          = image_tag 'arrow_to_bottom.png'
        span.border_line |
        = link_to terms_url
          = t '.terms'
          = image_tag 'arrow_to_bottom.png'
        span.border_line |
        = link_to art_associations_url
          = t '.cooperation_partners'
          = image_tag 'arrow_to_bottom.png'
.main_head
  .first_part
    .restricted_width
      .buttons
        = link_to t('.voucher'), new_voucher_url
        - if current_or_guest_user.buyer_or_guest?
          = link_to open_shops_url
            = image_tag 'open_shop_orange_icon.png',
                class: 'open_shop_icon'
            = t('.open_shop')
        = link_to '', onclick: 'return false'
          = image_tag 'events_orange_icon.png'
          = t('.termine')
        = link_to '', onclick: 'return false'
          = image_tag 'language_orange_icon.png'
          = t('.language')
      .clear
  .second_part style="#{'border-bottom: 5px solid #76A0B4;' if !current_page?(root_url)}"
    .upper_part.restricted_width
      = link_to image_tag('jakira_color_logo.png'),
          root_url,
          class: 'main_logo'
      .right_part
        = form_tag '/search/',
            method: :get,
            class: 'search_form'
          = text_field_tag :search,
              params[:search],
              placeholder: t('.search_placeholder')
          = image_submit_tag 'search_icon.png',
              data: { disable_with: '' }
        .profile_buttons
          .header-profile-menu-wrapper
            .header-profile-menu-button
              .icon_wrapper
                .header-profile-icon-wrapper
                  - if unread_messages_in_sales_or_purchases?
                    .eight-pointed-star
                  = image_tag 'profile_icon.png'
                  - if unread_messages?
                    = image_tag 'small_message_icon.png',
                        class: 'new_message_icon'
                  - if user_signed_in?
                    .green-line
              = t('.my_profile')
            = render 'header_profile_menu'
          = link_to favorites_url
            .icon_wrapper
              = image_tag 'favorites_icon.png',
                class: 'favorites_icon'
              - if favorites_count > 0
                .circle = favorites_count
            = t('.favorites')
          = link_to shopping_baskets_url
            .icon_wrapper
              = image_tag 'cart_icon.png'
              - if shopping_baskets_count > 0
                .circle = shopping_baskets_count
              - if current_or_guest_user.shopping_baskets.count > 0 
                .circle = current_or_guest_user.shopping_baskets.count
            = t('.cart')
    .mini_main_menu
      .buttons
        = image_tag 'burger_menu_icon.png',
            class: 'burger_menu_icon'
        .profile_buttons
          = link_to '', onclick: "return false"
            .icon_wrapper = image_tag 'search_button_icon.png',
                              class: 'search_button_icon'
          .header-profile-menu-wrapper
            .header-profile-menu-button
              .icon_wrapper
                .header-profile-icon-wrapper
                  - if unread_messages_in_sales_or_purchases?
                    .eight-pointed-star
                  = image_tag 'profile_icon.png'
                  - if unread_messages?
                    = image_tag 'small_message_icon.png',
                        class: 'new_message_icon'
                  - if user_signed_in?
                    .green-line
            = render 'header_profile_menu'
          = link_to favorites_url
            .icon_wrapper
              = image_tag 'favorites_icon.png',
                  title: t('.favorites'),
                  class: 'favorites_icon'
              - if favorites_count > 0 
                .circle = favorites_count
          = link_to shopping_baskets_url
            .icon_wrapper
              = image_tag 'cart_icon.png', title: t('.cart')
              - if shopping_baskets_count > 0 
                .circle = shopping_baskets_count
      = form_tag '/search/',
          method: :get,
          class: 'search_form'
        = text_field_tag :search,
            params[:search],
            placeholder: t('.search_placeholder')
        = image_submit_tag 'search_icon.png',
            data: { disable_with: '' }
    - cache 'main_head_categories'
      .categories.restricted_width
        - Category.root.children.each do |category|
          .category
            = link_to category.name,
                category_url(category)
            .relative
              .arrow_to_bottom
            .subcategories
              .restricted_width
                - categories_drop_down_columns(category).each do |column|
                  .column
                    - column.each do |subcategory|
                      .subcategory
                        = link_to category_url(subcategory)
                          = subcategory.name
                        - subcategory.children.reorder(id: :asc).each do |subsubcategory|
                          .subsubcategory style='#{"display:none" if categories_limit_in_column(column).exclude?(subsubcategory)}'
                            = link_to category_url(subsubcategory)
                              = subsubcategory.name
                        - if show_more_categories?(column, subcategory)
                          .more_categories = t('.more')
                      br
#notice-area
  - if flash.notice
    #notice = flash.notice.html_safe
  - if flash.alert
    #alert = flash.alert.html_safe