.header-profile-menu
  .arrow_to_top
    .border-triangle
    .center-triangle
  .close_menu X
  - if user_signed_in?
    .greeting
      .header-profile-icon-wrapper
        = image_tag 'profile_icon.png'
        .green-line
      span.text = t('.hello', user: current_user_name)
  .general-buttons
    - if current_or_guest_user.admin?
      = link_to t(".administration"),
          root_url(subdomain: "administration")
    - elsif current_or_guest_user.art_association?
      = link_to t('.art_association'),
          admin_panel_art_associations_members_url
    = link_to t('.my_profile'),
        edit_user_registration_url
    - if !current_or_guest_user.admin?
      - if user_signed_in? && current_or_guest_user.has_shop?
        = link_to open_orders_url
          = t('.sales')
          - if unread_messages_in_sales?
            .eight-pointed-star
      = link_to open_purchases_url
        = t('.purchases')
        - if unread_messages_in_purchases?
          .eight-pointed-star
    = link_to inbox_messages_url
      = t('.messages')
      - if unread_messages?
        = image_tag 'small_message_icon.png',
            class: 'new_message_icon'
  - if user_signed_in?
    = link_to t('.sign_out'),
        destroy_user_session_url,
        method: :delete,
        class: 'sign-out-button'
  - else
    .clear
    .bottom-buttons
      = link_to t('.sign_in'),
          new_user_session_url,
          class: 'sign-in-button orange_button'
      = link_to t('.sign_up'),
          new_user_registration_url,
          class: 'sign-up-button'