h1 = t '.my_account'
#profile-menu
  - if current_user.has_shop?
    - {t('.articles')          => online_articles_url,
       t('.sales')             => open_orders_url,
       t('.purchases')         => open_purchases_url,
       t('.messages')          => inbox_messages_url,
       t('.reviews')           => ratings_url,
       t('.invoices_and_fees') => invoices_url,
       t('.my_profile')        => edit_user_registration_url,
       t('.shop_profile')      => about_me_shops_url,
       t('.my_shop')           => root_url(subdomain: current_user.shop.subdomain),
       t('.business_cards')    => business_cards_url}.collect do |title, path|
      .element class="#{(current_page?(path) || (params[:controller] == "purchases"&& title == t(".purchases")) || (params[:controller] == "messages" && title == t(".messages")) || (params[:controller] == "articles" && title == t(".articles")) || (params[:controller] == "orders" && title == t(".sales")) || (params[:controller] == "shops" && title == t(".shop_profile")) || (params[:controller] == "invoices" && title == t(".invoices_and_fees")) ? "current" : "")}"
        div class='#{"padding" if [t('.purchases'), t('.sales')].include?(title)}'
          = link_to path, class: 'main-link'
            = title
            - if title == t('.messages') && unread_messages?
              = image_tag 'small_message_icon.png',
                  class: 'new_message_icon'
            - if title == t('.sales') && unread_messages_in_sales? || title == t('.purchases') && unread_messages_in_purchases?
              .eight-pointed-star
            .arrow_to_right
              .back_triangle
              .front_triangle
          - if title == t('.sales')
            = link_to open_orders_url,
                class: 'nested-link' + (current_page?(open_orders_url) ? ' current' : '')
              = t '.open_sales'
              |  (
              span class='#{"unconfirmed_present" if current_user.sales.not_finished_by_seller.awaiting_confirmation.present?}'
                = current_user.sales.not_finished_by_seller.count
              | )
            = link_to completed_orders_url,
                class: 'nested-link' + (current_page?(completed_orders_url) ? ' current' : '')
              = t '.completed_sales'
              |  (#{current_user.sales.finished_by_seller.count})
            = link_to canceled_orders_url,
                class: 'nested-link'  + (current_page?(canceled_orders_url) ? ' current' : '')
              = t('.canceled_sales')
              |  (
              span = current_user.sales.canceled.count
              | )
          - if title == t('.purchases')
            = link_to open_purchases_url,
                class: 'nested-link' + (current_page?(open_purchases_url) ? ' current' : '')
              = t '.open_purchases'
              |  (
              span class='#{"unconfirmed_present" if current_user.articles_orders.not_finished_by_buyer.awaiting_confirmation.present?}'
                = current_user.articles_orders.not_finished_by_buyer.count
              | )
            = link_to completed_purchases_url,
                class: 'nested-link' + (current_page?(completed_purchases_url) ? ' current' : '')
              = t '.completed_purchases'
              |  (#{current_user.articles_orders.finished_by_buyer.count})
  - else
    - {t('.purchases')     => open_purchases_url,
       t('.messages')      => inbox_messages_url,
       t('.reviews')       => ratings_url,
       t('.my_profile')    => edit_user_registration_url,
       t('.become_seller') => open_shops_url}.collect do |title, path|
      .element class='#{(current_page?(path) || (params[:controller] == "messages" && title == t(".my_messages"))  || (params[:controller] == "purchases" && title == t(".purchases")) ? "current" : "")}'
        div class='#{"padding" if [t('.purchases'), t('.sales')].include?(title)}'
          = link_to path, class: 'main-link'
            = title
            - if title == t('.messages') && unread_messages?
              = image_tag 'small_message_icon.png',
                  class: 'new_message_icon'
            - if title == t('.purchases') && unread_messages_in_purchases?
              .eight-pointed-star
            .arrow_to_right
              .back_triangle
              .front_triangle
          - if title == t('.purchases')
            = link_to open_purchases_url,
                class: 'nested-link' + (current_page?(open_purchases_url) ? ' current' : '')
              = t '.open_purchases'
              |  (
              span class='#{"unconfirmed_present" if current_user.articles_orders.not_finished_by_buyer.awaiting_confirmation.present?}'
                = current_user.articles_orders.not_finished_by_buyer.count
              | )
            = link_to completed_purchases_url,
                class: 'nested-link' + (current_page?(completed_purchases_url) ? ' current' : '')
              = t '.completed_purchases'
              |  (#{current_user.articles_orders.finished_by_buyer.count})
