.notice_window
  .head
    .header = header
    .glyphicon.glyphicon-remove-sign
  .body
    = first_part
    - if second_part.present?
      br
      br
      = second_part
    br
    br
    .button-wrapper
      - if question
        .cancel_button = t '.cancel'
        = link_to t(".ok"),
            link,
            class: 'confirm_button',
            data: { disable_with: t(".ok") }
      - else
        .cancel_button = t '.ok'
      .clear
