- if articles_order.awaiting_confirmation?
  .payment_information
    .title = t '.payment_information'
    .information_window
      .unconfirmed
        .title = t '.note'
        .description = t '.please_wait_for_the_confirmation'
- elsif articles_order.confirmed?
  - case articles_order.payment_type.name 
  - when "wire"
    .payment_information
      .title = t '.payment_information'
      .information_window
        .wire
          .description = t '.wire_payment_description'              
          br
          .title = t '.our_bank_connection'
          table.bank_transfer_data
            tr
              td = t '.bank'
              td = articles_order.article.bank_transfer_data.bank_name
            tr
              td = t '.receiver'
              td = articles_order.article.bank_transfer_data.account_holder        
            tr
              td = t '.account_number'
              td = articles_order.article.bank_transfer_data.account_number
            tr
              td = t '.bic'
              td = articles_order.article.bank_transfer_data.swft_bic
          - if articles_order.article.payment_types.find_by(name: 'paypal').present? || articles_order.article.payment_types.find_by(name: 'last_name').present?
            .more
              .title = t '.more'
              .list
                .header = t '.you_can_also_pay_as_follows'
                br
                ul
                  - if articles_order.article.payment_types.find_by(name: 'last_name')
                    li = t '.last_name'
                    br
                  - if articles_order.article.payment_types.find_by(name: 'paypal')
                    li = link_to image_tag('https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png',
                          alt: t(".check_out_with_paypal")),
                          paypal_payment_articles_order_url(articles_order)
            .clear
  - when 'paypal'
    .payment_information
      - if !articles_order.finished_by_seller?
        = link_to image_tag('https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png',
            alt: t(".check_out_with_paypal")),
            paypal_payment_articles_order_url(articles_order)
      - else 
        = image_tag('https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png', alt: t(".check_out_with_paypal"))