.price_block
  .value = articles_order.total_price.format(symbol_position: :after)
  .vat = t '.vat'
  .with_shipping
    ' (#{t '.article:'} #{articles_order.price_with_discount.format(symbol_position: :after)} +
    .inblock
      .show_shipping_table
        .shipping = t '.shipping:'
        = render partial: 'shipping_methods/hover_table',
            locals: {article: articles_order.article}
    '
    | #{articles_order.shipping_method_price.format(symbol_position: :after)})