$("#notice-area").empty()
$('#notice-area').append("<div id='notice'><%= flash.notice.html_safe %></div>").fadeIn(50);
$('#notice, #alert').css({'cursor': 'pointer'}).click(function() {
  $(this).fadeOut(50);
});