$("#notice-area").empty()
$('#notice-area').append("<div id='notice'><%= j render partial: 'notice', locals: {header: header, first_part: first_part, second_part: second_part, question: question, link: link} %></div>").fadeIn(50);

$("#notice .cancel_button").click(function(){
  $("#notice").fadeOut(50);
})
