﻿doctype html
html
  head
    title
      = yield(:title)
      |  - Jakira 
      = t '.administration' if request.subdomain == 'administration'
    = stylesheet_link_tag 'application',
        media: 'all',
        'data-turbolinks-track' => true
    = javascript_include_tag 'application',
        'data-turbolinks-track' => true 
    = csrf_meta_tags
    - if current_page?(root_url) || (params[:controller] == 'articles' && params[:action] == 'show') || must_the_page_be_responsive?
      meta name="viewport" content="width=device-width, initial-scale=1.0"
    = yield :meta_tags
  body
    #wrapper
      = render 'application/head'
      #main-content-wrap style='#{"background-color: #EBEBEB;" if current_page?(root_url)}'
        - if current_page?(root_url) || (params[:controller] == 'articles' && params[:action] == 'show')
          = yield
        - elsif must_the_page_be_responsive? || subdomain_is_administration?
          .main_content
            .restricted_width = yield
        - else
          #main-content = yield
        .clear
        .display_none.cookies_alert = t '.cookies_alert'
        = render partial: 'application/footer'