doctype html
html
  head
    title Jakira
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags if request.present?
    meta http-equiv="Content-type" content="text/html; charset=utf-8"
  body.pdf
    #wrapper
      #page-head
        #head-1
          #site-logo
            = image_tag 'logo2.png'
          .clear
        #head-2
          #head-circles
            .circle1
            .circle2
            .circle3
            .circle4
            .circle5
          #site-nav
      #main-content-wrap
        #main-content
          = yield
          .clear