doctype html
html
  head = stylesheet_link_tag 'user_mailer'
  body
    .site_logo 
      - if request.present?
        = image_tag 'logo2.png'
      - else
        = image_tag attachments['logo2.png'].url
    .time
      - if @articles_order.confirmed?
        = l @articles_order.confirmed_at.to_date
      - else
        = l @articles_order.ordered_at.to_date
    = yield
    .font_16px
      .black = t '.this_is_an_automatically_generated_email'
      br
      = link_to 'www.Jakira.de', root_url(subdomain: 'www')