doctype html
html
  head
    title
      = yield(:title)
      |  - Jakira
    = stylesheet_link_tag 'application',
        media: 'all',
        'data-turbolinks-track' => true
    = javascript_include_tag 'application',
        'data-turbolinks-track' => true 
    = csrf_meta_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0"
  body
    #wrapper
      .main_head.purchase-process
        .first_part
          .restricted_width
            .buttons
              = link_to t('.voucher'), new_voucher_url
              - if current_or_guest_user.buyer_or_guest?
                = link_to open_shops_url
                  = image_tag 'open_shop_orange_icon.png',
                      class: 'open_shop_icon'
                  = t('.open_shop')
              = link_to '', onclick: 'return false'
                = image_tag 'events_orange_icon.png'
                = t('.termine')
              = link_to '', onclick: 'return false'
                = image_tag 'language_orange_icon.png'
                = t('.language')
            .clear
        .second_part style="#{'border-bottom: 5px solid #76A0B4;' if !current_page?(root_url)}"
          .upper_part.restricted_width
            = link_to image_tag('jakira_color_logo.png'),
                root_url,
                class: 'main_logo'
            .right_part
              .profile_buttons
                .header-profile-menu-wrapper
                  .header-profile-menu-button
                    .icon_wrapper
                      .header-profile-icon-wrapper
                        - if unread_messages_in_sales_or_purchases?
                          .eight-pointed-star
                        = image_tag 'profile_icon.png'
                        - if unread_messages?
                          = image_tag 'small_message_icon.png',
                              class: 'new_message_icon'
                        - if user_signed_in?
                          .green-line
                    = t('.my_profile')
                  = render 'header_profile_menu'
            .clear
      #notice-area
        - if flash.notice
          #notice = flash.notice.html_safe
        - if flash.alert
          #alert = flash.alert.html_safe
      #main-content-wrap
        .main_content
          .restricted_width = yield
        .clear
        .display_none.cookies_alert = t '.cookies_alert'
        = render partial: 'application/footer'