doctype html
html
  head = stylesheet_link_tag 'user_mailer'
  body.user-mailer-layout
    .header
      / ![if gte mso 9]
      v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t"
        v:fill type="tile" src="http://jakira.de/assets/repeat_pattern2-f0e0eb6ea6e70d38ec9d380595e56055.png"
      table cellpadding="0" cellspacing="0" border="0"
        tr
          td valign="top" align="left" background="http://jakira.de/assets/repeat_pattern2-f0e0eb6ea6e70d38ec9d380595e56055.png"
            - if request.present?
              = image_tag 'jakira_color_logo.png'
            - else
              = image_tag attachments['jakira_color_logo.png'].url
    .content
      .attention = t '.attention'
      = yield
      .attention = t '.attention'
    .footer
      - if request.present?
        = image_tag 'jakira_white.png'
      - else
        = image_tag attachments['jakira_white.png'].url