- content_for :title, t('.head_title')
.new_voucher_form_wrapper
  = form_for @voucher do |f|
    .upper_part_wrapper
      .title = t '.title'
      br
      - if @voucher.present? && @voucher.errors.any?
        - @voucher.errors.full_messages.each do |msg|
          .red = msg
      br
      .upper_fields
        .select_wrapper
          = f.select :value,
              Voucher.values.collect {|v| [ v.to_money.format(symbol_position: :after), v ] },
              include_blank: t('.value'),
              selected: @voucher.value.to_i
          .select_button
            .triangle_to_bottom
        .field_wrapper
          = f.text_field :from,
              placeholder: t('.from')
        .field_wrapper
          = f.text_field :for,
              placeholder: t('.to')
      br
      br
      = f.text_area :message_text,
          placeholder: t('.message_text')
      br
      br
      .email_field_wrapper = f.text_field :email,
          placeholder: t('.your_email_address')
      br
      .email_field_wrapper = f.text_field :email_confirmation,
          placeholder: t('.confirm_your_email_address')
    br
    .choose_payment_wrapper
      .title = t '.please_select_payment_method'
      .payment_types
        - if MainVoucherData.first.bank_transfer?
          .payment_type
            = f.radio_button :payment_type,
                :bank_transfer
            = f.label :payment_type,
                t('.bank_transfer'),
                value: :bank_transfer
          .hidden_address_fields
            .title = t '.what_is_needed_for_the_bill'
            = f.fields_for :address do |ff|
              .first_name.field = ff.text_field :first_name,
                        placeholder: t('.first_name')
              .last_name.field = ff.text_field :last_name,
                        placeholder: t('.last_name')
              .street.field = ff.text_field :street,
                        placeholder: t('.street')
              .postal_code.field = ff.text_field :postal_code,
                        placeholder: t('.postal_code')
              .place.field = ff.text_field :place,
                        placeholder: t('.place')
        - if MainVoucherData.first.paypal?
          .payment_type
            = f.radio_button :payment_type,
                'paypal'
            = f.label :payment_type,
                value: :paypal
              = t('.paypal')
              = image_tag 'paypal_logo.png',
                  class: 'paypal_logo'
        - if MainVoucherData.first.paydirekt?
          .payment_type
            = f.radio_button :payment_type,
                :paydirekt
            = f.label :payment_type,
                value: :paydirekt
              = t(".paydirekt")
              = image_tag 'paydirekt_logo.jpg',
                  class: 'paydirekt_logo'
      br
      br
      br
      .agreement
        div = f.check_box :agreement
        div = f.label :agreement, t('.agreement')
    br
    = f.submit t('.agreement_to_pay_for_'),
        class: 'orange_button',
        data: { disable_with: t('.agreement_to_pay_for_') }
    br
    br
    br
    br
    .bottom
      .header = t '.voucher_conditions'
      br
      .content Text text text
      br
      .header = t '.revocation_of_digital_content'
      br
      .content Text text text
      br
      .header = t '.imprint'
      br
      .content = t '.imprint_content'
      br