doctype html
html
  head
    title Jakira
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags if request.present?
    meta http-equiv="Content-type" content="application/pdf; charset=utf-8"
  body.pdf_version
    .voucher
      .head = image_tag 'jakira_color_logo.png'
      .body
        .title = t('.voucher')
        .worth = t '.worth'
        .value = @voucher.value.format(symbol_position: :after)
        .first.description = t '.first_description'
        .code = @voucher.code
        .second.description = t '.second_description'
        .third.description = t '.third_description'
        .bottom
          | JAKIRA.de  |  Yasser Chehade  |  Friedensallee 9  |  22765 Hamburg
          br
          | Web: www.jakira.de  |  Mail: support@jakira.de  |  Tel.: 040 72829423 
