- content_for :title, t('.head_title')
.voucher.finished
  .title = t '.voucher'
  .number
    = t '.thank_you_'
    span = @voucher.number
  .description
    .payment = t '.you_have_chosen_payment', payment: t('.' + @voucher.payment_type)
    - if @voucher.bank_transfer?
      .notice = t '.the_voucher_will_be_sent_after_confirm'
      .notice = t '.please_include_'
    - else
      .notice = t '.the_voucher_will_be_sent'
      br
      br
  = link_to t('.back_to_home_page'),
      root_url,
      class: 'link_to_home_page'