h2 = t '.vouchers'
.horizontal_upper_menu
  - {t('.overview') => admin_vouchers_url,
     t('.settings') => change_admin_vouchers_url}.collect do |title, path|
    = link_to path, class: "menu_button"
      .line_above style="#{current_page?(path) || params[:controller] == 'main_voucher_data' && title == t('.settings') ? 'background-color:#90887B;' : ''}"
      .title style="#{current_page?(path) || params[:controller] == 'main_voucher_data' &&title == t('.settings') ? 'background-color:#90887B;' : ''}" = title
br
br