- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin.vouchers.usual_body.change
  = render "admin/vouchers/header"
  - if @main_voucher_data.errors.any?
    #error_explanation
      h2 = t '.errors_message', count: @main_voucher_data.errors.count
      ul
        - @main_voucher_data.errors.full_messages.each do |msg|
          li = msg
  .title = t '.select_payment'
  .payment_types
    .form_wrapper
      = form_for @main_voucher_data do |f|
        = f.check_box :bank_transfer
        = f.label :bank_transfer,
            t('.bank_transfer')
        .edit.thin_brown_button
          .circles
            .circle1
            .circle2
            .circle3
            .circle4
          = link_to t('.edit'),
              '',
              onclick: "return false"
        .save.thin_brown_button
          .circles
            .circle1
            .circle2
            .circle3
            .circle4
          = f.submit t('.save'),
              data: { disable_with: t('.save') }
        .data_fields
          = f.fields_for :bank_transfer_data do |ff|
            = render partial: 'bank_transfer_data/nested_form',
                locals: {f: ff}
    .form_wrapper
      = form_for @main_voucher_data do |f|
        = f.check_box :paypal
        = f.label :paypal,
            t('.paypal')
        .edit.thin_brown_button
          .circles
            .circle1
            .circle2
            .circle3
            .circle4
          = link_to t('.edit'),
              '',
              onclick: "return false"
        .save.thin_brown_button
          .circles
            .circle1
            .circle2
            .circle3
            .circle4
          = f.submit t('.save'),
              data: { disable_with: t('.save') }
        .data_fields
          = f.fields_for :paypal_data do |ff|
            .field
              = ff.label :client_id
              '
              = ff.text_field :client_id
            .field
              = ff.label :client_secret
              '
              = ff.text_field :client_secret
    .form_wrapper
      = form_for @main_voucher_data do |f|
        = f.check_box :paydirekt
        = f.label :paydirekt,
            t('.paydirekt')
        .edit.thin_brown_button
          .circles
            .circle1
            .circle2
            .circle3
            .circle4
          = link_to t('.edit'),
              '',
              onclick: "return false"
        .save.thin_brown_button
          .circles
            .circle1
            .circle2
            .circle3
            .circle4
          = f.submit t('.save'),
              data: { disable_with: t('.save') }
  .bottom_texts
    = form_for @main_voucher_data do |f|
      = f.label :mandatory_approval
      = f.text_area :mandatory_approval
      br
      = f.label :voucher_terms
      = f.text_area :voucher_terms
      br
      = f.label :cancellation
      = f.text_area :cancellation
      br
      = f.label :imprint
      = f.text_area :imprint
      br
      .save.thin_brown_button
        .circles
          .circle1
          .circle2
          .circle3
          .circle4
        = f.submit t('.save'),
            data: { disable_with: t('.save') }