- content_for :title, t('.head_title')
= render "admin/left_menu"
.admin.vouchers.usual_body
  = render "admin/vouchers/header"
  .filters_wrapper
    = form_tag admin_vouchers_url,
        method: :get,
        onchange: '$(this).submit()',
        onsubmit: '$("body").spin()'
      span.search_wrapper
        .glyphicon.glyphicon-search onclick='$(this).closest("form").submit()'
        = text_field_tag :search_in_vouchers,
            params[:search_in_vouchers]
      = check_box_tag :paid, true, params[:paid]
      = label_tag :paid, t('.hide_paid')
      = select_tag :order,
          options_for_select(['value', 'date', 'action', 'email'].collect { |f| [t('.' + f), f] }, params[:order]),
          prompt: t('.sort_by')
  br
  table
    thead
      tr
        th = t '.value'
        th = t '.rest'
        th = t '.code'
        th = t '.email'
        th = t '.order_date'
        th = t '.action'
        th.pdfs = t '.pdfs'
        th.open_more_info
    tbody
      - @vouchers.order(created_at: :desc).each do |voucher|
        tr
          td = voucher.value.format(symbol_position: :after)
          td = voucher.remaining_amount.format(symbol_position: :after)
          td = voucher.code
          td = voucher.email
          td.created_at = voucher.created_at.to_date
          td.action
            - if voucher.sent? || voucher.status.nil?
              .voucher_action_wrapper style="#{'display:block;' if voucher.status.nil? }"
                = form_tag change_status_admin_voucher_url(voucher),
                    method: :post,
                    onchange: '$(this).submit()' do |f|
                  = select_tag :status,
                      options_for_select([[t('.to_mail'), 'sent'],
                                             [t('.cancel'), 'canceled']]),
                      prompt: t('.choose')
            - if voucher.sent?
              .sent = t '.sent'
              = image_tag 'circle_arrows.svg',
                  class: 'circle_arrows'
            - elsif voucher.canceled?
              .canceled = t '.canceled'
          td.pdfs
            = link_to image_tag('pdf_icon.gif'),
                pdf_version_voucher_path(voucher, format: "pdf"),
                class: "pdf_link"
            '  /
            = image_tag 'pdf_icon.gif'
          td.open_more_info
            .triangle_to_right
            .triangle_to_down
        tr.more_info
          td
          td colspan='6'
            .table
              .bold.table_cell_top = t '.payment_method', type: (t "." + voucher.payment_type)
              .bold.table_cell_top
                = t '.coupon_sent_on',
                    date: (l(voucher.last_sent_on.to_date) if voucher.sent_on.present?)
                - if voucher.sent_on.present? && voucher.sent_on_dates.count > 1
                  '
                  span
                    .glyphicon.glyphicon-info-sign
                    .pop_up_history
                      .border.triangle
                      .center.triangle
                      .rectangle
                        .title = t '.history'
                        .dates
                          - voucher.sent_on_dates.each do |date|
                            .date = l date.to_date
            .incoming_payments
              = t '.incoming_payments'
              .change_paid_on_form_wrapper
                = form_for voucher,
                  url: change_paid_on_admin_voucher_url(voucher),
                  method: :post,
                  remote: true do |f|
                  = f.text_field :paid_on,
                      value: (l(f.object.paid_on.to_date) if f.object.paid_on.present?),
                      class: 'change_paid_on_field',
                      id: (f.object.id.to_s + 'voucher_paid_on')
                  .thin_brown_button
                    .circles
                      .circle1
                      .circle2
                      .circle3
                      .circle4
                    = f.submit t('.save'),
                        data: { disable_with: t('.save') }
              span = l(voucher.paid_on.to_date) if voucher.paid_on.present?
              '
              .glyphicon.glyphicon-pencil
            - if voucher.articles_orders.present?
              table
                thead
                  tr
                    td = t '.order_number'
                    td = t '.date'
                    td = t '.spent'
                tbody
                  - voucher.articles_orders.desc.each do |articles_order|
                    tr
                      td = link_to articles_order.id, articles_order.ordered_article
                      td = l articles_order.voucher_accepted_at.to_date
                      td = articles_order.voucher_discount.format(symbol_position: :after)
            br